.wrapper-sm(style='height: 230px;')
  a.col-xs-4.text-center.no-padder.hv-border-info.m-b-sm.padder-v.m-t-n-sm.m-b-sm(
    target="_blank"
    ng-href="{{App.URLS.HELP}}"
    style='width: 73px;margin: 4px;'
    ng-click='$ctrl.isOpen = !$ctrl.isOpen')
    div(style='padding: 5px 4px;')
      img(src='/assets/images/help.svg', style='width: 60px;')
    .text-center.text-black.m-b-sm(style='font-size: 12px;line-height: 1.15em;') Help

  a.col-xs-4.text-center.no-padder.hv-border-info.m-b-sm.padder-v.m-t-n-sm.m-b-sm(
    target="_blank" ng-controller = "AccessCourierController as $ctrl"
    style='width: 73px;margin: 4px;'
    ng-click='$ctrl.isOpen = !$ctrl.isOpen')
    div(style='padding: 5px 4px;')
      img(src='/assets/images/courier.jpeg', ng-click= '$ctrl.accessCourier()' style='width: 60px;')
    .text-center.text-black.m-b-sm(style='font-size: 12px;line-height: 1.15em;') Access Courier

