.bg-light.lter.b-b.wrapper-md.ng-scope
  .wrapper-md.bg-white-only
    .container
      .row
        .col-md-7
          .div-border-create
            h2.m-n.alert.alert-info 1. DELIVERY ADDRESS
              span
                i.fa.fa-info-circle.m-l-xs(
                uib-popover='Please take extra care to make sure that you have entered the correct address while making an International Shipment. T' +
                "he courier will charge an additional fee (between INR 3000 to INR 7000) to your Shoppre account if you " +
                "update your address after the shipment has left our facility. Many couriers charge this fee after delivery, " +
                "so you may see it charged to your account post-shipment."
                popover-trigger="'mouseenter'"
                popover-placement='right'
                popover-append-to-body='true'
                )
            </br>
            p.div-list {{$ctrl.shipment.customer_name}} </br>
              | {{$ctrl.shipment.address}} </br>
              | PH {{$ctrl.shipment.phone}}

          div.div-border-create
            h2.m-n.alert.alert.alert-info.panel-warning 2. SHIPMENT SUMMARY
            .col-md-12.div-border-create
              p.m-t-xs {{$ctrl.packages.length}} Packages in this shipment
              .panel.panel-default
                table.table.table-bordered.m-b-none.default.footable-loaded.footable(
                ui-jq='footable', data-filter='#filter', data-page-size='5')
                  thead
                    tr
                      th.footable-visible.footable-first-column.footable-sortable(data-toggle='true')
                      th.footable-visible.footable-sortable
                        | From
                        span.footable-sort-indicator
                      th.footable-visible.footable-sortable(data-hide='phone,tablet')
                        | Reference Code
                        span.footable-sort-indicator
                      th.footable-visible.footable-sortable(data-hide='phone,tablet', data-name='Date Of Birth')
                        | Total Value
                        span.footable-sort-indicator
                      th.footable-visible.footable-last-column.footable-sortable(data-hide='phone')
                        | Weight
                        span.footable-sort-indicator
                  tbody(ng-repeat="package in $ctrl.packages" ng-init='$ctrl.MoreOption={}')
                    tr.footable-even(style='display: table-row;')
                      td.footable-visible.footable-first-column(ng-click='$ctrl.MoreOption[$index]=!$ctrl.MoreOption[$index]')
                        i.fa.fa-sort-desc
                      td.footable-visible
                        a(ui-sref='package.show({ id: package.id })' ng-bind='package.Store.name')
                      td.footable-visible(ng-bind='package.invoice_code')
                      td.footable-visible ₹{{package.price_amount | number : 2}}
                      td.footable-visible {{package.weight | number :2}} KG
                    tr.footable-even(style='display: table-row;')
                      td.footable-visible(colspan='5' ng-if='$ctrl.MoreOption[$index]')
                        p(ng-if='$ctrl.standard_photo_check==="yes" || $ctrl.advc_photo_check==="yes"')
                          button(ng-click='$ctrl.uploadPhotos(package)') Photos
                        table#DataTables_Table_4.table.table-bordered.m-b-none
                          thead
                            tr(role='row')
                              th.sorting_asc.text-u-c(style='width: 186px;', tabindex='0', aria-controls='DataTables_Table_2', rowspan='1', colspan='1', aria-label='Rendering engine: activate to sort column ascending', aria-sort='ascending') Package Details
                              th.sorting.text-u-c(style='width: 242px;', tabindex='0', aria-controls='DataTables_Table_2', rowspan='1', colspan='1', aria-label='Browser: activate to sort column ascending') QTY
                              th.sorting.text-u-c(style='width: 241px;', tabindex='0', aria-controls='DataTables_Table_2', rowspan='1', colspan='1', aria-label='Platform(s): activate to sort column ascending') Value per Unit
                              th.sorting.text-u-c(style='width: 130px;', tabindex='0', aria-controls='DataTables_Table_2', rowspan='1', colspan='1', aria-label='Engine version: activate to sort column ascending') Value
                          tbody(ng-repeat="item in package.PackageItems")
                            tr.odd(role='row')
                              td.sorting_1 {{item.name}}
                              td {{item.quantity}}
                              td ₹{{item.price_amount | number : 2}}
                              td ₹{{item.price_amount * item.quantity | number : 2}}
                  tr.footable-even.table-footer
                    td.footable-visible.footable-first-column
                    td.footable-visible
                    td.footable-visible Shipment Totals
                    td.footable-visible ₹{{$ctrl.totalpackagePriceAmount | number : 2}}
                    td.footable-visible {{$ctrl.shipment.weight | number :2}} KG
                    td.footable-visible
          .clearfix
          // todo - check this payment gateway with PHP code
          div.div-border-create.alert
            h2.m-n.alert.alert.alert-info.panel-warning 3. PAYMENT SUMMARY
            .panel-body
              .radio(ng-repeat="paymentgateway in $ctrl.paymentGateways")
                label.i-checks(ng-show = 'paymentgateway.value === "wallet" && $ctrl.shipment.Customer.wallet_balance_amount > $ctrl.shipment.estimated_amount')
                  input(ng-checked="paymentgateway.id === $ctrl.payment.payment_gateway_id ? true : false", type='radio', ng-click="$ctrl.selectedGateway()", value='{{paymentgateway.id}}', ng-model='$ctrl.data.paymentGateway')
                  i
                  | {{paymentgateway.name}} {{paymentgateway.description}} (₹{{$ctrl.shipment.Customer.wallet_balance_amount | number : 2}})
                label.i-checks(ng-show = 'paymentgateway.value !== "wallet"')
                  input(ng-checked="paymentgateway.id === $ctrl.payment.payment_gateway_id ? true : false", ng-disabled='$ctrl.shipment.is_axis_banned_item && paymentgateway.value === "card" ' type='radio', name='a', ng-click="$ctrl.selectedGateway()", value='{{paymentgateway.id}}', ng-model='$ctrl.data.paymentGateway')
                  i
                  | {{paymentgateway.name}} {{paymentgateway.description}}
        .col-md-4
          .row
            .col-sm-12
              div.text-center.invalid-promo(ng-if="$ctrl.message")
                | {{$ctrl.message}}
              div.promo-success.text-center(ng-if="$ctrl.promoStatus === 'cashback_success'")
                | Promo code {{$ctrl.promoStatus}} applied INR  {{$ctrl.couponAmount}} will be credit in your wallet after shipment dispatched.
              div.promo-success.text-center(ng-if="$ctrl.promoStatus === 'discount_success'")
                | Promo code {{$ctrl.promoStatus}} applied
              div.text-center.invalid-promo(ng-if="$ctrl.promoStatus === 'promo_expired'")
                | Promo code expired that you applied last.
          .clearfix
          .row
            .col-sm-8
              input.form-control(type='text', name='promocode', ng-model="$ctrl.couponCode", placeholder='Enter Promo Code', style='font-size: 11px;')
            .col-sm-4
              button.btn.btn-shoppreng(ng-click='$ctrl.applyPromoCode()')
                | Apply
          h5 Promo Code Applicable on Basic Shipping Costs
          .panel.panel-info.m-t-md
            .panel-heading.font-bold.text-u-c SHIPPING CHARGES SUMMARY
            .panel-body
              form.form.form-validation.form-horizontal(
              name="newShipmentForm"
              novalidate
              ng-submit='$ctrl.create(newShipmentForm)'
              autocomplete='off'
              )
                ul.list-group.list-group-lg.m-b-none.list-unstyled
                  li
                    p
                      | Total Value of items
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipment.value_amount | number : 2}}
                  li
                    p
                      | Total Weight
                      span.totalvalue.pull-right {{$ctrl.shipment.weight | number :2}} KG
                      span(
                      uib-popover = 'All International carriers base their billable shipping rates on the greater of Actual Weight and Dimensional Weight.'+
                      'Actual weight is the weight of the package when put on a scale.'+
                      'Dimensional weight is based on the size of the package. It is calculated by multiplying the dimensions of the item.'+
                      'For International Shipments:'+
                      'Dimensional Weight = Length x Width x Height (in cm) / 5000' +
                      'For Domestic Shipments:' +
                      'Dimensional Weight = Length x Width x Height (in cm) / 4000'
                      popover-trigger="'mouseenter'"
                      popover-placement='right'
                      popover-append-to-body='true'
                      )
                        i.m-l.fa.fa-info-circle
                  li
                    p
                      | Packages Count
                      span.totalvalue.pull-right {{$ctrl.shipment.packages_count}}
                  li
                    hr
                    p
                      | Sub Total
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipment.sub_total_amount | number : 2}}
                  li
                    p
                      | Shipping Discount
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipment.discount_amount| number : 2}}
                      span(
                      uib-popover = 'Apart from Country-based shipping discounts, Additional discounts may apply to Shoppre Membership Partners and to Shoppre Loyalty Members (Gold and above).'
                      popover-trigger="'mouseenter'"
                      popover-placement='right'
                      popover-append-to-body='true'
                      )
                        i.m-l.fa.fa-info-circle
                  li(ng-if="$ctrl.wallet === 1  || $ctrl.payment.wallet < 0")
                    p
                      | Shoppre Wallet
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.payment.wallet}}
                        h6(ng-if="$ctrl.payment.wallet > 0") Amount to bededucted
                        h6(ng-if="$ctrl.payment.wallet < 0") Amount to be Added
                  li
                  li(ng-if="$ctrl.shipment.pick_up_charge_amount > 0")
                    p
                      | Pickup Charge
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipment.pick_up_charge_amount| number : 2}}
                  li
                    hr
                    p
                      | Basic Shipping Costs
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipment.estimated_amount - $ctrl.shipment.package_level_charges_amount - $ctrl.payment.wallet | number: 2 }}
                  .clearfix
          .panel.panel-info.m-t-md(ng-show="$ctrl.shipment.package_level_charges_amount > 0")
            .panel-heading.font-bold.text-u-c PACKAGE LEVEL CHARGES SUMMARY
            .panel-body
              form.ng-pristine.ng-valid(role='form')
                ul.list-group.list-group-lg.m-b-none.list-unstyled
                  li(ng-if="$ctrl.shipmentMeta.repacking_charge_amount > 0")
                    p
                      | Discard shoe boxes
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipmentMeta.repacking_charge_amount| number : 2}}
                  li(ng-if="$ctrl.shipmentMeta.sticker_charge_amount > 0")
                    p
                      | Fragile stikers
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipmentMeta.sticker_charge_amount| number : 2}}
                  li(ng-if="$ctrl.shipmentMeta.extra_packing_charge_amount > 0")
                    p
                      | Extra packing material
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipmentMeta.extra_packing_charge_amount| number : 2}}
                  li(ng-if="$ctrl.shipmentMeta.original_ship_box_charge__amount > 0")
                    p
                      | Ship in original boxes
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipmentMeta.original_ship_box_charge_amount| number : 2}}
                  li(ng-if="$ctrl.shipmentMeta.gift_wrap_charge_amount > 0")
                    p
                      | Gift wrap
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipmentMeta.gift_wrap_charge_amount| number : 2}}
                  li(ng-if="$ctrl.shipmentMeta.gift_note_charge_amount > 0")
                    p
                      | Gift note
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipmentMeta.gift_note_charge_amount| number : 2}}
                  li(ng-if="$ctrl.shipmentMeta.consolidation_charge_amount > 0")
                    p
                      | Package consolidation
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipmentMeta.consolidation_charge_amount| number : 2}}
                  li(ng-if="$ctrl.shipmentMeta.liquid_charge_amount > 0")
                    p
                      | Special Package Clearance Fee
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipmentMeta.liquid_charge_amount}}
                  li(ng-if="$ctrl.shipmentMeta.overweight_charge_amount > 0")
                    p
                      | Overweight Clearance Fee
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipmentMeta.overweight_charge_amount| number : 2}}
                ul.list-group.list-group-lg.m-b-none.list-unstyled(ng-repeat="package in $ctrl.packages")
                  li(ng-if="$ctrl.packageChrages.storage_amount > 0")
                    p
                      | Additional Storage Fee
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.packageChrages.storage_amount| number : 2}}
                  li(ng-if="$ctrl.packageChrages.advanced_photo_amount > 0 || $ctrl.packageChrages.standard_photo_amount > 0")
                    p
                      | Photo Charges
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.packageChrages.standard_photo_amount + $ctrl.packageChrages.advanced_photo_amount| number : 2}}
                  li(ng-if="$ctrl.packageChrages.pickup_amount > 0")
                    p
                      | Pick-up Service
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.packageChrages.pickup_amount| number : 2}}
                  li(ng-if="$ctrl.packageChrages.split_package_amount > 0")
                    p
                      | Split Package
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.packageChrages.split_package_amount| number : 2}}
                  li(ng-if="$ctrl.packageChrages.special_handling_amount > 0")
                    p
                      | Special Handling Fee
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.packageChrages.special_handling_amount| number : 2}}
                  li(ng-if="$ctrl.packageChrages.receive_mail_amount > 0")
                    p
                      | Special Handling Fee
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.packageChrages.receive_mail_amount| number : 2}}
                  li(ng-if="$ctrl.packageChrages.scan_document_amount > 0")
                    p
                      | Scan Document
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.packageChrages.scan_document_amount| number : 2}}
                  li(ng-if="$ctrl.packageChrages.wrong_address_amount > 0")
                    p
                      | Address Correction
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.packageChrages.wrong_address_amount| number : 2}}
                  li(ng-if="$ctrl.shipment.package_level_charges_amount > 0")
                    hr
                    p
                      | Package Level Charges :
                      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipment.package_level_charges_amount| number : 2}}
                  .clearfix
          .panel.panel-info.m-t-md
            .panel-heading.font-bold.text-u-c FINAL CHARGES
            .panel-body
              form.ng-pristine.ng-valid(role='form')
                ul.list-group.list-group-lg.m-b-none.list-unstyled
                  p
                    | Basic Shipping Costs
                    span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipment.estimated_amount - $ctrl.shipment.package_level_charges_amount - $ctrl.payment.wallet| number : 2}}
                  p
                    | Package Level Charges
                    span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipment.package_level_charges_amount| number : 2}}
                    span(
                    uib-popover = 'Shoppre includes all of the service charges (apart from shipping charges) under Package Level Charges. The break-up is as shown above.'
                    popover-trigger="'mouseenter'"
                    popover-placement='right'
                    popover-append-to-body='true'
                    )
                      i.m-l.fa.fa-info-circle
                  p
                    | Coupon Discount
                    span.fa.fa-rupee.totalvalue.pull-right (-) {{$ctrl.payment.coupon | number: 2 }}
                    span(
                    uib-popover = 'This Discount is applicable on Basic Shipping Costs only.'
                    popover-trigger="'mouseenter'"
                    popover-placement='right'
                    popover-append-to-body='true'
                    )
                      i.m-l.fa.fa-info-circle
                  p
                    | Loyalty Rewards
                    span.fa.fa-rupee.totalvalue.pull-right (-) {{$ctrl.payment.loyalty | number: 2 }}
                    span(
                    uib-popover = 'For every 1,000 Shoppre Loyalty Points you earn, a credit of INR 100 will automatically be applied to your next shipment'
                    popover-trigger="'mouseenter'"
                    popover-placement='right'
                    popover-append-to-body='true'
                    )
                      i.m-l.fa.fa-info-circle
                  p(ng-if="$ctrl.shipment.payment_gateway_fee")
                    | Payment Gateway (PG) Fee:
                    span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.payment.payment_gateway_fee | number: 2 }}
          // - todo wallet option required after implementation
          //ul.list-group.list-group-lg.m-b-none.list-unstyled.chkbox_background(ng-if="$ctrl.shipment.Customer.wallet_balance_amount && $ctrl.shipment.Customer.wallet_balance_amount < $ctrl.shipment.estimated_amount && $ctrl.shipment.Customer.wallet_balance_amount !== 0")
          //  li
          //    .checkbox
          //      label.i-checks(ng-if="$ctrl.shipment.Customer.wallet_balance_amount")
          //        input(
          //        ng-model='$ctrl.isWalletChecked'
          //        type='checkbox',
          //        ng-change="$ctrl.walletClicked()",
          //        ng-checked ="$ctrl.isWalletChecked"
          //        )
          //        i
          //        | Shoppre Wallet
          //      label.i-checks(ng-if="$ctrl.shipment.Customer.wallet_balance_amount < 0")
          //        input(
          //        ng-model='$ctrl.isWalletChecked'
          //        type='checkbox',
          //        ng-change="$ctrl.walletClicked()",
          //        ng-checked='true'
          //        ng-disabled="$ctrl.status = 'disabled'"
          //        )
          //        i
          //        | Shoppre Wallet
          //      span.fa.fa-rupee.totalvalue.pull-right {{$ctrl.shipment.Customer.wallet_balance_amount| number : 2}}
          div.final-ship-charge
            h4 Final Shipping Charges *
              h4.fa.fa-rupee {{$ctrl.payment.amount| number : 2}}

          button.btn.btn-shoppre(
          type='submit',
          style='width: 100%;font-size: 18px;border-radius: 5px;background: #10c018;font-weight: 900;'
          ng-click='$ctrl.submitPayment()'
          )
            | Proceed to Payment
          h5 * Charges shown DO NOT include any duties and taxes due upon shipment arriaval in your receiving country.


