div.bg-white.lter.page-empanelment(ng-init="App.fullPage=true")
  div(style="position: relative")
    .col-sm-12.no-padder(ng-if='$ctrl.activeTab === 0')
      .col-sm-4.hidden-xs.thumbnail.fixed(style="background: url(assets/images/empanelment-form.svg) top center / 60% 60% no-repeat #D4E0EB ; background-position: right 50% top 50%; height: 100%;" ng-hide="TermsAndConditions.flag")
      .col-sm-8.col-sm-offset-4.bg-white(style="background-color: #fff; height: 100%; position: fixed; overflow-y: scroll;" ng-if='$ctrl.activeTab === 0')
        .bg-white-only.padder-v.padder-lg
          form.form.form-validation.m-b-xxl.wrapper-xs.clear(
            name='$ctrl.forms[0]'
            novalidate
            ng-submit='$ctrl.stepNext(0)'
          )
            .col-sm-12(style='padding-top: 4%')
              .w-full.clear
                .h2.b-b.wrapper-xs.text-heading.no-padder-left Knowing you
                  span.text-success-dker &nbsp;better
                .h5.wrapper-xs.no-padder-left.m-b-md Name Details will be used in agreement/invoices
                .row.m-b-md
                  .col-sm-6
                    label.col-xs-12.col-sm-12.col-md-12.col-lg-12.input-group.text-black
                      | Company Entity Type
                      span.text-danger *
                    select.form-control(ng-model='$ctrl.data.entity_type', ng-options='f for f in ["LLP", "Pvt Ltd", "Ltd", "Proprietor", "Freelancer"]' required)
                .row.m-b-md(ng-if='$ctrl.data.entity_type === "Freelancer"')
                  .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .h5.col-xs-12.col-sm-12.col-md-12.col-lg-12.input-group.m-b-md(style='color:#58666e;')
                      | Kindly Provide 2 client references (provide name,contact number and email Ids)

                    .row
                      .col-xs-12.col-sm-12.col-md-12.col-lg-12.m-b-lg
                        span.h4.col-xs-12.col-sm-12.col-md-12.col-lg-12.m-b-sm(style='color:#818b92') Reference 1
                        .col-md-6.col-sm-12.col-xs-12.col-lg-6.m-b-sm
                          span.input-group.text-gray
                            | Name
                            span.text-danger *
                          .input-group.col-sm-12.col-xs-12
                            input.form-control(type='text' placeholder='eg. Reference Name' ng-model='$ctrl.reference_name1' required)
                        .col-md-6.col-sm-12.col-xs-12.col-lg-6.m-b-sm
                          span.input-group.text-gray
                            | Contact Number
                            span.text-danger *
                          .input-group.col-sm-12.col-xs-12
                            input.form.form-control(type='number' name="referncenumber1" placeholder='eg. 10 Digit Mobile Number' ng-model='$ctrl.reference_number1'
                              ng-pattern='/^[1-9]\\d{9}$/' ng-model-options='{debounce: 600}' required)
                        .col-md-6.col-sm-12.col-xs-12.col-lg-6.m-b-sm
                          span.input-group.text-gray
                            | Email id
                            span.text-danger *
                          .input-group.col-sm-12.col-xs-12
                            input.form.form-control(type='text' name='email1' placeholder='eg. Reference Email id' ng-model='$ctrl.reference_email_id1'
                              ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-model-options='{debounce: 600}' required)
                      .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        span.h4.col-xs-12.col-sm-12.col-md-12.col-lg-12.m-b-sm(style='color:#818b92') Reference 2
                        .col-md-6.col-sm-12.col-xs-12.col-lg-6.m-b-sm
                          span.input-group.text-gray
                            | Name
                            span.text-danger *
                          .input-group.col-sm-12.col-xs-12
                            input.form-control(type='text' placeholder='eg. Reference Name' ng-model='$ctrl.reference_name2' required)
                        .col-md-6.col-sm-12.col-xs-12.col-lg-6.m-b-sm
                          span.input-group
                            | Contact Number
                            span.text-danger *
                          .input-group.col-sm-12.col-xs-12
                            input.form.form-control(type='number' name="referncenumber2" placeholder='eg. 10 Digit Mobile Number' ng-model='$ctrl.reference_number2'
                              ng-pattern='/^[1-9]\\d{9}$/' ng-model-options='{debounce: 600}' required)
                        .col-md-6.col-sm-12.col-xs-12.col-lg-6.m-b-sm
                          span.input-group.text-gray
                            | Email id
                            span.text-danger *
                          .input-group.col-sm-12.col-xs-12
                            input.form.form-control(type='text' name='email2' placeholder='eg. Reference Email id' ng-model='$ctrl.reference_email_id2'
                              ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-model-options='{debounce: 600}' required)
                .row.m-b-md
                  .col-md-6.col-sm-12.col-xs-12.col-lg-6
                    label.col-xs-12.col-sm-12.col-md-12.col-lg-12.input-group.text-gray
                      | Date of Establishment of your company
                      span.text-danger *
                    input.form.form-control(type='date' placeholder='eg. Date of Establishment' ng-model='$ctrl.data.date_of_establishment' required)
                .row.m-b-md
                  .col-md-12.col-sm-12.col-xs-12.col-lg-12
                    label.col-xs-12.col-sm-12.col-md-12.col-lg-12.input-group.text-black
                      | Owner of your Organization
                      span.text-danger *
                    input.form.form-control(type='text' placeholder='eg. Owner organisation' ng-model='$ctrl.data.owner_organisation' required)
                .row.m-b-md
                  .col-md-12.col-sm-12.col-xs-12.col-lg-12
                    label.col-xs-12.col-sm-12.col-md-12.col-lg-12.input-group.text-black
                      | Owner's Mailing Address
                      span.text-danger *
                    input.form.form-control(type='text' name='owner_mailing_address' placeholder='eg. Owner Mailing Address' ng-model='$ctrl.data.owner_mailing_address'
                      ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-model-options='{debounce: 600}' required)
                .row.m-b-md
                  .col-md-6.col-sm-12.col-xs-12.col-lg-6.m-b-sm
                    label.col-xs-12.col-sm-12.col-md-12.col-lg-12.input-group.text-black
                      | Owners Phone Number
                    input.form.form-control(type='number' name="number" placeholder='eg. 10 Digit Mobile Number' ng-model='$ctrl.data.number'
                      ng-pattern='/^[1-9]\\d{9}$/')
                .row.m-b-md
                  .col-sm-6.col-sm-12.col-xs-12.col-lg-6.m-b-sm
                    label Employee strength of your firm
                    span.text-danger.font-bold *
                    select.form.form-control(
                      ng-options="item.value as item.name for item in $ctrl.EmployeeRange"
                      ng-model='$ctrl.employee_strength'
                      required
                    )
                .row.m-b-md
                  .col-sm-6.col-sm-12.col-xs-12.col-lg-6.m-b-sm
                    label Branches and Locations with details
                    .clearfix.m-b-sm: .pull-left.text-info-dker.b-a.b-info.m-t-xs.m-r-xs(
                      ng-repeat='branches in $ctrl.branch_details'
                    )
                      span.wrapper-xs {{branches.name}}
                      a.text-info-lt.font-bold(ng-click='$ctrl.branch_details.splice($index,1)')
                        span.fa.fa-1x ×&nbsp;
                    input#location.form-control(
                      type='text'
                      name='location'
                      autocomplete='off'
                      ng-model='$ctrl.regions.model'
                      ng-model-options='{debounce: 400}'
                      placeholder='Job Location'
                      uib-typeahead='region.name for region in $ctrl.regions.getList($viewValue, form.location)'
                      typeahead-loading='$ctrl.regions.loading'
                      typeahead-no-results='$ctrl.regions.noResults'
                      typeahead-on-select='$ctrl.regions.select($item, 1)'
                    )
                    input(type='hidden' ng-model='$ctrl.region_id')

                    i.fa.fa-refresh.fa-spin(ng-show='$ctrl.regions.loading')
                    .text-danger(
                      ng-show='$ctrl.form.location.$dirty && ($ctrl.form.location.$invalid || !$ctrl.region_id)'
                    )
                      span.wrapper-xs.text-xs Incorrect Location
                      span.wrapper-xs.text-xs(ng-if='$ctrl.regions.noResults')
                .row.m-b-md
                  .col-md-6.col-sm-12.col-xs-12.col-lg-6
                    label.i-checks.m-b-none
                      input(type='checkbox' name='international_location' ng-model='$ctrl.international_location')
                      i
                    label.text-black.m-l-sm
                      | International Presence if any?
                    input.form-control.col-sm-8(type='text' placeholder='eg. USA' ng-model='$ctrl.data.internation_branch' ng-if='$ctrl.international_location')

                .row.m-b-md
                  .col-md-6.col-sm-12.col-xs-12.col-lg-6
                    label.col-xs-12.col-sm-12.col-md-12.col-lg-12.input-group.text-black
                      | Your Company Website Address Link
                      span.text-danger *
                    input.form.form-control(type='url' placeholder='eg. Company URL' ng-model='$ctrl.data.company_url' required)

              .text-center: button.btn.btn-success.btn-sm.padder-lg(ng-disabled='$ctrl.forms[0].$invalid')
                span.m-r-xs Next
              br
              br
              br


    .col-sm-12.no-padder(ng-if='$ctrl.activeTab === 1')
      .col-sm-4.hidden-xs.thumbnail.fixed(style="background: url(assets/images/empanelment-payment.svg) top center / 60% 60% no-repeat #D4E0EB ; background-position: right 50% top 50%; height: 100%;" ng-hide="TermsAndConditions.flag")
      .col-sm-8.col-sm-offset-4.bg-white(style="background-color: #fff; height: 100%; position: fixed; overflow-y: scroll;" ng-if='$ctrl.activeTab === 1')
        .bg-white-only.padder-v.padder-lg
          .h2.b-b.wrapper-xs.text-heading Payment
            span.text-success-dker &nbsp;Details
          form.m-b-sm.wrapper-xs.clear.form.form-validation(
            name='$ctrl.forms[1]'
            novalidate
            ng-submit='$ctrl.stepNext(1)'
          )
            .m-b-sm.m-t-sm.clear: .w-full
              .row.m-b-md
                .col-md-12.col-sm-12.col-xs-12.col-lg-12
                  label.col-xs-12.col-sm-12.col-md-12.col-lg-12.input-group.text-black
                    | PAN
                    span.text-danger *
                  input.form.form-control(type='text' name='pan_number' placeholder='eg. PAN No' ng-model='$ctrl.data.pan_number'
                    required ng-pattern='/^[A-Z]{5}\\d{4}[A-Z]{1}$/i' ng-model-options='{debounce: 600}'
                  )
              .row.m-b-md
                .col-md-12.col-sm-12.col-xs-12.col-lg-12
                  label.col-xs-12.col-sm-12.col-md-12.col-lg-12.input-group.text-black
                    | TAN
                  input.form.form-control(type='text' placeholder='eg. TAN No' name='tan_number' ng-model='$ctrl.data.tan_number'
                    ng-pattern='/^[A-Z]{4}\\d{5}[A-Z]{1}$/i' ng-model-options='{debounce: 600}')
              .row.m-b-md
                label.col-xs-12.col-sm-12.col-md-12.col-lg-12.text-black
                  | GST Certificate
                .col-xs-12.col-sm-12.col-md-6.col-lg-6.m-b-sm
                  input.form.form-control.col-.sm-6(type='text' name='gst_no' placeholder='eg. GST No' ng-model='$ctrl.data.gst_no'
                    ng-pattern='/^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$/i' ng-model-options='{debounce: 600}')
                .col-xs-6.col-sm-6
                  .input-group
                    input.col-sm-12.jobLink.form-control(type="text" ng-model="$ctrl.data.uploadedFiles[0].name" placeholder='eg. GST Certificate')
                    a.btn.btn-xs.text-white.input-group-addon(
                      type='button'
                      ng-click='$ctrl.uploadToDrive(1, 2, "supporting files")' title='Upload GST Certificate'
                    ) Upload GST Certificate
              .row.m-b-md
                .col-md-12.col-sm-12.col-xs-12.col-lg-12
                  label.col-xs-12.col-sm-12.col-md-12.col-lg-12.input-group.text-black
                    | GST Address
                  textarea.form.form-control(type='text' placeholder='eg. GST Address' name='gst_address' ng-model='$ctrl.data.address'
                    ng-model-options='{debounce: 600}' ng-required='$ctrl.data.gst_no')

            .text-center: button.btn.btn-success.btn-sm.padder-lg(ng-disabled='$ctrl.forms[1].$invalid')
              span.m-r-xs Next
            br
            br
            br

    .col-sm-12.no-padder(ng-if='$ctrl.activeTab === 2')
      .col-sm-4.hidden-xs.thumbnail.fixed(style="background: url(assets/images/empanelment-sourcing.svg) top center / 60% 60% no-repeat #D4E0EB ; background-position: right 50% top 50%; height: 100%;" ng-hide="TermsAndConditions.flag")
      .col-sm-8.col-sm-offset-4.bg-white(style="background-color: #fff; height: 100%; position: fixed; overflow-y: scroll;" ng-if='$ctrl.activeTab === 2')
        .bg-white-only.padder-v.padder-lg
          .h2.b-b.wrapper-xs.text-heading Sourcing
            span.text-success-dker &nbsp;Information
          form.m-b-sm.wrapper-xs.clear.form.form-validation(
            name='$ctrl.forms[2]'
            novalidate
            ng-submit='$ctrl.stepNext(2)'
          )
            .m-b-md.m-t-md.clear
              .row.m-b-md
                .col-md-6.col-sm-12.col-xs-12.col-lg-6
                  label.i-checks.m-b-none
                    input(type='checkbox' name='it_sourcing' ng-model='$ctrl.it_sourcing')
                    i
                  label.text-black.m-l-sm
                    | IT Sourcing
              .row.m-b-md(ng-if='$ctrl.it_sourcing')
                .col-md-6.col-sm-12.col-xs-12.col-lg-6
                  ul(style='list-style: none;')
                    li.m-b-sm: .col: .hbox
                      label.col-xs-12.col-sm-12.col-md-12.col-lg-12.input-group.text-black
                        | Years of experience
                        span.text-danger *
                      input.form.form-control(type='number' placeholder='eg. Experience' ng-model='$ctrl.data.exp_it_sourcing' required)
                    li.mb-sm: .col: .hbox
                      label.col-xs-12.no-padder.m-b.xs
                        | Industry
                        .col-xs-12.no-padder
                          .h5.clearfix.m-b-sm: .pull-left.text-info-dker.b-a.b-info.m-t-xs.m-r-xs(ng-repeat='industry in $ctrl.itSource')
                            span.wrapper-xs {{industry.name}}
                            a.text-info-lt.font-bold(ng-click='$ctrl.industries.select($ctrl.itSource.splice($index,1)[0], "itSource")')
                              span.fa.fa-1x ×&nbsp;

                        select.form-control(
                          ng-model='$ctrl.industries.model'
                          ng-init='$ctrl.industries.model = "0"'
                          ng-change='$ctrl.industries.select($ctrl.industries.model*1, "itSource");$ctrl.industries.model = "0";'
                          required
                        )
                          option(value='0' selected disabled) -- Choose Target Industries --
                          option(ng-repeat='industry in $ctrl.industries.list | orderBy:"name"' ng-value='industry.id') {{industry.name}}
                        .h6.text-danger.m-t-xs(ng-if='$ctrl.industries.itSource') Select the best 3 industries from your expertise.

              .row.m-b-md
                .col-md-6.col-sm-12.col-xs-12.col-lg-6
                  label.i-checks.m-b-none
                    input(type='checkbox' name='non_it_sourcing' ng-model='$ctrl.non_it_sourcing')
                    i
                  label.text-black.m-l-sm
                    | Non IT Sourcing
              .row.m-b-md(ng-if='$ctrl.non_it_sourcing')
                .col-md-6.col-sm-12.col-xs-12.col-lg-6
                  ul(style='list-style: none;')
                    li.m-b-sm: .col: .hbox
                      label.col-xs-12.col-sm-12.col-md-12.col-lg-12.input-group.text-black
                        | Years of experience
                        span.text-danger *
                      input.form.form-control(type='number' placeholder='eg. Experience' ng-model='$ctrl.data.exp_non_it_sourcing' required)

                    li.m--sm: .col: .hbox
                      label.col-xs-12.no-padder.m-b.xs
                        | Functions
                        .col-xs-12.no-padder
                          .h5.clearfix.m-b-sm: .pull-left.text-info-dker.b-a.b-info.m-t-xs.m-r-xs(ng-repeat='industry in $ctrl.functionList')
                            span.wrapper-xs {{industry.name}}
                            a.text-info-lt.font-bold(ng-click='$ctrl.functions.select($ctrl.functionList.splice($index,1)[0], "functionList")')
                              span.fa.fa-1x ×&nbsp;

                        select.form-control(
                          ng-model='$ctrl.functions.model'
                          ng-init='$ctrl.functions.model = "0"'
                          ng-change='$ctrl.functions.select($ctrl.functions.model*1, "functionList");$ctrl.functions.model = "0";'
                        )
                          option(value='0' selected disabled) -- Choose Target Industries --
                          option(ng-repeat='industry in $ctrl.functions.list | orderBy:"name"' ng-value='industry.id') {{industry.name}}
                        .h6.text-danger.m-t-xs(ng-if='$ctrl.functions.error') Select the best 3 functions from your expertise.
                    li.m-b-sm: .col: .hbox
                      label.col-xs-12.no-padder.m-b.xs
                        | Industry
                        .col-xs-12.no-padder
                          .h5.clearfix.m-b-sm: .pull-left.text-info-dker.b-a.b-info.m-t-xs.m-r-xs(ng-repeat='industry in $ctrl.nonItSource')
                            span.wrapper-xs {{industry.name}}
                            a.text-info-lt.font-bold(ng-click='$ctrl.industries.select($ctrl.nonItSource.splice($index,1)[0], "nonItSource")')
                              span.fa.fa-1x ×&nbsp;

                        select.form-control(
                          ng-model='$ctrl.industries.model'
                          ng-init='$ctrl.industries.model = "0"'
                          ng-change='$ctrl.industries.select($ctrl.industries.model*1, "nonItSource");$ctrl.industries.model = "0";'
                          required
                        )
                          option(value='0' selected disabled) -- Choose Target Industries --
                          option(ng-repeat='industry in $ctrl.industries.list | orderBy:"name"' ng-value='industry.id') {{industry.name}}
                        .h6.text-danger.m-t-xs(ng-if='$ctrl.industries.nonItSource') Select the best 3 industries from your expertise.

              .row.m-b-md
                .col-md-12.col-sm-12.col-xs-12.col-lg-12
                  label.w-full What are the Portals you use for sourcing candidates
                  .col-md-4.col-sm-6.col-xs-6.col-lg-4(ng-repeat='portal in $ctrl.PortalSource')
                    label.i-checks.m-b-none
                      input(type='checkbox' name='it_sourcing' ng-model='portal.selected')
                      i
                    label.text-black.m-l-sm(ng-bind='portal.name')

            .text-center: button.btn.btn-success.btn-sm.padder-lg(ng-disabled='$ctrl.forms[2].$invalid')
              span.m-r-xs Next
            br
            br
            br

    .col-sm-12.no-padder(ng-if='$ctrl.activeTab === 3')
      .col-sm-4.hidden-xs.thumbnail.fixed(style="background: url(assets/images/empanelment-user-profile.svg) top center / 60% 60% no-repeat #D4E0EB ; background-position: right 50% top 50%; height: 100%;" ng-hide="TermsAndConditions.flag")
      .col-sm-8.col-sm-offset-4.bg-white(style="background-color: #fff; height: 100%; position: fixed; overflow-y: scroll;" ng-if='$ctrl.activeTab === 3')
        .col-sm-12
          .bg-white-only.padder-v.padder-lg
            .h2.b-b.wrapper-xs.text-heading Complete your User Profile
            form.form.form-validation.m-b-sm.wrapper-xs.clear(
              name='$ctrl.forms[3]'
              novalidate
              ng-submit="$ctrl.update()"
            )
              .m-b-md.m-t-md: .w-full.clear
                .row.m-b-md
                  .col-md-12.col-sm-12.col-xs-12.col-lg-12
                    label.col-xs-12.input-group.text-black
                      | Name
                    .col-xs-12.col-sm-12.col-md-6.no-padder-left.m-b-xs
                      input.form-control(type='text' placeholder='eg. First name' ng-model='$ctrl.data.userProfile.firstname' q-text-maxlength="60"  autofocus)
                    .col-md-6.col-sm-12.col-xs-12.no-padder
                      input.form-control(type='text' placeholder='eg. Last name' ng-model='$ctrl.data.userProfile.lastname' q-text-maxlength="60")
                .row.m-b-md
                  .col-md-12.col-sm-12.col-xs-12.col-lg-12
                    label.col-xs-12.col-sm-12.col-md-12.col-lg-12.input-group.text-black
                      | Display Name
                    input.form-control(type='text' placeholder='eg. Display Name' ng-model='$ctrl.data.userProfile.name' q-text-maxlength="60")
                .row.m-b-md
                  .col-md-12.col-sm-12.col-xs-12.col-lg-12
                    label.col-xs-12.col-sm-12.col-md-12.col-lg-12.input-group.text-black
                      | Work Email Id
                    input.form.form-control(type='email' name='workEmailId' placeholder='eg. xyz@domain.com' ng-model='$ctrl.data.userProfile.email_id' q-text-maxlength="60"  autofocus
                      ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-model-options='{debounce: 600}')
                .row.m-b-md
                  .col-md-12.col-sm-12.col-xs-12.col-lg-12
                    label.col-xs-12.col-sm-6.col-md-6.input-group.text-black
                      | Mobile Number
                    .col-sm-6.col-md-6.col-xs-9.no-padder
                      input.form.form-control(type='text' placeholder='eg. 98xxxxxx00' ng-model='$ctrl.data.number' name='contact_number'
                        ng-pattern='/^[1-9]\\d{9}$/' ng-model-options='{debounce: 600}')
                .row.m-b-md
                  .col-md-12.col-sm-12.col-xs-12.col-lg-12
                    label.col-xs-12.col-sm-12.col-md-12.col-lg-12.input-group.text-black
                      | Personal Email Id
                    input.form-control(type='email' name='personalEmailId' placeholder='eg. xyz@domain.com' ng-model='$ctrl.data.userProfile.additional_email_id'
                      ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-model-options='{debounce: 600}')

              .text-center: button.btn.btn-success.btn-sm.padder-lg(ng-disabled='$ctrl.forms[3].$invalid')
                span(ng-if='$ctrl.reload !== false')
                  span.m-r-xs Save
                span(ng-if='$ctrl.reload === false')
                  span.m-r-xs Saving...
                  i.fa.fa-spin.fa-circle-o-notch

              br
              br
              br
