.pull-left.wrapper-sm.no-padder-top.truncate(title='{{$ctrl.customer.name}} - {{$ctrl.customer.email}}' style='max-width:255px;')
    a(ui-sref='customer.view({ id: $ctrl.customer.id })')
      span.h4.text-info(ng-bind='$ctrl.customer.name')
.pull-left.wrapper-sm
  span.b-1x.b-r.b-l.b-ligth-dker
.pull-left.wrapper-sm.no-padder-top.ng-binding(
  title='Locker: {{$ctrl.customer.Locker}}'
  ng-if='$ctrl.customer.Locker'
)
  i.fa.fa-md.fa-suitcase.text-light-dker
  span.m-l-xs(
    ng-bind='$ctrl.customer.Locker.short_name'
  )
.pull-left.wrapper-sm.no-padder-top.ng-binding(title='Country: {{$ctrl.customer.Country.name}}')
  span.flag-icon.m-l-xs(
    ng-class='"flag-icon-"+ $ctrl.customer.Country.iso2.toLowerCase()'
  )
  span.m-l-xs(ng-bind='$ctrl.customer.Country.name')
.pull-left.wrapper-sm.no-padder-top.ng-binding(title='Virtual Address Code')
  i.fa.fa-lg.fa-dropbox.text-light-dker
  span.m-l-xs(ng-bind='$ctrl.customer.virtual_address_code')
.pull-left.wrapper-sm.no-padder-top(title='Email')
  i.fa.fa-md.fa-at.text-light-dker
  span &nbsp;&nbsp;
  a(ng-href='mailto:{{$ctrl.customer.email}}')
    span.m-l-xs(ng-bind='$ctrl.customer.email')
.pull-left.wrapper-sm.no-padder-top(title='Mobile/Phone' ng-if='$ctrl.customer.mobile')
  i.fa.fa-phone
  a(ng-href='tel:{{$ctrl.customer.mobile}}')
    span.m-l-xs(ng-bind='$ctrl.customer.mobile')
uib-progressbar.w-full.bg-light.dker.progress-striped.active.m-t-xl(
  ng-init='max=20;elapsed=$ctrl.moment().diff($ctrl.moment($ctrl.customer.Locker.allocated_at), "days")'
  ng-if='$ctrl.customer.Locker'
  max='max'
  type='{{elapsed < max ? "success" : "danger"}}'
  value='elapsed'
  style='position: fixed; height: 5px; z-index: 100;'
  uib-tooltip='Storage Limit - {{elapsed}} Days'
  tooltip-placement='bottom'
  tooltip-append-to-body='true'
)

