div
  .col-md-3.no-padder.fixed-applicant-details.bg-white(ng-class="{'m-t-xl': App.app.settings.isAdmin}")
    div(style='position: relative; height: 100%; width: 102%; top: 0; overflow-x: hidden; overflow-wrap: break-word;')
      .wrapper-xs.m-sm(style='width: 93%;')
        .pull-right
          a.col.v-middle(style='width: 2em;'): i.m-t-sm.wrapper-xs.fa(name='bookmarked' title='Bookmark' style="color: darksalmon;" ng-class="$ctrl.data.is_bookmarked ? 'fa-star' : 'fa-star-o'" ng-click="$ctrl.toggleBookmark(!$ctrl.data.is_bookmarked)")
          a.col.v-middle(ng-show='-1 !== $ctrl.editAllowedStates.indexOf($ctrl.data.state_id)' ui-sref="job.applicant.edit({jobId:$ctrl.data._root_.id,applicantId:$ctrl.data.id})" style='width: 2em;'): i.m-t-sm.wrapper-xs.fa.fa-edit(title='Edit CV')
          a.col.v-middle(style='width: 2em;'): i.m-t-sm.wrapper-xs.fa.fa-share(ng-click='$ctrl.ReApply.open($ctrl.data)' title='Allocate CV')
          .col.v-middle(uib-dropdown='')
            a(href='' style='width: 2em;' ): i.m-t-sm.wrapper-xs.fa.fa-ellipsis-v(uib-dropdown-toggle='')
            ul.m-r-xl.dropdown-menu(uib-dropdown-menu='' role='menu' aria-labelledby='single-button' style='right: -35px; left: auto;')
              li(role='menuitem' title='Payment Details' ng-if='$ctrl.user.admin_flag')
                a(ng-click='$ctrl.JobModal.payment($ctrl.data._root_, $ctrl.awfTime())') Payment Details
              li(role='menuitem' title='Open in Access' ng-if='$ctrl.user.access')
                a.col.v-middle(ng-href='{{$ctrl.access}}' target='_blank') Open in Access
              li(role='menuitem' ng-if='!$ctrl.data._root_.is_drive' title='Download CV')
                a(ng-click='App.downloadApplicant([$ctrl.data.id])') Download CV
              li(role='menuitem' title='Send assessment mail to candidate')
                a.col.v-middle(ng-click='$ctrl.sendAssessmentToApplicant()' target='_blank') Send Assessment
        .wrapper-xs.v-middle
          .h4.wrapper-xs.text-ellipsis.text-dark(title='{{$ctrl.data.name}}')
            i.fa.fa-check-circle-o.m-r-xs(name='applicant_confirm' title='Applicant Confirm' ng-if='$ctrl.data.applicant_confirmed && !$ctrl.showAssesmentScore')
            i.fa.fa-check-circle.m-r-xs.text-success(name='assessment_score' title='Assessment Score' ng-if='$ctrl.data.applicant_confirmed && $ctrl.showAssesmentScore')
            span(ng-bind='$ctrl.data.name')
          a.h4.wrapper-xs.text-ellipsis(
            ui-sref="job.view({jobId:$ctrl.data._root_.id})" uib-tooltip='{{$ctrl.data._root_.client_name}}'
            ng-if='!$ctrl.data._root_.qrex_client_name'
          )
            i.fa.fa-briefcase.m-r-xs
            span(ng-bind='$ctrl.data._root_.client_name')
          a.h4.wrapper-xs.text-ellipsis(
            ui-sref="job.view({jobId:$ctrl.data._root_.id})" uib-tooltip='{{$ctrl.data._root_.qrex_client_name}}'
            ng-if='!$ctrl.data._root_.is_drive && $ctrl.data._root_.qrex_client_name'
          )
            i.fa.fa-briefcase.m-r-xs
            span(ng-bind='$ctrl.data._root_.qrex_client_name')
          a.h5.wrapper-xs.text-ellipsis(ui-sref="job.view({jobId:$ctrl.data._root_.id})"  uib-tooltip='{{$ctrl.data._root_.role}}')
            i.fa.fa-bookmark.m-r-xs
            span(ng-bind='$ctrl.data._root_.role')
        .m-l-sm
          .hbox(uib-dropdown='' uib-keyboard-nav='' dropdown-append-to-body)
            button.btn.btn-sm.padder.rounded(class='btn-{{App.states[$ctrl.data.state_id].config.color}}' uib-dropdown-toggle='' ng-disabled='App.states[$ctrl.data.state_id].Actions.length===0 || ($ctrl.data.state_id === 43 && !!$ctrl.prescreen)')
              span.m-r-xs(ng-bind='App.states[$ctrl.data.state_id].action')
              span(ng-if='App.states[$ctrl.data.state_id].Actions.length>0').caret

            ul.dropdown-menu(uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav")
              li(role='menuitem' ng-repeat='state in App.states[$ctrl.data.state_id].Actions' ng-if="App.states[state.state_id].action")
                a(href='' ng-click='$ctrl.ChangeState.open($ctrl.data, ($ctrl.data._root_.is_drive && $ctrl.data.state_id === 44) ? 12 : state.state_id, $ctrl.data._root_.id)' ng-bind='::App.states[state.state_id].action')
        .m-l-sm.m-t-xs(title='Interview Time' ng-if='$ctrl.data._root_.is_drive && $ctrl.data.interview_time')
          i.fa.fa-calendar.m-r-sm
          span.text-md.text-primary(ng-bind="$ctrl.data.interview_time | date : 'MMM d, yyyy'")
        .m-l-sm.m-t-sm.pointer(ng-if="$ctrl.data.state_id === 30"  ng-click='$ctrl.PaymentTracker.open($ctrl.data.id)')
          span.font.md.text-primary.font-bold Track Payment
            span.badge-sm.badge.text-white.m-l-xs.m-t-n-sm(style='background: red;') New
      .wrapper-xs.m-l-sm(ng-if='$ctrl.data.summary')
        .hbox(style="width: 97%")
          .row
            .wrapper-xs.sticky-note
              .wrapper-xs.sticky-heading(style="width: 97%")
                div(ng-bind='$ctrl.data.summary' ng-class='{ "show": !$ctrl.ui.show }')
                a.pull-right.wrapper-xs(
                  ng-click='$ctrl.ui.show = !$ctrl.ui.show'
                  ng-bind='$ctrl.ui.show ? "Show Less" : "Show More"'
                  ng-show='$ctrl.data.summary.length > 100'
                )
      //- Applicant Employee Information
      .wrapper-xs.m-l-sm.m-t-sm.b-t
        uib-tabset(active='active')
          uib-tab(index='0' heading='Details')
            .clear.wrapper-xs
              a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
                i.fa.fa-phone.text-muted.fa-lg
              div
                a.text-xs.text-muted Mobile Number
                div(ng-bind='$ctrl.data.mobile')
            .clear.wrapper-xs
              a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
                i.fa.fa-envelope-o.text-muted.fa-lg
              div
                a.text-xs.text-muted Email
                div(ng-bind='$ctrl.data.email')
            .clear.wrapper-xs(ng-if='$ctrl.data.exp_designation')
              a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
                i.fa.fa-briefcase.text-muted.fa-lg
              div
                a.text-muted.font-thin Designation
                div(ng-bind='$ctrl.data.exp_designation')

            .clear.wrapper-xs(ng-if='$ctrl.data.exp_employer')
              a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
                i.fa.fa-users.text-muted.fa-lg
              div
                a.text-muted.font-thin Current company
                div(ng-bind='$ctrl.data.exp_employer')

            .clear.wrapper-xs(ng-if='$ctrl.data.edu_degree')
              a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
                i.fa.fa-graduation-cap.text-muted.fa-lg
              div
                a.text-muted.font-thin Qualification
                div(ng-bind='$ctrl.data.edu_degree')

            .clear.wrapper-xs(ng-if='$ctrl.data.exp_location')
              a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
                i.fa.fa-map-marker.text-muted.fa-lg
              div
                a.text-muted.font-thin Location
                div(ng-bind='$ctrl.data.exp_location')

            .clear.wrapper-xs
              a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
                i.fa.fa-inr.text-muted.fa-lg
              div
                a.text-muted.font-thin Current CTC
                div
                  span(ng-bind='$ctrl.data.exp_salary')
                  span &nbsp; Lakhs

            .clear.wrapper-xs(ng-if='!$ctrl.job.is_drive && $ctrl.data.expected_ctc')
              a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
                i.fa.fa-inr.text-muted.fa-lg
              div
                a.text-muted.font-thin Expected CTC
                div
                  span(ng-bind='$ctrl.data.expected_ctc')
                  span &nbsp; Lakhs

            .clear.wrapper-xs
              a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
                i.fa.fa-line-chart.text-muted.fa-lg
              div
                a.text-muted.font-thin Work experience
                div
                  span(ng-bind='$ctrl.data.total_exp_y')
                  span &nbsp; Years &nbsp;
                  span(ng-if='$ctrl.data.total_exp_m')
                    span(ng-bind='$ctrl.data.total_exp_m')
                    span &nbsp; Months

            .clear.wrapper-xs
              a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
                i.fa.fa-clock-o.text-muted.fa-lg.pull
              div
                a.text-muted.font-thin Notice period
                div
                  span(ng-bind='$ctrl.data.notice_period')
                  span &nbsp; Days

          uib-tab(index='1', heading='Documents')
            .col-xs-12.wrapper-xs.no-padder-left(ng-if='$ctrl.document.length')
              .w-full.wrapper-xs.inline(ng-repeat='(key, file) in $ctrl.document')
                .m-b-xs.wrapper-xs.clear(ng-class="$last ?'':'b-b'")
                  i.fa.fa-file.m-r-sm.pull-left.m-t-xs
                  a.text-ellipsis.w.m-l-xs.inline(ng-bind='file.filename' ng-href="{{file.link}}" target='_blank')
                  a.pull-right
                    i.fa.fa-close(ng-click='$ctrl.deleteDocument(file.id, key)')
            .col-xs-12.wrapper-xs
              label.text-center.m-t-sm.w-full.b-a.bg-light.wrapper-xs(for="uploadCV")
                .w-full(for="uploadCV")
                  i.fa.fa-plus.m-r-sm
                label.m-b-none(for="uploadCV"): .pos-rlt(
                  uib-tooltip='You can upload Documents'
                  tooltip-placement='bottom'
                )
                  span Add/Upload Document
                  p.h6 Documents/Spreadsheets/Images/ZIP
                input.form.form-control.btn.w-lg.pos-abt(
                  id="uploadCV"
                  type='file'
                  name='documentfile'
                  maxsize='5000'
                  ng-model='$ctrl.documentfile'
                  style='display:none !important'
                  accept=".pdf, .pdf, .doc, .docx, .rtf, .txt. xls, xlsx"
                  ng-change='$ctrl.uploadFiles($ctrl.documentfile)'
                  multiple base-sixty-four-input
                )

      //- Applicant Skills
      .wrapper-xs.m-l-sm.m-t-sm.b-t(ng-if="$ctrl.data.skills.length>0")
        .wrapper-xs.h4.text-muted Skills
        .wrapper-xs.h6.clear
          .wrapper-xs.pull-left.text-info-dker.r.m-t-xs.m-r-xs(
          ng-repeat='skill in $ctrl.data.skills' style='padding: 2px;' ng-if='$ctrl.data.showAllSkill || $index < 6'
          ) &nbsp;{{skill}}&nbsp;
          a.pull-left(ng-click='$ctrl.data.showAllSkill = !$ctrl.data.showAllSkill')
            span.wrapper-xs.pull-left.font-bold.h5(ng-if='$ctrl.data.showAllSkill'): span.text-info-dker – Less
            span.wrapper-xs.pull-left.font-bold.h5(ng-if='!$ctrl.data.showAllSkill'): span.text-info-dker + More
    //- Resume container
  .col-md-6.no-padder.fixed-resume.b-r(ng-class="{'m-t-xl': App.app.settings.isAdmin}" ng-if='(!$ctrl.data._root_.is_drive || $ctrl.data.has_resume)')
    div(style='position: relative; height: 100%; width: 100%; top: 0; overflow: hidden;' ng-class='{"m-t-xl": $ctrl.isAdminView}')
      iframe.h-full.b-a.b-light.w-full#pdfJSResume(ng-src='{{$ctrl.trustSrc($ctrl.resumeSrc)}}' allowfullscreen)

  .nav-comment.no-padder(ng-class="{'m-t-xl': App.app.settings.isAdmin, 'col-xs-3 bg-white-only': $ctrl.data.has_resume, 'col-xs-9 no-bg': ($ctrl.data._root_.is_drive && !$ctrl.data.has_resume) }")
    span.bg-info(style="padding: 10px;z-index:1; position:absolute; right:0" title="{{$ctrl.chatHoverText()}}" ng-click="App.initiateChat($ctrl.data)" ng-show="App.isTestingUser()")
      img(src="assets/images/chat.png" height="20px" width="20px")
    comment(applicant-id='{{$ctrl.$stateParams.applicantId}}' applicant='$ctrl.data')
