.col-md-12.ps-main
  div.col-md-6
    h1.f-s-1.f-c-d-gray How Does it Work?
    h12.f-s-10.f-c-d-gray
      | Personal Shopper
      span.f-c-gray  > How It Works?
  div.col-md-6(style='padding-top: 20px;')
    a(ui-sref='personalShopper.create')
      button.btn-l.btn-b-r.btn-s-r.pull-right.f-s-9
        |Place an Order
  .clearfix
  .ps-mainidiv
    h5.f-s-5.f-c-gray
      | Let
      span.f-c-red ShoppRe
      br
      |     Do The Shopping for You!
    p.f-s-9.f-c-gray
      | If you are overseas and want to shop from India, occasionally you would have to go through some hassles in the process. Either your international cards won't be accepted or order won't go through on account of you not having Indian credentials mostly.
    p.f-s-9.f-c-gray
      | This is where our Personal Shopper comes in to play. All you have to do is, let us know what you are intending to buy, and we'll buy it for you!
    h6.f-s-9.f-c-d-gray How Does a Personal Shopper Help?
    p.f-s-9.f-c-gray
      img(src='https://d2njzkuk16ywue.cloudfront.net/cdn/img/svg/dot.svg', alt='')
      span.f-c-d-gray  We’ll Pay For You:
      |  You can place your order on your own, and get it delivered to us; we’ll pay for it on your behalf.
    p.f-s-9.f-c-gray
      img(src='https://d2njzkuk16ywue.cloudfront.net/cdn/img/svg/dot.svg', alt='')
      span.f-c-d-gray We’ll Shop For You:
      |  All you have to do is, let us know what you intend         to buy; we’ll make the purchase for you.
    p
    .input-group-btn.dropdown.open.full-width(uib-dropdown='', style='')
      button.btn.btn-default.full-width.dropdown-toggle.text-left.m-b-md(type='button', uib-dropdown-toggle='', aria-haspopup='true', aria-expanded='true')
        span.text-u-c.m-r-xs What is the Personal Shopper service cost?
      .list-group.list-group-lg.no-bg.auto.dropdown-menu.full-width.position-relative
        p &nbsp; Personal Shopper Service Cost is applied per order, not per item. If you request multiple items from a single seller, you will have to pay only one service cost.
        p &nbsp; Orders with items from multiple sellers will be charged a service cost for each seller.
        p.font-bold &nbsp;  Personal Shopper Service Costs/Payment Methods
        p &nbsp; &nbsp; 1. Netbanking/ Credit Card/ PayPal/ Cash on Delivery: 10%   &nbsp;   of the order total(minimum INR 200.00)
        p &nbsp; &nbsp; 2. Personal Shopper orders with more than 15 items per online seller will incur an INR 50 per item cost for every additional item over 15.
        p &nbsp; Any difference in amount while we made your purchase will be settled at the end, which you can view under your Shoppre Wallet on the right side of your Locker.
    .copy-wrap-out.terms-and-conditions-popover
      .m-t-n-xs
        a.text-u-l(
        uib-popover-template='"app/routes/personalShopper/workFlow/terms-and-conditions-popover.html"'
        popover-trigger='"outsideClick"'
        popover-placement='bottom-left'
        popover-is-open='$ctrl.isOpen'
        )
          i.fas.fa-info-circle.m-r-xs
          span Terms & Conditions

  .col-md-12.col-xs-12.ps-des-div
    center
      p.f-c-white.f-s-11.ps-p-b Here is how it all goes down
    br
    .col-md-6.col-xs-12
      center
        h.f-s-5.f-c-red Self Purchase
        br
        span.f-c-gray.f-s-10 ( Or Cash on Delivery )
      br
      .col-md-12.col-xs12.s-p-card.s-p-s-b1
        .col-md-4.col-xs-12
          img.img-center(src='https://d2njzkuk16ywue.cloudfront.net/cdn/img/svg/shop-product.svg', alt='')
        .col-md-8.col-xs-12
          h14.f-s-10.uppercase.f-c-blue step1
          br
          h7.f-s-7.uppercase.f-c-d-gray Fill Your Cart
          p.f-s-9.f-c-gray
            | Shop from any Indian  online store
            | (Amazon.in, Myntra, Flipkart etc.).
            | Opt for Cash on Delivery & ship it to the Virtual Address.
      .col-md-12.col-xs12.s-p-card.s-p-s-b2
        .col-md-4.col-xs-12
          img.img-center(src='https://d2njzkuk16ywue.cloudfront.net/cdn/img/svg/pay-receive.svg', alt='')
        .col-md-8.col-xs-12
          h14.f-s-10.uppercase.f-c-blue step2
          br
          h7.f-s-7.uppercase.f-c-d-gray We'll Pay & Receive
          p.f-s-9.f-c-gray
            | order, receive.......house,
            | and start processing your order.
      .col-md-12.col-xs12.s-p-card.s-p-s-b3
        .col-md-4.col-xs-12
          img.img-center(src='https://d2njzkuk16ywue.cloudfront.net/cdn/img/svg/save80.svg', alt='')
        .col-md-8.col-xs-12
          h14.f-s-10.uppercase.f-c-blue step3
          br
          h7.f-s-7.uppercase.f-c-d-gray Make a Ship Request
          p.f-s-9.f-c-gray
            | Once you're done shopping; make a Ship Request. We'll consolidate your packages into one shipment; cutting the shipping costs down by 80%.
      .col-md-12.col-xs12.s-p-card.s-p-s-b4
        .col-md-4.col-xs-12
          img.img-center(src='https://d2njzkuk16ywue.cloudfront.net/cdn/img/svg/d-step3.svg', alt='')
        .col-md-8.col-xs-12
          h14.f-s-10.uppercase.f-c-blue step4
          br
          h7.f-s-7.uppercase.f-c-d-gray You Pay, We'll Dispatch
          p.f-s-9.f-c-gray
            | Once we've confirmed your payment,
            | your order will be dispatched &
            | be on its way to you (taking just 3-6 days)!
      br
      br
      center
        a(ui-sref-active='active'
          title='We pay on your request'
          target='_blank'
          ng-href='{{App.URLS.PREFIX}}myaccount.{{App.URLS.DOMAIN}}/personal-shopper/order'
          )
          button.btn.btn-s-r.btn-b-r.btn-xl(type='submit') Place Your Order Now!
      br

    .col-md-6.col-xs-12
      center
         h.f-s-5.f-c-blue Assisted Purchase
         br
         span.f-c-gray.f-s-10 ( Shopping For You )
      br
      .col-md-12.col-xs12.s-p-card.ps-s-b1
        .col-md-4.col-xs-12
          img.img-center(src='https://d2njzkuk16ywue.cloudfront.net/cdn/img/svg/shop-product.svg', alt='')
        .col-md-8.col-xs-12
          h14.f-s-10.uppercase.f-c-blue step1
          br
          h7.f-s-7.uppercase.f-c-d-gray Fill Your Cart
          p.f-s-9.f-c-gray
            | Shop from any Indian  online store
            | (Amazon.in, Myntra, Flipkart etc.).
            | Make payment & ship it to the Virtual Address.
      .col-md-12.col-xs12.s-p-card.ps-s-b2
        .col-md-4.col-xs-12
          img.img-center(src='https://d2njzkuk16ywue.cloudfront.net/cdn/img/svg/pay-receive.svg', alt='')
        .col-md-8.col-xs-12
          h14.f-s-10.uppercase.f-c-blue step2
          br
          h7.f-s-7.uppercase.f-c-d-gray We'll Shop & Receive
          p.f-s-9.f-c-gray
            | Once you submit the order form, we'll make the purchase on your behalf.
            | We'll receive it at our warehouse & start processing the order.
      .col-md-12.col-xs12.s-p-card.ps-s-b3
        .col-md-4.col-xs-12
          img.img-center(src='https://d2njzkuk16ywue.cloudfront.net/cdn/img/svg/save80.svg', alt='')
        .col-md-8.col-xs-12
          h14.f-s-10.uppercase.f-c-blue step3
          br
          h7.f-s-7.uppercase.f-c-d-gray Make a Ship Request
          p.f-s-9.f-c-gray
            | Once you're done shopping; make a Ship Request. We'll consolidate your packages into one shipment; cutting the shipping costs down by 80%.
      .col-md-12.col-xs12.s-p-card.ps-s-b4
        .col-md-4.col-xs-12
          img.img-center(src='https://d2njzkuk16ywue.cloudfront.net/cdn/img/svg/d-step3.svg', alt='')
        .col-md-8.col-xs-12
          h14.f-s-10.uppercase.f-c-blue step4
          br
          h7.f-s-7.uppercase.f-c-d-gray You Pay, We'll Dispatch
          p.f-s-9.f-c-gray
            | Once we've confirmed your payment,
            | your order will be dispatched &
            | be on its way to you (taking just 3-6 days)!
      br
      br
      center
        a(ui-sref='personalShopper.create')
          button.btn.btn-s-b.btn-b-b.btn-xl(type='submit') Place Your Order Now!
      br

