<tr>
  <td valign="top" style="padding:20px 0px 10px 20px;width:100px;border-collapse:collapse" id="m_-9202880356489529693topNav"> <a href="https://www.shoppre.in/gp/r.html?C=271LVDSQZTACD&amp;K=A3W282SE7PFLBQ&amp;R=J3TZIAJ2CHBF&amp;T=C&amp;U=https%3A%2F%2Fwww.shoppre.in%2Fref%3Dpe_1909141_77686011_tnp_emailg_i&amp;A=KYP6DY4B9WUSBZJ5I8BKYIYPH6CA&amp;H=GYYOWA9ATELXBEIAAFPVRNRAQL0A&amp;ref_=pe_1909141_77686011_tnp_emailg_i" title="Visit Shoppre.in" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.shoppre.in/gp/r.html?C%3D271LVDSQZTACD%26K%3DA3W282SE7PFLBQ%26R%3DJ3TZIAJ2CHBF%26T%3DC%26U%3Dhttps%253A%252F%252Fwww.shoppre.in%252Fref%253Dpe_1909141_77686011_tnp_emailg_i%26A%3DKYP6DY4B9WUSBZJ5I8BKYIYPH6CA%26H%3DGYYOWA9ATELXBEIAAFPVRNRAQL0A%26ref_%3Dpe_1909141_77686011_tnp_emailg_i&amp;source=gmail&amp;ust=1529168504886000&amp;usg=AFQjCNGkxMP-NjPmJ5s6z64okm20uaddoA">
    <img
      alt="Shoppre" border="0" height="31" id="m_-9202880356489529693shoppreLogo"
      src="https://myaccount.shoppre.com/img/logo.png"
      style="font-size:11px" width="108" class="CToWUd"></a>
  </td>
  <td style="text-align:right;padding:0px 20px">
    <table cellspacing="0" style="font:12px/16px Arial,sans-serif;color:rgb(51,51,51);margin:0 auto;border-collapse:collapse" id="m_-9202880356489529693marketingContent" cellpadding="0">
      <tbody>
      <tr>
        <td style="border-bottom:1px solid rgb(204,204,204);width:490px" class="m_-9202880356489529693topHeaderLinks">
          <table align="right" style="font:12px/16px Arial,sans-serif;color:rgb(51,51,51)">
            <tbody>
            <tr style="padding:5px 0px 5px 0px;white-space:nowrap;border-collapse:collapse;text-align:right;width:490px">
              {{#if INCOMING}}
                <td> <a href="{{ENV.URLS_PARCEL}}/packages?bucket=ALL" style="text-decoration:none;color:rgb(0,102,153);font-family:Arial,san-serif" target="_blank">Your Packages</a> </td>
              {{else if PERSONAL_SHOPPER}}
                <td> <a href="{{ENV.URLS_PARCEL}}/personalShopper/index" style="text-decoration:none;color:rgb(0,102,153);font-family:Arial,san-serif" target="_blank">Your Orders</a> </td>
              {{/if}}
              <td> <span style="text-decoration:none;color:#ccc;font:15px Arial,san-serif">&nbsp;|&nbsp;</span> </td>
              <td> <a href="{{ENV.URLS_WWW}}" style="text-decoration:none;color:rgb(0,102,153);font-family:Arial,san-serif" target="_blank"> <span class="il">ShoppRe</span>.com</a> </td>
            </tr>
            </tbody>
          </table> </td>
      </tr>
      <tr>
    {{#if PACKAGE_ITEMS_UPLOAD_PENDING}}
    <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
          <span style="font:20px Arial,san-serif">Package Just Arrived</span>
        </td>
    {{else if CUSTOMER_INPUT}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Please Input Package Values</span>
      </td>
    {{else if UPLOAD_INVOICE_REQUESTED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Please Upload Package Invoice</span>
      </td>
    {{else if READY_TO_SHIP}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Your Package Is Read To be Shipped</span>
      </td>
    {{else if DAMAGED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Your Package Is Damaged</span>
      </td>
    {{else if RETURN_REQUEST_FROM_CUSTOMER}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Customer Requested For Return Package</span>
      </td>
    {{else if RETURN_PICKUP_DONE}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Your Package Returned Is Completed</span>
      </td>
    {{else if SPLIT_PACKAGE}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Customer Requested For Split Package</span>
      </td>
    {{else if SPLIT_PACKAGE_PROCESSED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Your Package Split Is Completed</span>
      </td>
    {{else if DISCARDED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Your Package Discarded Is Completed</span>
      </td>
    {{else if DISCARD_REQUESTED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Customer Requested For Discard Package</span>
      </td>
    {{else if STANDARD_PHOTO_REQUEST}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Customer Requested For Standarded Photo</span>
      </td>
    {{else if ADVANCED_PHOTO_REQUEST}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Customer Requested For Advanced Photo</span>
      </td>
    {{else if PS_RETURN_REQUESTED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Personal Shopper Return Requested</span>
      </td>
    {{else if PS_REFUND_RECIEVED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Personal Shopper Refund Recieved</span>
      </td>
    {{else if PAYMENT_COMPLETED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Order Created Successfully</span>
      </td>
    {{else if ORDER_CANCELLED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Order Cancelled</span>
      </td>
    {{else if PRICE_CHANGED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Item(s) Have changed Price</span>
      </td>
    {{else if PAYMENT_FAILED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Payment Failed</span>
      </td>
    {{else if PAYMENT_CONFIRMED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Payment Received</span>
      </td>
    {{else if ORDER_PLACED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">We Have Successfully Placed Your Order</span>
      </td>
    {{else if OUT_OF_STOCK}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Item(s) Have Went Out of Stock</span>
      </td>
    {{else if REFUNDED_TO_WALLET}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Completed Refunding Your Payment via Wallet</span>
      </td>
    {{else if REFUNDED_TO_BANK_ACCOUNT}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Completed Refunding Your Payment via Bank Account</span>
      </td>
    {{else if ORDER_COMPLETED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Order Completed</span>
      </td>
    {{else if AWAITING_PACKAGE}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Awaiting Package</span>
      </td>
    {{else if PACKAGE_STORAGE}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">FREE storage is about to expire! Request to Ship soon!</span>
      </td>
    {{else if PACKAGE_STORAGE_EXCEEDED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">FREE storage has expired! Request to ship immediately!</span>
      </td>
    {{/if}}
      </tr>
      <tr>
        <td style="padding:0px 0px 5px 20px;text-align:right;width:120px">
          {{#if INCOMING}}
            <span style="font-size:12px"> Package ID: </span>
          {{else if PERSONAL_SHOPPER}}
            <span style="font-size:12px"> Order ID: </span>
          {{/if}}
          <span style="font-size:12px">
            {{#if PACKAGE_ITEMS_UPLOAD_PENDING}}
              <a
                href="{{ENV.URLS_PARCEL}}/packages?bucket=IN_REVIEW"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.id}}</a>
            {{else if CUSTOMER_INPUT}}
              <a
                href="{{ENV.URLS_PARCEL}}/packages?bucket=ACTION_REQUIRED"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.id}}</a>
            {{else if UPLOAD_INVOICE_REQUESTED}}
              <a
                href="{{ENV.URLS_PARCEL}}/packages?bucket=ACTION_REQUIRED"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.id}}</a>
            {{else if READY_TO_SHIP}}
              <a
                href="{{ENV.URLS_PARCEL}}/packages?bucket=READY_TO_SEND"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.id}}</a>
            {{else if DAMAGED}}
              <a
                href="{{ENV.URLS_PARCEL}}/packages?bucket=READY_TO_SEND"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.id}}</a>
            {{else if RETURN_REQUEST_FROM_CUSTOMER}}
              <a
                href="{{ENV.URLS_PARCEL}}/packages?bucket=IN_REVIEW"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.id}}</a>
            {{else if RETURN_PICKUP_DONE}}
              <a
                href="{{ENV.URLS_PARCEL}}/packages?bucket=ALL"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.id}}</a>
            {{else if SPLIT_PACKAGE}}
              <a
                href="{{ENV.URLS_PARCEL}}/packages?bucket=IN_REVIEW"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.id}}</a>
            {{else if SPLIT_PACKAGE_PROCESSED}}
              <a
                href="{{ENV.URLS_PARCEL}}/packages?bucket=ALL"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.id}}</a>
            {{else if DISCARDED}}
              <a
                href="{{ENV.URLS_PARCEL}}/packages?bucket=ALL"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.id}}</a>
            {{else if DISCARD_REQUESTED}}
              <a
                href="{{ENV.URLS_PARCEL}}/packages?bucket=IN_REVIEW"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.id}}</a>
            {{else if STANDARD_PHOTO_REQUEST}}
              <a
                href="{{ENV.URLS_PARCEL}}/packages?bucket=READY_TO_SEND"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.id}}</a>
            {{else if ADVANCED_PHOTO_REQUEST}}
              <a
                href="{{ENV.URLS_PARCEL}}/packages?bucket=READY_TO_SEND"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.id}}</a>
            {{else if PAYMENT_COMPLETED}}
              <a
                href="{{ENV.URLS_PARCEL}}/personalShopper/index"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.order_code}}</a>
            {{else if ORDER_CANCELLED}}
              <a
                href="{{ENV.URLS_PARCEL}}/personalShopper/index"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.order_code}}</a>
            {{else if PRICE_CHANGED}}
              <a
                href="{{ENV.URLS_PARCEL}}/personalShopper/index"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.order_code}}</a>
            {{else if PAYMENT_FAILED}}
              <a
                href="{{ENV.URLS_PARCEL}}/personalShopper/index"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.order_code}}</a>
            {{else if PAYMENT_CONFIRMED}}
              <a
                href="{{ENV.URLS_PARCEL}}/personalShopper/index"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.order_code}}</a>
            {{else if ORDER_PLACED}}
              <a
                href="{{ENV.URLS_PARCEL}}/personalShopper/index"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.order_code}}</a>
            {{else if OUT_OF_STOCK}}
              <a
                href="{{ENV.URLS_PARCEL}}/personalShopper/index"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.order_code}}</a>
            {{else if REFUNDED_TO_WALLET}}
              <a
                href="{{ENV.URLS_PARCEL}}/personalShopper/index"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.order_code}}</a>
            {{else if REFUNDED_TO_BANK_ACCOUNT}}
              <a
                href="{{ENV.URLS_PARCEL}}/personalShopper/index"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.order_code}}</a>
            {{else if ORDER_COMPLETED}}
              <a
                href="{{ENV.URLS_PARCEL}}/personalShopper/index"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.order_code}}</a>
            {{else if PACKAGE_STORAGE}}
              <a
                href="{{ENV.URLS_PARCEL}}/packages?bucket=READY_TO_SEND"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.id}}</a>
            {{else if PACKAGE_STORAGE_EXCEEDED}}
              <a
                href="{{ENV.URLS_PARCEL}}/packages?bucket=READY_TO_SEND"
                style="text-decoration:none;color:#006699" target="_blank" >{{pkg.id}}</a>
            {{/if}}
              <br> </span>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
