<tr>
  {{#if INCOMING}}
    <td colspan="2" style="width:640px"> <p style="font:18px Arial,sans-serif;color:#cc6600;border-bottom:1px solid #ccc;margin:10px 20px 3px 20px;padding:0 0 3px 0"> Package Contents </p> </td>
  {{/if}}
</tr>
<tr>
  {{#if INCOMING}}
    <td colspan="2" style="padding:16px 40px;width:640px">
      <table width="560" cellspacing="0" cellpadding="0">
        <tbody>
        {{#if packageItems}}
          {{#each packageItems}}
            <tr>
              <!--<td align="center" valign="top" style="width:150px;height:115px">-->
                <!--<a href="{{ENV.URLS_PARCEL}}/packages/{{pkg.id}}?packageItemId={{id}}"-->
                <!--style="margin:0 20px 0 0"-->
                <!--title="ItemImage"-->
                <!--target="_blank" >-->
                <!--<img width="150px" src="{{object}}">-->
                <!--</a>-->
              <!--</td>-->
              <td align="center" style="color:#666;padding:10px 10px 0 10px;width:410px;height:115px">
                <p style="margin:0 0 0 7px;padding:0">
                  <a href="{{ENV.URLS_PARCEL}}/packages/{{pkg.id}}?packageItemId={{id}}&otp={{otp}}"
                  style="font:14px Arial,sans-serif;text-decoration:none;color:#006699"
                  target="_blank" >
                  {{name}} -
                  Quantity: {{quantity}} Pcs<br>
                  Price Per Unit: ₹{{price_amount}}<br>
                  Total: ₹{{total_amount}}
                  Category: {{PackageItemCategory.name}}
                  </a>
                </p>Your profile details .


                <p> </p></td>
            </tr>
          {{/each}}
        {{else}}
          <tr>
            <!--<td align="center" valign="top" style="width:150px;height:115px">-->
              <!--<a href="{{ENV.URLS_PARCEL}}/packages?bucket=IN_REVIEW" style="margin:0 20px 0 0" title="ItemImage" target="_blank" >-->
                <!--<img src="https://www.activebarcode.com/images/pictos/barcode1d.png"> -->
              <!--</a> -->
            <!--</td>-->
            <td align="center" style="color:#666;padding:10px 10px 0 10px;width:410px;height:115px">
              <p style="margin:0 0 0 7px;padding:0">
                <a href="{{ENV.URLS_PARCEL}}/users/profile?otp={{otp}}" style="font:14px Arial,sans-serif;text-decoration:none;color:#006699" target="_blank" >
                  Shoppre Shipping Team processing your package...
                </a>
              </p>
              <p>
            </p>
          </td>
          </tr>
        {{/if}}
        </tbody>
      </table> </td>
  {{else if ORDER_ITEMS}}
     <tr>
     {{#if packageItems}}
         <td colspan="2" style="width:640px"> <p style="font:18px Arial,sans-serif;color:#cc6600;border-bottom:1px solid #ccc;margin:10px 20px 3px 20px;padding:0 0 3px 0"> Order Contents </p> </td>
     {{/if}}
     </tr>
     <tr>
     {{#if packageItems}}
       <td colspan="2" style="padding:16px 40px;width:640px;">
         <table border="1" style="border-collapse:collapse;border: 0;width:640px;">
            <tr>
              <th>Item Name</th>
              <th>URL</th>
              <th>Qty</th>
              <th>Each Price</th>
              <th>Total Price</th>
              <th>Status</th>
            </tr>
              {{#each packageItems}}
                <tr style="text-align: center">
                  <td>{{name}}</td>
                  <td>{{url}}</td>
                  <td>{{quantity}}</td>
                  <td>{{price_amount}}</td>
                  <td>{{total_amount}}</td>
                  <td>{{status}}</td>
                </tr>
              {{/each}}
         </table>
       </td>
     {{/if}}
     </tr>
  {{/if}}
</tr>
