{{#if PACKAGE_ITEMS_UPLOAD_PENDING}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p>
      <br><br>
      <p style="margin:4px 20px 18px 20px;width:640px">
      Great News!
      <br><br>
      Your package from {{pkg.Store.name}} has been dropped off at ShoppRe Warehouse.
      <br><br>

      Please be patient while your package is undergoing several quality checks & documentation to ensure it is not
      damaged and is meeting the export quality requirements. And, further details would be updated in your <a
      href="{{ENV.URLS_MEMBER}}/packages?bucket=IN_REVIEW">Dashboard</a> within 24 hours.
      <br>
      <br>
      Your package is shipped by <span class="il">{{pkg.Store.name}}</span> and the reference ID is {{pkg.invoice_code}}.
      <br>
      <br>

      </p> </td>
  </tr>
{{else if CUSTOMER_INPUT}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        We'd like to inform you that unfortunately the invoice of your package with Package ID:<span class="il">{{pkg.id}}</span>,
        that we've just received did not make the cost of the item(s) clear.
        <br>
        <br>
        Hence, we request you to update the same in your <a href="{{ENV.URLS_MEMBER}}/packages?bucket=ACTION_REQUIRED">Dashboard</a>;
        so that we can prepare to ship without any delay.
        <br>
        <br>
        1. Visit your <a href="{{ENV.URLS_MEMBER}}/packages?bucket=ACTION_REQUIRED">Action Required</a> tab
        <br>
        2. Enter the price you paid for the item(s) in the field provided
        <br>
        3. Select  <b>Submit Item Values</b>
        <br>
        <br>
        Note: You cannot make a Ship Request with us unless you provide the product cost(s).
        <br>
        You can also forward your invoice/attach the invoice of the purchase when you write to us.
      </p> </td>
  </tr>
{{else if INVOICE_REQUESTED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{actingUser.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Thank you for choosing us for your shipping needs!
        <br>
        It seems that we don't have the right invoice of your purchase.
        We'd need for you to upload the same on your Dashboard so that we can continue with processing your
        package ID: <nbsp><span class="il">{{pkg.id}}</span></nbsp> and getting it on it's way to you without any delay.
        <br>
        The steps are:
        <br>
        1. Visit the <a href="https://staging-member.shoppre.com/locker?bucket=ACTION_REQUIRED">Action Required</a> tab on your Dashboard
        2. Select “Upload Invoice”
        3. Choose the invoice from your computer & confirm
        <br>
        <br>
      </p> </td>
  </tr>
{{else if READY_TO_SHIP}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Dear {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
      We have some great news for you! Your package has reached our facility and safely been kept in your locker ever since.
        <br>
        <br>
        <b>Package details;</b>
        <br>
        <br>
        Package ID:<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
        Arrived From: <span class="il">{{pkg.Store.name}}</span>
        <br><br>
        Weight of the package (in kg):<span class="il">{{pkg.weight}}</span>
        <br><br>
        Quantity:<span class="il">{{pkg.total_quantity}}</span>
        <br><br>
        Received Date:<span class="il">{{pkg.created_at}}</span>
        <br><br>
        Cost of the Package:<span class="il">{{pkg.price_amount}}</span>
        <br>
        <br>
        Feel free to <a href="{{ENV.URLS_MEMBER}}/packages?bucket=READY_TO_SEND">Sign in </a>to your ShoppRe account & review/edit
        the product costs or  <a href="{{ENV.URLS_MEMBER}}/users/preferences">View the Photo</a> of your packages at a discounted rate of
        <strike>₹100</strike> ₹50, before making a request to ship.
      </p>
    </td>
  </tr>
{{else if DAMAGED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        We're afraid the package with id:<span class="il">{{pkg.id}}</span> you purchased from <span class="il">{{pkg.Store.name}}</span> has arrived at our facility with a damage.
        <br>
        <br>
        Go to your <a href="{{ENV.URLS_MEMBER}}/packages?bucket=IN_REVIEW">Dashboard</a> to let us know how to proceed. You can choose to Return or Discard the item.
        <br>
        Do reach out to us at <a href="mail:support@shoppre.com">support@shoppre.com</a> in case of any query.
        <br>
        <br>
        If you have any questions, <a href="{{ENV.URLS_WWW}}/faq">Visit our FAQ</a> page for further clarification.
      </p>
    </td>
  </tr>
{{else if RETURN_REQUEST_FROM_CUSTOMER}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{actingUser.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Customer requested for package return to sender. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if RETURN_PICKUP_DONE}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Great news!
        <br><br>
        As per your Return Request, your package with ID: <span class="il">{{pkg.id}}</span> has successfully been dispatched from the ShoppRe facility back to the Seller.
        <br><br>
        <b>Package Details;</b>
        <br><br>
        Arrived From: <span class="il">{{pkg.Store.name}}</span>
        <br><br>
        Arrived On: <span class="il">{{pkg.created_at}}</span>
        <br><br>
        <br><br>
        Returned to: if option A then <span class="il">{{pkg.Store.name}}</span> or else option B Address
        <br>
        <br>
      </p> </td>
  </tr>
{{else if SPLIT_PACKAGE}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi{{customer.first_name}},</p>
      <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        <br>
        Thank you for reaching out! We have received your request to split the package with ID:
        <span class="il">{{pkg.id}}</span>.
        The service fee incurred - Rs. 200 per each new package created - is updated in your
        <i>Package Level Charges</i>
        (which, you can see when you make the <b>Ship Request</b>).
        <br><br>
        If you have any further questions, <a href="https://www.shoppre.com/faq">Visit our FAQ</a> page or contact
        our Support.
        <br>
        <br>

      </p> </td>
  </tr>
{{else if SPLIT_PACKAGE_PROCESSED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        <br>
        This is to inform you that we have successfully split your package with ID: <span class="il">{{pkg.id}}</span>.
        <br>
        <br>
        The service fee incurred - Rs. 200 per each new package created - is updated in your <i>Package Level Charges</i>
        (which, you can see when you make the <b>Ship Request</b>).
        <br><br>
        If you have any further questions, <a href="https://www.shoppre.com/faq">Visit our FAQ</a> page or contact our Support.
        <br>
      </p> </td>
  </tr>
{{else if DISCARDED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        <br>
        Good News!
        <br><br>
        Your request to discard the package ID: <span class="il">{{pkg.id}}</span> has been fulfilled.
        <br><br>
        Hope you have a great time with us!
        <br>
        <br>
      </p> </td>
  </tr>
{{else if DISCARD_REQUESTED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Thank you for reaching out!
        <br><br>
        Your request to discard the package ID: <span class="il">{{pkg.id}}</span> has been received.
        <br><br>
        To make sure that you get the best of our services, we'd like you to confirm some details of your request;
        <br>
        1. Do you really intend to discard this package [ID]/item [Name] ?*
        <br><br>
        A. Yes
        <br>
        B. No
        <br><br>
        2. If Yes, may we know the reason for discarding it?
        [text field]
        <br><br>
        We're waiting to hear back from you!
        <br>
        After getting your response, we assure you we'll take the appropriate action within 24 hours.
        <br>
        <br>
      </p> </td>
  </tr>


{{else if ADVANCED_PHOTO_REQUEST}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        <br>
        We have received the request you made for advanced photos of your package with ID: <span class="il">{{pkg.id}}</span>.
        You'd be glad to know that your request is under progress and you can look forward for an update within 24 hours.
        <br><br>
        You'd be charged Rs.500 for this extra facility and it would be added to your final shipping cost rendered to us.
        <br><br>
        We'll keep you posted!
        <br>
        <br>
      </p> </td>
  </tr>
{{else if ADVANCED_PHOTO_PROCESSED}}
  <tr>
  <td colspan="2" style="width:640px">
    <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
  <p style="margin:4px 20px 18px 20px;width:640px">
    <br>
    As a response to your request for advanced photos of your Package ID: <span class="il">{{pkg.id}}</span>, the same has been uploaded in your Dashboard.
    <br><br>
    Click here to go view the photos now.
    <br><br>
    Please note, that an additional cost of Rs. 500 would be charged for availing this feature which, will be added to your final shipping costs.
    <br>
    <br>
  </p> </td>
  </tr>


{{else if PS_RETURN_REQUESTED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{actingUser.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Customer  Requested for Personal Shopper Return PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if PS_REFUND_RECIEVED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Your Personal Shopper Refund Recieved. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if ORDER_CREATED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{actingUser.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Customer Created Order. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if ORDER_CANCELLED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{actingUser.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Customer Cancelled Order. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if PAYMENT_INITIATED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Your Payment Intiated. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if PAYMENT_FAILED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Payment Failed Please try again, PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if PAYMENT_COMPLETED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Your Payment Completed. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if ORDER_PLACED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Your Order Placed Successfully. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if OUT_OF_STOCK}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Your Items Are Out-of-stock. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if REFUNDED_TO_WALLET}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Your Package Refund Added to Wallet. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if REFUNDED_TO_BANK_ACCOUNT}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Your Package Refund Added to Bank Account. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if AWAITING_PACKAGE}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        We Are awaiting for your Packages. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{/if}}
