{{#if PACKAGE_ITEMS_UPLOAD_PENDING}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p>
      <br><br>
      <p style="margin:4px 20px 18px 20px;width:640px">
      Great News!
      <br><br>
      Your package from {{pkg.Store.name}} has been dropped off at ShoppRe Warehouse.
      <br><br>
      Please be patient while your package is undergoing several quality checks & documentation to ensure it is not
      damaged and is meeting the export quality requirements. And, further details would be updated in your <a
      href="{{ENV.URLS_PARCEL}}/dashboard">Dashboard</a> within 24 hours.
      <br>
      <br>
      Your package is shipped by <span class="il">{{pkg.Store.name}}</span> and the reference ID is {{pkg.invoice_code}}.
      <br>
      <br>
      </p>
    </td>
  </tr>
{{else if CUSTOMER_INPUT}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        We'd like to inform you that unfortunately the invoice of your package with Package ID:<span class="il">{{pkg.id}}</span>,
        that we've just received did not make the cost of the item(s) clear.
        <br>
        <br>
        Hence, we request you to update the same in your <a href="{{ENV.URLS_PARCEL}}/dashboard">Dashboard</a>;
        so that we can prepare to ship without any delay.
        <br>
        <br>
        1. Visit your <a href="{{ENV.URLS_PARCEL}}/packages?bucket=ACTION_REQUIRED">Action Required</a> tab
        <br>
        2. Enter the price you paid for the item(s) in the field provided
        <br>
        3. Select  <b>Submit Item Values</b>
        <br>
        <br>
        Note: You cannot make a Ship Request with us unless you provide the product cost(s).
        <br>
        You can also forward your invoice/attach the invoice of the purchase when you write to us.
      </p> </td>
  </tr>
{{else if UPLOAD_INVOICE_REQUESTED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{actingUser.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Thank you for choosing us for your shipping needs!
        <br>
        It seems that we don't have the right invoice of your purchase.
        We'd need for you to upload the same on your Dashboard so that we can continue with processing your
        package ID: <nbsp><span class="il">{{pkg.id}}</span></nbsp> and getting it on it's way to you without any delay.
        <br>
        The steps are:
        <br>
        1. Visit the <a href="{{ENV.URLS_PARCEL}}/packages?bucket=ACTION_REQUIRED">Action Required</a> tab on your Dashboard
        2. Select “Upload Invoice”
        3. Choose the invoice from your computer & confirm
        <br>
        <br>
      </p> </td>
  </tr>
{{else if READY_TO_SHIP}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Dear {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
      We have some great news for you! Your package has reached our facility and safely been kept in your locker ever since.
        <br>
        <br>
        <b>Package details;</b>
        <br>
        <br>
        Package ID:<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
        Arrived From: <span class="il">{{pkg.Store.name}}</span>
        <br><br>
        Weight of the package (in kg):<span class="il">{{pkg.weight}}</span>
        <br><br>
        Quantity:<span class="il">{{pkg.total_quantity}}</span>
        <br><br>
        Received Date:<span class="il">{{pkg.created_at}}</span>
        <br><br>
        Cost of the Package:<span class="il">{{pkg.price_amount}}</span>
        <br>
        <br>
        Feel free to <a href="{{ENV.URLS_MYACCOUNT}}/login">Sign in </a>to your ShoppRe account & review/edit
        the product costs or  <a href="{{ENV.URLS_PARCEL}}/packages?bucket=READY_TO_SEND">View the Photo</a> of your packages at a discounted rate of
        <strike>₹100</strike> ₹50, before making a request to ship.
      </p>
    </td>
  </tr>
{{else if DAMAGED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        We're afraid the package with id:<span class="il">{{pkg.id}}</span> you purchased from <span class="il">{{pkg.Store.name}}</span> has arrived at our facility with a damage.
        <br>
        <br>
        Go to your <a href="{{ENV.URLS_PARCEL}}/dashboard">Dashboard</a> to let us know how to proceed. You can choose to Return or Discard the item.
        <br>
        Do reach out to us at <a href="mail:support@shoppre.com">support@shoppre.com</a> in case of any query.
        <br>
        <br>
        If you have any questions, <a href="{{ENV.URLS_WWW}}/faq">Visit our FAQ</a> page for further clarification.
      </p>
    </td>
  </tr>
{{else if RETURN_REQUEST_FROM_CUSTOMER}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{actingUser.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Customer requested for package return to sender. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if RETURN_PICKUP_DONE}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Great news!
        <br><br>
        As per your Return Request, your package with ID: <span class="il">{{pkg.id}}</span> has successfully been dispatched from the ShoppRe facility back to the Seller.
        <br><br>
        <b>Package Details;</b>
        <br><br>
        Arrived From: <span class="il">{{pkg.Store.name}}</span>
        <br><br>
        Arrived On: <span class="il">{{pkg.created_at}}</span>
        <br><br>
        <br><br>
        Returned to: if option A then <span class="il">{{pkg.Store.name}}</span> or else option B Address
        <br>
        <br>
      </p> </td>
  </tr>
{{else if SPLIT_PACKAGE}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p>
      <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        <br>
        Thank you for reaching out! We have received your request to split the package with ID:
        <span class="il">{{pkg.id}}</span>.
        The service fee incurred - Rs. 200 per each new package created - is updated in your
        <i>Package Level Charges</i>
        (which, you can see when you make the <b>Ship Request</b>).
        <br><br>
        If you have any further questions, <a href="{{ENV.URLS_WWW}}/faq">Visit our FAQ</a> page or contact
        our Support.
        <br>
        <br>

      </p> </td>
  </tr>
{{else if SPLIT_PACKAGE_PROCESSED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        <br>
        This is to inform you that we have successfully split your package with ID: <span class="il">{{pkg.id}}</span>.
        <br>
        <br>
        The service fee incurred - Rs. 200 per each new package created - is updated in your <i>Package Level Charges</i>
        (which, you can see when you make the <b>Ship Request</b>).
        <br><br>
        If you have any further questions, <a href="{{ENV.URLS_WWW}}/faq">Visit our FAQ</a> page or contact our Support.
        <br>
      </p>
    </td>
  </tr>
{{else if DISCARDED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        <br>
        Good News!
        <br><br>
        Your request to discard the package ID: <span class="il">{{pkg.id}}</span> has been fulfilled.
        <br><br>
        Hope you have a great time with us!
        <br>
        <br>
      </p>
    </td>
  </tr>
{{else if DISCARD_REQUESTED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Thank you for reaching out!
        <br><br>
        Your request to discard the package ID: <span class="il">{{pkg.id}}</span> has been received.
        <br><br>
        To make sure that you get the best of our services, we'd like you to confirm some details of your request;
        <br>
        1. Do you really intend to discard this package [ID: {{pkg.id}} from {{pkg.Store.name}}] ?*
        <br><br>
        A. Yes
        <br>
        B. No
        <br><br>
        2. If Yes, may we know the reason for discarding it?
        <br><br>
        We're waiting to hear back from you!
        <br>
        After getting your response, we assure you we'll take the appropriate action within 24 hours.
        <br>
        <br>
      </p> </td>
  </tr>


{{else if ADVANCED_PHOTO_REQUEST}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        <br>
        We have received the request you made for advanced photos of your package with ID: <span class="il">{{pkg.id}}</span>.
        You'd be glad to know that your request is under progress and you can look forward for an update within 24 hours.
        <br><br>
        You'd be charged Rs.500 for this extra facility and it would be added to your final shipping cost rendered to us.
        <br><br>
        We'll keep you posted!
        <br>
        <br>
      </p> </td>
  </tr>
<!--{{else if ADVANCED_PHOTO_PROCESSED}}-->
  <!--<tr>-->
  <!--<td colspan="2" style="width:640px">-->
    <!--<p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>-->
  <!--<p style="margin:4px 20px 18px 20px;width:640px">-->
    <!--<br>-->
    <!--As a response to your request for advanced photos of your Package ID: <span class="il">{{pkg.id}}</span>, the same has been uploaded in your Dashboard.-->
    <!--<br><br>-->
    <!--Click here to go view the photos now.-->
    <!--<br><br>-->
    <!--Please note, that an additional cost of Rs. 500 would be charged for availing this feature which, will be added to your final shipping costs.-->
    <!--<br>-->
    <!--<br>-->
  <!--</p> </td>-->
  <!--</tr>-->
{{else if PS_RETURN_REQUESTED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{actingUser.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Customer  Requested for Personal Shopper Return PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if PS_REFUND_RECIEVED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Your Personal Shopper Refund Recieved. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if PAYMENT_COMPLETED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
        <p style="margin:4px 20px 18px 20px;width:640px">
            We'd like to acknowledge that you've chosen to make payment for your Personal Shopper Order <span class="il">{{pkg.order_code}}</span> via
            <span class="il">{{paymentGateway.name}}</span>
            and your order is successfully created on <span class="il">{{pkg.Store.name}}</span>.
            <br><br>
            Appreciate you paying up so soon!.
        </p> </td>
  </tr>
{{else if ORDER_CANCELLED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        We regret to inform you that the order <span class="il">{{pkg.order_code}}</span> you placed with our Personal Shopper has been cancelled as per your request,
        A refund of Rs.<span class="il">{{pkg.sub_total}}</span> will be initiated in 48 hours to your bank account/wallet.
        <br><br>
        Please confirm the same on your ShoppRe <a href="{{ENV.URLS_PARCEL}}/dashboard">Dashboard</a>.
      </p> </td>
  </tr>
{{else if PRICE_CHANGED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        This is to inform you that the price of the item[s] in your order <span class="il">{{pkg.order_code}}</span> on <span class="il">{{pkg.Store.name}}</span> has been
        increased to Amount.<br><br>
        Since you have chosen to <span class="il">{{pkg.buy_if_price_changed}}</span> the item[s] when you placed the order in such a case; can we go ahead & proceed with <a href="{{ENV.URLS_PARCEL}}/personalShopper/index">shopping/cancelling</a> this item?
        <br><br>
        Please confirm as soon as you can to avoid any delays.
      </p> </td>
  </tr>
{{else if PAYMENT_FAILED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Unfortunately, your transaction attempt using your <span class="il">{{paymentGateway.name}}</span> to pay INR <span class="il">{{pkg.sub_total}}</span> for your Order ID <span class="il">{{pkg.order_code}}</span> has been failed.
        <br>
        You can either <a href="{{ENV.URLS_PARCEL}}/personalShopper/{{pkg.order_code}}/confirm">retry your payment</a> or <a href="{{ENV.URLS_PARCEL}}/personalShopper/{{pkg.order_code}}/confirm">try another payment method</a>.
        <br>
        In case if the amount has been deducted from your account, the same will be credited back within 7 working days.
        <br><br>
        Kindly contact us immediately in case you need help, to prevent any further delay.
      </p> </td>
  </tr>
{{else if PAYMENT_CONFIRMED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        This is to inform you that we've received your payment on Personal Shopper Order <span class="il">{{pkg.order_code}}</span> via <span class="il">{{paymentGateway.name}}</span>,
        and your order is being processed to the next step.
        <br><br>
        Appreciate you paying up so soon!
      </p> </td>
  </tr>
{{else if ORDER_PLACED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        We're so glad to inform you that your Personal Shopper Order <span class="il">{{pkg.order_code}}</span> has been successfully placed on <span class="il">{{pkg.Store.name}}</span>!
        <br><br>
        You can confirm & track the status of the same on your <a href="{{ENV.URLS_PARCEL}}/dashboard">Dashboard</a>.
      </p> </td>
  </tr>
{{else if OUT_OF_STOCK}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        We regret to inform you that the item(s) in your Personal Shopper Order <span class="il">{{pkg.order_code}}</span> went out of stock.
        <br><br>
        You can confirm the same on your <a href="{{ENV.URLS_PARCEL}}/dashboard">Dashboard</a> under Order Details.The cost of the item(s) will be excluded from the final bill you have to pay.
      </p> </td>
  </tr>
{{else if REFUNDED_TO_WALLET}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        We had initiated the refund on <span class="il">{{pkg.order_code}}</span> on <span class="il">{{pkg.updated_at}}</span>;
        and we found that the amount <span class="il">{{pkg.sub_total}}</span>
        has reflected in your Wallet just now.
        <br><br>
        You can go to <a href="{{ENV.URLS_PARCEL}}/dashboard">Dashboard</a> and confirm the same from your end.
      </p> </td>
  </tr>
{{else if REFUNDED_TO_BANK_ACCOUNT}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        We had initiated the refund on <span class="il">{{pkg.order_code}}</span> on <span class="il">{{pkg.updated_at}}</span>;
        and we found that the amount <span class="il">{{pkg.sub_total}}</span>
        has reflected in your Bank Account just now.
        <br><br>
        You can go online and confirm the same from your end.
      </p> </td>
  </tr>
{{else if AWAITING_PACKAGE}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        We Are awaiting for your Packages. PackageId is<span class="il">{{pkg.order_code}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if ORDER_COMPLETED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        We're glad to let you know that all the items on your the Personal Shopper Order <span class="il">{{pkg.order_code}}</span> have arrived
        here at our facility and are safe in your locker <span class="il">{{customer.virtual_address_code}}</span>.
        <br><br>
        You can go ahead, confirm the status and the order details & pay now to make a Ship Request.
      </p> </td>
  </tr>
{{else if PACKAGE_STORAGE}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        This is to inform you that your package <span class="il">{{pkg.id}}</span> has left only a few days of FREE storage at our facility.
        <br><br>
        You will be charged an additional fee of Rs.<span class="il">{{packageStorageExceededCharge}}</span>/- per day until the day you make a ship request and pay for the shipment, when it expires.
        <br><br>
        Hope you'd hurry up!
      </p> </td>
  </tr>
{{else if PACKAGE_STORAGE_EXCEEDED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hi {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        This is to inform you that your package <span class="il">{{pkg.id}}</span> has exceeded the <span class="il">{{packageStorageLimit}}</span> days of FREE storage period at our facility.
        <br><br>
        You will be charged an additional fee of Rs.<span class="il">{{packageStorageExceededCharge}}</span>/- per day until the day you make a ship request and pay for the shipment.
        <br><br>
        Hope you'd hurry up!
      </p>
    </td>
  </tr>
{{/if}}
