{{#if DISCARD_REQUESTED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{actingUser.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Customer requested for Discard package. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if SPLIT_PACKAGE}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{actingUser.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Customer requested for Split package. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if STANDARD_PHOTO_REQUEST}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{actingUser.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Customer requested for Standard Photos. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{else if ADVANCED_PHOTO_REQUEST}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{actingUser.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Customer requested for Advanced Photos. PackageId is<span class="il">{{pkg.id}}</span>.
        <br>
        <br>
      </p> </td>
  </tr>
{{/if}}
