.pull-left.wrapper-sm.no-padder-top.truncate(title='{{$ctrl.shipment.name}} - {{$ctrl.shipment.email}}' style='max-width:255px;')
    a(ui-sref='shipment.view({ id: $ctrl.shipment.id })')
      span.h4.text-info(ng-bind='$ctrl.shipment.Address.name')
.pull-left.wrapper-sm
  span.b-1x.b-r.b-l.b-ligth-dker
.pull-left.wrapper-sm.no-padder-top.ng-binding(
  title='Address: {{$ctrl.shipment.Address.city}} - {{$ctrl.shipment.Country.name}}')
  span.flag-icon.m-l-xs(
    ng-class='"flag-icon-"+ $ctrl.shipment.Country.iso2.toLowerCase()'
  )
  span.m-l-xs(ng-bind='$ctrl.shipment.Address.city + " - " + $ctrl.shipment.Country.iso3')
.pull-left.wrapper-sm.no-padder-top(title='Email')
  i.fa.fa-md.fa-at.text-light-dker
  span &nbsp;&nbsp;
  a(ng-href='mailto:{{$ctrl.shipment.Address.email}}')
    span.m-l-xs(ng-bind='$ctrl.shipment.Address.email')
.pull-left.wrapper-sm.no-padder-top(title='Mobile/Phone')
  i.fa.fa-phone
  a(ng-href='tel:{{$ctrl.shipment.Address.mobile}}')
    span.m-l-xs(ng-bind='$ctrl.shipment.Address.mobile')
uib-progressbar.w-full.bg-light.dker.progress-striped.active.m-t-xl(
  ng-init='max=20;elapsed=$ctrl.moment().diff($ctrl.moment($ctrl.shipment.Locker.allocated_at), "days")'
  ng-if='$ctrl.shipment.Locker'
  max='max'
  type='{{elapsed < max ? "success" : "danger"}}'
  value='elapsed'
  style='position: fixed; height: 5px; z-index: 100;'
  uib-tooltip='Storage Limit - {{elapsed}} Days'
  tooltip-placement='bottom'
  tooltip-append-to-body='true'
)

