.hbox#applicantNewdiv
  job-detail.bg-white-only.w-full.b-b(job="$ctrl.job" style='position: fixed;z-index: 6;height: 40px;')
  directive-header(
    viewdata="$ctrl"
    buttons="{buckets:true,internals:true,interviews:false,references:true,share:true,view:true,viewApplicants:true}"
    App="App"
  )
  .m-t-lg
  .wrapper-md.bg-light
    cvpipeline-warn(ng-if='$ctrl.job.job_status === "Open"' data='$ctrl.job')
    //- h1.m-n.font-thin.h3
    //- span Upload CV
    form.form.form-validation.form-horizontal.wrapper-md(name="uploadCVForm" novalidate ng-submit='$ctrl.create(null,uploadCVForm)')
      .row
        .col-md-12.col-sm-12.col-xs-12.no-padder
          // Form Block
          .col-md-6.col-sm-6.col-xs-12(ng-if='$ctrl.job.is_drive')
            label.col-xs-12.input-group
              | Interview Date
              span.text-danger *
              input.form.form-control(
                type='text'
                name='scheduled_on'
                placeholder='eg: 20-May-2017'
                datepicker-options='$ctrl.dateOptions'
                uib-datepicker-popup='dd-MMMM-yyyy'
                ng-model='$ctrl.data.scheduled_on'
                ng-change='$ctrl.setScheduledOn()'
                is-open='$ctrl.ui.scheduledOn'
                close-text='Close'
                ng-click='$ctrl.ui.scheduledOn = true'
                autofocus='$ctrl.job.is_drive'
                required
              )
          .col-md-7.col-sm-7.col-xs-7
            // Form Items
            .row
              .col-xs-6
                div.hbox
                  label.col
                    span Candidate Name
                    span.text-danger *
                    input.form.form-control(type='text' name="name" placeholder='eg. Candidate Name'
                    ng-model='$ctrl.data.name' q-text-maxlength="60"   q-pattern='[^a-zA-Z. ]*'
                    autofocus='{{!$ctrl.job.is_drive}}' required )
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && uploadCVForm.name.$dirty && uploadCVForm.name.$invalid') Please enter candidate name
            .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
            .row
              .col-md-6.col-sm-6.col-xs-12
                div.hbox
                  label.col
                    span Email Address
                    span.text-danger *
                    input.form.form-control(type='email' name="email_id" placeholder='eg. Email'
                    ng-model='$ctrl.data.email_id' q-text-maxlength="60"
                    q-applicant-job-unique='email~{{$ctrl.job.id}}~{{$ctrl.prescreen}}'
                    ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                    ucf-lowercase required)
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && uploadCVForm.email_id.$dirty && uploadCVForm.email_id.$invalid && !uploadCVForm.email_id.$error.unique') Please enter valid email address
                    span.wrapper-xs.text-xs.text-danger(ng-show='uploadCVForm.email_id.$error.unique') with this email, Someone already applied.
              .col-md-6.col-sm-6.col-xs-12
                div.hbox
                  label.col
                    | Mobile Number
                    span.text-danger *
                    input.form.form-control(
                    type='number'
                    name='number'
                    placeholder='eg. 10 Digit Mobile Number'
                    ng-model='$ctrl.data.number'
                    q-applicant-job-unique='number~{{$ctrl.job.id}}~{{$ctrl.prescreen}}~{{$ctrl.data.scheduled_on.toISOString()}}'
                    ng-pattern='/^[1-9]\\d{9}$/'
                    required
                    )
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && uploadCVForm.number.$dirty && uploadCVForm.number.$invalid && !uploadCVForm.number.$error.unique') Please enter valid mobile number
                    span.wrapper-xs.text-xs.text-danger(ng-show='uploadCVForm.number.$error.unique') with this number, Someone already applied.
            .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
            .row
              .col-md-6.col-sm-6.col-xs-12
                div.hbox
                  label.col
                    | Current Designation
                    span.text-danger *
                    input.form-control(type='text' name='designation_id' ng-model='$ctrl.Designations.model'
                    q-text-maxlength="60" placeholder='Designation'
                    uib-typeahead='designation for designation in $ctrl.Designations.get($viewValue)'
                    typeahead-loading='$ctrl.Designations.loadingDesignations'
                    typeahead-no-results='$ctrl.Designations.noResults'
                    typeahead-on-select='$ctrl.Designations.create($item)'
                    ng-blur="$ctrl.Designations.blur()"
                    typeahead-wait-ms="10" autocomplete="off"  ucf_sentence required)
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && uploadCVForm.designation_id.$dirty && uploadCVForm.designation_id.$invalid') Please select current designation
                    i.fa.fa-refresh.fa-spin(ng-show='$ctrl.Designations.loadingDesignations')

              .col-md-6.col-sm-6.col-xs-12
                div.hbox
                  label.col
                    | Current Employer
                    span.text-danger *
                    input.form-control(type='text' name="employer_id" ng-model='$ctrl.Employers.model' typeahead-focus-on-select="false"
                    q-text-maxlength="60" placeholder='Current Employer'
                    uib-typeahead='employer.name for employer in $ctrl.Employers.get($viewValue)'
                    typeahead-loading='$ctrl.Employers.loadingEmployers'
                    typeahead-no-results='$ctrl.Employers.noResults'
                    typeahead-on-select='$ctrl.Employers.select($item)'
                    ng-blur="$ctrl.Employers.blur()"
                    typeahead-wait-ms="10" autocomplete="off"  ucf_sentence required)
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && uploadCVForm.employer_id.$dirty && uploadCVForm.employer_id.$invalid') Please select current employer
                    i.fa.fa-refresh.fa-spin(ng-show='$ctrl.Employers.loadingEmployers')
            .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
            .row
              .col-md-6.col-xs-12
                div.hbox
                  label.col
                    | Current CTC(Lakh)
                    span.text-danger *
                    input.form.form-control(type='number' name="salary" placeholder='eg. 3.25'
                    ng-model='$ctrl.data.salary' q-float-maxlength="6" max="999" min="0" required)
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && uploadCVForm.salary.$dirty && uploadCVForm.salary.$invalid') Please enter current ctc
              .col-md-6.col-sm-6.col-xs-12
                div.hbox
                  label.col
                    | Expected CTC(Lakh)
                    span.text-danger *
                    input.form.form-control(type='number' name="expected_ctc" placeholder='eg. 5.62'
                    ng-model='$ctrl.data.expected_ctc' q-float-maxlength="6" max="999" min="0" required)
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && uploadCVForm.expected_ctc.$dirty && uploadCVForm.expected_ctc.$invalid') Please enter expected ctc
            .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
            .row
              .col-md-6.col-sm-6.col-xs-12
                div.hbox
                  label.col
                    | Notice Period(in Days)
                    span.text-danger *
                    input.form.form-control(type='number' name="notice_period" placeholder='eg. 90'
                    ng-model='$ctrl.data.notice_period' q-maxlength="3" max="365" min="0" required)
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && uploadCVForm.notice_period.$dirty && uploadCVForm.notice_period.$invalid') Please enter notice period
              .col-md-6.col-sm-6.col-xs-12
                div.hbox
                  label.col
                    div
                      span Candidate Total Experience
                      span.text-danger *
                      .hide {{ $ctrl.data.total_exp = ( $ctrl.data.total_exp_y - 0) + (($ctrl.data.total_exp_m? ($ctrl.data.total_exp_m / 100):0) -0)}}
                    input(type="hidden" ng-model="$ctrl.data.total_exp" required)
                    div(style="width:48%;display:inline-block")
                      input.form-control(type='text' name="total_exp_y" placeholder='Years'
                      ng-model='$ctrl.data.total_exp_y' q-maxlength="2" max="99" required)
                    div.pull-right(style="width:48%;display:inline-block")
                      input.form-control(type='number' name="total_exp_m" placeholder='Months'
                      ng-model='$ctrl.data.total_exp_m' q-maxlength="2" max="11" min="0" required)
            .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
            .row
              .col-md-6.col-sm-6.col-xs-12
                div.hbox
                  label.col
                    | Highest Qualification
                    span.text-danger *
                    input.form-control(type='text' name="degree_id" ng-model='$ctrl.Degrees.model' q-text-maxlength="60"
                    placeholder='Degree' uib-typeahead='degree for degree in $ctrl.Degrees.get($viewValue)'
                    typeahead-loading='$ctrl.Degrees.loadingDegrees'
                    typeahead-no-results='$ctrl.Degrees.noResults'
                    typeahead-on-select='$ctrl.Degrees.create($item)'
                    ng-blur="$ctrl.Degrees.blur()"
                    typeahead-wait-ms="10" autocomplete="off" ucf_sentence required)
                    i.fa.fa-refresh.fa-spin(ng-show='$ctrl.Degrees.loadingDegrees')
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && uploadCVForm.degree_id.$dirty && uploadCVForm.degree_id.$invalid') Please select highest degree
              .col-md-6.col-sm-6.col-xs-12
                div.hbox
                  label.col
                    | Current Location
                    span.text-danger *
                    input.form-control(type='text' name="region_id" ng-model='$ctrl.Regions.model'
                    q-text-maxlength="60" placeholder='Job Location'
                    uib-typeahead='region.name for region in $ctrl.Regions.get($viewValue)'
                    typeahead-loading='$ctrl.Regions.loadingRegions'
                    typeahead-no-results='$ctrl.Regions.noResults'
                    typeahead-on-select='$ctrl.Regions.select($item)'
                    q-pattern='[^a-zA-Z ]*' typeahead-wait-ms="10" autocomplete="off" ucf_sentence required)
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && uploadCVForm.region_id.$dirty && uploadCVForm.region_id.$invalid') Please select current location
                    i.fa.fa-refresh.fa-spin(ng-show='$ctrl.Regions.loadingRegions')
                    div(ng-show='$ctrl.Regions.noResults')
                      i.fa.fa-remove
                      |  No Results Found

            .line.line-dashed.b-b.line-lg.pull-in(ng-if='!$ctrl.job.is_drive' style='margin: 5px 0;')
            .row(ng-if='!$ctrl.job.is_drive')
              .col-md-12.col-sm-12.col-xs-12
                label.col-xs-12.input-group
                  span Summary of the candidate
                  .pull-right(ng-bind='"(" + ($ctrl.data.ApplicantSummary.content.length || 0) + "/300)"')
                  textarea#cv_summary.form-control(
                    name="cv_summary"
                    rows='5'
                    ng-model='$ctrl.data.ApplicantSummary.content'
                    maxlength='300'
                    ng-change='$ctrl.valdiateSummary(uploadCVForm)'
                  )
                  .text-danger(ng-if='uploadCVForm.cv_summary.$invalid')
                    | Above text contains unknown characters, please remove them to continue
            .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
            .row
              .col-md-12.col-sm-12.col-xs-12
                .hbox
                  label.col
                    | Select CV
                    span.text-danger *
                    .btn-file-wrapper(ng-class="uploadCVForm.file.$touched && uploadCVForm.file.$invalid ? 'input-file-danger':''" drag-drop-toggle)
                      .btn-file
                        span(ng-show="(uploadCVForm.file.$touched && uploadCVForm.file.$valid) || $ctrl.data.file")
                          span.text-muted(ng-bind="$ctrl.data.file.name")
                        p.no-margin(ng-hide="(uploadCVForm.file.$touched && uploadCVForm.file.$valid) || $ctrl.data.file")
                          span.text-bold Choose a file
                          |  or Drag it here.
                        span.file-support(ng-hide="(uploadCVForm.file.$touched && uploadCVForm.file.$valid) || $ctrl.data.file") Supported Formats: pdf, doc, docx, rtf, txt
                        input.form-control(ngf-select='' type="file" ng-model='$ctrl.data.file'
                        name='file' ngf-pattern="'.pdf,.doc,.docx,.rtf,.txt'"  ngf-max-size="5MB"
                        ngf-max-files="1"  onclick="this.value = null" )
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && !$ctrl.data.file && !uploadCVForm.file.$invalid') Please choose file
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && uploadCVForm.file.$invalid') Please choose supported file
             .row
               .col-md-8
                 .text-danger.font-bold(ng-if="uploadCVForm.salary.$error.max") Please check Current CTC
                 .text-danger.font-bold(ng-if="uploadCVForm.file.$error.maxSize") Please select file less than 5MB
               .col-md-6.col-xs-12
                 h4
                 button.btn.btn-success(type='submit' ng-disabled="$ctrl.submitting")
                   span.text-white(ng-if='!$ctrl.submitting') Upload CV
                   span(ng-if='$ctrl.submitting')
                     i.fa.fa-spin.fa-circle-o-notch
                     span.text-white &nbsp;&nbsp;Submitting...

          .col-md-5.cv-preview
            .header(ng-hide="uploadCVForm.$pristine") CV Preview
            ul
              li(ng-show="$ctrl.data.name")
                span.preview-head Candidate Name :
                .inline.font-bold(ng-bind="$ctrl.data.name")
              li(ng-show="$ctrl.data.email_id")
                span.preview-head Email :
                .inline.font-bold(ng-bind="$ctrl.data.email_id")
              li(ng-show="$ctrl.data.number")
                span.preview-head Mobile Number :
                .inline.font-bold(ng-bind="$ctrl.data.number")
              li(ng-show="$ctrl.Designations.model")
                span.preview-head Designation :
                .inline.font-bold(ng-bind="$ctrl.Designations.model")
              li(ng-show="$ctrl.Employers.model")
                span.preview-head Current Employer :
                .inline.font-bold(ng-bind="$ctrl.Employers.model")
              li(ng-show="$ctrl.data.salary")
                span.preview-head Current CTC :
                .inline.font-bold(ng-bind="($ctrl.data.salary-0)>1? $ctrl.data.salary+ ' Lakhs':$ctrl.data.salary+ ' Lakh'")
              li(ng-show="$ctrl.data.scheduled_on")
                span.preview-head Interview Date :
                .inline.font-bold(ng-bind="$ctrl.data.scheduled_on | date: 'dd-MMM-yyyy'")
              li(ng-show="$ctrl.data.expected_ctc")
                span.preview-head Expected CTC :
                .inline.font-bold(ng-class="($ctrl.data.expected_ctc <= $ctrl.job.max_sal )? 'text-success':'text-danger'" ng-bind="($ctrl.data.expected_ctc-0)>1? $ctrl.data.expected_ctc+ ' Lakhs':$ctrl.data.expected_ctc+ ' Lakh'")
              li(ng-show="$ctrl.data.notice_period")
                span.preview-head Notice Period :
                .inline.font-bold(ng-bind="$ctrl.data.notice_period + ' Days'")
              li(ng-show="$ctrl.data.total_exp_y || $ctrl.data.total_exp_m")
                span.preview-head Experience
                .inline.font-bold(ng-bind="$ctrl.data.total_exp_y +($ctrl.data.total_exp_y?' Year ':'') + ' '")
                .inline.font-bold &nbsp;
                .inline.font-bold(ng-bind=" $ctrl.data.total_exp_m + ($ctrl.data.total_exp_m?' Month ':'')")
                //span(ng-class="($ctrl.data.total_exp >= $ctrl.job.min_exp && $ctrl.data.total_exp <= $ctrl.job.max_exp )? 'text-success':'text-danger'" ng-bind="$ctrl.data.total_exp + ' Years '")
              li(ng-show="$ctrl.Degrees.model")
                span.preview-head Highest Qualification
                .inline.font-bold(ng-bind="$ctrl.Degrees.model")
              li(ng-show="$ctrl.Regions.model")
                span.preview-head Location
                .inline.font-bold(ng-bind="$ctrl.Regions.model")
              li(ng-show="$ctrl.data.file.name")
                span.preview-head CV File
                .inline.font-bold(ng-bind="$ctrl.data.file.name")

            .header.job-header(ng-show="$ctrl.job") Job Details
            ul.job-list
              li(ng-hide='$ctrl.job.is_omni && $ctrl.job.isMyVendor || !$ctrl.job.open_platform')
                span.preview-head Commission :
                .inline.font-bold(ng-if='$ctrl.job.clientPaymentDesignation.isFixed === 5') INR&nbsp;
                .inline.font-bold(ng-bind="$ctrl.job.clientPaymentDesignation.percent")
                .inline.font-bold(ng-if='$ctrl.job.clientPaymentDesignation.isFixed === 4') %
              li(ng-hide='$ctrl.job.is_omni && $ctrl.job.isMyVendor || !$ctrl.job.open_platform')
                span.preview-head Replacement Days:
                .inline.font-bold(ng-bind='$ctrl.job.clientPaymentDesignation.replacement_days + " Days"')
              li(ng-show="$ctrl.job.job_status")
                span.preview-head Job Status :
                .inline.font-bold(ng-bind="$ctrl.job.job_status")
              li(ng-show="$ctrl.job.role")
                span.preview-head Role :
                .inline.font-bold(ng-class="uploadCVForm.designation.$valid ? 'q-touched':''")
                  .inline.font-bold(ng-bind="$ctrl.job.role")
                  .inline.font-bold( ng-show="$ctrl.job.job_nature" ng-bind="' - ' + $ctrl.job.job_nature")
              li(ng-show="$ctrl.job.client_name")
                span.preview-head Company :
                .inline.font-bold(ng-bind="$ctrl.job.client_name")
              li(ng-show="$ctrl.job.job_location")
                span.preview-head Job Location :
                .inline.font-bold(ng-class="uploadCVForm.region.$valid ? 'q-touched':''" ng-bind="$ctrl.job.job_location")
              li(ng-show="$ctrl.job.vacancy")
                span.preview-head Vacancy :
                .inline.font-bold(ng-bind="$ctrl.job.vacancy")
              li(ng-show="$ctrl.job.min_sal || $ctrl.job.max_sal")
                span.preview-head Salary Range :
                .inline.font-bold(ng-class="uploadCVForm.expected_ctc.$valid ? 'q-touched':''")
                  .inline.font-bold(ng-bind="$ctrl.job.max_sal? ($ctrl.job.min_sal? $ctrl.job.min_sal :''): ($ctrl.job.min_sal? ('Min '+$ctrl.job.min_sal+ ' '):'')")
                  .inline.font-bold(ng-show="$ctrl.job.min_sal && $ctrl.job.max_sal") &nbsp;to&nbsp;
                  .inline.font-bold(ng-bind="$ctrl.job.min_sal?($ctrl.job.max_sal?( $ctrl.job.max_sal + ' Lakh'):''):($ctrl.job.max_sal?( 'Max ' +$ctrl.job.max_sal + ' Lakh'):'')")
              li(ng-show="$ctrl.job.min_exp || $ctrl.job.max_exp")
                span.preview-head Experience Range :
                .inline.font-bold(ng-class="uploadCVForm.total_exp_y.$valid ? 'q-touched':''")
                  .inline.font-bold(ng-bind="$ctrl.job.max_exp? ($ctrl.job.min_exp? $ctrl.job.min_exp :''): ($ctrl.job.min_exp? ('Min '+$ctrl.job.min_exp+ ' Years'):'')")
                  .inline.font-bold(ng-show="$ctrl.job.min_exp && $ctrl.job.max_exp") &nbsp;to&nbsp;
                  .inline.font-bold(ng-bind="$ctrl.job.min_exp?($ctrl.job.max_exp?( ' ' + $ctrl.job.max_exp + ' Years'):''):($ctrl.job.max_exp?( 'Max ' +$ctrl.job.max_exp + ' Years'):'')")
              li(ng-show="$ctrl.job.skills && $ctrl.job.skills.length")
                span.preview-head Skills :
                .inline.font-bold(ng-bind="$ctrl.job.skills.join(', ')")


    .clearfix

div(ng-show='$ctrl.submitting')
  span(ng-include="'app/routes/jobs/cv-uploading/cv-uploading.html'")
