.modal-header
  .modal-title
    .h4.text-info {{DownloadResume.offer.name}}
      span.font-bold.m-l-xs {{DownloadResume.offer.price}}
      .close(ng-click='DownloadResume.cancel()') ×
.modal-body
  p {{DownloadResume.offer.innerDescription}}
  form.form.form-validation.form-horizontal(
  name="newOfferForm"
  novalidate
  ng-submit='DownloadResume.submitSpecialoffer(newOfferForm)'
  autocomplete='off'
  )
      .radio(ng-if="DownloadResume.value === 'return'")
        label.i-checks
          input(type='radio', name='a', value='1', checked='', ng-model="DownloadResume.data.return_pickup")
          i
          | The sender will pick-up the package directly from Shoppre facility.
          | You shall pay them for the charges, if any.
      textarea.form-control(
      rows=4,
      ng-if="DownloadResume.value === 'return'",
      name='message1'
      ng-model="DownloadResume.data.message1"

      )
      span.wrapper-xs.text-xs.text-danger(ng-show='newOfferForm.message1.$dirty && newOfferForm.message1.$invalid') Please enter comments
      .radio(ng-if="DownloadResume.value === 'return'")
            label.i-checks
              input(type='radio', name='a', value='2', checked='', ng-model="DownloadResume.data.return_shoppre" )
              i
              | Shoppre has to return the package for you to the Sender.
              | You will be charged as per our Domestic Shipping Rates which will be notified to you via email.
      textarea.form-control(rows=4, ng-hide="DownloadResume.value === 'abandon'",  name="message2" ng-model="DownloadResume.data.message2" )
      span.wrapper-xs.text-xs.text-danger(ng-show='newOfferForm.message2.$dirty && newOfferForm.message2.$invalid') Please enter comments
      .checkbox(ng-hide="DownloadResume.value === 'abandon'" required)
            label.i-checks
              input(type='checkbox', value='' name='agree' ng-model="DownloadResume.data.agree" required)
              i
              | I understand that I will have to pay a fee of INR 400 for the return, which will appear in my Shoppre Wallet.
      span.wrapper-xs.text-xs.text-danger(ng-show='newOfferForm.agree.$dirty && newOfferForm.agree.$invalid') Please check
      .modal-footer.no-padder.m-t-xs.text-left.no-border
        a.btn.btn-warning.text-u-c(ng-click='DownloadResume.cancel()') Cancel Request
        button.btn.btn-success(type='submit' ng-disabled="DownloadResume.submitting")  Submit Request

