extends ../layout
block head
  title #{title}
  meta(name='description', content= '#{meta_description}')
  meta(name="keywords" content="#{meta_keywords}")

block content

    section.page_head
      .pagebanner
        img(src="#{s3BaseUrl}/img/banner1.jpg", width='100%')
        .banner-cap
          h2
            | How
            span.text-orange SHOPPRE
            |  works
    section.how_white
      .container
        .col-sm-8.col-sm-offset-2
          p
            | At
            span.text-orange Shoppre
            | , we are the experts at maximizing members’ savings. Shoppre premier package consolidation combines multiple packages into one, saving our members millions on international shipping charges.
    section.timeline
      .container
        .row
          .blox
            .col-md-6.col-sm-12
              .story-block.story-left
                .item_content
                  h3 join
                  strong
                    | Simply
                    a(href="#{URLS_MYACCOUNT}/register") SIGN UP FOR FREE
                    |  and receive your own Personal Locker with a Virtual Indian Shipping Address!
                  p
                    | Access thousands of Indian Online Stores and get your favorite products from India.
                  p Shoppre takes the worry of International Shipping out of you!
                .item_img(style='top: 19%;')
                  img(src="#{s3BaseUrl}/img/how1.png")
                span.story-arrow
                span.h-line
                span.line_bullet 1
          .blox
            .col-md-6.col-sm-12.col-sm-offset-6
              .story-block.story-right
                .item_content
                  h3 explore
                  strong
                    a(href="#{URLS_WWW}/stores") Browse
                    |  through Shoppre’s exhaustive list of Top Indian Online Stores to know where to shop your favorite product from!
                  p
                    | Savings Tip: Simply SIGN UP and get access to Shoppre's featured stores and special shipping discounts!
                .item_img
                  img(src="#{s3BaseUrl}/img/how2.png")
                span.story-arrow
                span.h-line
                span.line_bullet 2
          .blox
            .col-md-6.col-sm-12
              .story-block.story-left
                .item_content
                  h3 USE YOUR SHOPPRE ADDRESS
                  strong
                    | Shop your favorite product from ANY Indian Store, and at the time of check out, use your Shoppre address as your “Ship to Address”.
                  p
                    | Savings Tip: If you know the weight of your item, simply use the
                    a(href="#{URLS_WWW}/pricing") Shipping Calculator
                    |  to find out the Shipping cost to your country.
                .item_img
                  img(src="#{s3BaseUrl}/img/how3.png")
                span.story-arrow
                span.h-line
                span.line_bullet 3
          .blox
            .col-md-6.col-sm-12.col-sm-offset-6
              .story-block.story-right
                .item_content
                  h3 AVAIL BENEFITS
                  strong
                    | In case any shopping Portal doesn’t accept your International Credit Card, or in case of any difficulties to shop from Indian Stores, don’t worry!
                  p
                    | Our
                    a(href="#{URLS_MYACCOUNT}/personal-shopper") Personal Shopper
                    |  Service will purchase the items for you using our Indian Local Credit Card!
                .item_img
                  img(src="#{s3BaseUrl}/img/how4.png")
                span.story-arrow
                span.h-line
                span.line_bullet 4
          .blox
            .col-md-6.col-sm-12
              .story-block.story-left
                .item_content
                  h3 get notified
                  strong
                    | You will be notified via email as soon as your order is received at Shoppre’s facility. View, manage and ship all your packages from multiple stores on your Shoppre’s online account, 24/7.
                  ul
                    li We check the item condition and make sure it is not damaged.
                    li We weigh and take down the box dimensions.
                    li We Prepare any international documents needed to parcel forward the shipment.
                  p
                    | Savings Tip:
                    br
                    |                   - Let us know which packages to consolidate to ensure you get the biggest savings on shipping costs.
                    br
                    |                   - Request extra packaging material, fragile stickers and a variety of other
                    a(href="#{URLS_MYACCOUNT}/shipping-preferences") packing options
                    | .
                .item_img(style='top: 23%;')
                  img(src="#{s3BaseUrl}/img/how5.png")
                span.story-arrow
                span.h-line
                span.line_bullet 5
          .blox
            .col-md-6.col-sm-12.col-sm-offset-6
              .story-block.story-right
                .item_content
                  h3 receive and enjoy
                  strong
                    | Save up to 60-80% by our
                    a(href="#{URLS_WWW}/consolidationService") Consolidation, Repackaging and Storage Services!
                    |  Track your shipment as soon as your order is dispatched! Most Shoppre members worldwide receive their packages in just 2 to 5 days!
                  p
                    | Enjoy the special discounted rates that we get with our trusted courier partners like DHL, FedEx and more, thanks to our bulk volume of shipment.
                  p
                    | Savings Tip:
                    br
                    |                   We give you 20 days of FREE Storage! Simply wait until you have multiple packages in your suite and we will consolidate your packages into one shipment and save you up to 80%!
                .item_img.right(style='top: 23%;')
                  img(src="#{s3BaseUrl}/img/how6.png")
                span.story-arrow
                span.h-line
                span.line_bullet 6
    section.signup_free.violet-grade
      .container
        .row
          .col-md-12
            h3
              | So what are you waiting for? Shopp
              span.text-orange re
              | ! Open your big box of happiness today!
            p All you need is a membership to get your Indian Shipping Address immediately!
            a.btn.btn-shoppre(href="#{URLS_MYACCOUNT}/register") sign up for free
