div(style='position: relative;')
  .w-md.bg-white-only.b-b.b-r(style='position: fixed; z-index: 3;')
    .wrapper-xs
      div: buttonb.font-bold.btn.m-l-xs.text-white.btn-danger(
        ui-sref='jobs.suggestions'
        style='width: 220px'
        ng-class='{"text-gray bg-light": $ctrl.DISABLE_MANAGE}'
        ng-disabled='$ctrl.DISABLE_MANAGE'
      ) MANAGE JD(s)

      .wrapper-xs
        input.rounded.form-control.padder.text-no-glow(
          type='text'
          placeholder='Search Position'
          ng-model='$ctrl.params.q'
          ng-change='$ctrl.getList(true)'
          ng-model-options='{debounce: 600}'
        )

  .w-md.nav-job.bg-light.b-r.bg-white-only(style='top: 9.3em;' ng-class='{"m-t-xl": $ctrl.isAdmin}')
    .w-md(
      style='position: relative;  overflow-y: auto; overflow-x: hidden; height: 100%; width: 249px;'
      when-scrolled='$ctrl.getList()')
      .m-b-md: .m-t-sm(
        ng-repeat='(type, color) in {"qdirect":"text-info-dker","active":"text-info-dk","passive":"text-warning-dk","inactive":"text-danger"}')
        a: .m-l-xs(
          ng-class="{'{{color}}': !$ctrl.collapse[type], 'text-gray': $ctrl.collapse[type]}"
          ng-click='$ctrl.collapse[type] = !$ctrl.collapse[type]; !$ctrl.collapse["inactive"] && $ctrl.getList(false, true)'
        )
          i.fa.fa-plus-square(ng-if='$ctrl.collapse[type]')
          i.fa.fa-minus-square(ng-if='!$ctrl.collapse[type]')
          span.m-l-xs.text-u-c(ng-bind='type')
          span.pull-right.text-xs.text-gray.m-t-xs
        ul.m-t-xs.nav.w-md(uib-collapse='$ctrl.collapse[type]')
          li.text-center.text-muted(ng-if='!$ctrl.jobs[type].length') No jobs
          li.b-l.b-3x(
            ng-repeat='job in $ctrl.jobs[type]'
            ng-class='{"text-primary b-primary": job.id == $ctrl.$state.params.jobId}'
            ng-mouseenter='job.showtoactive = (type === "passive")'
            ng-mouseleave='job.showtoactive = false'
          )

            span.pointer.wrapper-xs.bg-light.fa-lg.text-dark-lt.pos-abt.m-t-md(
              ng-if='(job.active || type === "qdirect") && $ctrl.isAdmin'
              ng-click='$ctrl.JobSuggest.complete(job, $ctrl.refreshList, false)'
              style='right:25px;bottom:5px;z-index:3'
              uib-tooltip="Manage allocations"
              tooltip-placement='right'
              tooltip-append-to-body='true') ⚙
            span.pointer.wrapper-xs.bg-light.fa-lg.text-dark-lt.pos-abt.m-t-md(
              ng-if='(job.active && [1, 2].includes(job.job_status_id)) || ($ctrl.isAdmin && job.open_platform)'
              ng-click='$ctrl.JobSuggest.complete(job, $ctrl.refreshList)'
              style='right:5px;bottom:5px;z-index:3'
              uib-tooltip="Mark as complete"
              tooltip-placement='right'
              tooltip-append-to-body='true') ×

            span.pointer.wrapper-xs.bg-light.fa-lg.text-info-lt.pos-abt.m-t-md(
              ng-if='job.showtoactive && (type === "passive") && !job.active'
              ng-click='$ctrl.JobSuggest.activate(job, $ctrl.refreshList)'
              style='right:5px;bottom:5px;z-index:3'
              uib-tooltip="Set active"
              tooltip-placement='right'
              tooltip-append-to-body='true')
              i.fa.fa-check-circle


            //- error show for each failure on shift to active
            .bg-white(ng-if='job.error' style='padding-left:20px')
              span.text-sm.text-danger(ng-bind='job.error')

            a.text-ellipsis(
              ng-href='{{$ctrl.getLink(job.id)}}'
              style='padding:8px 10px 8px 20px'
              ng-class='{\
                "font-bold text-primary": job.id == $ctrl.$state.params.jobId,\
                "text-muted": job.id != $ctrl.$state.params.jobId}'
              uib-tooltip="{{job.tooltip}}"
              tooltip-placement='right'
              tooltip-append-to-body='true'
            )
              .text-sm(ng-if='job.qrex_client_name') {{job.qrex_client_name}} - {{job.client_name}}
              .text-sm(ng-if='!job.qrex_client_name' ng-bind='job.client_name')
              div.text-sm.text-ellipsis(ng-bind='job.role' style='width: 100%;float: left;')
              small.pull-right.bg-white.text-gray.pos-abt.m-t-n-md(
                ng-bind='job.consultant_score.toFixed(2)'
                style='right:5px;padding:0 2px')
