.wrapper(style='margin-left: 240px')
  .col-xs-12.padding-right-none
    .pull-right.m-t-n-xs
      form.dateCheck
        span.wrapper-xs.m-l-xs.m-r-xs.text-xs Date
        input.padder.text-left.r-2x.b-a.text-sm(
          readonly=''
          type='text'
          placeholder='Start'
          uib-datepicker-popup='dd-MMM-yyyy'
          ng-model='$ctrl.params.start_date'
          ng-change='$ctrl.refreshReport()'
          is-open='$ctrl.ui.start_date'
          close-text='Close'
          show-button-bar='false'
          ng-click='$ctrl.ui.start_date = true'
          datepicker-options='$ctrl.ui.dateOptions'
          style='width: 120px;cursor: text;height: 30px;'
        )
        span.wrapper-xs.m-l-xs.m-r-xs.text-xs to
        input.padder.text-left.r-2x.b-a.text-sm(
          readonly=''
          type='text'
          placeholder='End'
          uib-datepicker-popup='dd-MMM-yyyy'
          ng-model='$ctrl.params.end_date'
          ng-change='$ctrl.refreshReport()'
          is-open='$ctrl.ui.end_date'
          close-text='Close'
          show-button-bar='false'
          ng-click='$ctrl.ui.end_date = true'
          datepicker-options='$ctrl.ui.dateOptions'
          style='width: 120px;cursor: text;height: 30px;'
        )
        button.ng-hide.btn.btn-info(type='submit', ng-click='$ctrl.setParams();$ctrl.getProxy(true);') Search

    .pull-left.m-t-n-sm.m-l-n
      button.btn.btn-default.m-t-n-md(
        ng-click='$ctrl.refreshReport();$ctrl.ui.refresh = true;'
        ng-disabled='$ctrl.ui.refresh'
        uib-tooltip='Click to load latest statistics'
        tooltip-placement='bottom'
        tooltip-append-to-body='true'
      )
        span
          i.fa.fa-refresh.fa-lg(ng-class='{ "fa-spin": $ctrl.ui.refresh }')
      .inline.wrapper-xs
        .text-xs
          em Last updated on
        .text-xs
          em(ng-bind='$ctrl.ui.updatedOn | date: "dd-MMMM-yyyy HH:mm"')

  .col-md-12.m-t-sm.padding-right-none.padding-left-none
    .col-xs-12.b-a.bg-white-only.padder-v
      .pointer.circle-holder(ng-repeat='(key, value) in $ctrl.donuts' ng-click='$ctrl.selectedTile(key);$ctrl.selectedDonut = key;$ctrl.tabSelected = 0;' ng-class='{ "text-info shadow": $ctrl.selectedDonut === key }')
        .outer-circle(ng-class='{ "highlight": $ctrl.selectedDonut === key }')
          .inner-circle.text-center
            .inline.text-center.m-t-md(
              ng-bind='$ctrl.tiles[key].count'
              style='font-size: 35px;margin-top: 25px;'
              ng-if='!$ctrl.tiles[key].loading'
            )
            .inline.text-center.m-t-md.text-md(style='margin-top: 40px;' ng-if='$ctrl.tiles[key].loading')
              i.fa.fa-spin.fa-circle-o-notch
        .wrapper-sm.text-center
          i.fa.fa-file-text-o
          span.m-l-xs.title(ng-bind='value')

  .col-xs-8.padding-left-none.padding-right-none
    .bg-white-only.m-t(style='height: 610px;overflow-y: auto;')
      .wrapper-sm.text-primary.b-b
        i.fa.fa-file-text-o.m-r-xs
        span.h4(ng-bind='$ctrl.tableTitle')
      .wrapper-sm.inline.pointer(
        ng-repeat='tab in $ctrl.tabs'
        ng-click='$ctrl.selectedTile($ctrl.selectedTileId, tab.tabIdx);$ctrl.tabSelected = tab.tabIdx'
        ng-class='{ "b-b b-3x": $ctrl.tabSelected === $index }'
        style='border-color: #888;'
      )
        span.m-r-xs(ng-bind='tab.title')
        span (
        span(ng-bind='$ctrl.tiles[$ctrl.selectedTileId + $index].count')
        span )
      .table-responsive(style='overflow-y: auto')
        table.table.table-striped.table-hover
          tr
            td(ng-if='![0, 1].includes($ctrl.selectedTileId)'): b Applicant Name
            td(ng-if='![0, 1].includes($ctrl.selectedTileId)'): b Client Name
            td: b Position
            td(ng-show='$ctrl.isAdmin'): b Candidate owner
          tr
            td.wrapper-sm.text-center(colspan='3' ng-if='!$ctrl.tiles[$ctrl.selectedTileId + $ctrl.tabSelected].data.length && !$ctrl.ui.loading')
              span:i.fa.fa-ban.text-danger.m-r-sm
              span No data found
          tr(ng-if='$ctrl.ui.loading')
            td.wrapper-sm.text-center(colspan='3')
              a.btn.btn-default.active.text-muted.btn-sm
                span:i.fa.fa-refresh.fa-spin.m-r-sm
                span Loading...
          tr(ng-repeat='item in $ctrl.tiles[$ctrl.selectedTileId + $ctrl.tabSelected].data' ng-if='$index >= $ctrl.ui.head && $index < ($ctrl.ui.head + 9) && !$ctrl.ui.loading')
            td(ng-if='![0, 1].includes($ctrl.selectedTileId)')
              a.text-sm.text-primary(ng-bind='item.applicant_name' ui-sref='applicant.view({applicantId: item.appId})' target='_blank')
            td.text-sm(ng-bind='item.client_name' ng-if='![0, 1].includes($ctrl.selectedTileId)')
            td
              a.text-primary.text-sm(ng-bind='item.role' ui-sref='job.view({jobId: item.jobId || item.id})' target='_blank')
            td(ng-show='$ctrl.isAdmin')
              .text-sm(ng-bind='item.owner')

        table.table.pos-abt.m-n(style='bottom: 0;' ng-if='$ctrl.tiles[$ctrl.selectedTileId + $ctrl.tabSelected].data.length > 9')
          tr(ng-if='$ctrl.tiles[$ctrl.selectedTileId + $ctrl.tabSelected].data'): td.text-center.no-select(style='position:relative;z-index:33;' colspan='3')
            .text-center.no-padder
              button.btn.btn-default(
                ng-click='$ctrl.navigate(0, $ctrl.tiles[$ctrl.selectedTileId + $ctrl.tabSelected].data.length)'
                ng-disabled='$ctrl.ui.head === 0'
                style='border-radius: 50%;'): span:i.fa.fa-chevron-left.text-dark
              span.m-l-xs.m-r-xs |
              button.btn.btn-default(
                ng-click='$ctrl.navigate(1, $ctrl.tiles[$ctrl.selectedTileId + $ctrl.tabSelected].data.length)'
                ng-disabled='$ctrl.ui.head === ($ctrl.len - ($ctrl.len % 9))'
                style='border-radius: 50%;'
              )
                span:i.fa.fa-chevron-right.text-dark
              a.m-t-xs.text-primary(style='position: absolute;right: 15px;' ng-if='$ctrl.ui.head > 9' ng-click='$ctrl.navigate(null, $ctrl.tiles[$ctrl.selectedTileId + $ctrl.tabSelected].data.length)') Go to Top
  .col-xs-4.m-t.padding-right-none
    .wrapper.bg-white-only
      .m-b.m-r-sm CVs Uploaded
      .wrapper-md.text-center.m-t-md(ng-if='!$ctrl.tiles[1].cvs.data[0].length && !$ctrl.tiles[1].loading')
        span:i.fa.fa-bar-chart.text-danger.m-r-sm
        span No data found
      .wrapper-md.text-center(ng-if='$ctrl.tiles[1].loading')
        a.btn.btn-default.active.text-muted.btn-sm
          span:i.fa.fa-refresh.fa-spin.m-r-sm
          span Loading...
      canvas#cvs.chart.chart-bar(
      ng-if='!$ctrl.tiles[1].loading'
        chart-data='$ctrl.tiles[1].cvs.data'
        chart-labels='$ctrl.tiles[1].cvs.labels'
        chart-series='$ctrl.tiles[1].cvs.series'
        chart-colors='$ctrl.tiles[1].cvs.colors'
        chart-options='$ctrl.tiles[1].cvs.options'
      )
    .wrapper.bg-white-only.m-t-sm
      .m-b.m-r-sm Active JDs
      .wrapper-md.text-center.m-t-md(ng-if='!$ctrl.tiles[0].jds.data[0].length && !$ctrl.tiles[0].loading')
        span:i.fa.fa-bar-chart.text-danger.m-r-sm
        span No data found
      .wrapper-md.text-center(ng-if='$ctrl.tiles[0].loading')
        a.btn.btn-default.active.text-muted.btn-sm
          span:i.fa.fa-refresh.fa-spin.m-r-sm
          span Loading...
      canvas#jds.chart.chart-bar(
      ng-if='!$ctrl.tiles[0].loading'
        chart-data='$ctrl.tiles[0].jds.data'
        chart-labels='$ctrl.tiles[0].jds.labels'
        chart-series='$ctrl.tiles[0].jds.series'
        chart-colors='$ctrl.tiles[0].jds.colors'
        chart-options='$ctrl.tiles[0].jds.options'
      )
