div
  .hbox(style="position:relative")

    // - Primary Header
    .bg-white-only.w-full.b-b(style='position: fixed;z-index: 6;height: 40px;')
      .pull-left.wrapper-sm.no-padder-top
        span.h4.text-info
          i.fas.fa-tasks.m-r
          | SHIPPING PREFERENCES
    .bg-light

    // - Secondary Header
    .bg-light.b-b.padder.w-full.bg-white-only.m-t-xl(
    style='position:fixed;z-index: 6;height: 42px;'
    )
      //div.m-t-sm
      //  .h5
      //    | If you would like to alert us about any of your future incoming items that will be
      //    | arriving at your locker in our facility, you can provide the details now!
      //    span(ng-bind='" " + $ctrl.TITLE')

    // - Content Area
    .bg-light(style='min-height: 200px;')
      .m-t-xxl.m-b-lg(style='height: 1px;')
      .hbox
        .wrapper-md.bg-white-only.wrapper-parcel
          .col-md-12
            .row
              .col-md-12.col-sm-12.col-xs-12
                .clearfix
                  .row
                    .col-md-8
                      h5.font-bold.no-padder.no-margin-top.no-margin-bottom DEFAULT SHIPPING ADDRESS
                      a.text-info(ui-sref='users.address-create', ng-if='!$ctrl.userAddress')
                        br
                        p + Add A Shipping Address
                      .well.m-t-sm.m-l.bg-light.col-md-4.hover-wrap.no-margin-left(ng-class='dker', ng-if='$ctrl.userAddress')
                        .row
                          .wrapper-sm
                            .h4
                              span.h4.font-thin(ng-bind='($ctrl.userAddress.city ? $ctrl.userAddress.city.toUpperCase() : "") + " Address"')
                              span.flag-icon.m-l-xs(
                              ng-class='"flag-icon-"+ $ctrl.userAddress.Country.iso2.toLowerCase()'
                              )
                            strong(ng-bind='$ctrl.userAddress.first_name + " " + $ctrl.userAddress.last_name')

                            p
                              small.block(ng-bind='$ctrl.userAddress.line1')
                              small.block(ng-bind='$ctrl.userAddress.line2')
                              small.block(ng-bind='$ctrl.userAddress.city + ", " + $ctrl.userAddress.state')
                              small.block(ng-bind='$ctrl.userAddress.Country.name + " - " + $ctrl.userAddress.pincode')
                              small.block(
                              ng-if='$ctrl.userAddress.phone'
                              ng-bind='$ctrl.userAddress.phone'
                              )
                              span.label.pull-left.padding-5.m-t-xs.bg-primary DEFAULT SHIPPING ADDRESS
                      .line.line-dashed.b-b.m-t.m-b.pull-in

                  // Todo Need to show this code in next iteration
                  .row.hide
                    .col-md-8
                      h5.font-bold LOG IN OPTIONS
                      ul.list-group.list-group-lg.m-b-none.list-unstyled
                        li
                          .checkbox
                            label.i-checks
                              input(
                              ng-model='$ctrl.data.is_basic_photo'
                              type='checkbox',
                              )
                              i
                              | Always take standard photos of item at login
                            i.fa.fa-info-circle.m-l-xs(
                            uib-popover='We take upto 5 Basic photographs of all your items which you can view immediately for a cost of INR 100\n' +
                            '                    Charges may be lesser for Membership Partners, and Loyalty Members'
                            popover-trigger="'mouseenter'"
                            popover-placement='right'
                            popover-append-to-body='true'
                            )
                        li
                          .checkbox
                            label.i-checks
                              input(
                              ng-model='$ctrl.data.is_advanced_photo'
                              type='checkbox',
                              )
                              i
                              | Always take advanced photos of item at login
                            i.fa.fa-info-circle.m-l-xs(
                            uib-popover='You can also request upto 10 Additional Photos incase you want some more details or if you want to inspect if the items are not damaged for a cost of INR 500*. This might take upto a maximum period of 48 hours, and until then your package will be in review.\n' +
                            '                    Charges may be lesser for Membership Partners, and Loyalty Members Silver and above'
                            popover-trigger="'mouseenter'"
                            popover-placement='right'
                            popover-append-to-body='true'
                            )
                        li
                          .checkbox
                            label.i-checks
                              input(
                              ng-model='$ctrl.data.is_scan_document'
                              type='checkbox',
                              )
                              i
                              | Always scan all pages of my documents
                            i.fa.fa-info-circle.m-l-xs(
                            uib-popover='You can scan your documents (all/some pages of your document) for a charge of INR 40.00/day (Minimum INR 100) *Charges may be lesser for Membership Partners, and Loyalty Members (Silver and abov'
                            popover-trigger="'mouseenter'"
                            popover-placement='right'
                            popover-append-to-body='true'
                            )
                      .line.line-dashed.b-b.m-t.m-b.pull-in
                  .row
                    .col-md-8
                      h5.font-bold.no-margin-top PACKING OPTIONS
                      ul.list-group.list-group-lg.m-b-none.list-unstyled
                        li
                          .checkbox
                            label.i-checks
                              input(
                              ng-model='$ctrl.data.is_repacking'
                              type='checkbox',
                              )
                              i
                              | Discard shoe boxes
                            i.fa.fa-info-circle.m-l-xs(
                            uib-popover='We repack all the necessary items (items which arrive at our facility in big boxes) for FREE of cost (except Shoe Boxes which we do not discard). Discarding shoe boxes before your shipment is packed can help reduce the dimensional weight of your shipment in some cases. A charge of INR 100 per shipment will be incurred to discard shoe boxes)'
                            popover-trigger="'mouseenter'"
                            popover-placement='right'
                            popover-append-to-body='true'
                            )
                        li
                          .checkbox
                            label.i-checks
                              input(
                              ng-model='$ctrl.data.is_extra_packing'
                              type='checkbox',
                              )
                              i
                              | Add extra packing material
                            i.fa.fa-info-circle.m-l-xs(
                            uib-popover='Additional protective packaging will be added to every shipment at the cost of INR 500.*Charges may be lesser for Membership Partners, and Loyalty Members (Silver and above).'
                            popover-trigger="'mouseenter'"
                            popover-placement='right'
                            popover-append-to-body='true'
                            )
                        li
                          .checkbox
                            Label.i-checks
                              input(
                              ng-model='$ctrl.data.is_original_box'
                              type='checkbox',
                              )
                              i
                              | Ship in original shipping boxes
                            i.fa.fa-info-circle.m-l-xs(
                            uib-popover='We usually repack all the necessary items (items which arrive at our facility in big boxes) in order to reduce the dimensional weight for FREE of cost (except Shoe Boxes). You can choose this option to ship your packages in the original shipping boxes in which they were received.'
                            popover-trigger="'mouseenter'"
                            popover-placement='right'
                            popover-append-to-body='true'
                            )
                        li
                          .checkbox
                            label.i-checks
                              input(
                              ng-model='$ctrl.data.is_gift_wrap'
                              type='checkbox',
                              )
                              i
                              | Gift Wrap
                            i.fa.fa-info-circle.m-l-xs(
                            uib-popover='We can gift wrap your items at a cost of INR 100/- per package*. However, please note that the gift wrapped item will be placed in another box before it is being shipped and that box cannot be wrapped\n' +
                            'Charges may be lesser for Membership Partners, and Loyalty Members (Silver and above).'
                            popover-trigger="'mouseenter'"
                            popover-placement='right'
                            popover-append-to-body='true'
                            )
                        li
                          .checkbox
                            label.i-checks
                              input(
                              ng-model='$ctrl.data.is_gift_note'
                              name='is_gift_note'
                              type='checkbox',
                              )
                              i
                              | Gift Note
                            i.fa.fa-info-circle.m-l-xs(
                            uib-popover=' We can write a gift note and place it inside your package at a cost of INR 50/- per package *Charges may be lesser for Membership Partners, and Loyalty Members (Silver and above).'
                            popover-trigger="'mouseenter'"
                            popover-placement='right'
                            popover-append-to-body='true'
                            li
                            )
                          .form-group.no-margin-bottom
                            .col-lg-1.no-padder
                              input.form-control.p-l-xs(
                              type='text',
                              placeholder='in KG',
                              ng-model='$ctrl.data.max_weight',
                              name='max_weight',
                              )
                            label.col-lg-10.control-label.m-t-xs Max weight per box/Multi-piece shipment (MPS) 1 kilogram is about 2.2046 pounds
                              i.fa.fa-info-circle.m-l-xs(
                              uib-popover='Choose this option if you would like to restrict a Maximum weight of individual boxes in a shipment. Shoppre will split your shipment into multiple boxes not exceeding this box weight limit (whenever possible), at the same cost of splitting a package (INR 200 per new package created)*\n' +
                              'Please note that a shipment which weighs more than 30kg will be considered as a commercial shipment and will incur a custom clearance cost of INR 2500.\n' +
                              '*Charges may be lesser for Membership Partners, and Loyalty Members (Silver and above).'
                              popover-trigger="'mouseenter'"
                              popover-placement='right'
                              popover-append-to-body='true'
                              )
                          .clearfix
                      .line.line-dashed.b-b.m-t.m-b.pull-in
                  .row
                    .col-md-8
                      h5.font-bold.no-margin-bottom.no-margin-top PERFORMA INVOICE OPTIONS
                      ul.list-group.list-group-lg.m-b-none.list-unstyled
                        li
                          .form-group
                            label.col-lg-1.control-label.m-t-xs.no-padder Tax ID
                            .col-lg-3.no-padder-left
                              input.form-control(type='text', ng-model= '$ctrl.data.tax_id', name='tax_id')
                        .clearfix
                        li
                          .checkbox
                            label.i-checks
                              input(
                              ng-model='$ctrl.data.is_mark_personal_use'
                              type='checkbox',
                              )
                              i
                              | Mark items for "Personal Use Only"
                        li
                          .checkbox
                            label.i-checks
                              input(
                              ng-model='$ctrl.data.is_include_invoice'
                              type='checkbox',
                              )
                              i
                              | Please include a printed Proforma Invoice in my shipment
                      .line.line-dashed.b-b.m-t.m-b.pull-in

                  button.btn.btn-info(ng-click="$ctrl.updatePreference()")
                    span Save Changes
          .clearfix
