.wrapper(style='margin-left: 240px')
  .col-xs-12.padding-right-none.m-b-sm
    .pull-right.m-t-n-xs
      form.dateCheck
        span.wrapper-xs.m-l-xs.m-r-xs.text-xs Date
        input.padder.text-left.r-2x.b-a.text-sm(
          readonly=''
          type='text'
          placeholder='Start'
          uib-datepicker-popup='dd-MMM-yyyy'
          ng-model='$ctrl.params.start_date'
          ng-change='$ctrl.refreshReport()'
          is-open='$ctrl.ui.start_date'
          close-text='Close'
          show-button-bar='false'
          ng-click='$ctrl.ui.start_date = true'
          datepicker-options='$ctrl.ui.dateOptions'
          style='width: 120px;cursor: text;height: 30px;'
        )
        span.wrapper-xs.m-l-xs.m-r-xs.text-xs to
        input.padder.text-left.r-2x.b-a.text-sm(
          readonly=''
          type='text'
          placeholder='End'
          uib-datepicker-popup='dd-MMM-yyyy'
          ng-model='$ctrl.params.end_date'
          ng-change='$ctrl.refreshReport()'
          is-open='$ctrl.ui.end_date'
          close-text='Close'
          show-button-bar='false'
          ng-click='$ctrl.ui.end_date = true'
          datepicker-options='$ctrl.ui.dateOptions'
          style='width: 120px;cursor: text;height: 30px;'
        )
        button.ng-hide.btn.btn-info(type='submit', ng-click='$ctrl.setParams();$ctrl.getProxy(true);') Search

  .text-center
    iframe.w-full(ng-src='{{$ctrl.trustSrc($ctrl.link)}}', frameborder='0', height='600', allowtransparency='')
