div(style='position: relative;')
  .w-md.bg-white-only.b-b.b-r(style='position: fixed; z-index: 3;')
    .wrapper-xs
      div: buttonb.font-bold.btn.m-l-xs.text-white.btn-danger.hide(
        ui-sref='jobs.suggestions'
        style='width: 220px'
        ng-class='{"text-gray bg-light": $ctrl.DISABLE_MANAGE}'
        ng-disabled='$ctrl.DISABLE_MANAGE'
      ) Create Package
      .wrapper-xs
        .input-group.rounded
          .input-group-btn.dropdown(uib-dropdown='')
            button.btn.btn-default.dropdown-toggle(
              type='button',
              uib-dropdown-toggle=''
              aria-haspopup='true',
              aria-expanded='false'
            )
              span.fa.m-r-sm(
                class='fa-{{$ctrl.searchTypes[$ctrl.searchType].icon}}'
                ng-class='$ctrl.ui.loading ? "text-danger": ""'
              )
              span.caret
            ul.dropdown-menu(style="min-width:55px !important;")
              li(ng-if='$ctrl.searchType!==key' ng-repeat="(key, searchType) in $ctrl.searchTypes")
                a(ng-click='$ctrl.changeSearchType(key)')
                  span.fa.m-r-sm(ng-class='"fa-" + searchType.icon')
                  span(ng-bind='searchType.label')
          input.rounded.form-control.padder.text-no-glow(
            type='text'
            name='customerSearch'
            placeholder='🔎 Search'
            ng-model='$ctrl.params[$ctrl.searchType]'
            ng-change='$ctrl.search($ctrl.searchType)'
            ng-model-options='{debounce: 600}'
            autofocus="[$ctrl.state.current.name].includes('customer.package.create')"
          )
          i.fa.fa-times-circle.pointer(
            ng-if='$ctrl.params[$ctrl.searchType]'
            ng-click='$ctrl.params[$ctrl.searchType] = ""; $ctrl.search($ctrl.searchType)'
            style='position: absolute; right: 12px; z-index: 10; top: 10px; font-size: 16px;'
          )

  br
  br
  br
  br
  br
  br
  .w-md.nav-job.bg-light.b-r.bg-white-only(style='top: 7.3em;' ng-class='{"m-t-xl": $ctrl.isAdmin}')
    .w-md(
      style='position: relative;  overflow-y: auto; overflow-x: hidden; height: 100%; width: 249px;'
      when-scrolled='$ctrl.getList()'
    )
      //"orders":"text-warning-dk"
      .m-b-md: .m-t-sm(
        ng-repeat='(type, color) in {"shipments":"text-info-dker","packages":"text-info-dk","customers":"text-danger"}')
        a: .m-l-xs(
          ng-class="{'{{color}}': !$ctrl.collapse[type], 'text-gray': $ctrl.collapse[type]}"
          ng-click='$ctrl.collapse[type] = !$ctrl.collapse[type]; !$ctrl.collapse["inactive"] && $ctrl.getList(false, true)'
        )
          i.fa.fa-plus-square(ng-if='$ctrl.collapse[type]')
          i.fa.fa-minus-square(ng-if='!$ctrl.collapse[type]')
          span.m-l-xs.text-u-c(ng-bind='type')
          span.pull-right.text-xs.text-gray.m-t-xs
        ul.m-t-xs.nav.w-md(uib-collapse='$ctrl.collapse[type]')
          li.text-center.text-muted(ng-if='!$ctrl.customers[type].length') No Users
          li.b-l.b-3x(
            ng-repeat='customer in $ctrl.customers[type]'
            ng-class='{"text-primary b-primary": customer.id == $ctrl.$state.params.id}'
            ng-mouseenter='customer.showtoactive = (type === "passive")'
            ng-mouseleave='customer.showtoactive = false'
          )


            //- error show for each failure on shift to active
            .bg-white(ng-if='customer.error' style='padding-left:20px')
              span.text-sm.text-danger(ng-bind='customer.error')

            a.text-ellipsis(
              ng-href='{{$ctrl.getLink(customer.id, type)}}'
              style='padding:8px 10px 8px 20px'
              ng-class='{\
                "font-bold text-primary": customer.id == $ctrl.$state.params.id,\
                "text-muted": customer.id != $ctrl.$state.params.id}'
              uib-tooltip="{{customer.tooltip}}"
              tooltip-placement='right'
              tooltip-append-to-body='true'
            )
              .text-sm(ng-bind='customer.name')
              div.text-sm.text-ellipsis(ng-bind='customer.virtual_address_code' style='width: 100%;float: left;')
              small.pull-right.bg-white.text-gray.pos-abt.m-t-n-md(
                ng-bind='customer.rating'
                style='right:5px;padding:0 2px')
