.modal-header
  .modal-title
    .h4.text-info Create Category
      .close(ng-click='$ctrl.$uibModalInstance.dismiss("close")') ×
div.m-t-xl.no-margin
  .hbox
    .wrapper-md.bg-white-only
      form.form.form-validation.form-horizontal.wrapper-md(
      name="newCategoryForm"
      novalidate
      ng-submit='$ctrl.create()'
      autocomplete='off'
      )
        .col-md-12.col-sm-12.col-xs-12.no-padder
          .row
            label.col-xs-12.input-group
              | Enter New Category
              span.text-danger *
              input.form.form-control(
              type='text'
              name='name'
              placeholder='eg. Mobile'
              ng-model='$ctrl.PackageItemCategory.name'
              autofocus
              required
              )
              span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && newCategoryForm.name.$dirty && newCategoryForm.name.$invalid') Please Enter Category
          .modal-footer
            button.btn.btn-success(type='submit' ng-disabled="$ctrl.submitting")
              span.text-white(ng-if='!$ctrl.submitting') Save Category
              span(ng-if='$ctrl.submitting')
                i.fa.fa-spin.fa-circle-o-notch
                span.text-white &nbsp;&nbsp;Submitting...
