.modal-header(ng-init="flag=false")
  .modal-title
    .h4.text-info(ng-show="flag") Are you sure ?
      .close(ng-click='$ctrl.cancel()') ×
    .h4.text-info(ng-hide="flag") Upload "{{$ctrl.candidateName}}'s" CV for another Position
      .close(ng-click='$ctrl.cancel()') ×
.modal-body
  p.alert-danger(style='text-align: center;padding: 14px;' ng-if="$ctrl.errorMessage" ng-bind="$ctrl.errorMessage")
  div(ng-show="flag")
    h4
      span.font-bold.col-md-4 Candidate Name
      | : {{$ctrl.candidateName}}
    p
    h4
      span.font-bold.col-md-4 Client Name
      | : {{$ctrl.Clients.model}}
    p
    h4
      span.font-bold.col-md-4 Position
      | : {{$ctrl.Positions.model}}
    .btn.btn-primary.pull-right(ng-click='$ctrl.submitform()') Submit

  div(ng-hide="flag")
    form.form-horizontal(role='form' name="DuplicateForm" )
      .form-group
        label.col-sm-2.control-label  Client Name
        .col-sm-10
          input.form-control(type='text' required  placeholder='Client Name' ng-model='$ctrl.Clients.model'
            uib-typeahead='industry.name for industry in $ctrl.getClient($viewValue)'
            typeahead-loading='$ctrl.Clients.loadingClients'
            typeahead-no-results='$ctrl.Clients.noResults'
            typeahead-on-select='$ctrl.selectClient($item)')
      .form-group

        label.col-sm-2.control-label Position
        .col-sm-10
          input.form-control(type='text' placeholder='Job'
          typeahead-focus
          ng-model='$ctrl.Positions.model'
          uib-typeahead='industry.name for industry in $ctrl.getPosition($viewValue)'
          typeahead-loading='$ctrl.Positions.loadingClients'
          typeahead-no-results='$ctrl.Positions.noResults'
          typeahead-on-select='$ctrl.selectPosition($item,$model,$label,$event)' required
          )
    .btn.btn-primary.pull-right(ng-click='flag = true' ng-disabled="DuplicateForm.$invalid" ) Continue
  //
  .clearfix
