.hbox
  .bg-white-only.b-b.container(style="text-align: -webkit-center;")
    br
    table(style="border: 1px solid ;width:100%")
      tbody
        tr
          td(colspan='8' style="border: 1px;")
            br
            img(src='/assets/images/wordmark.png', style='height:60px')
        tr
          td(colspan='3' style="border: 1px solid;")
            p CONSIGNER
          td(colspan='2' style="border: 1px solid;")
            p.text-center Date
          td(colspan='1' style="border: 1px solid; width: 5%;")
          td(colspan='2' style="border: 1px solid;")
            p.text-center(ng-bind='$ctrl.moment().format("DD-MM-YYYY")')
        tr
          td(colspan='3' style="border: 1px solid;")
            p {{$ctrl.address.name}}
            p {{$ctrl.address.line1}}
            p {{$ctrl.address.line2}}
            p {{$ctrl.address.line3}}
            p Ph No {{$ctrl.address.phone}}
          td(colspan='2' style="border: 1px solid;")
          td(colspan='1' style="border: 1px solid;")
          td.text-center(colspan='2' style="border: 1px solid; vertical-align: bottom;")
            span
              input(
              style="text-align: center; border: 0px;"
              type='text'
              value='SHPR'
              )
        tr
          td(colspan='1' style="border: 1px solid; width: 15%;")
          td(colspan='1' style="border: 1px solid; width: 15%;")
          td(colspan='1' style="border: 1px solid; width: 15%;")
          td(colspan='1' style="border: 1px solid; width: 15%;")
            h1.blank
          td(colspan='1' style="border: 1px solid; width: 5%;")
          td(colspan='1' style="border: 1px solid; width: 5%;")
          td(colspan='1' style="border: 1px solid;width: 15%;")
          td(colspan='1' style="border: 1px solid;width: 15%;")
        tr
          td(colspan='3' style="border: 1px solid;")
            p {{$ctrl.shipments.Customer.first_name}} &nbsp;{{$ctrl.shipments.Customer.last_name}}
            p {{$ctrl.shipments.address}}
            p {{$ctrl.shipments.phone}}
          td.text-center(colspan='5' style="border: 1px solid; vertical-align: bottom;")
            span GST NO : 29AAGFI4861F1Z7
        tr
          td(colspan='2' style="border: 1px solid; width: 30%;")
            p CONSIGNEE
          td(colspan='1' style="border: 1px solid;")
          td(colspan='5' style="border: 1px solid;")
        tr
          td(colspan='1' style="border: 1px solid; width: 15%;")
            span AI
          td(colspan='2' style="border: 1px solid; width: 30%;")
          td(colspan='1' style="border: 1px solid; width: 15%;")
          td(colspan='1' style="border: 1px solid; width: 5%;")
          td(colspan='1' style="border: 1px solid; width: 5%;")
          td(colspan='1' style="border: 1px solid;width: 15%;")
          td(colspan='1' style="border: 1px solid;width: 15%;")
        tr
          td(colspan='1' style="border: 1px solid; width: 15%;")
          td(colspan='2' style="border: 1px solid; width: 30%;")
          td(colspan='2' style="border: 1px solid; width: 15%;")
            span Country of origin goods
          td(colspan='1' style="border: 1px solid; width: 5%;")
          td.text-center(colspan='2' style="border: 1px solid;width: 15%;")
            span Country of final Destination
        tr
          td(colspan='1' style="border: 1px solid; width: 15%;")
            span Vessel \ Flight No
          td(colspan='2' rowspan='2' style="border: 1px solid; width: 30%; vertical-align: bottom;")
            span Place of Receipt by Pre-carrie
          td.text-center(colspan='2' style="border: 1px solid; width: 15%;")
            span INDIA
          td(colspan='1' style="border: 1px solid; width: 5%;")
          td.text-uppercase.text-center(colspan='2' style="border: 1px solid;width: 15%;")
            span {{$ctrl.shipments.Country.name}}
        tr
          td(colspan='1' style="border: 1px solid; width: 15%;")
            h1.blank
          td.text-center(colspan='5' rowspan='3' style="border: 1px solid; vertical-align: bottom;")
            span
              input(
              style="text-align: center; border: 0px;"
              type='text'
              value='Personal use'
              )
        tr
          td(colspan='1' style="border: 1px solid; width: 15%;")
          td(colspan='2' style="border: 1px solid; width: 30%;")
            span Port of Loading
        tr
          td(colspan='1' style="border: 1px solid; width: 15%;")
          td.text-center(colspan='2' style="border: 1px solid; width: 30%;")
            span final Destination
        tr
          td(colspan='1' style="border: 1px solid; width: 15%;")
          td.text-uppercase.text-center(colspan='2' style="border: 1px solid; width: 30%;")
            span {{$ctrl.shipments.Country.name}}
          td(colspan='5' style="border: 1px solid;")
            span
              input(
              style="text-align: center; border: 0px; width: 100%;"
              type='text'
              )
        tr
          td(colspan='1' style="border: 1px solid; width: 15%;")
          td(colspan='1' style="border: 1px solid; width: 15%;")
            p Sl No.
          td(colspan='3' style="border: 1px solid;")
            p DISCRIPTION OF GOODS
          td(colspan='1' style="border: 1px solid; width: 5%;")
            p.text-center Total Qty
          td(colspan='1' style="border: 1px solid;width: 15%;")
            p.text-center Per Qty
          td(colspan='1' style="border: 1px solid;width: 15%;")
            p.text-center Value in INR
        tr(ng-repeat="item in $ctrl.PackItems")
          td(colspan='1' style="border: 1px solid; width: 15%;")
          td.text-center(colspan='1' style="border: 1px solid; width: 15%;")
            span {{$index+1}}
          td(colspan='3' style="border: 1px solid;")
            span(ng-if="$ctrl.type === 'category'")
              input(
              style="text-align: center; border: 0px;"
              type='text'
              ng-model='item.PackageItemCategory.name'
              )
            span(ng-if="$ctrl.type === 'item'")
              input(
              style="text-align: center; border: 0px;"
              type='text'
              ng-model='item.name'
              )
          td.text-center(colspan='1' style="border: 1px solid; width: 5%;")
            span {{item.quantity}}
          td(colspan='1' style="border: 1px solid;width: 15%;")
            span
              input(
              style="text-align: center; border: 0px;"
              type='text'
              ng-model='item.price_amount'
              )
          td(colspan='1' style="border: 1px solid;width: 15%;")
            span
              input(
              style="text-align: center; border: 0px;"
              type='text'
              ng-model='item.total_amount'
              )
        tr
          td(colspan='1' style="border: 1px solid; width: 15%;")
          td(colspan='1' style="border: 1px solid; width: 15%;")
          td(colspan='3' style="border: 1px solid;")
          td(colspan='1' style="border: 1px solid; width: 5%;")
          td(colspan='1' style="border: 1px solid;width: 15%;")
          td(colspan='1' style="border: 1px solid;width: 15%;")
            span
              input(
              style="text-align: center; border: 0px;"
              type='text'
              ng-model='$ctrl.Charges.total_amount'
              )
        tr
          td(colspan='4' style="border: 1px solid; width: 60%;")
            span
              | Amount in words :
              input(
              style="text-align: center; border: 0px; width: 100%;"
              type='text'
              ng-model='$ctrl.amountWords'
              )
          td.text-center(colspan='4' rowspan='4' style="border: 1px solid; width: 40%; vertical-align: bottom;")
            span Seal & singnature
        tr
          td(colspan='4' style="border: 1px solid; width: 60%;")
            h1.blank
        tr
          td(colspan='4' style="border: 1px solid; width: 60%;")
            span We declaration that invoice show the actual price of goods
        tr
          td(colspan='4' style="border: 1px solid; width: 60%;")
            span described and that all particulars are true & correct
        tr
          td.text-center.font-bold(colspan='3')
            p  #181 2nd cross Rd, Koramangala 1st Block
            p  Bengaluru - 560034
          td.font-bold(colspan='1')
            p serviceteam@shoppre.com
            p Tel : +91 8040944077
          td.text-info(colspan='4')
            p.text-center Shoppre.com
    br



