<tr>
  <td valign="top" style="padding:20px 0px 10px 20px;width:100px;border-collapse:collapse" id="m_-9202880356489529693topNav"> <a href="https://www.shoppre.in/gp/r.html?C=271LVDSQZTACD&amp;K=A3W282SE7PFLBQ&amp;R=J3TZIAJ2CHBF&amp;T=C&amp;U=https%3A%2F%2Fwww.shoppre.in%2Fref%3Dpe_1909141_77686011_tnp_emailg_i&amp;A=KYP6DY4B9WUSBZJ5I8BKYIYPH6CA&amp;H=GYYOWA9ATELXBEIAAFPVRNRAQL0A&amp;ref_=pe_1909141_77686011_tnp_emailg_i" title="Visit Shoppre.in" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.shoppre.in/gp/r.html?C%3D271LVDSQZTACD%26K%3DA3W282SE7PFLBQ%26R%3DJ3TZIAJ2CHBF%26T%3DC%26U%3Dhttps%253A%252F%252Fwww.shoppre.in%252Fref%253Dpe_1909141_77686011_tnp_emailg_i%26A%3DKYP6DY4B9WUSBZJ5I8BKYIYPH6CA%26H%3DGYYOWA9ATELXBEIAAFPVRNRAQL0A%26ref_%3Dpe_1909141_77686011_tnp_emailg_i&amp;source=gmail&amp;ust=1529168504886000&amp;usg=AFQjCNGkxMP-NjPmJ5s6z64okm20uaddoA">
    <img
      alt="Shoppre" border="0" height="31" id="m_-9202880356489529693shoppreLogo"
      src="https://myaccount.shoppre.com/img/logo.png"
      style="font-size:11px" width="108" class="CToWUd"></a>
  </td>
  <td style="text-align:right;padding:0px 20px">
    <table cellspacing="0" style="font:12px/16px Arial,sans-serif;color:rgb(51,51,51);margin:0 auto;border-collapse:collapse" id="m_-9202880356489529693marketingContent" cellpadding="0">
      <tbody>
      <tr>
        <td style="border-bottom:1px solid rgb(204,204,204);width:490px" class="m_-9202880356489529693topHeaderLinks">
          <table align="right" style="font:12px/16px Arial,sans-serif;color:rgb(51,51,51)">
            <tbody>
            <tr style="padding:5px 0px 5px 0px;white-space:nowrap;border-collapse:collapse;text-align:right;width:490px">
              <td> <a href="{{ENV.URLS_PARCEL}}/shipRequests" style="text-decoration:none;color:rgb(0,102,153);font-family:Arial,san-serif" target="_blank">Your Shipment</a> </td>
              <td> <span style="text-decoration:none;color:#ccc;font:15px Arial,san-serif">&nbsp;|&nbsp;</span> </td>
              <td> <a href="{{ENV.URLS_WWW}}" style="text-decoration:none;color:rgb(0,102,153);font-family:Arial,san-serif" target="_blank"> <span class="il">ShoppRe</span>.com</a> </td>
            </tr>
            </tbody>
          </table> </td>
      </tr>
      <tr>
    {{#if PACKAGING_REQUESTED}}
    <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
          <span style="font:20px Arial,san-serif">Packaging Requested</span>
        </td>
    {{else if INVOICE_REQUESTED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Invoice Requested</span>
      </td>
    {{else if PAYMENT_REQUESTED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Payment Requested</span>
      </td>
    {{else if PAYMENT_INITIATED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Payment Initiated</span>
      </td>
    {{else if PAYMENT_COMPLETED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Payment Completed</span>
      </td>
    {{else if PAYMENT_FAILED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Payment Failed</span>
      </td>
    {{else if PAYMENT_CONFIRMED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Payment Confirmed</span>
      </td>
    {{else if UPSTREAM_SHIPMENT_REQUEST_CREATED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Upstream Shipment Request Created</span>
      </td>
    {{else if SHIPMENT_HANDED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Shipment Handed</span>
      </td>
    {{else if SHIPMENT_IN_TRANSIT}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Shipment In Transit</span>
      </td>
    {{else if SHIPMENT_MANUAL_FOLLOW_UP}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Shipment Manual Follow Up</span>
      </td>
    {{else if SHIPMENT_LOST}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Shipment Lost</span>
      </td>
    {{else if CUSTOM_ON_HOLD}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Custom on Hold</span>
      </td>
    {{else if WRONG_ADDRESS}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Wrong Address</span>
      </td>
    {{else if SHIPMENT_REJECTED_BY_CUSTOMER}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Shipment Rejected By Customer</span>
      </td>
    {{else if RTO_REQUESTED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">RTO Requested</span>
      </td>
    {{else if RAISE_SHIPMENT_LOST_CLAIM}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Raise Shipment Lost Claim</span>
      </td>
    {{else if PENALTY_PAYMENT_REQUESTED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Penalty Payment Requested</span>
      </td>
    {{else if RETURN_TO_ORIGIN}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Return to Origin</span>
      </td>
    {{else if AMOUNT_RECEIVED_FROM_UPSTREAM}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Amount Received from Upstream</span>
      </td>
    {{else if PENALTY_PAYMENT_DONE}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Penalty Payment Done</span>
      </td>
    {{else if WRONG_ADDRESS_FOLLOW_UP}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Wrong Address Follow Up</span>
      </td>
    {{else if CLAIM_PROCESSED_TO_CUSTOMER}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Claim Processed to Customer</span>
      </td>
    {{else if CUSTOMER_ACKNOWLEDGEMENT_RECEIVED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Customer Acknowledgement Received</span>
      </td>
    {{else if SHIPMENT_DELIVERED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Shipment Delivered</span>
      </td>
    {{else if SHIPMENT_CANCELLED}}
      <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
        <span style="font:20px Arial,san-serif">Shipment Cancelled</span>
      </td>
    {{/if}}
      </tr>
      <tr>
        <td style="padding:0px 0px 5px 20px;text-align:right;width:120px">
          <span style="font-size:12px"> Shipment ID: </span> <span style="font-size:12px">
              <a
                href="{{ENV.URLS_PARCEL}}/shipRequests"
                style="text-decoration:none;color:#006699" target="_blank" >{{shipment.id}}</a>
              <br> </span>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
