extends ../layout
block content
  head
    title '#{title}'
    meta(name='description', content= '#{meta_description}')
    meta(property='og:title', content='#{meta_title}')
    // Owl Carousel
    link(rel='stylesheet', href="/app/css/owl.carousel.min.css")
    // Magnific Popup
    link(rel='stylesheet', href='/app/css/magnific-popup.css')

  .body
    section.page_head
      .pagebanner
        img(src="cdn/img/banner2.jpg", width='100%')
        .banner-cap
          h2
            | Shoppre delivers to
            span.text-orange 220+
          h2
            span.text-orange countries
            |  around the globe!
    section.select_cguide
      .container
        .col-md-8.col-md-offset-2
          h3 Find helpful information specific to your country, including :
          ul.infoitems
            li Shipping costs
            li Duties and taxes
            li Restricted & prohibited items
            li Current exchange rates
            li Typical transit times
            li Country alerts
          .clearfix
          form#country_select
            select#select_iso.form-control.select2(name='country')
              option(value='') Select Country
                each country in countries
                  option(value='#{country.slug}') #{country.name}
    section.signup_free.violet-grade
      .container
        .row
          .col-md-12
            h3
              | So what are you waiting for? Shopp
              span.text-orange re
              | ! Open your big box of happiness today!
            p Simply login to get your Personal Indian Shipping Address immediately!
            a.btn.btn-shoppre(href="{{route('customer.register')}}") sign up for free

    //script(src="cdn/js/select2.min.js")
    block script
    script(src="/cdn/js/jquery.min.js")
    script(type='text/javascript').
      $(document).ready(function () {
        $(".select2").select2();
      });
      $("#select_iso").change(function () {
        if ($(this).val().length != 0) {
          window.location = "/country-guide/" + $(this).val();
        }
      });
