div
.col-md-12.col-xs12
  //span.f-s-20.f-c-d-greay Dashboard
  br
  i.fas.fa-home-lg.f-c-d-greay  /Home

//.col-md-12(style='margin-bottom: 20px ')
//  .col-md-12.div-b-w-s(style='padding:20px;')
//    img(src='/assets/images/close.png', style='float: right;')
//    p.f-s-12.f-c-l-gray
//      span.f-c-blue Earn 5 Loyalty Points
//      | by Answering Simple Question.
//    hr
//    p(f-s-20='', f-c-d-greay='') Are you able to understand our services and pricing?
//    button.btn.btn-yes Yes
//    button.btn.btn-no(style='margin-left:20px') No

.mobile-verification-popup.col-md-12.col-sm-12.col-xs-12(ng-if='!$ctrl.verifyPhone')
  .whitebox
    br
    br
    h3 Verify Your mobile number
    p To continue to your profile
    form.mobileform(style='width: 80%' name="newPhoneForm" ng-submit='$ctrl.updatePhoneNumber(newPhoneForm)')
      .row
        .col-md-12.col-sm-12.col-xs-12
          label.col-xs-12.input-group
            | Phone / Mobile Number
            span.text-danger *
      .row
        .col-md-12.col-sm-12.col-xs-12
          input#tel.form-control(type='tel', name='phone', ng-model='$ctrl.data.phone', ng-intl-tel-input='' required)
          span.help-block.text-danger(ng-show='newPhoneForm.phone.$pristine && newPhoneForm.phone.$touched') Please type a telephone number
          span.help-block.text-danger(ng-show='newPhoneForm.phone.$invalid && newPhoneForm.phone.$touched') Invalid :(
          span.help-block.text-success(ng-show='newPhoneForm.phone.$valid && newPhoneForm.phone.$touched') Valid :)
      .row
        .col-md-12.col-sm-12.col-xs-12
          h4(ng-bind="$ctrl.error.message" style="color:red;")
          button.btn.btn-success(type='submit' ng-disabled="$ctrl.submitting")
            span.fa.fa-forward.m-r-sm
            span.text-white(ng-if='!$ctrl.submitting') Save Phone Number
            span(ng-if='$ctrl.submitting')
              i.fa.fa-spin.fa-circle-o-notch
              span.text-white &nbsp;&nbsp;Submitting...


.col-md-12(style='margin-bottom: 20px ')
  .col-md-8.col-xs-12.no-padder(style='min-height:200px;')
    .col-md-12.col-xs-12.div-b-w-s(style='padding:20px;')
      h5.f-s-18.f-c-l-gray Welcome,
      h3.f-s-26.f-c-d-greay {{$ctrl.user.name}}
      br
      .col-md-12.col-xs-12.no-padder
        .col-md-6.col-xs-12.no-padder
          .col-md-1.col-xs-2.no-padder
            img(src='assets/images/locker.svg' style='margin-top: 12px;')
          .col-md-10.col-xs-10.no-padder
            h5.f-s-14.f-c-l-gray(style='line-height: 0.5;') Locker Number:
            h5.f-s-18.f-c-d-greay(ng-bind='$ctrl.user.virtual_address_code')
        .col-md-6.col-xs-12.no-padder
          .col-md-1.col-xs-2.no-padder
            img(src='assets/images/wallet.svg' style='margin-top: 12px;')
          .col-md-10.col-xs-10.no-padder
            h5.f-s-14.f-c-l-gray(style='line-height: 0.5;') ShoppRe Wallet
            h5.f-s-18.f-c-d-greay ₹
              | {{$ctrl.walletBalanceAmount}}
      br
      .col-md-12.col-xs-12.no-padder
        .col-md-6.col-xs-12.no-padder
          .col-md-1.col-xs-2.no-padder
            img(src='assets/images/phone.svg' style='margin-top: 12px;')
          .col-md-10.col-xs-10.no-padder
            h5.f-s-14.f-c-l-gray(style='line-height: 0.5;') Mobile Number:
            h5.f-s-18.f-c-d-greay(ng-bind='$ctrl.user.phone')
        .col-md-6.col-xs-12.no-padder
          .col-md-1.col-xs-2.no-padder
            img(src='assets/images/message.svg' style='margin-top: 12px;')
          .col-md-10.col-xs-10.no-padder
            h5.f-s-14.f-c-l-gray(style='line-height: 0.5;') Email:
            h5.f-s-18.f-c-d-greay(ng-bind='$ctrl.user.email')
    .col-md-12.col-xs-12.no-pad(style='margin-top: 20px; margin-bottom: 20px')
      .col-md-4.col-xs-4.no-pad
        .one
          p.f-s-26.f-c-d-greay {{$ctrl.packageCount || 0}} Packages
          p.f-s-14.f-c-l-gray In Locker
      .col-md-4.col-xs-4.pad-d
        .two
          p.f-s-26.f-c-d-greay {{$ctrl.shipmentInPackages || 0}} Packages
          p.f-s-14.f-c-l-gray In Shipment
      .col-md-4.col-xs-4.no-pad
        .three
          p.f-s-26.f-c-d-greay {{$ctrl.shipmentDelivered || 0}} Packages
          p.f-s-14.f-c-l-gray Total Delivered
    .col-md-12.col-xs-12.no-pad
      .col-md-12.text-center.no-padder
        .panel.no-margin(set-ng-animate='false')
          div
            div(uib-carousel='', active='active', interval=2000, no-wrap='noWrapSlides')
              div(uib-slide='', ng-repeat='slide in $ctrl.objects', index='$index')
                img.view-slide-height.img-responsive(ng-src='{{slide.object}}', style='margin:auto;height: 330px;')
                .carousel-caption
  .col-md-4.col-xs-12.div-address
    img(src='assets/images/title.png', style='width: 100%')
    .col-md-12.col-xs-12.div-b-w-s(style='padding:20px;')
      span.m-l-xs.copy-button-out.text-primary.pointer.pull-right(
      ngclipboard='',
      data-clipboard-target='#virtual'
      ng-click='$ctrl.copied()'
      ) Copy Virtual Address
      form#virtual
        .form-group
          .col-md-10.col-xs-10.no-pad
            select#sel1.form-control(style='background-color: #d1dded;')
              option Address Format
          .col-md-2.col-xs-2
            button.btn.btn-img(type='button', data-toggle='modal', data-target='#bd-example-modal-xl', style='', ng-click='$ctrl.faq()')
              img(src='assets/images/show-faq.png')
          br
        .form-group
          span.copy-wrap.line-spacing.f-s-14.f-c-l-gray
            label.text-muted.address-tab Name
            | &nbsp;
            br
            span#Name.f-s-18.f-c-d-greay
              span {{$ctrl.user.name}}
            span.m-l-xs.copy-button.text-primary.pointer(
            ngclipboard='',
            data-clipboard-target='#Name'
            ng-click='$ctrl.copied()'
            ) copy
          hr
        .form-group
          span.copy-wrap.line-spacing.f-s-14.f-c-l-gray
            label.text-muted.address-tab Address Line 1
            | &nbsp;
            br
            span#Address1.f-s-18.f-c-d-greay
              span {{$ctrl.user.virtual_address_code}} #181, 1st Floor, 2nd Cross Rd
            span.m-l-xs.copy-button.text-primary.pointer(
            ngclipboard='',
            data-clipboard-target='#Address1'
            ng-click='$ctrl.copied()'
            ) copy
        .form-grouphinav
          span.copy-wrap.line-spacing.f-s-14.f-c-l-gray
            label.text-muted.address-tab Address Line 2:
            | &nbsp;
            br
            span#Address2.f-s-18.f-c-d-greay
              span 7th Main, Koramangala 1st Block
            span.m-l-xs.copy-button.text-primary.pointer(
            ngclipboard='',
            data-clipboard-target='#Address2'
            ng-click='$ctrl.copied()'
            ) copy
        .form-group
          span.copy-wrap.line-spacing.f-s-14.f-c-l-gray
            label.text-muted.address-tab Landmark:
            | &nbsp;
            br
            span#landmark.f-s-18.f-c-d-greay
              span Near Seema English Nursery School
            span.m-l-xs.copy-button.text-primary.pointer(
            ngclipboard='',
            data-clipboard-target='#landmark'
            ng-click='$ctrl.copied()'
            ) copy
        .form-group
          span.copy-wrap.line-spacing.f-s-14.f-c-l-gray
            label.text-muted.address-tab Phone Number:
            | &nbsp;
            br
            span#phonenumber.f-s-18.f-c-d-greay
              span +91-9148357733
            span.m-l-xs.copy-button.text-primary.pointer(
            ngclipboard='',
            data-clipboard-target='#phonenumber'
            ng-click='$ctrl.copied()'
            ) copy
        .form-group
          .col-md-6.col-xs-6.no-padder
            span.copy-wrap.line-spacing.f-s-14.f-c-l-gray
              label.text-muted.address-tab City:
              | &nbsp;
              br
              span#city.f-s-18.f-c-d-greay
                span Bengaluru
              span.m-l-xs.copy-button.text-primary.pointer(
              ngclipboard='',
              data-clipboard-target='#city'
              ng-click='$ctrl.copied()'
              ) copy
          .col-md-6.col-xs-6.no-padder
            span.copy-wrap.line-spacing.f-s-14.f-c-l-gray
              label.text-muted.address-tab State/Province:
              | &nbsp;
              br
              span#state.f-s-18.f-c-d-greay
                span Karnataka
              span.m-l-xs.copy-button.text-primary.pointer(
              ngclipboard='',
              data-clipboard-target='#state'
              ng-click='$ctrl.copied()'
              ) copy
        .form-group
          .col-md-6.col-xs-6.no-padder
            span.copy-wrap.line-spacing.f-s-14.f-c-l-gray
              label.text-muted.address-tab Pincode
              | &nbsp;
              br
              span#pincode.f-s-18.f-c-d-greay
                span 560034
              span.m-l-xs.copy-button.text-primary.pointer(
              ngclipboard='',
              data-clipboard-target='#pincode'
              ng-click='$ctrl.copied()'
              ) copy
          .col-md-6.col-xs-6.no-padder
            span.copy-wrap.line-spacing.f-s-14.f-c-l-gray
              label.text-muted.address-tab Address Type
              | &nbsp;
              br
              span#addressType.f-s-18.f-c-d-greay
                span Home
              span.m-l-xs.copy-button.text-primary.pointer(
              ngclipboard='',
              data-clipboard-target='#addressType'
              ng-click='$ctrl.copied()'
              ) copy
