<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style type="text/css">
    img {
      max-width: 100%;
    }

    body {
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      width: 100% !important;
      height: 100%;
      line-height: 1.6em;
    }

    body {
      background-color: #f6f6f6;
    }

    @media only screen and (max-width: 640px) {
      body {
        padding: 0 !important;
      }

      h1 {
        font-weight: 800 !important;
        margin: 20px 0 5px !important;
      }

      h2 {
        font-weight: 800 !important;
        margin: 20px 0 5px !important;
      }

      h3 {
        font-weight: 800 !important;
        margin: 20px 0 5px !important;
      }

      h4 {
        font-weight: 800 !important;
        margin: 20px 0 5px !important;
      }

      h1 {
        font-size: 22px !important;
      }

      h2 {
        font-size: 18px !important;
      }

      h3 {
        font-size: 16px !important;
      }

      .container {
        padding: 0 !important;
        width: 100% !important;
      }

      .content {
        padding: 0 !important;
      }

      .content-wrap {
        padding: 10px !important;
      }

      .invoice {
        width: 100% !important;
      }
    }
  </style>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage"
      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f6f6f6; margin: 0;"
      bgcolor="#f6f6f6">
<div marginwidth="0" marginheight="0" style="font-family:Arial,sans-serif;">
  <table cellpadding="0" cellspacing="0" width="100%" border="0" align="center"
         style="padding:25px 0 15px 0;font-family:Arial,sans-serif;">
    <tbody>
    <tr>
      <td width="100%" valign="top">
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="ffffff"
               style="min-width:600px;margin:0 auto">
          <tbody>
          <tr>
            <td valign="top">
              <table cellpadding="0" cellspacing="0" width="600" border="0" align="center">
                <tbody>
                <tr>
                  <td valign="top" width="500"
                      style="color:#666666;font-size:23px;text-align:left;padding: 10px 10px 20px 5px;line-height:20px;color: #5e5e5f;">
                    <p style="color: #1f2533;"><font size="5"> Dear Shoppre,
                    </font></p>
                    <p style="color: #1f2533;"><font size="3"> You have received an enquiry.
                    </font></p>
                  </td>
                </tr>
                <tr>
                  <td valign="top" width="500" style="color:#666666;font-size:23px;text-align:left;padding: 10px 10px 20px 5px;line-height:20px;color: #5e5e5f;>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td
                                        valign=" top
                  " width="500" style="background-color:#ffffff;color:#666666;font-size:15px;text-align:left;padding:
                  20px 10px 20px 30px;line-height:20px;color: #5e5e5f;border: 1px solid #eee;">
                  <p style="font-size: 16px;">Name: {{first_name}} {{last_name}}</p>
                  <p style="font-size: 16px;">Email: {{email}}</p>
                  <p style="font-size: 16px;">Locker ID: {{locker_id}}</p>
                  <p style="font-size: 16px;">Phone:  {{phone}}</p>
                  <p style="font-size: 16px;">Country: {{country}}</p>
                  <p style="font-size: 16px;">Reason: {{reason}}</p>
                  <p style="font-size: 16px;">Message: {{msg_content}}</p></td>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top">
              <table cellpadding="0" cellspacing="0" width="600" border="0" align="center">
                <tbody>
                <tr>
                  <td valign="top" width="100" style="background-color:#1f2533;">
                    <a href="#" style="text-decoration:none;color:#1f2533;font-weight:bold" target="_blank">
                      <img src="http://www.shoppre.com/img/logo.png"
                           style="display:block;background-color:#1f2533;color:#010101;padding:10px;padding-left:30px;width: 100%;"
                           alt="" border="0" class="CToWUd">
                    </a>
                  </td>
                  <td valign="top" width="300"
                      style="background-color:#1f2533;color:#fff;font-size:12px;text-align:right;padding:30px 10px 15px 20px">
                    All Rights Reserved. Copyright © <a href="#"
                                                        style="text-decoration:none;color:#fff;font-weight:bold"
                                                        target="_blank">Shoppre.com</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</table>
</body>
</html>
