div.m-t-xl.no-margin
  .hbox
    .wrapper-md.bg-white-only
      div
        .h1.m-l-md.font-thin.h3
          | MEMBERSHIP PROFILE
          .inline.pull-right
            a.text-md.text-u-l(
              ui-sref='users.passwordChange'
              popover-trigger="'mouseenter'"
              popover-placement='bottom'
              popover-append-to-body='true'
            )
              span  Change Password


      hr.no-margin-bottom
      form.form.form-validation.form-horizontal.wrapper-md(
        name="profileForm"
        novalidate
        ng-submit='$ctrl.create(profileForm)'
      )
        .row
          .col-md-12.col-sm-12.col-xs-12.no-padder
            h4 Contact Information
            div
              .row
                .col-md-12.col-sm-12.col-xs-12
                  h5 PRIMARY ACCOUNT HOLDER NAME

              .row
                .col-md-2.col-sm-2.col-xs-12
                  label.col-xs-12.input-group
                    | Title
                    select.form.form-control(
                      ng-model='$ctrl.data.salutation'
                      name='salutation'
                      required
                    )
                      option(value='') Title
                      option Mr
                      option Ms
                      option Mrs
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && profileForm.salutation.$dirty && profileForm.salutation.$invalid') Please select Title

                .col-md-4.col-sm-5.col-xs-12.no-padder
                  label.col-xs-12.input-group
                    | First Name
                    input.form.form-control(
                      type='text'
                      name='first_name'
                      placeholder='eg. Aditya'
                      ng-model='$ctrl.data.first_name' q-text-maxlength="60"
                      autofocus
                      required
                    )
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && profileForm.first_name.$dirty && profileForm.first_name.$invalid') Please enter First Name
                .col-md-4.col-sm-5.col-xs-12
                  label.col-xs-12.input-group
                    | Last Name
                    input.form.form-control(
                    type='text'
                    name='last_name'
                    placeholder='eg. Sharma'
                    ng-model='$ctrl.data.last_name'
                    q-text-maxlength='60'
                    autofocus
                    required
                    )
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && profileForm.last_name.$dirty && profileForm.last_name.$invalid') Please enter Last Name

              .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
              .row
                .col-md-12.col-sm-12.col-xs-12
                  h5 EMAIL ADDRESS

              .row
                .col-md-4.col-sm-5.col-xs-12.no-padder-right
                  label.col-xs-12.input-group
                    | Email
                    input.form.form-control(
                    type='email'
                    name='email'
                    placeholder='eg. adithya@gmail.com'
                    ng-model='$ctrl.data.email'
                    q-text-maxlength="60"
                    autofocus
                    required
                    )
                    span.wrapper-xs.text-xs.text-danger(
                    ng-show='$ctrl.clickUpload && profileForm.email.$dirty && profileForm.email.$invalid'
                    ) Please enter Email
                .col-md-4.col-sm-5.col-xs-12.no-padder-right
                  label.col-xs-12.input-group
                    | Alternate Email
                    input.form.form-control(
                    type='email'
                    name='alternate_email'
                    placeholder='eg. alt_adithya@gmail.com'
                    ng-model='$ctrl.data.alternate_email'
                    q-text-maxlength="60"
                    )
                    span.wrapper-xs.text-xs.text-danger(
                    ng-show='$ctrl.clickUpload && profileForm.alternate_email.$dirty && profileForm.alternate_email.$invalid'
                    ) Please enter Alternate Email
              .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
              .row
                .col-md-12.col-sm-12.col-xs-12
                  h5 PHONE NUMBERS
              .row
                .col-xs-12
                  .col-md-4.col-sm-6.col-xs-12
                    .form-group
                      label.input-group Primary Phone / Mobile Number
                      input#tel.form-control(type='text', name='phone', ng-model='$ctrl.data.phone', ng-intl-tel-input='')
                      span.help-block(ng-show='profileForm.phone.$pristine && profileForm.phone.$touched') Please type a telephone number
                      span.help-block(ng-show='profileForm.phone.$invalid && profileForm.phone.$touched') Invalid :(
                      span.help-block(ng-show='profileForm.phone.$valid && profileForm.phone.$touched') Valid :)
                  .col-md-4.col-sm-6.col-xs-12
                    .form-group
                      label.input-group Secondary Phone / Mobile Number
                      input#tel1.form-control(type='text', name='secondary_phone', ng-model='$ctrl.data.secondary_phone', ng-intl-tel-input='')
                      span.help-block(ng-show='profileForm.secondary_phone.$pristine && profileForm.secondary_phone.$touched') Please type a telephone number
                      span.help-block(ng-show='profileForm.secondary_phone.$invalid && profileForm.secondary_phone.$touched') Invalid :(
                      span.help-block(ng-show='profileForm.secondary_phone.$valid && profileForm.secondary_phone.$touched') Valid :)
              .row
                .col-md-6.col-xs-12.col-sm-12
                  h4(ng-bind="$ctrl.error.message" style="color:red;")
                  button.btn.btn-success(type='submit' ng-disabled="$ctrl.submitting")
                    i.fas.fa-save.m-r-xs(ng-if='!$ctrl.submitting')
                    span.text-white(ng-if='!$ctrl.submitting') Save Changes
                    span(ng-if='$ctrl.submitting')
                      i.fa.fa-spin.fa-circle-o-notch
                      span.text-white &nbsp;&nbsp;Submitting...


    .clearfix
