extends ../layout
block content
  head
    title '#{title}'
    meta(name='description', content= '#{meta_description}')
    meta(property='og:title', content='#{meta_title}')
  .body
    .noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NRL4B6X', height='0', width='0', style='display:none;visibility:hidden')

  .container
    .row
      .col-sm-3
        .movie-card#oceans-11
          img(src="/img/PayPal.png", style='height:120px' itemprop="logo")
      .col-sm-9
        h1(itemprop="name")
          | #{name}
          |Shop millions of your favourite online stores. No cash required
        //h4(itemprop="description")= 'Shop millions of your favourite online stores. No cash required'
        h4(itemprop="description")= 'PayPal is an online service allowing users to transfer money without sharing financial information with the recipient. Users pay for transactions through credit/debit cards, bank accounts, PayPal accounts or financing. Over 200 Million Active Accounts in 100+ Currencies. '


    .row
      br
      br
      br
      .col-sm-12
        ul.nav.nav-tabs
          li.active
            a(data-toggle='tab', href='#Service') Service
          li
            a(data-toggle='tab', href='#Reviews') Reviews
          li
            a(data-toggle='tab', href='#Quicklink') Quicklinks
          li
            a(data-toggle='tab', href='#Issues') Issues


        .tab-content
          #Service.tab-pane.fade.in.active
            .row#org-repositories(data-pjax-container='')
              .col-8.d-inline-block
                .org-repos.repo-list
                    li.col-12.d-block.width-full.py-4.border-bottom.public.source(itemprop='owns', itemscope='', itemtype='http://schema.org/Code')
                      .d-inline-block.mb-1
                        h3
                          a(href='#', itemprop='name codeRepository')
                            //| #{c.name}
                            | Paypal
                            | Accept payments in 100+ currencies

              .col-4.float-right.pl-4
                .Box.mb-3
                  .Box-body
                    h4.f4.mb-2.text-normal Top Countries Used PayPal
                    a.no-wrap.text-gray.d-inline-block.muted-link.mt-2(href='#')
                      span.repo-language-color.ml-0(style='background-color:#f34b7d;')
                      span.mr-2.mr-l United States
                    a.no-wrap.text-gray.d-inline-block.muted-link.mt-2(href='#')
                      span.repo-language-color.ml-0(style='background-color:#f1e05a;')
                      span.mr-2.mr-l Canada
                    a.no-wrap.text-gray.d-inline-block.muted-link.mt-2(href='#')
                      span.repo-language-color.ml-0(style='background-color:#b07219;')
                      span.mr-2.mr-l Australia
                    a.no-wrap.text-gray.d-inline-block.muted-link.mt-2(href='#')
                      span.repo-language-color.ml-0(style='background-color:#3572A5;')
                      span.mr-2.mr-l United Kingdom
                    a.no-wrap.text-gray.d-inline-block.muted-link.mt-2(href='#')
                      span.repo-language-color.ml-0(style='background-color:#f34b7d;')
                      span.mr-2.mr-l Germany
                    a.no-wrap.text-gray.d-inline-block.muted-link.mt-2(href='#')
                      span.repo-language-color.ml-0(style='background-color:#f1e05a;')
                      span.mr-2.mr-l Sri Lanka
                    a.no-wrap.text-gray.d-inline-block.muted-link.mt-2(href='#')
                      span.repo-language-color.ml-0(style='background-color:#438eff;')
                      span.mr-2.mr-l New Zealand

          #Reviews.tab-pane.fade
            .row
              br
              br
              br
              | Reviews

          #Quicklinks.tab-pane.fade
            .row
              br
              br
              br
              | Quicklinks

          #Issues.tab-pane.fade
            .row
              br
              br
              br
              | Issues
