.cell-inner.h-full.b-l
  .w-lg.bg-white-only.w-auto-xs.w-auto-sm.m-t-xs(style='top: {{JobView.showSearchCount ? 215 : 98}}px;' ng-if="App.$state.current.name !== 'job.sample-cv'")
    .forum-block.hbox
      .wrapper-sm.b-b.b-t
        .text-info.dker-lt.heading.h5 FAQs
          .pull-right.font-bold.b-info.b-a.pointer.m-t-n-xs(
            style='padding: 3px 5px;line-height: 1.2em;'
            ng-click="$ctrl.showPostQueryOverlay($ctrl.QuestionList)"
            ng-if="$ctrl.QuestionList.length > 0")
            //i.fa.fa-pencil-square-o
            span Post a query
      .questions-block(ng-if="$ctrl.QuestionList.length > 0")
        ul.no-padder
          //active
          li.b-b.wrapper-xs(ng-repeat='question in $ctrl.QuestionList| orderBy:"-upvote_count" track by $index' )
            div.question-item
              table.w-full.m-t-n
                tr.question
                  td.text-gray.pull-left.m-l-xs(width="20%") Q.
                  td.text-muted.m-l-xs(ng-if="!question.edit", ng-click="$ctrl.showAnswerQueryOverlay(question)" width="90%")
                    .content(ng-bind="question.corrected_text" ng-class="{'in': question.showMore}")
                    .wrapper-xs(ng-show='question.corrected_text.length > 120')
                      span.pointer.pull-right.m-r-xs.text-u-l.text-info(ng-click='question.showMore = !question.showMore;$event.stopImmediatePropagation();') {{question.showMore ? "Show Less" : "Show More"}}
                  td.m-l-xs(ng-if="question.edit")
                    textarea.form-control.m-b-xs(type="text", ng-model="question.corrected_text" elastic)
                    a.b-gray.btn-xs.btn.text-gray.pull-right.m-l-xs(ng-click="$ctrl.resetEdit(question.id)")
                      i.fa.fa-times(aria-hidden='true')
                    a.b-success.btn-xs.btn.text-success.pull-right(ng-click="$ctrl.edit(question)")
                      i.fa.fa-check(aria-hidden='true')
                tr(ng-if="!question.edit")
                  td
                  td(colspan=2 style='padding: 2px 0 10px 0')
                    span.hover-info.pull-left(title='{{question.upvote_count}} Upvoted' ng-if="$ctrl.showUpvote && question.owner",aria-hidden='true' style='padding: 2px 5px;color: #bbb')
                      span.text-sm.m-r-xs(ng-bind="question.upvote_count")
                      i.fa.fa-thumbs-up
                    a.btn.btn-sm.bg-white-only.b-gray.pull-left.pointer(
                      ng-class='{"text-black": question.upvoted}'
                      title='{{question.upvote_count}} Upvoted'
                      ng-if="$ctrl.showUpvote && !question.owner"
                      aria-hidden='true'
                      style='padding: 2px 5px;'
                      ng-click='!question.upvoted ? $ctrl.upvote(question) : $ctrl.downvote(question)'
                    )
                      span.font-thin {{ !question.upvoted ? "Upvote" : "Upvoted" }} &nbsp;
                      span.text-sm.m-r-xs(ng-if="question.upvoted" ng-bind="question.upvote_count")
                    a.hover-success.pull-left.pointer(title='Edit Question' ng-if="question.owner",aria-hidden='true', ng-click="$ctrl.enableEdit(question.id)" style='padding: 2px 5px;color: #bbb')
                      span.font-thin Edit &nbsp;
                      i.fa.fa-pencil.m-r-xss
                    a.hover-danger.pull-left.pointer(title='Delete Question' ng-if="question.owner && question.upvote_count <= 0",aria-hidden='true', ng-click="$ctrl.remove(question)" style='padding: 2px 5px;color: #bbb')
                      span.font-thin Delete &nbsp;
                      i.fa.fa-trash.m-r-xss
              table.w-full.answer-item(ng-show="question.JobAnswers.length > 0")
                tr
                  td.pull-left.m-l-xs(width="20%") A.
                  td.m-l-xs(width="90%")
                    .content(
                      ng-bind="question.JobAnswers[question.JobAnswers.length-1].corrected_text"
                      ng-class="{'in': question.JobAnswers[question.JobAnswers.length-1].showMore}"
                    )
                    .wrapper-xs(ng-show='question.JobAnswers[question.JobAnswers.length-1].corrected_text.length > 120')
                      span.pointer.pull-right.m-r-xs.text-u-l.text-info(
                        ng-click='question.JobAnswers[question.JobAnswers.length-1].showMore = !question.JobAnswers[question.JobAnswers.length-1].showMore;$event.stopImmediatePropagation();')
                        | {{question.JobAnswers[question.JobAnswers.length-1].showMore ? "Show Less" : "Show More"}}

      .no-questions(ng-if = "$ctrl.QuestionList.length === 0")
        .h5.wrapper-xs.text-center.m-t-xxl
          .title.m-b-xs.m-t-xxl No Queries on this JD yet
          .btn-sm.btn-info.dker.thumb-lg.pointer(ng-click="$ctrl.showPostQueryOverlay($ctrl.QuestionList)") Post a Query
