div.m-t-xl.no-margin
  .hbox
    .wrapper-md.bg-white-only
      h1.m-l-md.font-thin.h3
        span Billing Details
      hr
      form.form.form-validation.form-horizontal.wrapper-md(name="BillingForm" ng-submit='$ctrl.create()')
        .row
          // Form Block
          .col-md-7.col-sm-12.col-xs-12
            // Form Items
            .row
              label.col-xs-12.col-sm-12.col-md-12.col-lg-12.text-black
                | Company Registered Name
                span.text-danger *
                  input.form.form-control(type='text' placeholder='eg. Company Registered Name' ng-model='$ctrl.data.company_reg_name'
                  q-text-maxlength="60", required)
            .line.line-dashed.b-b.line-lg.pull-in
            .row
              .col-md-12.col-sm-12.col-xs-12.text-black
                label.col-xs-12.input-group
                  | Company Registered Address
                  span.text-danger *
                  textarea.form.form-control(placeholder='eg. Company Registered Address' rows=5 ng-model='$ctrl.data.reg_address'
                  q-text-maxlength="600" required)
            .line.line-dashed.b-b.line-lg.pull-in
            .row
              .col-md-6.col-sm-6.col-xs-12.text-black
                label.col-xs-12.input-group
                  | Account Holder Name
                  span.text-danger *
                  input.form.form-control(type='text' placeholder='eg. Account Holder Name' ng-model='$ctrl.data.bank_name'
                  q-text-maxlength="50" required)
              .col-md-6.col-sm-6.col-xs-12.text-black
                label.col-xs-12.input-group
                  | Bank Name & Branch
                  span.text-danger *
                  input.form.form-control(type='text' placeholder='eg. Bank Name & Branch' ng-model='$ctrl.data.branch'
                  q-text-maxlength="50" required)
            .line.line-dashed.b-b.line-lg.pull-in
            .row
              .col-md-12.col-sm-12.col-xs-12
                label.col-xs-12.input-group.text-black
                  | Account Type
                  span.text-danger *
                  select.form.form-control(name='cmbBox' ng-model='$ctrl.data.account_type')
                    option(value='') Please Select - Account Type
                    option(value='1' ng-selected="$ctrl.data.account_type == '1'" ) Saving
                    option(value='2' ng-selected="$ctrl.data.account_type == '2'" ) Current
                    option(value='3' ng-selected="$ctrl.data.account_type == '3'" ) Cash Credit/Overdraft
            .line.line-dashed.b-b.line-lg.pull-in
            .row
              .col-md-12.col-sm-12.col-xs-12
                label.col-xs-12.input-group.text-black
                  | Account No
                  span.text-danger *
                  input.form.form-control(type='text' placeholder='eg. Account No' ng-model='$ctrl.data.account_number'
                  maxlength='17' required ng-pattern="/^[0-9]{4,17}$/")
            .line.line-dashed.b-b.line-lg.pull-in
            .row
              .col-md-6.col-sm-6.col-xs-12
                label.col-xs-12.input-group.text-black
                  | IFSC Code
                  span.text-danger *
                  input.form.form-control(type='text' placeholder='eg. IFSC Code' ng-model='$ctrl.data.ifsc'
                  maxlength='11' required ng-pattern="/^[A-Z]{4}0[A-Z0-9]{6}$/i")
              .col-md-6.col-sm-6.col-xs-12
                label.col-xs-12.input-group.text-black
                  | MICR Code
                  span
                  input.form.form-control(type='text' placeholder='eg. MICR Code' ng-model='$ctrl.data.micr'
                  ng-pattern="/^\\d{9}$/")
            .line.line-dashed.b-b.line-lg.pull-in
            .row
              .col-md-6.col-sm-6.col-xs-12
                label.col-xs-12.input-group.text-black
                  | PAN No
                  span.text-danger *
                  input.form.form-control(type='text' placeholder='eg. PAN No' ng-model='$ctrl.data.pan_number'
                  required ng-pattern='/^[A-Z]{5}\\d{4}[A-Z]{1}$/i')
              .col-md-6.col-sm-6.col-xs-12
                label.col-xs-12.input-group.text-black
                  | TAN No
                  input.form.form-control(type='text' placeholder='eg. TAN No' ng-model='$ctrl.data.tan_number'
                  ng-pattern='/^[A-Z]{4}\\d{5}[A-Z]{1}$/i')
            .line.line-dashed.b-b.line-lg.pull-in
            .row
              .col-md-12.col-sm-12.col-xs-12
                label.col-xs-12.input-group.text-black
                  | GSTIN Applicable
                  span.text-danger *
                  span(ng-init="$ctrl.data.service_tax_enabled=0")
                    span.radio
                      label
                        input#serviceTaxApplicable1(type="radio", ng-model='$ctrl.data.service_tax_enabled', name="serviceTaxApplicable", ng-value="1" )
                        | Yes
                      span.padder
                      label
                        input#serviceTaxApplicable2(type="radio", ng-model='$ctrl.data.service_tax_enabled', name="serviceTaxApplicable", ng-value="0")
                        | No
            .line.line-dashed.b-b.line-lg.pull-in
            .row(ng-if = '$ctrl.data.service_tax_enabled === 1')
              .col-md-12.col-sm-12.col-xs-12
                label.col-xs-12.input-group.text-black
                  | GSTIN
                  span.text-danger *
                  input.form.form-control(
                    type='text' placeholder='eg. GST No' ng-model='$ctrl.data.ClientGstNumbers[0].gst_no'
                    required ng-pattern='/^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$/i')
                  input.form.form-control(
                  type='hidden' ng-model='$ctrl.data.ClientGstNumbers[0].id')
            .line.line-dashed.b-b.line-lg.pull-in(ng-if = '$ctrl.data.service_tax_enabled === 1')
            .row
              .col-md-12.col-sm-12.col-xs-12
                label.col-xs-12.input-group.text-black
                  | Registered Under MSMED Act, 2006
                  span.text-danger *
                  span(ng-init="$ctrl.data.msmed_enabled=0")
                    span.radio
                      label
                        input#msmed1(type="radio", ng-model='$ctrl.data.msmed_enabled', name="msmed_enabled", ng-value="1" )
                        | Yes
                      span.padder
                      label
                        input#msmed2(type="radio", ng-model='$ctrl.data.msmed_enabled', name="msmed_enabled", ng-value="0")
                        | No
            .line.line-dashed.b-b.line-lg.pull-in
            .row(ng-if = '$ctrl.data.msmed_enabled === 1')
              .col-md-12.col-sm-12.col-xs-12
                label.col-xs-12.input-group.text-black
                  | Enterprise Memorandum Number
                  span.text-danger *
                  input.form.form-control(type='text' placeholder='eg. Enterprise Memorandum Number' ng-model='$ctrl.data.msmed_number'
                  q-text-maxlength="50" required)
            .line.line-dashed.b-b.line-lg.pull-in(ng-if = '$ctrl.data.msmed_enabled === 1')
            .row(ng-if = '$ctrl.data.msmed_enabled === 1')
              .col-md-12.col-sm-12.col-xs-12
                label.col-xs-12.input-group.text-black
                  | Category of Enterprise ( As per MSMED Act, 2006)
                  span.text-danger *
                  span.radio
                    label
                      input#orgSize1(type="radio", ng-model='$ctrl.data.org_size', name="org_size", value="1" )
                      | Micro
                    span.padder
                    label
                      input#orgSize2(type="radio", ng-model='$ctrl.data.org_size', name="org_size", value="2")
                      | Small
                    span.padder
                    label
                      input#orgSize3(type="radio", ng-model='$ctrl.data.org_size', name="org_size", value="3")
                      | Medium
            .line.line-dashed.b-b.line-lg.pull-in(ng-if ='$ctrl.data.msmed_enabled === 1')
            .row
              .col-md-4
                button.btn.btn-primary.pull-left(ng-disabled='BillingForm.$invalid', type='submit')
                  i.fa.fa-upload
                  | &nbsp;&nbsp;Submit

