.nav-job(when-scrolled="$ctrl.getList()")
  .wrapper-sm
    input.form-control(
      ng-if='$ctrl.params.query || $ctrl.list.length'
      type='text'
      placeholder='Search Position'
      ng-change='$ctrl.getList(true)'
      ng-model='$ctrl.params.query'
      ng-model-options='{debounce: 600}'
    )
    div(ng-if='!$ctrl.list.length && !$ctrl.ui.loading')
      .text-center.m-t-md(ng-if='!$ctrl.params.query')
        .h4.wrapper-sm Looks like you don't have any active JDs
        a.btn.btn-success(ui-sref='jobs.list({status: "All"})' target='_blank') Accept JDs

      .text-center.m-t-md(ng-if='$ctrl.params.query')
        .h5.wrapper-md
          .m-b-sm No results match this search
          strong "{{$ctrl.params.query}}"

  // Open and High Priority
  ul.nav
    li(ng-repeat='job in $ctrl.list track by $index')
      a.text-ellipsis(ui-sref='extension({jobId: job.id})')
        div.text-sm.text-muted.text-ellipsis(style='width: 90%')
          span(ng-bind='job.owner_name || job.client_name ')
          span.m-l-xs.badge.text-xs(ng-if='job.open_platform && !job.is_drive'
            style='padding: 2px 10px;font-weight: 600;background-color: #F6C896;color: #3a3a3a;text-shadow: none;'
          ) QDirect
          span.m-l-xs.badge.text-xs(
            ng-if='job.is_drive'
            style='padding: 2px 10px;font-weight: 600;background-color: #9FBEDD;color: #3a3a3a;text-shadow: none;') Drive
        span.job-title.text-ellipsis(ng-bind="job.role" style='width: 90%')
        b.pull-right.text-gray.pos-abt(
          style="right:5px;top: 10px;"
          ng-bind="App.Math.round(job.consultant_score*10)/10;"
        )
  .text-center.m-t-md
    span.btn(title='Loading ...' ng-if="$ctrl.ui.loading")
      i.fa.fa-spin.fa-circle-o-notch.fa-lg.rounded
    span.btn(title='Load more' ng-if="$ctrl.ui.lazyLoad" ng-click="$ctrl.getList()")
      i.fa.fa-arrow-down.fa-lg.rounded
