input.form-control(
  type='text'
  name='region_id'
  ng-model='$ctrl.regionName'
  q-text-maxlength='60'
  placeholder='{{$ctrl.placeholder || "Your work location"}}'
  uib-typeahead='region.name for region in $ctrl.getList($viewValue, $ctrl.field)'
  typeahead-loading='$ctrl.loadingRegions'
  typeahead-no-results='$ctrl.noResults'
  typeahead-on-select='$ctrl.select($item)'
  typeahead-wait-ms='10'
  autocomplete='off'
  ng-required = '$ctrl.isRequired || false'
)

input(ng-if='$ctrl.isRequired || false' type='hidden' ng-model='$ctrl.regionId' required)

i.fa.fa-refresh.fa-spin(ng-show='$ctrl.loadingRegions')
div(ng-show='$ctrl.noResults')
  i.fa.fa-remove
  |  No Results Found
