// Changing this directive will impact: job.applicants job.applicants.new job.references.list
div.directive-header

  .bg-light.b-b.padder.w-full.bg-white-only.m-t-xl(
    style='position:fixed;z-index: 6;height: 42px;'
    ng-if='page.customerPackages'
  )
    ul.nav.nav-pills.nav-sm.m-t-xs(
      ng-if='page.customerPackages'
    )
      li(ng-repeat='bucket in options.buckets' ui-sref-active="active" ng-show="buttons.buckets")
        a(
          ui-sref='customer.packages.index({ id: options.customer.id, bucket: bucket })'
          ng-bind="bucket"
        )

  div(style='position: fixed;right: 5px;z-index: 9;margin-top: 7px;')
    ul.nav.nav-pills.nav-sm
      li.m-r-xs.pull-right: a.h5.font-bold.b-a(
        ng-class="buttons.highlight == 'view-applicants'?'btn-success b-success':'b-info text-info' "
        ng-show="buttons.viewPackages"
        ui-sref='customer.packages.index({ id: options.customer.id, bucket: "ALL" })'
        uib-popover="for {{options.customer.virtual_address_code}} - {{options.customer.name}}"
      )
        i.fa.fa-list

      li.m-r-xs.pull-right: a.h5.font-bold.b-a(
        ng-class="buttons.highlight == 'view'?'btn-info':'b-info text-info ' "
        ng-show="buttons.view"
        ui-sref='package.show({ id: options.pkg.id })'
      )
        i.fa.fa-eye


      li.m-r-xs.pull-right(ng-if='buttons.packageCreate')
        a.h5.font-bold.b-a.btn-addon.btn-success.text-white-only.b-success.imp(
        ui-sref='package.items({ id: options.$stateParams.id })'
        popover-trigger="'mouseenter'"
        popover-placement='bottom'
        popover-append-to-body='true'
        )
          span  Add Package Items
      li.m-r-xs.pull-right(ng-if='!options.customer.create && options.customer.packageCount')
        a.h5.font-bold.b-a.btn-addon.btn-success.text-white-only.b-success.imp(
          ui-sref='customer.packages.index({ customer_id: options.customer.id, bucket: "TASKS", create: true })'
          uib-popover="for {{options.customer.virtual_address_code}} - {{options.customer.name}}"
          popover-trigger="'mouseenter'"
          popover-placement='bottom'
          popover-append-to-body='true'
        )
          span View Incoming Packages
          i.pull-right(ng-bind='options.customer.packageCount' style='line-height:29px;width:30px;height:30px;font-style:normal')

      li.m-r-xs.pull-right(ng-if='options.customer.create || !options.customer.packageCount')
        a.h5.font-bold.b-a.btn-addon.btn-success.text-white-only.b-success.imp(
        ui-sref='customer.packages.create({ customer_id: options.customer.id, create: false })'
        uib-popover="for {{options.customer.virtual_address_code}} - {{options.customer.name}}"
        popover-trigger="'mouseenter'"
        popover-placement='bottom'
        popover-append-to-body='true'
        )
          span Add Package
          //i.pull-right(ng-bind='options.customer.packageCount' style='line-height:29px;width:30px;height:30px;font-style:normal')



  .h5.btn-info.b-a.b-info.font-bold
