div.m-t-xl.no-margin
  .wrapper-md.bg-white-only.container
    .row
      // - Header
      .col-md-12.m-t-xs
        .h1.m-l-md.font-thin.h3.m-b-md.text-u-c
          | SHIPMENTS HISTORY
        .clearfix
          div
        .full-width
          .wrapper-md.ng-scope
            .panel.panel-default
              div
                table.table.table-bordered.m-b-none.default.footable-loaded.footable(
                ui-jq='footable', data-filter='#filter', data-page-size='5')
                  thead
                    tr
                      th.footable-visible.footable-sortable
                      th.footable-visible.footable-sortable
                        | SENDING TO
                        span.footable-sort-indicator
                      th.footable-visible.footable-sortable(data-hide='phone,tablet')
                        | SHIP REQUEST ID
                        span.footable-sort-indicator
                      th.footable-visible.footable-sortable(data-hide='phone,tablet', data-name='Date Of Birth')
                        | REQUEST DATE
                        span.footable-sort-indicator
                      th.footable-visible.footable-last-column.footable-sortable
                        | WEIGHT
                        span.footable-sort-indicator
                      th.footable-visible.footable-last-column.footable-sortable
                        | PACKAGE COUNT
                        span.footable-sort-indicator
                      th.footable-visible.footable-last-column.footable-sortable
                        | STATUS
                        span.footable-sort-indicator
                  tbody.odd(ng-repeat="shipment in $ctrl.shipments")
                    tr.footable-even(style='display: table-row;')
                      td.footable-visible.footable-first-column(ng-click='shipment.open = !shipment.open')
                        i.fa.fa-sort-desc
                      td.footable-visible {{shipment.customer_name}}
                      td.footable-visible {{shipment.order_code}}
                      td.footable-visible(
                      ng-bind='$ctrl.moment(shipment.created_at).fromNow()'
                      uib-tooltip="{{shipment.created_at | date:'MMM d, y'}} IST {{shipment.created_at | date:'h:mm a'}}"
                      tooltip-placement='right'
                      tooltip-append-to-body='true'
                      )
                      td.footable-visible {{shipment.final_weight}}
                      td.footable-visible {{shipment.packages_count}}
                      td.footable-visible
                        div
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.SHIPMENT_HANDED')
                            p Dispatched
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.SHIPMENT_IN_TRANSIT')
                            p In-Transit
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.SHIPMENT_MANUAL_FOLLOW_UP')
                            p In Manual Follow Up
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.SHIPMENT_LOST')
                            p Shipment Lost
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.CUSTOM_ON_HOLD')
                            p Custom On Hold
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.WRONG_ADDRESS')
                            p Wrong Address
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.SHIPMENT_REJECTED_BY_CUSTOMER')
                            p Rejected By Customer
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.RTO_REQUESTED')
                            p Rto Requested
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.RAISE_SHIPMENT_LOST_CLAIM')
                            p Raise Shipment Lost Claim
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.PENALTY_PAYMENT_REQUESTED')
                            p Penalty Payment Requested
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.RETURN_TO_ORIGIN')
                            p Return To Origin
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.AMOUNT_RECEIVED_FROM_UPSTREAM')
                            p Amount Received From Upstream
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.PENALTY_PAYMENT_DONE')
                            p Penalty Payment Done
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.WRONG_ADDRESS_FOLLOW_UP')
                            p Wrong Address Follow Up
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.CLAIM_PROCESSED_TO_CUSTOMER')
                            p Claim Processed To Customer
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.CUSTOMER_ACKNOWLEDGEMENT_RECEIVED')
                            p Customer Acknowledgement Received
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.SHIPMENT_DELIVERED')
                            p Delivered
                          div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.SHIPMENT_CANCELLED')
                            p Cancelled
                    tr
                      td(colspan=8 ng-if='shipment.open')
                        .col-sm-7
                          h4
                            strong Shipping Address:
                          p
                            strong {{shipment.customer_name}}
                          p {{shipment.address}}
                          p PH: {{shipment.phone}}

                        div(ng-if="shipment.final_amount != 0")
                        .col-sm-5
                          table.table.table-bordered.default.footable-loaded.footable
                            tr
                              td Estimated Shipping
                              td ₹ {{estimated = shipment.estimated_amount - shipment.package_level_charges_amount - shipment.wallet_amount}}
                            tr
                              td Package Level Charges
                              td ₹ {{shipment.package_level_charges_amount}}
                            tr(ng-if="shipment.wallet_amount != 0")
                              td Shoppre Wallet
                              td ₹ {{shipment.wallet_amount}}
                                span(ng-if ="shipment.wallet_amount < 0")
                                  p.pull-right (Amount added)
                                span(ng-if="shipment.wallet_amount > 0")
                                  p.pull-right (Amount deducted)
                            tr(ng-if="shipment.coupon_amount > 0")
                              td Coupon Reward
                              td (-)₹ {{shipment.coupon_amount}}
                            tr(ng-if="shipment.loyalty_amount > 0")
                              td Loyalty Reward
                              td (-)₹ {{shipment.loyalty_amount}}
                            tr(ng-if="shipment.payment_gateway_fee_amount > 0")
                              td Payment Gateway (PG) Fee
                              td ₹ {{shipment.payment_gateway_fee_amount}}
                            tr
                              td Total Cost
                              td ₹ {{shipment.final_amount}}

                                // - Packages
                        table#DataTables_Table_1.table.table-bordered.m-b-none.default.footable-loaded.footable(
                        ui-jq='footable',
                        data-filter='#filter',
                        data-page-size='5'
                        )
                          thead
                            tr(role='row')
                              th.footable-visible.footable-sortable
                              th.footable-visible.footable-sortable
                                | FROM
                                span.footable-sort-indicator
                              th.footable-visible.footable-sortable(data-hide='phone,tablet')
                                | PACKAGE ID
                                span.footable-sort-indicator
                              th.footable-visible.footable-sortable(data-hide='phone,tablet', data-name='Date Of Birth')
                                | DATE RECEIVED
                                span.footable-sort-indicator
                              th.footable-visible.footable-last-column.footable-sortable
                                | ITEM VALUES
                                span.footable-sort-indicator
                              th.footable-visible.footable-last-column.footable-sortable
                                | WEIGHT
                                span.footable-sort-indicator
                          tbody.odd(role='row' ng-repeat="package in shipment.Packages")
                            tr.footable-even(style='display: table-row;')
                              td.footable-visible.footable-first-column(ng-click='package.open = !package.open')
                                i.fa.fa-sort-desc
                              td.footable-visible
                                a(ui-sref='package.show({ id: package.id })' ng-bind='package.Store.name')
                              td.footable-visible {{package.id}}
                              td.footable-visible(
                              ng-bind='$ctrl.moment(package.created_at).fromNow()'
                              uib-tooltip="{{package.created_at | date:'MMM d, y'}} IST {{package.created_at | date:'h:mm a'}}"
                              tooltip-placement='right'
                              tooltip-append-to-body='true'
                              )
                              td.footable-visible  {{package.price_amount}}
                              td.footable-visible  {{package.weight}}
                            tr
                              td(colspan=8 ng-if='package.open')

                                table#DataTables_Table_2.table.table-bordered.m-b-none.default.footable-loaded.footable(
                                ui-jq='footable', data-filter='#filter', data-page-size='5')
                                  thead
                                    tr(role='row')
                                      th.footable-visible.footable-sortable
                                        | PACKAGE DETAILS
                                        span.footable-sort-indicator
                                      th.footable-visible.footable-sortable(data-hide='phone,tablet')
                                        | QTY
                                        span.footable-sort-indicator
                                      th.footable-visible.footable-sortable(data-hide='phone,tablet', data-name='Date Of Birth')
                                        | VALUE PER UNIT(INR)
                                        span.footable-sort-indicator
                                      th.footable-visible.footable-last-column.footable-sortable
                                        | TOTAL LINE VALUE(INR)
                                        span.footable-sort-indicatorvate

                                  tbody.odd(role='row' ng-repeat="packageItem in package.PackageItems")
                                    tr.footable-even(style='display: table-row;')
                                      td.footable-visible {{packageItem.name}}
                                      td.footable-visible {{packageItem.quantity}}
                                      td.footable-visible {{packageItem.price_amount}}
                                      td.footable-visible {{packageItem.quantity * packageItem.price_amount}}

