.manage-list
  div(style='position: relative;' before-bottom='$ctrl.getList()')
    .w-md.nav-job.bg-light.b-r.bg-white-only(ng-class='{"m-t-xl": $ctrl.isAdmin}')
      .w-md.wrapper-sm(style='position: relative; overflow: hidden; height: 100%; width: 240px;')
        .m-b-md
          .m-t-sm
            a: .m-l-xs(
              ng-class="{'text-info-dker': !$ctrl.collapse.client, 'text-gray': $ctrl.collapse.client}"
              ng-click='$ctrl.collapse.client = !$ctrl.collapse.client'
            )
              i.fa.fa-plus-square(ng-if='$ctrl.collapse.client')
              i.fa.fa-minus-square(ng-if='!$ctrl.collapse.client')
              span.m-l-xs.text-u-c clients
            span.text-xs.text-gray.m-t-xs
              div(style='overflow:hidden')
                ul.nav.nav-sm.h6.collapse.in(uib-collapse='$ctrl.collapse.client', aria-expanded='true', aria-hidden='false')
                  li.text-center.text-muted(ng-if='!$ctrl.facet_fields.client_name_sf.length') No client
                  ul.nav.nav-sm(ng-if='$ctrl.facet_fields.client_name_sf.length')
                    li
                      .bg-white-only
                        .wrapper-xs
                          input.rounded.form-control.padder.text-no-glow(
                            type='text'
                            placeholder='Search Client'
                            ng-model='$ctrl.searchClient'
                          )
                   li.m-t-xs(style='overflow-y: auto; max-height: 180px;')
                    .col-xs-12.pointer.no-padder.m-t-xs.ng-scope(
                      ng-repeat="client_name_sf in $ctrl.facet_fields.client_name_sf | filter: $ctrl.searchClient track by $index", ng-if='$even')
                        .col-xs-1.no-padder
                          label.i-checks.i-checks-sm
                            input.ng-pristine.ng-untouched.ng-valid(type='checkbox', ng-model='$ctrl.filter.client_name_sf[client_name_sf]')
                            i.m-r-none
                        .col-xs-11.no-padder
                          .left-padding-5
                            .border-facet.truncate.m-l-xs.ng-binding(
                            title='{{client_name_sf}}'
                            ng-bind='client_name_sf'
                            ng-click='$ctrl.filter.client_name_sf[client_name_sf]=!$ctrl.filter.client_name_sf[client_name_sf]'
                            )
  .hbox.manage-list
    .m-l-large
      .bg-white-only.b-b(style='position: fixed;width: 100%; height: 44px;z-index: 1;')
        ul.nav.nav-pills.nav-sm.m-t-xs
          li(ng-repeat='status in $ctrl.MANAGELIST_STATES' ui-sref-active="active")
            a(ui-sref='jobs.manage-list({status: status.title})') {{status.title}}
    .m-t-xl(style='padding-bottom: 4px;')
    .m-l-large
      .col-xs-12.wrapper-sm(style='padding: 10px;')
        .m-b-xs.hbox.wrapper-sm(ng-if='$ctrl.jobs.length === 0')
          .col: h1.text-center.text-muted(ng-if='!$ctrl.ui.loading') No Jobs
        .col-xs-12.no-padder.bg-white.m-b-sm.hbox(ng-repeat='job in $ctrl.jobs track by $index')
          .col.bg-white.b-a
            .col-xs-12.no-padder
              .col-xs-8.no-padder
                .tl-content.m-none.padder.w-full.w-auto-xs(style='padding-bottom: 0;')
                  .m-b-sm.clearfix
                    div
                      a(style='color:#fff' ng-href='jobs/{{job.id}}')
                        strong.text-info-lt.ng-binding.panel-title(
                          ng-if='job.qrex_client_name'
                          ng-bind='job.qrex_client_name +" - Client of "+ job.client_name +" - "+ job.job_location'
                        )
                        strong.text-info-lt.ng-binding.panel-title(
                          ng-if='!job.qrex_client_name'
                          ng-bind='job.client_name +" - "+ job.job_location'
                        )
                      button.btn.b-success.wrapper-xs.bg-white-only.m-l-sm.text-success-dker.none-p-b.none-p-t(style='cursor: default;' ng-bind='job.consultant_score')
                      span
                        .pull-right(ng-if='["Active", "Qdirect"].includes($ctrl.PAGE_STATUS)')
                          buton.btn.b-success.bg-white-only.text-success-dker.r-2x.m-t-n-xs(ng-click='$ctrl.JobSuggest.complete(job, $ctrl.refreshList)')
                            i.fa.fa-check.m-r-xs
                            | Mark as complete
                        .pull-right(ng-if='$ctrl.PAGE_STATUS == "Passive"')
                          buton.btn.b-success.bg-white-only.text-success-dker.r-2x.m-t-n-xs(ng-click='$ctrl.JobSuggest.activate(job, $ctrl.refreshList)')
                            i.fa.fa-check.m-r-xs
                            | Set active
                      .pull-right(ng-if='$ctrl.isAdmin')
                        span.b-a.m-r-xs.pointer.text-xs.text-center.btn-circle.m-b-xs.m-l-sm.ng-binding.pull-right(
                        style='background: #46a523;color: #fff;'
                        ng-if='job.active'
                        ng-click='$ctrl.JobSuggest.complete(job, $ctrl.refreshList, false, true)'
                        )
                          i.fa.fa-plus
                        span.b-a.m-r-xs.pointer.text-xs.text-center.btn-circle.m-b-xs.m-l-sm.ng-binding.pull-right.allocate-user(
                          ng-if='job.active'
                          ng-repeat='user in job.passiveUsers track by user'
                          uib-tooltip='{{$ctrl.userNameMap[user]}}'
                          tooltip-placement='top'
                          tooltip-append-to-body='true'
                        ) {{$ctrl.userNameMap[user] | nameInitial }}
                          i.fa.fa-plus.pos-abt.img-circle(
                            style='background: #adadad;color: #fff;padding: 1px;font-size: 8px;'
                            ng-click='$ctrl.allocateUser(job, user)'
                          )
                        span.b-a.m-r-xs.pointer.text-xs.text-center.btn-circle.m-b-xs.m-l-sm.ng-binding.pull-right.deallocate-user(
                          ng-if='job.active'
                          ng-repeat='user in job.activeUsers track by user'
                          uib-tooltip='{{$ctrl.userNameMap[user]}}'
                          tooltip-placement='top'
                          tooltip-append-to-body='true'
                        ) {{$ctrl.userNameMap[user] | nameInitial }}
                          i.fa.fa-close.pos-abt.img-circle(
                            style='background: #adadad;color: #fff;padding: 1px;font-size: 8px;'
                            ng-click='$ctrl.deallocateUser(job, user)'
                          )
                  .panel-body.pull-in.b-t.no-padder-left
                    .col-xs-4.text-ellipsis.ng-binding(title='CTC')
                      i.fa.fa-inr(style='margin:0 2px;')
                      span.m-l-xs(ng-bind='job.min_sal +" - "+ job.max_sal + " Lakh"')
                    .col-xs-4.text-ellipsis.ng-binding(title='Exprience')
                      i.fa.fa-line-chart
                      span.m-l-xs(ng-bind='job.min_exp +" - "+ job.max_exp + " years"')
              .col-xs-4.no-padder.b-l(style='position:relative')
                .tl-content.m-none.padder-v.w-full.w-auto-xs.text-center.m-t-md.none-p-b
                  .col-xs-3.wrapper-xs
                    .w-full(style='font-size:20px;' ng-bind='job.cvUploaded')
                    .w-full.text-gray CVs Uploaded
                  .col-xs-3.wrapper-xs
                    .w-full(style='font-size:20px;' ng-bind='job.cvShortlisted')
                    .w-full.text-gray Shortlisted
                  .col-xs-3.wrapper-xs
                    .w-full(style='font-size:20px;' ng-bind='job.interviewConducted')
                    .w-full.text-gray Interview
                  .col-xs-3.wrapper-xs
                    .w-full(style='font-size:20px;' ng-bind='job.offers')
                    .w-full.text-gray Offer Accepted
                span.wrapper-sm.pos-abt(style='left: 0;background: #e4e4e4;color: gray;padding-top: 5px !important;padding-bottom: 5px !important;') Pipeline

        .text-center.m-t-xxl
          span(title='Loading ...' ng-if="$ctrl.ui.loading")
            i.fa.fa-spin.fa-circle-o-notch.btn.btn-default.wrapper-xs.rounded
          span(title='Load more' ng-if="$ctrl.ui.lazyLoad" ng-click="$ctrl.getList()")
            i.fa.fa-arrow-down.btn.btn-default.wrapper-xs.rounded
