extends ../layout
block head
    title #{title}
    meta(name='description', content= "#{meta_disctription}")
    meta(name="keywords" content="#{meta_keywords}")
block content

  section.page_head
    .pagebanner
      img(src='#{s3BaseUrl}/img/banner1.jpg', width='100%')
      .banner-cap
        h2
          | All About
          span.text-orange Shoppre
        h2 The Mission
  section.mission_band
    .container
      .col-md-11.col-md-offset-1
        .col-md-4
          .info
            h2 Our Mission
            p
              | To delight our members every time they open a box from shoppre by treating each package as if it was our own, while displaying our passion for service and superior global shipping expertise.
        .col-md-8.text-center
          .circle
            span
              | About
              br
              | Shoppre
          .circle
            span
              | Why
              br
              | Shoppre
          .circle(style='padding-top: 25px;')
            span
              | Our
              br
              | Shipping
              br
              | Partners
  section.about_yello
    .container
      p
        | Shoppre is the brainchild of two NRI women with incurably Desi hearts. Frustrated by the lack of reasonably priced opportunities to express our quintessentially Indian souls abroad, we decided to make one of our own. Shoppre brings thousands of online Indian stores right to your doorstep.
  section.about_why
    .container
      h3
        | Why
        span.text-orange Shoppre?
      .whyblock
        .col-sm-4
          img(src='#{s3BaseUrl}/img/why-shoppre-1.png')
        .col-sm-8
          p
            | Our team of logistics experts have developed a streamlined shipping and handling process, tailored to handle challenges unique to India.They worry about customs and red tape so you don't have to! All while ensuring fast, dependable service at unbelievably low prices!
        .clearfix
      .whyblock
        .col-sm-8
          p
            | Need help with any aspect of your shopping experience? Our friendly, efficient customer service team is here to guide you through every step of the process!
        .col-sm-4
          img(src='#{s3BaseUrl}/img/why-shoppre-2.png')
        .clearfix
  section.about_partner
    .container
      .col-sm-8.text-center
        h2 International Shipping Partners
        .whitebox
          p
            | Our influence and bulk shipping volume have allowed Shoppre to build long-term partnerships with every major global shipper, including DHL, FedEx and DTDC. As our partners, these global shippers provide Shoppre with the lowest possible rates, fastest delivery times and best shipping solutions.
          a.btn.btn-shoppre(href='https://goo.gl/forms/fEYWqUJjfguCjqif1') Become a Partner
      .col-sm-4.rightside
        img(src='#{s3BaseUrl}/img/abt_partner.png')
        p
          | We analyze routes and rates so members can choose the fastest or most affordable delivery, depending on their needs.
  section.signup_free.violet-grade
    .container
      .row
        .col-md-12
          h3
            | So what are you waiting for? Shopp
            span.text-orange re
            | ! Open your big box of happiness today!
          p All you need is a membership to get your Indian Shipping Address immediately!
          a.btn.btn-shoppre(href="#{URLS_MYACCOUNT}/register") sign up for free
