extends ../layout
block content
  head
    title '#{title}'
    meta(name='description', content= '#{meta_description}')
    meta(property='og:title', content='#{meta_title}')
    link(href="/app/css/select2.min.css", rel='stylesheet')
    link(href="/app/css/star-rating.min.css", rel='stylesheet')
    //link(href="/app/fonts", rel='stylesheet')
  .body
    section.reviews
      .container
        .col-md-8
          .list
            h3 Latest Reviews
            each review in reviews
              .blox
                h4= review.name
                  | By
                  span #{review.name}
                  |  on #{review.created_at}
                  //|  on #{date('j F, Y', shortFormat(review.created_at))}
                input.rating.rated(value='#{review.rating}' style='float: right;')
                p #{review.description}
                //i - #{review->country->name}}
                i - Google Review
                i - #{review.source_id}
              .clearfix
              //| #{reviews.links() }
        .col-md-4
          .review_form
            h3 Leave your own feedback
            form(method='post', action="submit")
              .form-group
                label Name *
                input.form-control(type='text', name='person', placeholder='Enter Your Name')
                //|                 @if ($errors->has('person'))
                //span.error {{ $errors->first('person') }}
                //|                 @endif
              .form-group
                label Country *
                select.form-control.select2(name='country_id')
                  option(value='') Select Country
                   each country in countries || []
                    option(value='#{$country.id}') #{$country.name}
                //
                //|                 @if ($errors->has('country_id'))
                //span.error {{ $errors->first('country_id') }}
                //|                 @endif
              .form-group
                textarea.form-control(rows='8', name='review', placeholder='Comments & Tips')
                //|                 @if ($errors->has('review'))
                //span.error {{ $errors->first('review') }}
                //|                 @endif
              .form-group
                label Rating *
                .rating-star
                  input#input-rate.rating(type='text', name='rating')
                //|                 @if ($errors->has('rating'))
                //span.error {{ $errors->first('rating') }}
                //|                 @endif
              .form-group
                button.btn.btn-block.btn-shoppre(type='submit') Submit Feedback

    script(src="#{s3BaseUrl}/js/jquery.min.js")
    script(src="#{s3BaseUrl}/js/star-rating.min.js", type='text/javascript')
    script(src="#{s3BaseUrl}/js/select2.min.js")
    script.
      $(".rated").rating({
        'size': 'xs',
        'min': 0,
        'max': 5,
        'step': 1,
        'displayOnly': true,
        'showClear': false,
        'showCaption': false
      });
      $("#input-rate").rating({
        'size': 'sm',
        'min': 0,
        'max': 5,
        'step': 1,
        'showClear': false,
        'showCaption': false
      });
    script(src="#{s3BaseUrl}/js/select2.min.js")
    script(type='text/javascript').
      $(document).ready(function () {
        $(".select2").select2();
      });

