div.m-t-xl.no-margin
  .hbox
    .wrapper-md.bg-white-only
      div
        .h1.m-l-md.font-thin.h3
          | MEMBERSHIP PROFILE
          ul.nav.nav-pills.nav-sm.pull-right
            li.m-r-xs.pull-right
              a.h5.font-bold.b-a.btn-addon.btn-success.text-white-only.b-success.imp(
                ng-href='{{$ctrl.URLS.ACCOUNTS}}/password_change'
                popover-trigger="'mouseenter'"
                popover-placement='bottom'
                popover-append-to-body='true'
              )
                span.fa.fa-forward
                span  Change Password


      hr.no-margin-bottom
      form.form.form-validation.form-horizontal.wrapper-md(
        name="profileForm"
        novalidate
        ng-submit='$ctrl.create(profileForm)'
      )
        .row
          .col-md-12.col-sm-12.col-xs-12.no-padder
            h4 Contact Information
            .col-md-11

              .row
                .col-md-12.col-sm-12.col-xs-12
                  h5 PRIMARY ACCOUNT HOLDER NAME

              .row
                .col-md-2.col-sm-2.col-xs-12
                  label.col-xs-12.input-group
                    | Salutation
                    select.form.form-control(
                      ng-model='$ctrl.data.salutation'
                      name='salutation'
                      required
                    )
                      option(value='') Salutation
                      option Mr
                      option Ms
                      option Mrs
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && profileForm.salutation.$dirty && profileForm.salutation.$invalid') Please select Salutation

                .col-md-4.col-sm-5.col-xs-12.no-padder
                  label.col-xs-12.input-group
                    | First Name
                    input.form.form-control(
                      type='text'
                      name='first_name'
                      placeholder='eg. Aditya'
                      ng-model='$ctrl.data.first_name' q-text-maxlength="60"
                      autofocus
                      required
                    )
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && profileForm.first_name.$dirty && profileForm.first_name.$invalid') Please enter First Name
                .col-md-4.col-sm-5.col-xs-12
                  label.col-xs-12.input-group
                    | Last Name
                    input.form.form-control(
                      type='text'
                      name='last_name'
                      placeholder='eg. Sharma'
                      ng-model='$ctrl.data.last_name'
                      q-text-maxlength='60'
                      autofocus
                      required
                    )
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && profileForm.last_name.$dirty && profileForm.last_name.$invalid') Please enter Last Name

              .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
              .row
                .col-md-12.col-sm-12.col-xs-12
                  h5 EMAIL ADDRESS

              .row
                .col-md-4.col-sm-5.col-xs-12.no-padder-right
                  label.col-xs-12.input-group
                    | Email
                    input.form.form-control(
                      type='email'
                      name='email'
                      placeholder='eg. adithya@gmail.com'
                      ng-model='$ctrl.data.email'
                      q-text-maxlength="60"
                      autofocus
                      required
                    )
                    span.wrapper-xs.text-xs.text-danger(
                      ng-show='$ctrl.clickUpload && profileForm.email.$dirty && profileForm.email.$invalid'
                    ) Please enter Email
                .col-md-4.col-sm-5.col-xs-12.no-padder-right
                  label.col-xs-12.input-group
                    | Alternate Email
                    input.form.form-control(
                      type='email'
                      name='alternate_email'
                      placeholder='eg. alt_adithya@gmail.com'
                      ng-model='$ctrl.data.alternate_email'
                      q-text-maxlength="60"
                    )
                    span.wrapper-xs.text-xs.text-danger(
                    ng-show='$ctrl.clickUpload && profileForm.alternate_email.$dirty && profileForm.alternate_email.$invalid'
                    ) Please enter Alternate Email
              .row
                .col-md-12.col-sm-12.col-xs-12
                  h5 PHONE NUMBERS
              .row
                .col-md-7.col-sm-7.col-xs-12
                  label.col-xs-12.input-group
                    | Primary Phone / Mobile Number
              .row
                .col-md-2.col-sm-2.col-xs-12
                  label.col-xs-12.input-group
                    select.form.form-control(
                      ng-model='$ctrl.data.phone_code'
                      name='phone_code'
                      required
                    )
                      option(value='') Ph Code
                      option(value='91') +91
                      option(value='1') +1
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && profileForm.phone_code.$dirty && profileForm.phone_code.$invalid') Please select Country Phone Code
                .col-md-4.col-sm-5.col-xs-12.no-padder
                  label.col-xs-12.input-group
                    input.form.form-control(
                      type='text'
                      name='phone'
                      placeholder='eg. 9844717202'
                      ng-model='$ctrl.data.phone'
                      q-text-maxlength="60"
                      required
                    )
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && profileForm.phone.$dirty && profileForm.phone.$invalid') Please enter Phone/Mobile Number

              .row
                .col-md-7.col-sm-7.col-xs-12
                  label.col-xs-12.input-group
                    | Secondary Phone / Mobile Number
              .row
                .col-md-2.col-sm-2.col-xs-12
                  label.col-xs-12.input-group
                    select.form.form-control(
                      ng-model='$ctrl.data.secondary_phone_code'
                      name='secondary_phone_co de'
                    )
                      option(value='') Ph Code
                      option(value='91') +91
                      option(value='1') +1
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && profileForm.secondary_phone_code.$dirty && profileForm.secondary_phone_code.$invalid') Please select Country Phone Code
                .col-md-4.col-sm-5.col-xs-12.no-padder
                  label.col-xs-12.input-group
                    input.form.form-control(
                      type='text'
                      name='secondary_phone'
                      placeholder='eg. 9844717202'
                      ng-model='$ctrl.data.secondary_phone'
                      q-text-maxlength="60"
                    )
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && profileForm.secondary_phone.$dirty && profileForm.secondary_phone.$invalid') Please enter Phone/Mobile Number



              .row
                .col-md-6.col-xs-12
                  h4(ng-bind="$ctrl.error.message" style="color:red;")
                  button.btn.btn-success(type='submit' ng-disabled="$ctrl.submitting")
                    span.fa.fa-forward.m-r-sm
                    span.text-white(ng-if='!$ctrl.submitting') Save Changes
                    span(ng-if='$ctrl.submitting')
                      i.fa.fa-spin.fa-circle-o-notch
                      span.text-white &nbsp;&nbsp;Submitting...


    .clearfix

//div(ng-show='$ctrl.submitting')
//  span(ng-include="'app/routes/jobs/cv-uploading/cv-uploading.html'")
