.col-xs-12.bg-white-only
  .w-full
    h3.m-l-md.font-thin ShoppRe Badge
   hr(style='margin-bottom: 0;')
  .col-xs-5.b-r(style='height: 600px;')
    uib-accordion(close-others='true')
      .padder-sm(uib-accordion-group='' is-open='$ctrl.ui.type === 0')
        uib-accordion-heading
          i.m-r-sm.fa(
            ng-class='{"fa-chevron-up": $ctrl.ui.type === 0, "fa-chevron-down": $ctrl.ui.type !== 0}'
            ng-click='$ctrl.ui.type = 0;$ctrl.ui.size = 100;$ctrl.editCode($ctrl.ui.size)'
          )
          span(
            ng-click='$ctrl.ui.type = 0;$ctrl.ui.size = 100;$ctrl.editCode($ctrl.ui.size)'
          ) Square Badge
        div
          .col-xs-6.no-padder(ng-repeat='n in $ctrl.ui.sizeListSquare')
            label.i-checks.i-checks-sm(ng-click='$ctrl.editCode($ctrl.ui.size)')
              input(
                type='radio'
                name='square'
                ng-model='$ctrl.ui.size'
                value='{{n}}'
                ng-change='$ctrl.editCode($ctrl.ui.size)'
              )
              i
              span.padder-md(ng-bind='n + " X " + n')

      .padder-sm(uib-accordion-group='')
        uib-accordion-heading
          i.m-r-sm.fa(
            ng-class='{"fa-chevron-up": $ctrl.ui.type === 1, "fa-chevron-down": $ctrl.ui.type !== 1}'
            ng-click='$ctrl.ui.type = 1;$ctrl.ui.size = 480;$ctrl.editCode($ctrl.ui.size)'
          )
          span(
            ng-click='$ctrl.ui.type = 1;$ctrl.ui.size = 480;$ctrl.editCode($ctrl.ui.size)'
          ) Horizontal Badge
        div
          .col-xs-6.no-padder(ng-repeat='n in $ctrl.ui.sizeListHorizontal')
            label.i-checks.i-checks-sm(ng-click='$ctrl.editCode($ctrl.ui.size)')
              input(
                type='radio'
                name='horizontal'
                ng-model='$ctrl.ui.size'
                value='{{n}}'
                ng-change='$ctrl.editCode($ctrl.ui.size)'
              )
              i
              span.padder-md(ng-bind='n + " pixels"')

      .padder-sm(uib-accordion-group='')
        uib-accordion-heading
          i.m-r-sm.fa(
            ng-class='{"fa-chevron-up": $ctrl.ui.type === 2, "fa-chevron-down": $ctrl.ui.type !== 2}'
            ng-click='$ctrl.ui.type = 2;$ctrl.ui.size = 300;$ctrl.editCode($ctrl.ui.size)'
          )
          span(
            ng-click='$ctrl.ui.type = 2;$ctrl.ui.size = 300;$ctrl.editCode($ctrl.ui.size)'
          ) Vertical Badge
        div
          .col-xs-6.no-padder(ng-repeat='n in $ctrl.ui.sizeListVertical')
            label.i-checks.i-checks-sm(ng-click='$ctrl.editCode($ctrl.ui.size)')
              input(
                type='radio'
                name='vertical'
                ng-model='$ctrl.ui.size'
                value='{{n}}'
                ng-change='$ctrl.editCode($ctrl.ui.size)'
              )
              i
              span.padder-md(ng-bind='n + " pixels"')
    .col-xs-12
      textarea.form-control.embedCode(ng-model='$ctrl.data.embedCode' readonly='' style='height: 115px;')
      .wrapper-xs
        a.pull-right.btn.btn-sm.btn-primary(
          ngclipboard data-clipboard-target='.embedCode'
        ) Click to Copy
  .col-xs-7
    .hbox
      .v-box
        .row-row
          .cell
            .cell-inner
              .wrapper-xs.h4 Preview
              .wrapper-xs.text-gray
                span The image displayed below will appear smaller than original image size for preview.
              .b-a.b-3x.r-3x(style='height: 384px;margin: 15px auto;border: 10px solid #aaa;')
                iframe.v-middle.pull-right(
                  ng-src='{{$ctrl.url}}'
                  style='{{$ctrl.ui.style}};border: none;overflow: hidden;'
                  scrolling="no"
                )
                .wrapper-xs.text-md.text-center.pos-abt(style='margin: 150px auto;width: 91%') Your Website
              div.text-center
                .inline.m-t-n-md(style='height: 40px;width: 30px;background: #aaa;')
              div.text-center.m-t-n
                .inline.r-3x(style='height: 10px;width: 150px;background: #aaa;')

