extends ../layout
block head
  title '#{title}'
  meta(name='description', content= '#{meta_description}')
  meta(name="keywords" content="#{meta_keywords}")

block content
  section.page_head
    .pagebanner
      img(src='img/banner1.jpg', width='100%')
      .banner-cap
        h2 Frequently Asked Questions - Shoppre
  section.faq_content
    .container
      .col-sm-8.col-sm-offset-2
        #accordion.panel-group(role='tablist', aria-multiselectable='true')
          -for item in faq
            .panel.panel-default
              .panel-heading(role='tab')
                h4.panel-title
                  a(role='button', data-toggle='collapse', data-parent='#accordion', href='#cat_#{item.id}', aria-expanded='false')
                     | #{item.name}
              .panel-collapse.collapse(id="cat_#{item.id}")
                .panel-body.nested
                  -for subitem in item.Faqs
                    .panel
                      .panel-heading.nested(role='tab')
                        h4.panel-title
                          a(role='button', data-toggle='collapse', href='#faq_#{subitem.id}', aria-expanded='false', class="collapsed")
                             | #{subitem.question}
                      .panel-collapse.collapse(id="faq_#{subitem.id}")
                         .panel-body !{subitem.answer}



  section.faq_contact
    .container
      .col-sm-6.col-sm-offset-3
        h3 Please note, this FAQ is subject to updates
        p Please check back from time to time for the latest information.
        h3 Still Have Questions?
        a.btn.btn-shoppre(href="#{s3BaseUrl}/contactUs") Contact Us
  block script
    script(src="#{s3BaseUrl}/js/jquery.min.js")
