.col-md-12.col-xs-12
  .col-md-12.col-xs-12.no-padder
    .col-md-12.col-xs-12.no-padder
      h1.f-s-22.f-c-d-greay Create Shipment Request
      p.f-s-16.f-c-d-greay
        i.fas.fa-home
        span.f-c-l-gray &nbsp;&nbsp;/ Mylocker /
        |  &nbsp; Create Ship Request
    .col-md-12.col-xs-12.div-b-w-s.no-padder
      .col-md-9.col-xs-12.create-ship-pad(ng-if='$ctrl.summary')
        center
          img.img-responsive(src='assets/images/creat-shipment-1.png', style='margin: 12px 0 12px 0;')
        hr
        h4.f-s-16.f-c-d-greay.f-w-7 Deliver to
        p.f-s-16.f-c-d-greay(ng-bind='$ctrl.defaultAddress.first_name + $ctrl.defaultAddress.last_name + " ( " + $ctrl.defaultAddress.phone + " )"')
        h4.f-s-16.f-c-d-greay.f-w-7 Delivery Address
          span(
          uib-popover = "Please take extra care to make sure that you have entered the correct address while making an International Shipment. T" +
          "he courier will charge an additional fee (between INR 3000 to INR 7000) to your Shoppre account if you " +
          "update your address after the shipment has left our facility. Many couriers charge this fee after delivery, " +
          "so you may see it charged to your account post-shipment."
          popover-trigger="'mouseenter'"
          popover-placement='right'
          popover-append-to-body='true'
          )
            i.m-l.fa.fa-info-circle
        p.f-s-16.f-c-d-greay(ng-bind='$ctrl.defaultAddress.line1 + "," + $ctrl.defaultAddress.line2 + "," + $ctrl.defaultAddress.city + "," + $ctrl.defaultAddress.state + "," + $ctrl.defaultAddress.Country.name + "-" + $ctrl.defaultAddress.pincode')
        button.btn.btn-default(ng-click='$ctrl.editAddress($ctrl.defaultAddress.id, $index)') Edit
        button.btn.btn-default.m-l-sm(ng-click='$ctrl.select()') change
        button.btn.btn-default.m-l-sm(ng-click='$ctrl.open()') Add Address
        br
        .col-md-12.col-xs-12.no-padder(style="margin-top:20px")
          .col-md-6.col-xs-6.no-padder
            p.f-s-16.f-c-d-greay {{$ctrl.shipments.length}} Packages in this shipments
          .col-md-6.col-xs-6.no-padder
            button.btn.pull-right(style="background: #fff;font-weight:600;  color: #507dbc;  border: 2px solid #507dbc;opacity: 0.6;"
              ui-sref ='packages.index({packageIds: $ctrl.$packageIds})'
              popover-trigger="'mouseenter'"
              popover-placement='bottom'
              popover-append-to-body='true') Add More Package
        .col-md-12.col-xs-12.no-padder(style="margin-top:10px")
          table.table.table-striped.m-b-none(style="border-radius: 3px 3px 0 0;")
            thead(style="background-color: #677582;color:#fff;font-weight:700")
              tr(data-toggle='true')
                td Package ID
                td From
                td Value
                td Weight
            tbody(ng-repeat="shipment in $ctrl.shipments" ng-init='$ctrl.MoreOption={}' ng-class='$ctrl.MoreOption[$index] === true ? "bg-color" : ""')
              tr(ng-click='$ctrl.MoreOption[$index]=!$ctrl.MoreOption[$index]' style='cursor:pointer')
                td(ng-bind='shipment.id')
                td
                  a(ui-sref='package.show({ id: package.id })' ng-bind='shipment.Store.name')
                td ₹{{shipment.price_amount | number : 2}}
                td {{shipment.weight}} kg
                  i.fas.fa-trash.pull-right.hide(style="color:red" title='Delete Package' ng-click='$ctrl.deletePackage(shipment.id, $index)')
              tr
                td(colspan='5' ng-if='$ctrl.MoreOption[$index]')
                  table.table(style="background:white")
                    thead.f-s-16.f-c-d-greay.f-w-6
                      tr
                        td Package Details
                        td Qty
                        td Value per unit
                        td Total Value
                    tbody(ng-repeat="item in shipment.PackageItems")
                      tr
                        td {{item.name}}
                        td {{item.quantity}}
                        td ₹{{item.price_amount}}
                        td ₹{{item.price_amount * item.quantity}}
            tbody
              .col-md-12.col-xs-12(style="background:#e1e9f3;")
                 td  Shipment Totals
                 td
                 td ₹{{$ctrl.totalpackagePriceAmount | number : 2}}
                 td.footable-visible(colspan='2') Final Weight of Shipment to be calculated
                   span(
                   uib-popover = "All International carriers base their billable shipping rates" +
                   "on the greater of Actual Weight and Dimensional Weight." +
                   "Actual weight is the weight of the package when put on a" +
                   "scale." +
                   " Dimensional weight is based on the size of the package. It is" +
                   "calculated by multiplying the dimensions of the item." +
                   "For International Shipments:" +
                   "Dimensional Weight = Length x Width x Height (in cm) / 5000" +
                   "For Domestic Shipments:" +
                   "Dimensional Weight = Length x Width x Height (in cm) / 4000"
                   popover-trigger="'mouseenter'"
                   popover-placement='right'
                   popover-append-to-body='true'
                   )
                     i.m-l.fa.fa-info-circle
          .col-md-12.col-xs-12.no-padder
             button.btn.pull-right.btn-request(ng-click='$ctrl.nextStage()' style="margin-top:20px;color:#fff;width: 80px;height: auto;") Next
          br

      .col-md-9.col-xs-12(style="padding-top:20px;" ng-if='$ctrl.preferences')
        center
          img.img-responsive(src='assets/images/create-shipment-2.png', style='margin: 12px 0 12px 0;')
        hr
        .col-md-12.col-xs-12(style="border-left:2px solid #e1e9f3")
          lable.f-c-blue.f-w-7(style="background:#e1e9f3;padding:10px;margin-left:-17px ") Packing Options
          .col-md-12.col-xs-12(style="padding-top:20px;padding-right:0;padding-left:0")
            .checkbox(ng-click='$ctrl.updateCharges()')
              label.i-checks(ng-if='$ctrl.data.repack')
                input(type='checkbox', checked='true' value='' ng-model='$ctrl.data.repack')
                i
                | Discard Shoe boxes
              label.i-checks(ng-if='!$ctrl.data.repack')
                input(type='checkbox',  checked='false' value='' ng-model='$ctrl.data.repack')
                i
                | Discard Shoe boxes
              i.fa.fa-info-circle.m-l-xs(
              uib-popover='We repack all the necessary items (items which arrive at our facility in big boxes) for FREE of cost (except Shoe Boxes which we do not discard). Discarding shoe boxes before your shipment is packed can help reduce the dimensional weight of your shipment in some cases. A charge of INR 100 per shipment will be incurred to discard shoe boxes)'
              popover-trigger="'mouseenter'"
              popover-placement='top'
              popover-append-to-body='true'
              )
            .checkbox(ng-click='$ctrl.updateCharges()')
              label.i-checks(ng-if='$ctrl.data.extra_packing')
                input(type='checkbox', checked='true' value='' ng-model='$ctrl.data.extra_packing')
                i
                | Add extra packing material
              label.i-checks(ng-if='!$ctrl.data.extra_packing')
                input(type='checkbox',  value='' ng-model='$ctrl.data.extra_packing')
                i
                | Add extra packing material
              i.fa.fa-info-circle.m-l-xs(
              uib-popover='Additional protective packaging will be added to every shipment at the cost of INR 500.*Charges may be lesser for Membership Partners, and Loyalty Members (Silver and above).'
              popover-trigger="'mouseenter'"
              popover-placement='top'
              popover-append-to-body='true'
              )
            .checkbox(ng-click='$ctrl.updateCharges()')
              label.i-checks(ng-if='$ctrl.data.original')
                input(type='checkbox', checked='true' value='' ng-model='$ctrl.data.original')
                i
                | Ship in original boxes(do not repack)
              label.i-checks(ng-if='!$ctrl.data.original')
                input(type='checkbox',  value='' ng-model='$ctrl.data.original')
                i
                | Ship in original boxes(do not repack)
              i.fa.fa-info-circle.m-l-xs(
              uib-popover='We usually repack all the necessary items (items which arrive at our facility in big boxes) in order to reduce the dimensional weight for FREE of cost (except Shoe Boxes). You can choose this option to ship your packages in the original shipping boxes in which they were received.'
              popover-trigger="'mouseenter'"
              popover-placement='top'
              popover-append-to-body='true'
              )
            .checkbox(ng-click='$ctrl.updateCharges()')
              label.i-checks(ng-if='$ctrl.data.gift_wrap')
                input(type='checkbox', checked='true' value='' ng-model='$ctrl.data.gift_wrap')
                i
                | Gift Wrap
              label.i-checks(ng-if='!$ctrl.data.gift_wrap')
                input(type='checkbox',  value='' ng-model='$ctrl.data.gift_wrap')
                i
                | Gift Wrap
              i.fa.fa-info-circle.m-l-xs(
              uib-popover='We can gift wrap your items at a cost of INR 100/- per package. However, please note that the gift wrapped item will be placed in another box before it is being shipped and that box cannot be wrapped.'
              popover-trigger="'mouseenter'"
              popover-placement='top'
              popover-append-to-body='true'
              )
            .checkbox(ng-click='$ctrl.updateCharges()')
              label.i-checks(ng-if='$ctrl.data.gift_note' ng-click='$ctrl.giftNoteShow = false')
                input(type='checkbox', checked='true' value='' ng-model='$ctrl.data.gift_note')
                i
                | Gift Note
              label.i-checks(ng-if='!$ctrl.data.gift_note' ng-click='$ctrl.giftNoteShow = true')
                input(type='checkbox',  value='' ng-model='$ctrl.data.gift_note' )
                i
                | Gift Note
              i.fa.fa-info-circle.m-l-xs(
              uib-popover='We can write a gift note and place it inside your package at a cost of INR 50/- per package.'
              popover-trigger="'mouseenter'"
              popover-placement='top'
              popover-append-to-body='true'
              )
              textarea.m-b-xs.m-t-xs.form-control(
              ng-show='$ctrl.giftNoteShow'
              type="text",
              ng-model="$ctrl.data.gift_note_text",
              style='resize: none;',
              placeholder="Enter Gift Note"
            )
            .txt-kg
              .col-md-2.no-padder
                input.form-control.no-padder.text-center(type='text', placeholder='in kg' ng-model='$ctrl.data.max_weight')
              label.col-md-10.control-label.text-left Max weight per package (in kg)
                i.fa.fa-info-circle.m-l-xs(
                uib-popover='Choose this option if you would like to restrict a Maximum weight of individual boxes in a shipment. Shoppre will split your shipment into multiple boxes not exceeding this box weight limit (whenever possible), at the same cost of splitting a package (INR 200 per new package created)*.' +
                '*Charges may be lesser for Membership Partners, and Loyalty Members (Silver and above).'
                popover-trigger="'mouseenter'"
                popover-placement='top'
                popover-append-to-body='true'
                )

        .col-md-12.col-xs-12(style="border-left:2px solid #e1e9f3;margin-top:20px")
          lable.f-c-blue.f-w-7(style="background:#e1e9f3;padding:10px;margin-left:-17px ") Proforma Invoice Options
          .col-md-12.col-xs-12(style="padding-top:20px;padding-right:0;padding-left:0")
            .checkbox(ng-click='$ctrl.updateCharges()')
              label.i-checks(ng-if='$ctrl.data.mark_personal_use')
                input(type='checkbox', checked='true' value='' ng-model='$ctrl.data.mark_personal_use')
                i
                | Mark items for personal use only
              label.i-checks(ng-if='!$ctrl.data.mark_personal_use')
                input(type='checkbox',  checked='false' value='' ng-model='$ctrl.data.mark_personal_use')
                i
                | Mark items for personal use only
              i.fa.fa-info-circle.m-l-xs(
              uib-popover='We repack all the necessary items (items which arrive at our facility in big boxes) for FREE of cost (except Shoe Boxes which we do not discard). Discarding shoe boxes before your shipment is packed can help reduce the dimensional weight of your shipment in some cases. A charge of INR 100 per shipment will be incurred to discard shoe boxes)'
              popover-trigger="'mouseenter'"
              popover-placement='top'
              popover-append-to-body='true'
              )
            .checkbox(ng-click='$ctrl.updateCharges()')
              label.i-checks(ng-if='$ctrl.data.invoice_include')
                input(type='checkbox', checked='true' value='' ng-model='$ctrl.data.invoice_include')
                i
                | Please include a printed proforma invoice with in my shipment
              label.i-checks(ng-if='!$ctrl.data.invoice_include')
                input(type='checkbox',  checked='false' value='' ng-model='$ctrl.data.invoice_include')
                i
                | Please include a printed proforma invoice with in my shipment
            input.form-control(type="text" placeholder="Tax Id" ng-model='$ctrl.data.invoice_tax_id' style="width:200px; height:auto" )
        .col-md-12.col-xs-12.no-padder
          button.btn.btn-request(ng-click='$ctrl.back()' style="margin-top:20px;color:#fff") Back
          button.btn(ui-sref='packages.index({ packageIds: $ctrl.$stateParams.packageIds })' style="margin: 20px 0 0 20px;color:#e85151;background:#fff;border: 1px solid #e85151;") Cancel Request
        .clearfix
        br
        br


      .col-md-3.col-xs-12(style="padding:10px;")
        .col-md-12.col-xs-12.div-b-w-s(style="border: 1px solid rgba(146, 156, 165, 0.2);border-radius:4px;padding-bottom: 100px;")
          h3.f-s-16.f-c-d-greay Package Level Charges Summary
          hr
          .col-md-8.col-xs-8.no-padder
            p.f-s-16.f-c-l-gray(ng-if='$ctrl.shipmentMeta.photo_amount')
             | Photo Charges
            p.f-s-16.f-c-l-gray(ng-if= '$ctrl.shipmentMeta.consolidation_charge_amount')
             | Consolidation Charges
            p.f-s-16.f-c-l-gray(ng-if= '$ctrl.shipmentMeta.storage_amount')
             | Additional Storage Fee
            p.f-s-16.f-c-l-gray(ng-if= '$ctrl.shipmentMeta.is_liquid')
             | Special Package Clearance Fee
            p.f-s-16.f-c-l-gray(ng-if= '$ctrl.operationsAmount')
              | Shipping Preference Charges &nbsp;
              tr.footable-even(style='display: table-row;')
                td.footable-visible.footable-first-column
                  i.fa.fa-chevron-circle-down.text-info(ng-click = '$ctrl.packageOptions = !$ctrl.packageOptions')
                  .col-md-12(ng-show='$ctrl.packageOptions')
                      p.f-s-10.f-c-l-gray(ng-if='$ctrl.data.gift_wrap')
                        | Gift Wrap
                      p.f-s-10.f-c-l-gray(ng-if='$ctrl.data.extra_packing')
                        | Add Extra Package Material
                      p.f-s-10.f-c-l-gray(ng-if='$ctrl.data.repack')
                        | Discard Shoe Box
                      p.f-s-10.f-c-l-gray(ng-if='$ctrl.data.gift_note')
                        | Gift Note
                      p.f-s-10.f-c-l-gray(ng-if='$ctrl.data.express_processing')
                        | Express Processing
            p.f-s-16.f-c-l-gray Overweight Clearance Charge
              i.fa.fa-info-circle.m-l-xs(
              uib-popover='Any shipment which weighs more than 30 kg will be considered as a commercial shipment and will incur a custom clearance cost of INR 2500. If you would like to restrict a Maximum weight of individual boxes in a shipment, you can input the “maximum weight per shipment” of your choice, under your Shipping Preferences. Shoppre will split your shipment into multiple boxes not exceeding this box weight limit (whenever possible), at the same cost of splitting a package (INR 200 per new package created).'
              popover-trigger="'mouseenter'"
              popover-placement='bottom'
              popover-append-to-body='true'
              )
            hr
            p.f-s-16.f-c-l-gray(ng-if='$ctrl.totalChargeAmount')
             strong Total Package Level Charges
          .col-md-4.col-xs-4.no-padder(style="text-align: right;")
            p.f-s-16.f-c-d-gray(ng-if='$ctrl.shipmentMeta.photo_amount')
             | ₹{{$ctrl.shipmentMeta.photo_amount}}
            p.f-s-16.f-c-d-gray(ng-if= '$ctrl.shipmentMeta.consolidation_charge_amount')
              | ₹{{$ctrl.shipmentMeta.consolidation_charge_amount}}
            p.f-s-16.f-c-d-gray(ng-if= '$ctrl.shipmentMeta.storage_amount')
             | ₹{{$ctrl.shipmentMeta.storage_amount}}
            p.f-s-16.f-c-d-gray(ng-if= '$ctrl.shipmentMeta.is_liquid')
             | ₹{{$ctrl.data.is_liquid}}
            p.f-s-16.f-c-d-gray(ng-if= '$ctrl.operationsAmount')
              | ₹{{$ctrl.operationsAmount}}
              tr.footable-even(style='display: table-row;')
                td.footable-visible.footable-first-column(ng-click = '$ctrl.packageOptions = !$ctrl.packageOptions')
                  .col-md-12(ng-show='$ctrl.packageOptions')
                    p.f-s-10.f-c-l-gray(ng-if='$ctrl.data.gift_wrap')
                      |  ₹100
                    p.f-s-10.f-c-l-gray(ng-if='$ctrl.data.extra_packing')
                      |  ₹500
                    p.f-s-10.f-c-l-gray(ng-if='$ctrl.data.repack')
                      |  ₹100
                    p.f-s-10.f-c-l-gray(ng-if='$ctrl.data.gift_note')
                      |  ₹50
                    p.f-s-10.f-c-l-gray(ng-if='$ctrl.data.express_processing')
                      |  ₹200
            p.f-s-16.f-c-d-gray To Be Calculated
            hr
            p.f-s-16.f-c-d-gray(ng-if='$ctrl.totalChargeAmount')
             | ₹{{$ctrl.totalChargeAmount}}
        .col-md-12.col-xs-12(style="background-color: #e1e9f3;border-radius: 3px;")
          h1.f-s-14.f-c-d-greay.f-w-7 SHIPPING CHARGES
            .checkbox(ng-click='$ctrl.updateCharges()')
              label.i-checks(ng-if='$ctrl.data.express_processing')
                input(type='checkbox', checked='true' value='' ng-model='$ctrl.data.express_processing')
                i
                | Express Processing - INR 200
              label.i-checks(ng-if='!$ctrl.data.express_processing')
                input(type='checkbox',  value='' ng-model='$ctrl.data.express_processing')
                i
                | Express Processing - INR 200
              i.fa.fa-info-circle.m-l-xs(
              uib-popover='With Express Processing your package will jump to the front of the processing queues. This means your package gets VIP treatment.Faster consolidation,special requests and out the door quickly.'
              popover-trigger="'mouseenter'"
              popover-placement='top'
              popover-append-to-body='true'
              )
          p.f-s-14.f-c-l-gray To be estimated after we pack your items
            | Order confirmation email will be sent to
            span.f-c-blue &nbsp;{{$ctrl.customer.email}}
          button.btn.btn-request(ng-if='$ctrl.summary' style="border-radius: 3px;  border: 1px solid #507dbc;background-color: #507dbc;color:#fff;width: 100%;opacity: 0.6;" ng-disabled='$ctrl.summary') Confirm Your Ship Request*
          button.btn.btn-request(ng-if='$ctrl.preferences' ng-click='$ctrl.create(newShipmentForm)' style="border-radius: 3px;  border: 1px solid #507dbc;background-color: #507dbc;color:#fff;width: 100%;") Confirm Your Ship Request*
          p.f-s-14.f-c-l-gray(style="margin-top:10px") * Kindly note that you &nbsp;
            span.f-c-red CANNOT &nbsp;
            | change your Delivery Address, Package Selection or your Shipping Preferences after you create your ship request.

