.overview.hbox.hbox-auto-xs.bg-light(
  ng-init='app.settings.asideFolded = true;app.settings.asideFixed = true;app.settings.asideDock = false;app.settings.container = false;app.hideAside = false;'
)
  .col.w-md.lter.b-r(style='top: 3.5em;bottom: 0;position: fixed;z-index: 3')
    .wrapper-xs
      ul.nav
        li
          a(ui-sref='report.overview' ng-class='{"text-primary": $ctrl.$state.is("report") || $ctrl.$state.is("report.overview")}') OVERVIEW
        li
          a(
            ng-click='$ctrl.ui.open = !$ctrl.ui.open'
            ng-if='$ctrl.menu.length'
          ) REPORTS
            span.pull-right.m-r-md
              i.fa.fa-chevron-down.text-sm(ng-if='$ctrl.ui.open', style='color: #aaa;')
              i.fa.fa-chevron-up.text-sm(ng-if='!$ctrl.ui.open', style='color: #aaa;')
          ul.padder-md.no-padder-right.nav(uib-collapse='$ctrl.ui.open')
            li(ng-repeat='job in $ctrl.menu')
              a.text-ellipsis.wrapper-xs(
                ng-init='job.status = true'
                ng-click='job.status = !job.status'
              )
                .pull-left.w-sm.text-uppercase.text-ellipsis(ng-bind='job.name')
                span.pull-right.m-r-md
                  i.fa.fa-chevron-down.text-sm(ng-if='job.status', style='color: #aaa;')
                  i.fa.fa-chevron-up.text-sm(ng-if='!job.status', style='color: #aaa;')
              ul.m-t-xs.nav(uib-collapse='job.status')
                li(
                  ng-repeat='menu in job.items'
                  uib-tooltip="{{menu.name}}"
                  tooltip-placement='right'
                  tooltip-append-to-body='true'
                )
                  a.text-ellipsis.m-l-md.wrapper-xs(
                    ui-sref='report.list({id: menu.question_id})'
                  )
                    span.text-uppercase(ng-bind='menu.name')
  .col.w-full(ui-view="" style='position: absolute;')
