//div(ng-controller='NavJobsController as Job' style='position: relative;')
#navigationJobs( style='position: relative;')
  .w-md.nav-job.b-r(ng-class = "{ 'm-t-xl': $ctrl.isAdmin }")
    .wrapper-xs.bg-white-only
      a.no-padder.btn.btn-danger.form-control.font-bold(
        uib-tooltip='Manage JD(s)'
        tooltip-placement='right'
        tooltip-append-to-body='true'
        ui-sref='jobs.list({status: $ctrl.isAdmin ? "All" : "New"})'
        ng-disabled='$ctrl.DISABLE_MANAGE'
      )
        .m-t-xs.m-r-sm(ng-click='$ctrl.DISABLE_MANAGE && $ctrl.AllocationDisable.open()')
          span MANAGE JD(s)
          span.badge.pull-right {{$ctrl.newJobCount ? $ctrl.newJobCount : '' }}
      .m-t-xs
        hr(style='margin: 5px !important;border: 1px solid #ccc;')
        input.form-control.ng-pristine.ng-touched.ng-valid.rounded.text-no-glow.wrapper-sm.wrapper-xs(
          type='text'
          placeholder='Search Position'
          ng-model='$ctrl.searchTerm'
          ng-model-options='{debounce:600}'
        )
    .bg-white-only.lt.w-md(style='position: relative;  overflow-y: scroll; overflow-x: hidden; height: 100%; width: 248px;padding-bottom: 100px;' when-scrolled="$ctrl.loadJobs()" )
      // Open and High Priority
      .m-t-sm(ng-show="!$ctrl.searchTerm || JOpen.length")
      .m-l-xs.h4.font-bold(ng-click="$ctrl.toggle(1)")
        span.font-bold.h5(ng-class="$ctrl.toggleFlag === 1?'text-info':'text-gray'" uib-tooltip="{{$ctrl.toggleFlag === 1?'Collapse':'Expand' }}" tooltip-placement="right")
          i.fa(ng-class="$ctrl.toggleFlag === 1?'fa-minus-square text-info':'fa-plus-square text-gray'")
          //|  &nbsp;&nbsp;
          //i.fa.fa-folder-open-o.text-success
          |  &nbsp;&nbsp;Open&nbsp;
          b.badge-bracket( ng-class="$ctrl.toggleFlag === 1?'text-info':'text-gray'" ng-bind="$ctrl.meta.jobsCount['Open'] + $ctrl.meta.jobsCount['High Priority']")
        span.pull-right.text-muted.text-xs
      ul.m-t-xs.nav
        li.b-3x.b-l.m-t-sm(ng-show="$ctrl.toggleFlag==1 || $ctrl.searchTerm"
        ng-repeat='job in JOpen = ($ctrl.jobs | filter: $ctrl.searchText | filter: $ctrl.jobStatusOpenHold) track by $index'
        ng-init='$first ? ($ctrl.job_high = $ctrl.job_open = true): null'
        ng-class="{'b-primary active': job.id == $ctrl.$state.params.jobId}"
        ui-sref-active='active')
          a.text-ellipsis.text-muted-q.m-l-md(ng-class="{'text-primary font-bold': job.id == $ctrl.$state.params.jobId, 'direct-bg': job.open_platform}" ng-href="{{$ctrl.jobHref(job.id)}}" uib-tooltip="{{job.role}} / {{job.owner_name}}" tooltip-placement='right' tooltip-append-to-body='true' )
            div.text-sm.text-ellipsis(ng-bind='job.end_client_name || job.owner_name' style="max-width: 186px;")
            span.job-title(ng-bind="job.role")
            span.pull-right.text-muted.pos-abt.text-sm( style="right:5px;top:0;" ng-bind="job.consultant_score.toFixed(2)")

      // Hold
      .m-t-sm(ng-show="!$ctrl.searchTerm || JHold.length")
        .m-l-xs.h4.text-info-lt.font-bold(ng-click="$ctrl.toggle(2)")
          span.font-bold.h5(ng-class="$ctrl.toggleFlag === 2?'text-warning':'text-gray'" uib-tooltip="{{$ctrl.toggleFlag === 2?'Collapse':'Expand' }}" tooltip-placement="right")
            i.fa(ng-class="$ctrl.toggleFlag === 2 ? 'fa-minus-square text-warning' : 'fa-plus-square text-gray'")
            //|  &nbsp;&nbsp;
            //i.fa.fa-folder-open-o.text-success
            |  &nbsp;&nbsp;Hold&nbsp;
            b.badge-bracket(ng-class="$ctrl.toggleFlag === 2?'text-warning':'text-gray'" ng-bind="$ctrl.meta.jobsCount['Hold']")
        ul.m-t-xs.nav
          li.b-3x.b-l.m-t-sm(ng-show="$ctrl.toggleFlag === 2 || $ctrl.searchTerm" ng-repeat='job in JHold = ($ctrl.jobs | filter: $ctrl.searchText | filter:{job_status:"Hold" } )'
          ng-init='$first ? ($ctrl.job_hold = true): null'
          ng-class="{'b-primary active': job.id == $ctrl.$state.params.jobId}"
          ui-sref-active='active')
            a.text-ellipsis.text-muted-q(ng-class="{'text-primary text-bold': job.id == $ctrl.$state.params.jobId}" ng-href="{{$ctrl.jobHref(job.id)}}" uib-tooltip="{{job.role}} / {{job.owner_name}}" tooltip-placement='right' tooltip-append-to-body='true')
              div.text-sm.text-ellipsis(ng-bind='job.owner_name' style="max-width: 186px;")
              span.job-title(ng-bind="job.role" ng-class="{'text-primary': job.id == $ctrl.$state.params.jobId}")
              span.pull-right.text-dark.pos-abt(style="right:5px;top:0;" ng-bind="job.consultant_score.toFixed(2)")


      // Closed
      .m-t-sm(ng-show="!$ctrl.searchTerm || JClosed.length")
        .m-l-xs.h4.text-info-lt.font-bold(ng-click="$ctrl.toggle(3)")
          span.font-bold.h5(ng-class="$ctrl.toggleFlag === 3?'text-danger':'text-gray'" uib-tooltip="{{$ctrl.toggleFlag === 3?'Collapse':'Expand' }}" tooltip-placement="right")
            i.fa(ng-class="$ctrl.toggleFlag==3?'fa-minus-square':'fa-plus-square'")
            //|  &nbsp;&nbsp;
            //i.fa.fa-folder-open-o.text-success
            |  &nbsp;&nbsp;Closed&nbsp;
            b.badge-bracket(ng-class="$ctrl.toggleFlag === 3?'text-danger':'text-gray'" ng-bind="$ctrl.meta.jobsCount['Closed']")
        ul.m-t-xs.nav
          li.b-3x.b-l.m-t-sm(ng-if="$ctrl.toggleFlag === 3 || $ctrl.searchTerm" ng-repeat='job in JClosed = ($ctrl.jobs | filter: $ctrl.searchText | filter:{job_status:"Closed" })'
          ng-init='$first ? ($ctrl.job_closed = true): null'
          ng-class="{'b-info active': job.id == $ctrl.$state.params.jobId}"
          ui-sref-active='active')
            a.text-ellipsis.text-muted-q(ng-href="{{$ctrl.jobHref(job.id)}}" uib-tooltip="{{job.role}} / {{job.owner_name}}" tooltip-placement='right' tooltip-append-to-body='true')
              div.text-sm(ng-bind='job.owner_name' ng-class="{'text-primary text-bold': job.id == $ctrl.$state.params.jobId}")
              span.job-title(ng-bind="job.role" ng-class="{'text-primary': job.id == $ctrl.$state.params.jobId }")
              span.pull-right.text-dark.pos-abt(style="right:5px" ng-bind="job.consultant_score.toFixed(2)")
