div.m-t-xl.no-margin.bg-white-only
  .hbox
    .wrapper-md.container
      div
        .h2.m-l-md.font-thin.text-center
          b Pre-Alert Shoppre about your Incoming Packages
        .h5.text-center
          br
          | If you would like to alert us about any of your future incoming items that will be
          | arriving at your locker in our facility, you can provide the details now!
          span(ng-bind='" " + $ctrl.TITLE')
          br
          ul.nav.nav-pills.nav-sm.pull-right
            li.m-r-xs.pull-right
              a.h5.font-bold.b-a.btn-addon.btn-success.text-white-only.b-success.imp(
                ui-sref='dash.packages'
                popover-trigger="'mouseenter'"
                popover-placement='bottom'
                popover-append-to-body='true'
              )
                span.fa.fa-backward
                span  Go Back

      hr.no-margin-bottom
      form.form.form-validation.form-horizontal.wrapper-md(
        name="newPackageForm"
        novalidate
        ng-submit='$ctrl.create(newPackageForm)'
      )
        .row
          .col-md-12.col-sm-12.col-xs-12.no-padder
            .col-md-12
              .row
                .col-md-12.col-sm-12.col-xs-12.no-padder-right
                  .alert.alert-success(ng-show='$ctrl.showSuccess')
                    h4.panel-title.text-center.font-thin.h5
                      | Your order has been submitted to shoppre package collection centre. We will update you once your package receive our facility.

              .row
                .col-md-8.col-sm-12.col-xs-12.col-md-offset-2.no-padder-right
                  label.col-xs-12.input-group
                    | Store
                    span.text-danger *
                    input.form-control(
                      type='text'
                      name="store_id"
                      ng-model='$ctrl.Stores.model'
                      placeholder='eg: Amazon.in'
                      uib-typeahead='region.name for region in $ctrl.Stores.get($viewValue)'
                      typeahead-loading='$ctrl.Stores.loadingStores'
                      typeahead-no-results='$ctrl.Stores.noResults'
                      typeahead-on-select='$ctrl.Stores.select($item)'
                      typeahead-wait-ms="10"
                      autocomplete="off"
                      required
                    )
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && newPackageForm.store_id.$dirty && newPackageForm.store_id.$invalid') Please select current location
                    i.fa.fa-refresh.fa-spin(ng-show='$ctrl.Stores.loadingStores')
                    span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && newPackageForm.store_id.$dirty && newPackageForm.store_id.$invalid') Please enter Store Name

              .row
                .col-md-8.col-sm-12.col-xs-12.col-md-offset-2.no-padder-right
                  label.col-xs-12.input-group
                    | Tracking Number(optional)
                    input.form.form-control(
                      type='text'
                      name='tracking_code'
                      placeholder='eg. 94114'
                      ng-model='$ctrl.data.tracking_code'
                      autofocus
                    )


              .row
                .col-md-8.col-sm-12.col-xs-12.col-md-offset-2.no-padder-right
                  label.col-xs-12.input-group
                    | Order / Invoice Number (optional)
                  label.col-xs-12.input-group
                    input.form.form-control(
                      type='text'
                      name='invoice_code'
                      placeholder='eg. 9844717202'
                      ng-model='$ctrl.data.invoice_code'
                      autofocus
                    )
              .row
                .col-md-8.col-sm-12.col-xs-12.col-md-offset-2.no-padder-right
                  label.col-xs-12.input-group
                    | Notes (optional)
                  label.col-xs-12.input-group
                    textarea.form.form-control(
                      name='comments'
                      placeholder=''
                      ng-model='$ctrl.data.comments'
                      rows='3'
                      autofocus

                    )
              .row
                .col-md-8.col-sm-12.col-xs-12.col-md-offset-2.no-padder-right
                  .hbox
                    label.col
                      | Add Document (Required)
                      span.text-danger *
                      h6 Upload the saved merchant invoice or confirmation email that shows each individual item value as a PDF, JPG, PNG or BMP.
                      .btn-file-wrapper(ng-class="newPackageForm.file.$touched && newPackageForm.file.$invalid ? 'input-file-danger':''" drag-drop-toggle)
                        .btn-file
                          span(ng-show="(newPackageForm.file.$touched && newPackageForm.file.$valid) || $ctrl.data.file")
                            span.text-muted(ng-bind="$ctrl.file.name")
                          p.no-margin(ng-hide="(newPackageForm.file.$touched && newPackageForm.file.$valid) || $ctrl.data.file")
                            span.text-bold Choose a file
                            |  or Drag it here.
                          span.file-support(ng-hide="(newPackageForm.file.$touched && newPackageForm.file.$valid) || $ctrl.data.file") Supported Formats: .png, .jpeg, .jpg, .bmp'
                          input.form-control(
                          accept="image/*"
                          type="file"
                          ng-model='$ctrl.file'
                          name='file'
                          ngf-pattern="'.png,.jpeg,.jpg,.bmp'"
                          ngf-max-size="15MB"
                          ngf-max-files="1"
                          ngf-select='$ctrl.uploadingPhotos=true;'
                          onclick="this.value = null"
                          ng-image-compress
                          image="myAwesomeImage"
                          ctrl="$ctrl"
                          upload-fn="$ctrl.startUpload"
                          resize-max-height="1000"
                          resize-max-width="1000"
                          resize-quality="0.7"
                          resize-type="image/jpg"
                          required
                          )
                      span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && !$ctrl.data.file && newPackageForm.file.$invalid') Please choose file
                      span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && newPackageForm.file.$invalid') Please choose supported file
                      span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && newPackageForm.file.$dirty && newPackageForm.file.$invalid') Please choose supported file
                .col-xs-1.wrapper-sm.m-t-xs
                  img.pull-left.m-r(
                  ng-if='$ctrl.data.object'
                  ng-src='{{$ctrl.URLS.CDN + "/shoppre/" + $ctrl.data.object}}'
                  style='height: 120px;width: 200px;'
                  )
              .row
              .col-md-6.col-xs-12.col-md-offset-2.no-padder-right
                  h4(ng-bind="$ctrl.error.message" style="color:red;")
                  button.btn.btn-success(type='submit' ng-disabled="$ctrl.submitting")
                    span.fa.fa-forward.m-r-sm
                    span.text-white(ng-if='!$ctrl.submitting') Save New Order
                    span(ng-if='$ctrl.submitting')
                      i.fa.fa-spin.fa-circle-o-notch
                      span.text-white &nbsp;&nbsp;Submitting...

    .clearfix

div(ng-show='$ctrl.submitting')
  span(ng-include="'app/routes/jobs/cv-uploading/cv-uploading.html'")
