extends ../layout
block head
  title #{title}
  meta(name='description', content= '#{meta_description}')
  meta(name="keywords" content="#{meta_keywords}")

block css_style
link(href="#{s3BaseUrl}/css/select2.min.css", rel='stylesheet')
meta(name='robots', content='noindex,nofollow')

block content
  section.timeline
    .container.schedule-container
      #complete.tab-pane(role='tabpanel')
        .img_align
          img.img_size(src='#{s3BaseUrl}/img/success1.png', alt='')
          h3 Thank you for contacting us.
          a.btn.btn-primary.btn-info-full.next-step3(href='https://myaccount.shoppre.com/register')
            | Sign Up Here
      .clearfix

