.wrapper.text-center(ng-if='$ctrl.ui.loading')
  button.btn.btn-default(style='margin: 100px auto;' disabled="")
    i.fa.fa-circle-o-notch.fa-spin.m-r-xs
    span Loading
.wrapper(ng-if='$ctrl.showList && !$ctrl.ui.loading')
  .col-xs-12
    .h4.text-primary Qlist JD(s)
      .inline.bg-primary.text-sm.m-l-xs.font-bold.text-center(ng-bind='$ctrl.data.length' style='padding: 5px;border-radius: 50%;width: 24px;')
  .col-xs-12(style='height: 100%;')
    .col-md-12.b-a.m-t-sm.bg-white-only(ng-if='!$ctrl.data.length && !$ctrl.ui.loading')
      h1.text-center No JD Found
    .col-md-12.col-sm-12.col-xs-12.b-a.m-t-sm.job-item.bg-white-only(ng-if='$ctrl.data.length' ng-repeat='job in $ctrl.data | orderBy:$ctrl.order |  filter:query track by $index')
      span(style='position: absolute;left:0;z-index: 10;top: 0;' ng-show='job.open_platform && !App.app.settings.isAdmin')
      .col-md-12.col-sm-12.col-xs-12.b-b.no-padder
        a.m-b-xs.m-t-xs.pull-left.wrapper-xs.font-bold.text-info(
          ng-bind="job.client_name || job.owner_company"
          ui-sref='job.view({jobId: job.id, key: job.key})'
          target="_blank"
        )
        .pull-right.m-t-xs
          a.btn.btn-primary.btn-sm.m-r-xs(
            ng-click="$ctrl.acceptJD($index,job);"
          )
            | &nbsp;ACCEPT
          a.btn.btn-default.btn-sm(
            ng-click='$ctrl.rejectJD($index);'
          )
            | &nbsp;REJECT
      .col-sm-12.m-t-sm.text-gray.no-padder(style='font-size: 10px;')
        .no-padder.col-xs-4
          | Position
        .no-padder.col-xs-3
          | Location
        .no-padder.col-xs-2
          | CTC
        .no-padder.col-sm-2
          | Commission
      .col-sm-12.m-b-sm.no-padder(style='font-weight: 500')
        .no-padder.col-xs-4.text-ellipsis
          span(ng-bind="job.role")
        .no-padder.col-xs-3.text-ellipsis
          span(ng-bind="job.job_location || job.region")
        .no-padder.col-sm-2
          span(ng-bind="job.min_sal + ' - ' + job.max_sal + ' Lakhs'")
        .no-padder.col-sm-2.col-xs-2
          span(ng-bind="job.payment || '-'")

    .text-center.m-t-xs
      button.btn.active.m-t-xs(title='Loading ...' ng-if="$ctrl.ui.loading")
        i.fa.fa-circle-o-notch.fa-spin
        strong &nbsp;Loading
    .col-md-12.col-sm-12.col-xs-12.m-t-xxl
