.hbox
  div
    div
      .wrapper-md.bg-light.b-b
        h1.m-n.font-thin.h3
          span Edit CV For {{JobOrderEdit.data.name}} - {{JobOrderEdit.job.client_name}} - {{JobOrderEdit.job.role}}

        form.form.form-validation.form-horizontal.wrapper-md( name="uploadCVForm" ng-submit='JobOrderEdit.create(JobOrderEdit.job.id,JobOrderEdit.data.id, uploadCVForm)')
          .row
            // Form Block
            .col-md-7.col-sm-12.col-xs-12
              // Form Items
              .row
                .col-md-6.col-sm-6.col-xs-12
                  label.col-xs-12.input-group
                    | Candidate Name
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg. Candidate Name' ng-model='JobOrderEdit.data.name' q-text-maxlength="60"   required)
              .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-6.col-sm-6.col-xs-12
                  label.col-xs-12.input-group
                    | Email Address
                    span.text-danger *
                    input.form.form-control(type='email' name="email_id" placeholder='eg. Email'
                    ng-model='JobOrderEdit.data.email_id' q-text-maxlength="60"
                    q-order-unique='email~{{JobOrderEdit.job.id}}~{{JobOrderEdit.data.id}}'
                    ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ucf-lowercase required)
                    .text-danger(ng-show='uploadCVForm.email.$dirty && uploadCVForm.email.$invalid')
                      span(ng-show='uploadCVForm.email.$error.unique') with this email, Someone already applied.

                .col-md-6.col-sm-6.col-xs-12
                  label.col-xs-12.input-group
                    div
                      span Mobile Number
                      span.text-danger *
                    input.form.form-control(
                      type='number'
                      name='number'
                      placeholder='eg. 10 Digit Mobile Number'
                      ng-model='JobOrderEdit.data.number'
                      q-order-unique='number~{{JobOrderEdit.job.id}}~{{JobOrderEdit.data.id}}'
                      ng-pattern='/^[1-9]\\d{9}$/'
                      required
                    )
                    .text-danger(ng-show='uploadCVForm.number.$dirty && uploadCVForm.number.$invalid')
                      span(ng-show='uploadCVForm.number.$error.unique') with this number, Someone already applied.
              .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-6.col-sm-6.col-xs-12
                  label.col-xs-12.input-group
                    | Current Designation
                    span.text-danger *
                    input.form-control(type='text' ng-model='JobOrderEdit.Designations.model'
                    q-text-maxlength="60" placeholder='Designation'  name="designation_id"
                    uib-typeahead='designation.name for designation in JobOrderEdit.Designations.get($viewValue)'
                    typeahead-loading='JobOrderEdit.Designations.loadingDesignations'
                    typeahead-no-results='JobOrderEdit.Designations.noResults'
                    typeahead-on-select='JobOrderEdit.Designations.select($item)'
                    ng-blur="JobOrderEdit.Designations.blur()"  typeahead-wait-ms="10" autocomplete="off"  required)
                    i.fa.fa-refresh.fa-spin(ng-show='JobOrderEdit.Designations.loadingDesignations')
                .col-md-6.col-sm-6.col-xs-12
                  label.col-xs-12.input-group
                    | Current Employer
                    span.text-danger *
                    input.form-control(type='text' ng-model='JobOrderEdit.Employers.model'
                    name="employer_id"
                    placeholder='Current Employer' uib-typeahead='employer.name for employer in JobOrderEdit.Employers.get($viewValue)'
                    typeahead-loading='JobOrderEdit.Employers.loadingEmployers'
                    typeahead-no-results='JobOrderEdit.Employers.noResults'
                    typeahead-on-select='JobOrderEdit.Employers.select($item)'
                    ng-blur="JobOrderEdit.Employers.blur()"
                    typeahead-wait-ms="10" autocomplete="off"  required)
                    i.fa.fa-refresh.fa-spin(ng-show='JobOrderEdit.Employers.loadingEmployers')
              .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-6.col-sm-6.col-xs-12
                  label.col-xs-12.input-group
                    | Current CTC(Lakh)
                    span.text-danger *
                    input.form.form-control(type='text' name="salary" placeholder='eg. 3.25'
                    ng-model='JobOrderEdit.data.salary' q-float-maxlength="6" max="999" required)

                .col-md-6.col-sm-6.col-xs-12
                  label.col-xs-12.input-group
                    | Expected CTC(Lakh)
                    span.text-danger *
                    input.form.form-control(type='text' name="expected_ctc" placeholder='eg. 5.62'
                    ng-model='JobOrderEdit.data.expected_ctc' q-float-maxlength="6" max="365" required)
              .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-6.col-sm-6.col-xs-12
                  label.col-xs-12.input-group
                    | Notice Period(in Days)
                    span.text-danger *
                    input.form.form-control(type='text' name="notice_period" placeholder='eg. 90'
                    ng-model='JobOrderEdit.data.notice_period' q-maxlength="3" max="999" required)
                .col-md-6.col-sm-6.col-xs-12
                  label.col-xs-12.input-group
                    div
                      span Candidate Total Experience
                      span.text-danger *
                      .hide {{JobOrderEdit.data.total_exp= (JobOrderEdit.data.total_exp_y - 0) + ((JobOrderEdit.data.total_exp_m? (JobOrderEdit.data.total_exp_m / 100):0) -0)}}
                    input(type="hidden" ng-model="JobOrderEdit.data.total_exp" )
                    div(style="width:48%;display:inline-block")
                      input.form-control(type='text' name="total_exp_y" placeholder='Years' ng-model='JobOrderEdit.data.total_exp_y' q-maxlength="2" max="99" required)
                    div.pull-right(style="width:48%;display:inline-block")
                      input.form-control(type='text' name="total_exp_m" placeholder='Months' ng-model='JobOrderEdit.data.total_exp_m' q-maxlength="2" max="11")
              .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-6.col-sm-6.col-xs-12
                  label.col-xs-12.input-group
                    | Highest Qualification
                    span.text-danger *
                    input.form-control(type='text' ng-model='JobOrderEdit.Degrees.model' placeholder='Degree'
                    name="degree_id"
                    uib-typeahead='degree.name for degree in JobOrderEdit.Degrees.get($viewValue)'
                    typeahead-loading='JobOrderEdit.Degrees.loadingDegrees'
                    typeahead-no-results='JobOrderEdit.Degrees.noResults'
                    typeahead-on-select='JobOrderEdit.Degrees.select($item)'
                    typeahead-wait-ms="10" autocomplete="off"  required)
                    i.fa.fa-refresh.fa-spin(ng-show='JobOrderEdit.Degrees.loadingDegrees')
                .col-md-6.col-sm-6.col-xs-12
                  label.col-xs-12.input-group
                    | Current Location
                    span.text-danger *
                    input.form-control(type='text' name="region_id" ng-model='JobOrderEdit.Regions.model'
                    q-text-maxlength="60" placeholder='Job Location'
                    uib-typeahead='region.name for region in JobOrderEdit.Regions.get($viewValue)'
                    typeahead-loading='JobOrderEdit.Regions.loadingRegions'
                    typeahead-no-results='JobOrderEdit.Regions.noResults'
                    typeahead-on-select='JobOrderEdit.Regions.select($item)'
                    q-pattern='[^a-zA-Z ]*' typeahead-wait-ms="10" autocomplete="off" ucf_sentence required)
                    i.fa.fa-refresh.fa-spin(ng-show='JobOrderEdit.Regions.loadingRegions')
                    div(ng-show='JobOrderEdit.Regions.noResults')
                      i.fa.fa-remove
                      |  No Results Found
              .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | CV Summary
                    textarea#cv_summary.form-control(name="cv_summary", rows='5', ng-model='JobOrderEdit.data.summary')

              .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Select CV
                    span.text-danger *
                    .btn-file-wrapper(ng-class="uploadCVForm.file.$touched && uploadCVForm.file.$invalid ? 'input-file-danger':''" drag-drop-toggle)
                      .btn-file
                        span(ng-show="(uploadCVForm.file.$touched && uploadCVForm.file.$valid) || JobOrderEdit.data.file")
                          span.text-muted(ng-bind="JobOrderEdit.data.file.name")
                        p.no-margin(ng-hide="(uploadCVForm.file.$touched && uploadCVForm.file.$valid) || JobOrderEdit.data.file")
                          span.text-bold Choose a file
                          |  or Drag it here.
                        span.file-support(ng-hide="(uploadCVForm.file.$touched && uploadCVForm.file.$valid) || JobOrderEdit.data.file") Supported Formats: pdf, doc, docx, rtf, txt
                        input.form-control(ngf-select='' type="file" ng-model='JobOrderEdit.data.file' name='file' ngf-pattern="'.pdf,.doc,.docx,.rtf,.txt'"  ngf-max-size="10MB" ngf-max-files="1" )
              .row

                .col-md-12
                  .text-danger.font-bold(ng-if="uploadCVForm.file.$error.maxSize") Please select file less than 5MB
                  .text-danger.font-bold(ng-bind="JobOrderEdit.errorMessage.data.message")

                .col-md-4.col-xs-12.m-t-md
                  button.btn.btn-success.text-white(type='submit' ng-disabled="uploadCVForm.$pristine" ) Save
            .col-md-5.cv-preview
              .header(ng-hide="uploadCVForm.$pristine") CV Preview
              ul
                li(ng-show="JobOrderEdit.data.name")
                  span.preview-head Candidate Name :
                  span(ng-bind="JobOrderEdit.data.name")
                li(ng-show="JobOrderEdit.data.email_id")
                  span.preview-head Email :
                  span(ng-bind="JobOrderEdit.data.email_id")
                li(ng-show="JobOrderEdit.data.number")
                  span.preview-head Mobile Number :
                  span(ng-bind="JobOrderEdit.data.number")
                li(ng-show="JobOrderEdit.Designations.model")
                  span.preview-head Designation :
                  span(ng-bind="JobOrderEdit.Designations.model")
                li(ng-show="JobOrderEdit.Employers.model")
                  span.preview-head Current Employer :
                  span(ng-bind="JobOrderEdit.Employers.model")
                li(ng-show="JobOrderEdit.data.salary")
                  span.preview-head Current CTC :
                  span(ng-bind="(JobOrderEdit.data.salary-0)>1? JobOrderEdit.data.salary+ ' Lakhs':JobOrderEdit.data.salary+ ' Lakh'")
                li(ng-show="JobOrderEdit.data.expected_ctc")
                  span.preview-head Expected CTC :
                  span(ng-class="(JobOrderEdit.data.expected_ctc <= JobOrderEdit.job.max_sal )? 'text-success':'text-danger'" ng-bind="(JobOrderEdit.data.expected_ctc-0)>1? JobOrderEdit.data.expected_ctc+ ' Lakhs':JobOrderEdit.data.expected_ctc+ ' Lakh'")
                li(ng-show="JobOrderEdit.data.notice_period")
                  span.preview-head Notice Period :
                  span(ng-bind="JobOrderEdit.data.notice_period + ' Days'")
                li(ng-show="JobOrderEdit.data.total_exp_y || JobOrderEdit.data.total_exp_m")
                  span.preview-head Experience
                  span(ng-bind="JobOrderEdit.data.total_exp_y +(JobOrderEdit.data.total_exp_y?' Year ':'') + ' '")
                  span &nbsp;
                  span(ng-bind=" JobOrderEdit.data.total_exp_m + (JobOrderEdit.data.total_exp_m?' Month ':'')")
                  //span(ng-class="(JobOrderEdit.data.total_exp >= JobOrderEdit.job.min_exp && JobOrderEdit.data.total_exp <= JobOrderEdit.job.max_exp )? 'text-success':'text-danger'" ng-bind="JobOrderEdit.data.total_exp + ' Years '")
                li(ng-show="JobOrderEdit.Degrees.model")
                  span.preview-head Highest Qualification
                  span(ng-bind="JobOrderEdit.Degrees.model")
                li(ng-show="JobOrderEdit.Regions.model")
                  span.preview-head Location
                  span(ng-bind="JobOrderEdit.Regions.model")
                li(ng-show="JobOrderEdit.data.file.name")
                  span.preview-head CV File
                  span(ng-bind="JobOrderEdit.data.file.name")

              .header.job-header(ng-show="JobOrderEdit.job") Job Details
              ul.job-list
                li(ng-show="JobOrderEdit.job.job_status")
                  span.preview-head Job Status :
                  span(ng-bind="JobOrderEdit.job.job_status")
                li(ng-show="JobOrderEdit.job.role")
                  span.preview-head Role :
                  span(ng-class="uploadCVForm.designation.$valid ? 'q-touched':''")
                    span(ng-bind="JobOrderEdit.job.role")
                    span( ng-show="JobOrderEdit.job.job_nature" ng-bind="' - ' + JobOrderEdit.job.job_nature")
                li(ng-show="JobOrderEdit.job.client_name")
                  span.preview-head Company :
                  span(ng-bind="JobOrderEdit.job.client_name")
                li(ng-show="JobOrderEdit.job.job_location")
                  span.preview-head Job Location :
                  span(ng-class="uploadCVForm.region.$valid ? 'q-touched':''" ng-bind="JobOrderEdit.job.job_location")
                li(ng-show="JobOrderEdit.job.vacancy")
                  span.preview-head Vacancy :
                  span(ng-bind="JobOrderEdit.job.vacancy")
                li(ng-show="JobOrderEdit.job.min_sal || JobOrderEdit.job.max_sal")
                  span.preview-head Salary Range :
                  span(ng-class="uploadCVForm.expected_ctc.$valid ? 'q-touched':''")
                    span(ng-bind="JobOrderEdit.job.max_sal? (JobOrderEdit.job.min_sal? JobOrderEdit.job.min_sal :''): (JobOrderEdit.job.min_sal? ('Min '+JobOrderEdit.job.min_sal+ ' '):'')")
                    span(ng-show="JobOrderEdit.job.min_sal && JobOrderEdit.job.max_sal") &nbsp;to&nbsp;
                    span(ng-bind="JobOrderEdit.job.min_sal?(JobOrderEdit.job.max_sal?( JobOrderEdit.job.max_sal + ' Lakh'):''):(JobOrderEdit.job.max_sal?( 'Max ' +JobOrderEdit.job.max_sal + ' Lakh'):'')")
                li(ng-show="JobOrderEdit.job.min_exp || JobOrderEdit.job.max_exp")
                  span.preview-head Experience Range :
                  span(ng-class="uploadCVForm.total_exp_y.$valid ? 'q-touched':''")
                    span(ng-bind="JobOrderEdit.job.max_exp? (JobOrderEdit.job.min_exp? JobOrderEdit.job.min_exp :''): (JobOrderEdit.job.min_exp? ('Min '+JobOrderEdit.job.min_exp+ ' Years'):'')")
                    span(ng-show="JobOrderEdit.job.min_exp && JobOrderEdit.job.max_exp") &nbsp;to&nbsp;
                    span(ng-bind="JobOrderEdit.job.min_exp?(JobOrderEdit.job.max_exp?( ' ' + JobOrderEdit.job.max_exp + ' Years'):''):(JobOrderEdit.job.max_exp?( 'Max ' +JobOrderEdit.job.max_exp + ' Years'):'')")
                li(ng-show="JobOrderEdit.job.skills && JobOrderEdit.job.skills.length")
                  span.preview-head Skills :
                  span(ng-bind="JobOrderEdit.job.skills.join(', ')")


