.wrapper-md(style='overflow-x:hidden; font-size:15px;')
  .hbox.m-b-sm.m-t-md
    .row
      .col-sm-3.no-padder-right.m-t-xs
        span Filter by
      .col-sm-9.no-padder-left
        .v-middle.w-full: .m-l-md.bg-light.padder.rounded
          input.w-full.no-border.bg-light.wrapper-xs.input-md(type='text' placeholder='Search' ng-model='$ctrl.searchText')
        .padder.pos-fix(style='right: 0;top: 0;')
          .pointer.pull-right.fa-2x.font-thin(ng-click="$ctrl.$uibModalInstance.dismiss('cancel')") ×
  div.row
    .col-sm-3.no-padder-right.m-t-sm.b-r(style='min-height: 280px;')
      div.wrapper-xs(ng-repeat="(type, facets) in $ctrl.filtered" ng-class='{"bg-light": $ctrl.facet === type}')
        .col.v-middle(ng-click='$ctrl.facet = type; $ctrl.searchText=""')
          a.text-capitalize(
            ng-model='$ctrl.facet'
            ng-class='{"text-primary font-bold": $ctrl.facet === type}'
          )
            span(ng-if='type === "status"') Status
            span(ng-if='type === "ctc"') CTC
            span(ng-if='type === "noticePeriod"') Notice Period

    .col-sm-9.no-padder-left.m-t-sm
      div(ng-repeat="(type, facets) in $ctrl.filtered")
        div(ng-if='$ctrl.facet === type')
          .w-full
            .b-b.font-thin.wrapper-sm(ng-if='type === "status"'): label.i-checks.i-checks-sm.block
              input(
                type='checkbox'
                ng-checked='$ctrl.ui.selected[type] === $ctrl.filtered[type].length'
                ng-model='$ctrl.ui.selectAll[type]'
                ng-click='$ctrl.markAllSelect(type)'
              )
              i
              .inline Select all

            .w-full(style='overflow-x: hidden' ng-if='type === "status"')
              .m-l-sm.b-b(style='max-height: 240px;overflow-y:auto;width:100.2%'): ul.nav
                li.wrapper-sm.b-b(ng-repeat='facet in facets | filter: $ctrl.searchText')
                  label.i-checks.i-checks-sm.m-b-none.block
                    input(type='checkbox'
                      ng-checked='facet.checked'
                      ng-change='$ctrl.enableApply(type, facet.checked)'
                      ng-model='facet.checked'
                      ng-value='1'
                    )
                    i
                    .inline(ng-bind='facet.action')

            .w-full(style='overflow-x: hidden' ng-if='type === "ctc" || type === "noticePeriod"')
              .m-l-sm(style='max-height: 290px;overflow-y:auto;width:100.2%')
                form(name='ctcForm'): ul.nav
                  li.wrapper-xs(ng-repeat="(key, facet) in facets | filter: $ctrl.searchText")
                    .col.m-b-lg(ng-if='type === "ctc"')
                      span(ng-if='facet.name === "Min"')
                        .col-sm-3.wrapper-xs {{facet.name}}
                        .col-sm-9
                          .col-sm-8.no-padder
                            input.form.form-control(
                              type='number'
                              name='{{facet.name}}'
                              ng-model='facet.val'
                              placeholder='Enter {{facet.name}}'
                              ng-model-options='{debounce: 600}'
                              style='height: 30px;'
                            )
                          .col-sm-4.wrapper-xs lakhs

                      span(ng-if='facet.name === "Max"')
                        .col-sm-3.wrapper-xs {{facet.name}}
                        .col-sm-9
                          .col-sm-12.no-padder
                            .col-sm-8.no-padder
                              input.form.form-control(
                                type='number'
                                name='{{facet.name}}'
                                ng-model='facet.val'
                                placeholder='Enter {{facet.name}}'
                                ng-model-options='{debounce: 600}'
                                style='height: 30px;'
                              )
                            .col-sm-4.wrapper-xs lakhs
                          .col-sm-12.no-padder
                            span.text-xs.text-danger(ng-if='facets[0].val > facets[1].val && facets[1].val') Value must be more than minimum CTC.

                    .col.m-xs.radio(ng-if='type === "noticePeriod"'): label.i-checks.i-checks-sm
                      input(type='radio'
                        id='noticePeriod'
                        name='noticePeriod'
                        ng-model='facet.checked'
                        ng-value='facet.checked'
                        ng-click='$ctrl.changedStatus(facet.checked = !facet.checked, facet, type)'
                      )
                      i
                      .inline(ng-bind='facet.name')

  .text-center.m-t-sm
    button.btn.padder-md.m-r-md(ng-click='$ctrl.reset()') Reset
    button.btn.btn-blue.padder-md(ng-click='$ctrl.applyFilter()') Apply
