footer
  section.infolinks
    .container
      .row
        .col-sm-4
          .logo
            img(src="#{s3BaseUrl}/img/original-logo.png")
          .contact_info
            span
              i.glyphicon.glyphicon-earphone
              strong
                a(href='tel:+91-80 4094 4077') +91 80 4094 4077
            span
              i.glyphicon.glyphicon-envelope
              strong
                a(href='mailto:support@shoppre.com') support@shoppre.com
            span
              i.glyphicon.glyphicon-map-marker
              strong
                | #181, 1st Floor, 2nd Cross Rd,
                br
                |  1st Block Koramangala,
                br
                |  Bengaluru - 560034
        .col-sm-3
          ul.foot_menu
            li
              a(href='https://www.indeedjobs.com/shopprecom/_hl/en_IN', target='_blank') Careers
            li
              a(href='http://blog.shoppre.com/', target='_blank') Blogs
            li
              a(href="#{URLS_WWW}/services") Our Services
            //li
            //  a(href="#{URLS_WWW}/stories") Stories
            li
              a(href="#{URLS_MYACCOUNT}/loyalty-points") Shoppre Loyalty Points
            li
              a(href="#{URLS_WWW}/country-guide") Country Guides
            li
              a(href="#{URLS_WWW}/browse-categories") Browse Categories
            li
              a(href="#{URLS_WWW}/reviews") Shoppre Reviews
            li
              a(href="#{URLS_MYACCOUNT}/personal-shopper") How Personal Shopper Works

        .col-sm-3
          ul.foot_menu
            li
              a(href="#{URLS_WWW}/about") About Shoppre
            li
              a(href="#{URLS_WWW}/faq") FAQ
            li
              a(href='https://myaccount.shoppre.com/direct/payment') Make Payment
            li
              a(href="#{URLS_WWW}/feedback") Feedback
            li
              a(href="#{URLS_WWW}/contactUs") Contact us
            li
              a(href="#{URLS_WWW}/terms-and-conditions") Terms & Conditions
            li
              a(href="#{URLS_WWW}/privacyPolicy") Privacy Policy
            li
              a(href="#{URLS_WWW}/refundAndCancellation") Refund & Cancellation Policy
            li
              a(href='https://chrome.google.com/webstore/detail/shoppre-international-shi/kplnmmemlcfmbhbjegagmiiiphghdpch') Install Shoppre Chrome Extension
        .col-sm-2
          .foot_social
            h3 Share the love!
            a(href='https://www.facebook.com/goshoppre/', target='_blank')
              i.fa.fa-facebook-square
            a(href='https://twitter.com/Go_Shoppre', target='_blank')
              i.fa.fa-twitter-square
            a(href='https://www.instagram.com/shoppre_official/?hl=en', target='_blank')
              i.fa.fa-instagram
            a(href='https://www.youtube.com/channel/UCCBP1ybWY9spoleKqMgAQaw', target='_blank')
              i.fa.fa-youtube
            a.footer-google-logo(href='https://goo.gl/jTfUjf', target='_blank')
              img(src="#{s3BaseUrl}/img/playstore.png")
        .clearfix
  section.bottom
    .container
      .row
        .col-sm-6
          p.copy © 2018, All Rights Reserved - by Shoppre
        .col-sm-6
          .terms
            a(href='#{URLS_WWW}/terms-and-conditions') Terms & conditions
            span |
            a(href='#{URLS_WWW}/privacy-policy/') Privacy policy
        .clearfix
