
header
  .mo_login
    if !loggedIn
      a(href="#{URLS_MYACCOUNT}/login")
        i.fa.fa-unlock-alt
        |  Login
      a(href="#{URLS_MYACCOUNT}/register")
        i.fa.fa-user
        |  Signup
    else
      a(href='javascript:void(0)')
        i.fa.fa-user
        |  My Locker
      a(href="#{URLS_MYACCOUNT}/logout}")
        i.fa.fa-lock
        |  Logout
    .clearfix
  nav.navbar.navbar-top
    .container-fluid
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="#{URLS_WWW}/about") About Shoppre
          li
            a(href='https://goo.gl/forms/fEYWqUJjfguCjqif1') Become a Partner
          li
            a(href="#{URLS_WWW}/faqs") FAQ
          //li
          //  a(href='https://www.quora.com/search?q=shoppre.com', target='_blank') Ask Questions

        ul.nav.navbar-nav.navbar-right

          li.padding_li_top
            a(href='mailto:support@shoppre.com')
              i.fa.fa-envelope.icon_margen
              | support@shoppre.com
          li.padding_li_top
            a(href='tel:+91-80 4094 4077')
              i.fa.fa-mobile.icon_margen
              | +91 804094 4077
          if loggedIn
          li
            a(href="#{URLS_MYACCOUNT}/login")
              i.fa.fa-unlock-alt
              |  Login
          li
            a(href="#{URLS_MYACCOUNT}/register")
              i.fa.fa-user
              |    Sign up



      // /.navbar-collapse
    // /.container-fluid
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed.nav-icon-right(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/")
          img(src='/app/img/original-logo.png', alt='Shoppre - Borderless Shipping From India')
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right

          li
            a(href="#{URLS_WWW}/") Home
          li.hidden-sm.hidden-md.hidden-lg
            a(href="#{URLS_WWW}/about") About Shoppre
          li
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown')
              strong SERVICES
              span.caret
            ul.dropdown-menu
              li
                a(href="#{URLS_WWW}/services") Overview
              li
                a(href="#{URLS_WWW}/shop-from-india-ship-worldwide") Shop and Ship
              li
                a(href="#{URLS_WWW}/consolidation-service") Repacking & Consolidation
              li
                a(href="#{URLS_MYACCOUNT}/personal-shopper") Schedule a Pickup
              li
                a(href="#{URLS_MYACCOUNT}/personal-shopper") Personal Shopper
              li
                a(href="#{URLS_WWW}/browse-categories") Indian Online Shops
              li
                a(href="#{URLS_WWW}/indian-virtual-address") Virtual Address
              li
                a(href="#{URLS_WWW}/sellers-shipping") Sellers Shipping
          li
            a(href="#{URLS_WWW}/how-it-works") How Shoppre Works
          li
            a(href="#{URLS_WWW}/pricing") Price Calculator
          li
            a(href="#{URLS_WWW}/contactUs") Contact us

