
header
  .mo_login
    if !loggedIn
      a(href="#{URLS_MYACCOUNT}/login")
        i.fa.fa-unlock-alt
        |  Login
      a(href="#{URLS_MYACCOUNT}/register")
        i.fa.fa-user
        |  Signup
    else
      a(href='javascript:void(0)')
        i.fa.fa-user
        |  My Locker
      a(href="#{URLS_MYACCOUNT}/logout}")
        i.fa.fa-lock
        |  Logout
    .clearfix
  nav.navbar.navbar-top
    .container-fluid
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="/about") About Shoppre
          li
            a(href='https://goo.gl/forms/fEYWqUJjfguCjqif1') Become a Partner
          li
            a(href="faqs") FAQ
          li
            a(href='https://www.quora.com/search?q=shoppre.com', target='_blank') Ask Questions

        ul.nav.navbar-nav.navbar-right

          li.padding_li_top
            a(href='mailto:support@shoppre.com')
              i.fa.fa-envelope.icon_margen
              | support@shoppre.com
          li.padding_li_top
            a(href='tel:+91-80 4094 4077')
              i.fa.fa-mobile.icon_margen
              | +91 804094 4077
          if loggedIn

            li
              a(href="#{URLS_MYACCOUNT}/locker")
                i.fa.fa-user
                |  {{Auth::guard('customer')->user()->name}}
            li
              a(href="{{route('customer.logout')}}")
                i.fa.fa-sign-out
                |  Logout
            |                     @else
            li
              a(href="#{URLS_MYACCOUNT}/login")
                i.fa.fa-unlock-alt
                |  Login
            li
              a(href="#{URLS_MYACCOUNT}/register")
                i.fa.fa-user
                |    Sign up



      // /.navbar-collapse
    // /.container-fluid
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed.nav-icon-right(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/")
          img(src='https://myaccount.shoppre.com/img/logo.png', alt='Shoppre - Borderless Shipping From India')
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right

          li
            a(href="/") Home
          li.hidden-sm.hidden-md.hidden-lg
            a(href="/about") About Shoppre
          li
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown')
              strong SERVICES
              span.caret
            ul.dropdown-menu
              li
                a(href="/services") Shoppre Services
              li
                a(href="/consolidation-service") Consolidation Service
              li
                a(href="#{URLS_MYACCOUNT}/personal-shopper") How Personal Shopper Works
              li
                a(href="/browse-categories") Browse Categories
          li
            a(href="/how-it-works") How Shoppre Works
          li
            a(href="/pricing") Price Calculator
          li
            a(href="/contactUs") Contact us

