.modal-header
  .modal-title
    .h4.text-info {{$ctrl.offer.name}}
      span.font-bold.m-l-xs {{$ctrl.offer.price}}
      .close(ng-click='$ctrl.cancel()') ×
.modal-body
  p {{$ctrl.offer.innerDescription}}
  form.form.form-validation.form-horizontal(
  name="newOfferForm"
  novalidate
  ng-submit='$ctrl.submitSpecialoffer(newOfferForm)'
  autocomplete='off'
  )
      .radio(ng-if="$ctrl.value === 'return'")
        label.i-checks.right-padding-5
          input(type='radio', name='a', value='1', checked='', ng-click="$ctrl.changeReturnMode('sellerPickup')", ng-model="$ctrl.data.return_pickup")
          i
          | The sender will pick-up the package directly from Shoppre facility.
          | You shall pay them for the charges, if any.
      textarea.form-control.m-t.m-b(
      rows=4,
      ng-if="$ctrl.value === 'return'",
      name='message1'
      ng-model="$ctrl.data.message1"
      ng-required='$ctrl.returnToSenderPickup'
      )
      span.wrapper-xs.text-xs.text-danger(ng-show='newOfferForm.message1.$dirty && newOfferForm.message1.$invalid') Please enter comments
      .radio.m-t(ng-if="$ctrl.value === 'return'")
            label.i-checks.right-padding-5
              input(type='radio', name='a', value='2', checked='', ng-click="$ctrl.changeReturnMode('shoppreReturn')", ng-model="$ctrl.data.return_shoppre" )
              i
              | Shoppre has to return the package for you to the Sender.
              | You will be charged as per our Domestic Shipping Rates which will be notified to you via email.
      textarea.form-control.m-t(
      rows=4,
      ng-hide="$ctrl.value === 'abandon'",
      name="message2"
      ng-model="$ctrl.data.message2"
      ng-required='$ctrl.returnToSenderShoppre'
      )
      span.wrapper-xs.text-xs.text-danger(ng-show='newOfferForm.message2.$dirty && newOfferForm.message2.$invalid') Please enter comments
      .m-t(ng-hide="$ctrl.value === 'abandon'", ng-required='$ctrl.acceptanceCheckBox' )
            label.i-checks.right-padding-5
              input(type='checkbox', value='' name='agree' ng-model="$ctrl.data.agree", ng-required='$ctrl.acceptanceCheckBox')
              i
              | {{ $ctrl.offer.acceptanceMessage }}
      span.wrapper-xs.text-xs.text-danger(ng-show='newOfferForm.agree.$dirty && newOfferForm.agree.$invalid') Please check
      .modal-footer.no-padder.m-t.text-left.no-border.m-t-xs-md
        a.btn.btn-default.text-u-c(ng-click='$ctrl.cancel()') Cancel Request
        button.btn.btn-info(type='submit' ng-disabled="$ctrl.submitting")  Submit Request

