div
  .hbox
    div
      .bg-white-only.b-b(style='position: fixed;width: 100%; height: 44px;')
        ul.nav.nav-pills.nav-sm.m-t-xs
          li(ng-repeat='bucket in $ctrl.buckets' ui-sref-active="active")
            a(ui-sref='shipments.index({jobId:$ctrl.job.id,bucket: bucket})' ng-bind="bucket")
      .wrapper-xs.bg-light(style='position: fixed; right: 0;background: #fff; z-index: 3;width:30%;')
        .pull-right.col.m-r-xs.m-t-xs(ng-if='$ctrl.shipments.length') {{$ctrl.shipments.length}} of {{$ctrl.total}} Shipments(s)
        .pull-right.col.pointer.m-r-xs(ng-click='$ctrl.ExcelDownload.download($ctrl.params)')
          button.btn.btn-sm.btn-default
            span.fa.fa-file-excel-o
        .pull-right.col.pointer.m-r-xs(ng-click='$ctrl.openShipmentFilter()')
          button.btn.btn-sm.btn-default
            span.fa.fa-filter
        .pull-right.col.pointer.m-r-xs
          uib-dropdown
            button.btn.btn-sm.btn-default(type='button', uib-dropdown-toggle='', aria-haspopup='true', aria-expanded='false')
              | {{ ($ctrl.sorts | filter:{ key: $ctrl.params.sort }: true)[0].name !== 'Default' ? ($ctrl.sorts | filter:{ key: $ctrl.params.sort }: true)[0].name+'&nbsp;&nbsp;' : '' }}
              span.fa.fa-sort-alpha-asc
            ul.dropdown-menu.pull-right(uib-dropdown-menu='', role='menu', aria-labelledby='btn-append-to-body')
              li(ng-repeat="sort in $ctrl.sorts")
                a(href='#' ng-bind='sort.name' ng-click='$ctrl.sort(sort.key)')
    .m-t-xl(style='padding-bottom: 4px;')
    scrollable-table(table-offset="110")
      table.table.m-b-none
        thead
          tr
            th.col-xs-2 Customer Name
            th.col-xs-1 Shipment ID
            th.col-xs-1 Weight
            th.col-xs-1 Final Amount
            th.col-xs-2 Created Date
            th.col-xs-2 Locker
            th.col-xs-3 Status
      .col-xs-12(style='padding: 10px;')
        .col-xs-12(ng-show='$ctrl.shipments.length === 0 && !$ctrl.ui.loading')
          td(colspan="5"): h1.text-center.text-muted No Shipments
        .col-xs-12.no-padder.bg-white.b-a.m-b-sm(ng-repeat='shipment in $ctrl.shipments')
          .col-xs-2.wrapper-sm.m-t-xs
            img.pull-left(
              ng-if='shipment.Customer.profile_photo_url'
              ng-src='{{shipment.Customer.profile_photo_url}}'
              style='height: 30px;width: 30px;border-radius: 50%;'
            )
            a.m-l(ui-sref='shipment.show({ id: shipment.id })'  target="_blank") {{shipment.Customer.name}}
          .col-xs-1.wrapper-sm.text-ellipsis.m-t-xs(
            ng-bind="shipment.id"
            title="{{shipment.id}}"
          )
          span.badge.bg-danger.pull-right.text-white(ng-if= 'shipment.preference') Preference Selected
          .col-xs-1.wrapper-sm.text-ellipsis.m-t-xs(
            ng-bind="shipment.final_weight + 'Kg'"
            title="{{shipment.final_weight}}"
          )
          .col-xs-1.wrapper-sm.text-ellipsis.m-t-xs(
            ng-bind="'₹'+shipment.final_amount"
            title="{{shipment.final_amount}}"
          )
          .col-xs-2.wrapper-sm.text-ellipsis.m-t-xs
            span(ng-if='shipment.state_id === $ctrl.shipmentStateId.PAYMENT_REQUESTED', title="{{shipment.totalDays}} days" ng-class="shipment.totalDays > 7 ? 'text-danger' : 'text-success'")
              |  {{shipment.created_at | date:'MMM d, y'}} IST {{shipment.created_at | date:'h:mm a'}}
            span.text-success(ng-if='shipment.state_id !== $ctrl.shipmentStateId.PAYMENT_REQUESTED', title="{{shipment.totalDays}} days" )
              |  {{shipment.created_at | date:'MMM d, y'}} IST {{shipment.created_at | date:'h:mm a'}}
          .col-xs-2.wrapper-sm.text-ellipsis.m-t-xs(
            title="{{shipment.Customer.virtual_address_code + ' ('+shipment.Customer.Locker.short_name+ ')'}}"
          )
            span(ng-bind="shipment.Customer.virtual_address_code")
            span.text-small.text-muted(ng-bind="' ('+shipment.Customer.Locker.short_name+ ')'")
          .col-xs-3.wrapper-sm.text-ellipsis.m-t-xs: .w-full(
            uib-dropdown=''
            uib-keyboard-nav=''
            dropdown-append-to-body
          )
            button.text-ellipsis.btn.bg-white-only(
              class='b-{{App.shipmentStates[shipment.state_id].config.color || "gray"}} text-{{App.shipmentStates[shipment.state_id].config.color || "gray"}}'
              uib-dropdown-toggle=''
              style='text-align:left;padding: 2px 8px;width:auto'
              ng-disabled='App.shipmentStates[shipment.state_id].Actions.length===0'
              title='{{shipment.state_name}}'
            )
              span.m-r-xs(ng-bind='App.shipmentStates[shipment.state_id].action')
              span.caret(ng-if='App.shipmentStates[shipment.state_id].Actions.length > 0')
            ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='simple-btn-keyboard-nav')
              li(
                role='menuitem'
                ng-repeat='state in App.shipmentStates[shipment.state_id].Actions'
                ng-if="App.shipmentStates[state.state_id].action"
              )
                a(
                  href=''
                  ng-click='$ctrl.ChangeShipmentState.open(shipment, state.state_id, shipment._root_.id)'
                  ng-bind='::App.shipmentStates[state.state_id].action'
                )
            span.pull-right.no-padder(
            ng-if='shipment.updated_at'
            uib-tooltip = "{{shipment.updated_at | date:'MMM d, y'}} IST {{shipment.updated_at | date:'h:mm a'}}"
            tooltip-placement='bottom-center'
            tooltip-append-to-body='true'
            )
              span(ng-bind='$ctrl.moment(shipment.updated_at).fromNow()')

            span.pull-right
              a(href='{{shipment.tracking_url}}' target="_blank")
                span.text-primary-lt &nbsp; {{shipment.tracking_code}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

        .col-xs-12.text-center
          a.btn.active.m-t-xs(ng-if="$ctrl.ui.loading")
            i.fa.fa-circle-o-notch.fa-spin
            strong &nbsp;Loading
          a.btn.btn-primary.m-t-xs(ng-if="$ctrl.ui.lazyLoad" ng-click="$ctrl.loadShipments()")
            i.fa.fa-plus-circle
            strong &nbsp;Load More
