{{#if CREATED}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        I would like to inform you that your package from <span class="il">{{pkg.Store.name}}</span>. You will receive your complete details once Shipping Team updates the package details.
        <br>
        <br>
        Your package is shipped by <span class="il">{{pkg.Store.name}}</span> and the reference ID is {{pkg.reference_code}}.
        <br>
        <br>

      </p> </td>
  </tr>
{{else if AWAITING_VERIFICATION}}
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
       I would like to inform you that your package from <span class="il">{{pkg.Store.name}}</span>. You will receive your complete details once Shipping Team updates the package details.
        <br>
        <br>
        Your package is shipped by <span class="il">{{pkg.Store.name}}</span> and the reference ID is {{pkg.reference_code}}.
        <br>
        <br>

      </p> </td>
  </tr>
{{/if}}
