div
  .col-md-12.col-sm-12.col-xs-12
    h1.f-s-20.f-c-d-greay Shipments In Queue
    p.f-s-16.f-c-d-greay
      i.fa.fa-home
      span.m-l-xs-md / Shipments In Queue
  .col-md-12.col-sm-12.col-xs-12
    .alert.alert-warning.second-header-note
      .h5
        | Kindly Submit your Payment within 7 DAYS after you have received Shoppre's email titled "Submit Payment | Your Shipment is packed and weighed".
      .h5.m-t-xs
        | From the 8th day, your parcel will start accumulating Storage fees of INR 100/day.
        span(ng-bind='" " + $ctrl.TITLE')
  .container-fluid.scrollableContainer
    .hbox.bg-white-only.m-b
      // - Content Area
      .bg-white-only
        .col-md-12.col-sm-12.col-xs-12.no-padder.m-t-xs(ng-if='$ctrl.shipments.length')
          .row
            .col-md-12.col-sm-12.col-xs-12.padder-lg.no-padder-right.p-t-lg
              div
                .alert.alert-warning(role='alert', ng-if='$ctrl.inreview')
                  h5
                    b Shoppre &nbsp;
                    | team members are currently preparing your shipment(s). No action is required on your part, &nbsp;
                    | and you will be notified when your shipment(s) &nbsp;
                    b is packed and weighed. &nbsp;
                    | Past shipments
                    | can be viewed in your &nbsp;
                    a(ui-sref="shipRequests.history") History
              .clearfix
                .hbox
                  .col-md-12.col-sm-12.col-xs-12
                    .alert.alert-warning(role='alert', ng-show='$ctrl.error')
                      h4.text-danger {{$ctrl.message}}
                    .full-width
                      table.table.default.footable-loaded.footable(
                      ui-jq='footable', data-filter='#filter', data-page-size='5')
                        thead.bg-primary.text-white
                          tr
                            th.footable-visible.footable-sortable
                              | SENDING TO
                              span.footable-sort-indicator
                            th.footable-visible.footable-sortable.hidden-xs(data-hide='phone,tablet')
                              | SHIP REQUEST ID
                              span.footable-sort-indicator
                            th.footable-visible.footable-sortable.hidden-xs(data-hide='phone,tablet', data-name='Date Of Birth')
                              | REQUEST DATE
                              span.footable-sort-indicator
                            th.footable-visible.footable-last-column.footable-sortable
                              | WEIGHT
                              span.footable-sort-indicator
                            th.footable-visible.footable-last-column.footable-sortable.hidden-xs
                              | PACKAGE COUNT
                              span.footable-sort-indicator
                            th.footable-visible.footable-last-column.footable-sortable
                              | STATUS
                              span.footable-sort-indicator
                        tbody.odd(ng-repeat="shipment in $ctrl.shipments")
                          tr.footable-even(style='display: table-row; border-collapse: none;' ng-class='shipment.open === true ? "bg-gr-q" : ""')
                            td.footable-visible(style='cursor: pointer;' ng-click='shipment.open = !shipment.open') {{shipment.customer_name}}
                            td.footable-visible.hidden-xs {{shipment.order_code}}
                            td.footable-visible.hidden-xs
                              span(
                                ng-bind="shipment.created_at | date:'MMM d, y'"
                                uib-tooltip="IST {{shipment.created_at | date:'h:mm a'}}"
                                tooltip-placement='right'
                                tooltip-append-to-body='true'
                                )
                            td.footable-visible {{shipment.final_weight | number:2}} kg
                            td.footable-visible.hidden-xs {{shipment.packages_count}}
                            td.footable-visible
                              div
                                div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.PACKAGING_REQUESTED')
                                  p.f-c-red(ng-init= '$ctrl.inreview = true') In Review
                                  p(ng-if='shipment.totalHours < 1')
                                    a.btn-md.btn-default.btn.text-blue(ng-click="$ctrl.cancel(shipment.id, $index)") Cancel Shipment
                                    i.fa.fa-info-circle.m-l-xs(
                                    uib-popover='Shoppre offers a one-hour window to cancel your shipping order. Once your parcel has been prepared, you can no longer cancel your shipment. The status will change to Submit Payment.'
                                    popover-trigger="'mouseenter'"
                                    popover-placement='top'
                                    popover-append-to-body='true'
                                    )
                                div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.PAYMENT_REQUESTED || shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.SHIPMENT_IN_ACTIVE')
                                  p
                                    a.btn-md.btn-default.btn.text-blue.status-btn(ui-sref='shipRequest.confirm({orderCode: shipment.order_code})') Submit Payment
                                div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.PAYMENT_COMPLETED')
                                  span(ng-if="shipment.payment_gate_id != $ctrl.PAYMENT_GATEWAYS.WIRE && shipment.payment_gate_id != $ctrl.PAYMENT_GATEWAYS.CASH && shipment.payment_status != 'success'")
                                  span(ng-if="shipment.payment_status != 'success'")
                                    p.f-c-red Awaiting Payment
                                    p It might take upto 24 Hours to reflect your payments into our account.
                                    p
                                      a.btn-md.btn-default.btn.text-blue.status-btn(ui-sref='shipRequest.confirm({orderCode: shipment.order_code})') Change Payment Method
                                  span(ng-if="shipment.payment_status === 'success' && (shipment.payment_gate_id == $ctrl.PAYMENT_GATEWAYS.CARD || shipment.payment_gate_id == $ctrl.PAYMENT_GATEWAYS.PAYPAL || shipment.payment_gate_id == $ctrl.PAYMENT_GATEWAYS.RAZOR)")
                                    p.f-c-red Awaiting Payment
                                    p It might take upto 24 Hours to reflect your payments into our account.
                                  span(ng-if="shipment.payment_status === 'success' && (shipment.payment_gate_id == $ctrl.PAYMENT_GATEWAYS.WALLET)")
                                    p.f-c-red Awaiting Payment
                                    p It might take upto 24 Hours to confirm your payment from our team.
                                div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.PAYMENT_FAILED')
                                  a.btn-md.btn-default.btn.text-blue.status-btn(ui-sref='shipRequest.confirm({orderCode: shipment.order_code})') Retry Payment
                                div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.PAYMENT_CONFIRMED')
                                  p.text-success Payment Received
                                  p
                                    a.btn-md.btn-default.btn.text-blue.status-btn(ui-sref='shipRequest.invoice({orderCode: shipment.order_code})', target='_blank') Invoice
                                div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.UPSTREAM_SHIPMENT_REQUEST_CREATED')
                                  p.f-c-blue Shipment Ready For Dispatch
                                div(ng-if='shipment.ShipmentState.state_id == $ctrl.SHIPMENT_STATE_IDS.INVOICE_REQUESTED')
                                  p.f-c-red In Review
                            tr.bg-gr-q
                              td(colspan=8 ng-if='shipment.open' style='border: none;')
                                div.bg-white-only
                                  .col-sm-7.m-t-lg
                                    h5
                                      strong Delivery Address:
                                    p
                                      strong {{shipment.customer_name}}
                                    p {{shipment.address}}
                                    h5
                                      strong Phone No: {{shipment.phone}}

                                  div(ng-if="shipment.final_amount != 0")
                                  .col-sm-5.m-t-lg
                                    table.table.table-bordered.footable-loaded.footable.table-responsive(style='background-color: white;')
                                      tr
                                        td Estimated Shipping
                                        td ₹ {{estimated = shipment.estimated_amount - shipment.package_level_charges_amount}}
                                      tr
                                        td Package Level Charges
                                        td ₹ {{shipment.package_level_charges_amount}}
                                      tr(ng-if="shipment.coupon_amount > 0")
                                        td Coupon Reward
                                        td (-)₹ {{shipment.coupon_amount}}
                                      tr(ng-if="shipment.loyalty_amount > 0")
                                        td Loyalty Reward
                                        td (-)₹ {{shipment.loyalty_amount}}
                                      tr(ng-if="shipment.payment_gateway_fee_amount > 0")
                                        td Payment Gateway (PG) Fee
                                        td ₹ {{shipment.payment_gateway_fee_amount}}
                                      tr
                                        td.font-bold Total Cost
                                        td ₹ {{shipment.final_amount}}

                                          // - Packages
                                  div.clearfix(style='padding: 12px 15px;')
                                    table#DataTables_Table_1.table.default.footable-loaded.footable(
                                    ui-jq='footable',
                                    data-filter='#filter',
                                    data-page-size='5'
                                    )
                                      thead.bg-primary.text-white
                                        tr(role='row')
                                          th.footable-visible.footable-sortable
                                            | FROM
                                            span.footable-sort-indicator
                                          th.footable-visible.footable-sortable.hidden-xs(data-hide='phone,tablet')
                                            | PACKAGE ID
                                            span.footable-sort-indicator
                                          th.footable-visible.footable-sortable(data-hide='phone,tablet', data-name='Date Of Birth')
                                            | DATE
                                            span.footable-sort-indicator
                                          th.footable-visible.footable-last-column.footable-sortable
                                            | VALUES
                                            span.footable-sort-indicator
                                          th.footable-visible.footable-last-column.footable-sortable.hidden-xs
                                            | WEIGHT
                                            span.footable-sort-indicator
                                      tbody.odd(role='row' ng-repeat="package in shipment.Packages" style='background-color: white;' ng-class='package.open === true ? "card" : ""')
                                        tr.footable-even(style='display: table-row;' ng-class='package.open === true ? "bg-gr-q" : ""')
                                          td.footable-visible
                                            a(ui-sref='package.show({ id: package.id })' ng-bind='package.Store.name' style='cursor: pointer;' ng-click='package.open = !package.open')
                                          td.footable-visible.hidden-xs {{package.id}}
                                          td.footable-visible(
                                          ng-bind="package.created_at | date:'MMM d, y'"
                                          uib-tooltip="IST {{package.created_at | date:'h:mm a'}}"
                                          tooltip-placement='right'
                                          tooltip-append-to-body='true'
                                          )
                                          td.footable-visible  {{package.price_amount}}
                                          td.footable-visible.hidden-xs  {{package.weight}}
                                        tr
                                          td.no-padder.no-margin(colspan=8 ng-if='package.open')
                                           .col-md-12.col-xs-12(style="margin-top: 20px;margin-bottom: 20px;")
                                             .col-md-3.col-sm-6.m-b(role='row' ng-repeat="packageItem in package.PackageItems")
                                               .col-md-12.card
                                                 h5 {{packageItem.name}}
                                                 strong Qty: &nbsp;
                                                 span {{packageItem.quantity}}
                                                 h5
                                                 strong Total Value: &nbsp;
                                                 span  {{packageItem.quantity * packageItem.price_amount}} &nbsp;&nbsp;(₹
                                                 span  {{packageItem.price_amount}}/item)

        h3.text-center.text-info.f-c-d-greay(ng-if='$ctrl.shipments.length=== 0')
          | No Shipments
  .clearfix
