extends ../layout
block head
  title #{title}
  meta(name='description', content= '#{meta_description}')
  meta(name="keywords" content="#{meta_keywords}")
block css_style
  //Owl Carousel
  link(rel='stylesheet', href="#{s3BaseUrl}/css/owl.carousel.min.css")
  // Magnific Popup
  link(rel='stylesheet', href="#{s3BaseUrl}/css/magnific-popup.css")

  meta(property='og:title', content='Shop and Ship with ShoppRe | International Courier & Consolidation Services')
  meta(property='og:type', content='website')
  meta(property='og:description', content="Signup for Indian Address. Shop your favorite Indian store and Ship Internationally. India's #1 international courier, shipping and consolidation company.")
  meta(property='og:url', content='https://www.shoppre.com')
  meta(property='og:image', content='#{s3BaseUrl}/js/img/shoppre-international-shipping-partner-india.jpg')
  meta(property='og:site_name', content='Shoppre')

  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@Go_Shoppre')
  meta(name='twitter:title', content='Shop and Ship with ShoppRe | International Courier & Consolidation Services')
  meta(name='twitter:description', content="Signup for Indian Address. Shop your favorite Indian store and Ship Internationally. India's #1 international courier, shipping and consolidation company.")
  meta(name='twitter:image', content='#{s3BaseUrl}/js/img/shoppre-international-shipping-partner-india.jpg')
  meta(name='twitter:app:country', content='IN')
  meta(name='twitter:app:name:googleplay', content='Shoppre - International Shipping from India')
  meta(name='twitter:app:id:googleplay', content='com.shoppre.play')
  meta(name='twitter:app:url:googleplay', content='https://www.shoppre.com/')
  script(type='application/ld+json').
    {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "name": "Borderless Shipping, Shopping from India, Parcel Delivery, Courier Services, ShoppRe",
    "description": "ShoppRe leading provider of parcel delivery, international courier & consolidation company from India.
    Shipping your items to worldwide & reaches within 2-5 working days, save 60-80% on shipping cost",
    "image": {
    "@type": "ImageObject",
    "url": "#{s3BaseUrl}/img/logo.png",
    "width": "878",
    "height": "264"
    },
    "url": "https://www.shoppre.com/",
    "mainEntityOfPage": "https://www.shoppre.com",
    "inLanguage": "en_IN",
    "headline": "Borderless Shipping: Parcel Delivery & Courier Services | Shoppre India",
    "keywords": "Borderless Shipping From India, Shipping Partner, Parcel Delivery, Courier Services",
    "copyrightYear": "2018",
    "author": {
    "@type": "Organization",
    "name": "Shoppre",
    "url": "https://www.shoppre.com",
    "sameAs": ["https://twitter.com/Go_Shoppre",
    "https://www.facebook.com/goshoppre",
    "https://plus.google.com/+SHOPPRECOM",
    "https://www.linkedin.com/company/17945446",
    "https://www.youtube.com/channel/UCCBP1ybWY9spoleKqMgAQaw",
    "https://www.instagram.com/shoppre_official",
    "https://www.pinterest.com/shoppre",
    "https://play.google.com/store/apps/details?id=com.shoppre.play",
    "https://chrome.google.com/webstore/detail/shoppre-international-shi/kplnmmemlcfmbhbjegagmiiiphghdpch"],
    "image": {
    "@type": "ImageObject",
    "url": "#{s3BaseUrl}/js/img/logo.png",
    "height": "264",
    "width": "878"
    },
    "telephone": "+91 80409 44077",
    "address": {
    "@type": "PostalAddress",
    "streetAddress": "#181, 1st Floor, 2nd Cross Rd,
    1st Block Koramangala",
    "addressLocality": "Bengaluru",
    "addressRegion": "Karnataka",
    "postalCode": "560034",
    "addressCountry": "IN"
    },
    "location": {
    "@type": "Place",
    "name": "Shoppre.com",
    "hasMap": "https://www.google.co.in/maps/place/Shoppre.com+-+Your+Global+Shipping+Partner/",
    "telephone": "+91 80409 44077",
    "geo": {
    "@type": "GeoCoordinates",
    "latitude": "12.9257998",
    "longitude": "77.6332563"
    }
    }
    }
    }

  script(type='application/ld+json').
    { "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Shoppre",
    "legalName" : "IndianShoppre LLP",
    "url": "https://www.shoppre.com",
    "logo": "#{s3BaseUrl}/js/img/logo.png",
    "foundingDate": "2016",
    "founders": [
    {
    "@type": "Person",
    "name": "Saira Asif Hassan"
    },
    {
    "@type": "Person",
    "name": "Nikkitha Shanker"
    } ],
    "address": {
    "@type": "PostalAddress",
    "streetAddress": "No.181, 1st Floor, 2nd Cross Rd, 1st Block Koramangala",
    "addressLocality": "Bengaluru",
    "addressRegion": "Karnataka",
    "postalCode": "560034",
    "addressCountry": "IN"
    },
    "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "customer support",
    "telephone": "[+918040944077]",
    "email": "support@shoppre.com"
    },
    "sameAs": [
    "https://www.facebook.com/goshoppre",
    "https://twitter.com/Go_Shoppre",
    "https://plus.google.com/+SHOPPRECOM",
    "https://www.instagram.com/shoppre_official",
    "https://www.youtube.com/channel/UCCBP1ybWY9spoleKqMgAQaw",
    "https://www.linkedin.com/company/17945446",
    "https://in.pinterest.com/shoppre",
    "https://play.google.com/store/apps/details?id=com.shoppre.play",
    "https://chrome.google.com/webstore/detail/shoppre-international-shi/kplnmmemlcfmbhbjegagmiiiphghdpch"
    ]}

  script(type='application/ld+json').
    {
    "@context": "http://www.schema.org",
    "@type": "Website",
    "name": "Shoppre",
    "alternateName": "Borderless Shipping From India, Shoppre.com",
    "url": "https://www.shoppre.com",
    "image": "#{s3BaseUrl}/js/img/logo.png",
    "description": "Shoppre leading provider of parcel delivery company in India.
    Shipping your items to worldwide & reaches within 2-5 working days, save 60-80% on shipping cost.",
    "sameAs": [
    "https://www.facebook.com/goshoppre/",
    "https://twitter.com/Go_Shoppre",
    "https://plus.google.com/+SHOPPRECOM",
    "https://www.instagram.com/shoppre_official",
    "https://www.youtube.com/channel/UCCBP1ybWY9spoleKqMgAQaw",
    "https://www.linkedin.com/company/17945446",
    "https://in.pinterest.com/shoppre",
    "https://play.google.com/store/apps/details?id=com.shoppre.play",
    "https://chrome.google.com/webstore/detail/shoppre-international-shi/kplnmmemlcfmbhbjegagmiiiphghdpch"
    ]
    }

block content

    section
      include ../partials/slider
    section.all-about
      .container
        .row
          .col-sm-2
            .square-box
              h2 All About
              img(src="#{s3BaseUrl}/img/texture.png")
          .col-sm-10
            .parcel_logs
              h3 Ship your Parcel through Shoppre’s trusted Courier Partners
              a(href="#{s3BaseUrl}/dhl")
                img(src="#{s3BaseUrl}/img/dhl.png")
              a(href='#{s3BaseUrl}/fedex')
                img(src="#{s3BaseUrl}/img/fedex.png")
              a(href='#{s3BaseUrl}/dtdc')
                img(src="#{s3BaseUrl}/img/dtdc.png")
              h4
                | Shoppre receives and ships over INR 10,00,000 worth in eCommerce purchases monthly!
          .clearfix
          ul.horline
            li
              a(href="#{s3BaseUrl}/browse-categories")
                h2 1000+
                h4 Indian Shopping Websites
            li
              a(href="#{s3BaseUrl}/countries")
                h2 236+
                h4 Countries Worldwide
            li
              h2 2-5 Days
              h4 Average Delivery Time
            li
              h2 Save 60-80%
              h4 Storage, Consolidation & Repackaging!
          .text-center
            a.btn.btn-shoppre(href="/about") Why You Will Love Us
    section.services
      .container
        .row
          .col-md-6.col-md-offset-6
            .service-content
              .square-box
                h2 Our
                h2.red Services
              p.head-text
                | We are passionate about delivering happiness through every box with the
                | products you love from India!
              ul
                li
                  h3 SHOP AND SHIP
                  h4 Always wanted to get products from India?
                  p
                    | Sign up for free and get your own Indian shipping address. Shop
                    | from any Indian online store. Enjoy our storage facilities,
                    | get your purchases consolidated and delivered at your doorstep abroad.
                li
                  h3 PERSONAL SHOPPER
                  h4 Your International Credit Card isn’t accepted on some portals?
                  p
                    | Simply provide us the product and merchant details;
                    | our Personal Shopper will purchase the items for you and get what you love!
                li
                  h3 SHOPPING GUIDE
                  h4 Don’t know where to shop the product that you need from?
                  p
                    | We are there to help you through our various filters
                    | to select which portal you can shop your favorite product from.
              .clearfix
              .text-center
                a.btn.btn-shoppre(href="/services") Learn More
    section.works
      .container
        .row
          .square-box
            h2 how shoppre
            h2.orange works
          .col-md-12
            ul.works_flow
              li
                a(href="#{URLS_MYACCOUNT}/register")
                  h3 Join
                  p
                    | Sign up with Shoppre and receive your FREE Personal Locker with a Virtual Indian
                    | Shipping Address.
              li
                a(href="#/browse-categories")
                  h3 Explore
                  p
                    | Find out from which Indian Online store you can get your favorite product.
              li
                a(href="#{URLS_MYACCOUNT}/locker")
                  h3 USE YOUR SHOPPRE ADDRESS
                  p
                    | Use your Shoppre Address to shop from ANY Indian Shopping Website.
              li
                a(href="#{URLS_MYACCOUNT}/personal-shopper")
                  h3 AVAIL BENEFITS
                  p
                    | In case any online store doesn’t accept your International credit card, don’t worry! Our Personal
                    | Shopper will purchase the item for you using our Indian Local Credit Card.
              li
                a(href="#{URLS_MYACCOUNT}/locker")
                  h3 GET NOTIFIED
                  p
                    | You can view, manage and track your shipments on your ShoppRe account, 24/7. We will notify you
                    | as soon as your package arrives at ShoppRe facility. You can ship your items at your
                    | convenience in just a click!
              li
                a(href="/consolidation-service")
                  h3 RECEIVE & ENJOY
                  p
                    | Save up to 60-80% by our Consolidation, Repackaging and Storage services. Enjoy the special
                    | discounted rates that we get with our trusted courier partners like DHL, FedEx and more.
                    | Get your items in just 2-5 Days!
            .clearfix
            .text-center
              a.btn.btn-shoppre(href="/how-it-works") Learn More
    section.brandslove
      .container
        .row
          .square-box
            h3 Brands
            h2
              | You
              span.red Love!
          .col-md-12
            h2.brands-head Not sure where to shop from?
            .brands.owl-carousel
              .item
                a(href='https://www.amazon.in/', target='_blank' alt="Amazon India ShoppRe Shipping")
                  img(src="#{s3BaseUrl}/img/amazon.png")
              .item
                a(href='https://www.flipkart.com/', target='_blank' alt="Flipkart India ShoppRe Shipping")
                  img(src="#{s3BaseUrl}/img/flipkart.png")
              .item
                a(href='https://www.abof.com/' target='_blank' alt="Abof India ShoppRe Shipping")
                  img(src="#{s3BaseUrl}/img/abof.png")
              .item
                a(href='https://www.chumbak.com/', target='_blank' alt="Chumbak India ShoppRe Shipping")
                  img(src="#{s3BaseUrl}/img/chumbak.png")
              .item
                a(href='https://www.jabong.com/', target='_blank' alt="Jabong India ShoppRe Shipping")
                  img(src="#{s3BaseUrl}/img/jabong.png")
              .item
                a(href='https://www.myntra.com/', target='_blank' alt="Myntra India ShoppRe Shipping")
                  img(src="#{s3BaseUrl}/img/myntra.png")
              .item
                a(href='https://www.pepperfry.com/', target='_blank' alt="PepperFry India ShoppRe Shipping")
                  img(src="#{s3BaseUrl}/img/pepperfry.png")
              .item
                a(href='https://www.snapdeal.com/', target='_blank' alt="SnapDeal India ShoppRe Shipping")
                  img(src="#{s3BaseUrl}/img/snapdeal.png")
            .text-center
              a.btn.btn-shoppre(href="/browse-categories") Browse Categories
    section.pricing
      .container
        .row
          h2.shipping-head Shipping WorldWide From IndiaprivacyPolicy
          .col-md-12
            p.head-text-content
              | We have heavily optimised our operations to give you the best deal.
              | Our pricing makes us a favourite platform for Indian shoppers worldwide.
            .pricing-terms
              .col-sm-4
                .desc_box
                  .ico_box
                  h3
                    | NO MEMBERSHIP
                    span.orange PLANS
                  p Pay only as and when you use our services!
              .col-sm-4
                .desc_box
                  .ico_box(style='background-position: 1px -73px;')
                  h3
                    | SHIPPING RATE
                    span.orange CALCULATOR
                  p
                    | Find out how much it would cost you for shipping your favorite product to your home abroad.
              .col-sm-4
                .desc_box
                  .ico_box(style='background-position: 1px -146px;')
                  h3
                    | COUNTRY
                    span.orange GUIDE
                  p
                    | Find out helpful information with regards to your country, such as Shipping Costs, Duties
                    | and Taxes, Restricted Items, Current Exchange rates, Country Alerts, etc.
              .clearfix
            .text-center
              a.btn.btn-shoppre(href="/pricing") Learn More
    section.signup_free
      .container
        .row
          .col-sm-12
            h3
              | So what are you waiting for? Shopp
              span.red re
              | ! Open your big box of happiness today!
            a.btn.btn-shoppre(href='https://myaccount.shoppre.com/register') sign up for free
      hr
      .container
        .mdl-grid.mdl-grid--no-spacing
          h4.mdl-cell.mdl-cell--12-col.footer__popularDestiHeading
            | Schedule Your Pickup From
            | Various Places In India
          .mdl-cell.mdl-cell--12-col
            a.footer__destiLinks.text_font(href="https://www.shoppre.com/schedule-pickup") Schedule pickup from Bangalore /
            a.footer__destiLinks.text_font(href="https://www.shoppre.com/schedule-pickup") Schedule pickup from Delhi /
            a.footer__destiLinks.text_font(href="https://www.shoppre.com/schedule-pickup") Schedule pickup from Jaipur /
            a.footer__destiLinks.text_font(href="https://www.shoppre.com/schedule-pickup") Schedule pickup from Mumbai /
            a.footer__destiLinks.text_font(href="https://www.shoppre.com/schedule-pickup") Schedule pickup from Hyderabad /
            a.footer__destiLinks.text_font(href="https://www.shoppre.com/schedule-pickup") Schedule pickup from Chennai /
            a.footer__destiLinks.text_font(href="https://www.shoppre.com/schedule-pickup") Schedule pickup from Kochi


