extends ../layout
block content
  head
    title Online Shopping: Best Stores for Shopping Online
    meta(name='description', content= 'Shop with PayPal at millions of online stores by logging in with just your email and password. Secure check out at eBay, Best Buy, Home Depot and more.')
    meta(property='og:title', content='Online Shopping: Best Stores for Shopping Online - PayPal CA')
  section.page_head
    .pagebanner
      img(src="/cdn/img/banner.jpg", width='100%')
      .banner-cap
        h2 Brands
        h2.text-orange Browse Categories
  section.sellers
    .container
      .row
        .col-md-3
          form.browse_form
            ul
              h3 POPULAR CATEGORIES
              li
                label
                  input.option-input.radio(type='radio', name='cat', value='1', checked='')
                  | Top 15 Online Stores in India
              li
                label
                  input.option-input.radio(type='radio', name='cat', value='2')
                  | Apparels - Women, Men and Kids
              li
                label
                  input.option-input.radio(type='radio', name='cat', value='3')
                  | Apparels - Only Men
              li
                label
                  input.option-input.radio(type='radio', name='cat', value='5')
                  | Luxury / Designer Wear
              li
                label
                  input.option-input.radio(type='radio', name='cat', value='4')
                  | Kids and Moms
              li
                label
                  input.option-input.radio(type='radio', name='cat', value='6')
                  | Fashion Jewellery
              li
                label
                  input.option-input.radio(type='radio', name='cat', value='7')
                  | Handicrafts, Furniture & Home Decor
              hr(style='border-style: dashed;border-color: #555;')
              h3 OTHER CATEGORIES
              each category in categories
                li
                  label
                    input.option-input.radio(
                      type='radio',
                      name='cat',
                      value='#{categories.id}',
                      checked='#{[1, 2, 3, 4, 5, 6, 7].includes(category.id) ? "true" : "false"}'
                    )
                    | #{category.name}
        .col-md-9
          .seller_tab
            ul.nav.nav-tabs.nav-justified(role='tablist')
              li.active(role='presentation')
                a(href='#web', aria-controls='web', role='tab', data-toggle='tab') Top Website Sellers
              li(role='presentation')
                a(href='#fb', aria-controls='fb', role='tab', data-toggle='tab') Top FB/Instagram Sellers
              li(role='presentation')
                a(href='#featured', aria-controls='featured', role='tab', data-toggle='tab') Shoppre Featured Sellers
            .tab-content
              #web.tab-pane.fade.in.active(role='tabpanel')
                each stores in store
                  .col-sm-3
                    .seller_box
                      a(href='#{stores.name}', target='_blank', title='#{stores.name}')
                        span.brand_logo(style="background-image: url('/app/cdn/stores/'#{stores.logo}');")
                      a.myfavstore(href='#', data-clubid='#{store.id}')
                        i.bookmark-icon
                      if !store.info
                        span.info(style='background: none')
                      else
                        span.info #{store.info}
              #fb.tab-pane.fade(role='tabpanel')
                each fb in fbs
                  .col-sm-3
                    .seller_box
                      a(href='#{fb.url}', target='_blank', title='#{fb.name}')
                        span.brand_logo(style="background-image: url('/app/cdn/stores/#{fb.logo}');")
                      a.myfavstore.active(href='#', data-clubid='{{$fb->id}}')
                        i.bookmark-icon
                      span.info #{fb.info}
              #featured.tab-pane.fade(role='tabpanel')
                each feat in feats
                  .col-sm-3
                    .seller_box
                      a(href='#{feat.url}', target='_blank', title='#{feat.name}')
                        span.brand_logo(style="background-image: url('/app/cdn/stores/#{feat.url}")
                      a.myfavstore.active(href='#', data-clubid='#{feat.id}')
                        i.bookmark-icon
                      span.info #{feat.info}
              .ajaxload
  section.signup_free
    .container
      .row
        .col-md-12
          h3
            | So what are you waiting for? Shopp
            span.red re
            | ! Open your big box of happiness today!
          p All you need is a membership to get your Indian Shipping Address immediately!
          a.btn.btn-shoppre(href="#{URLS_MYACCOUNT}/register") sign up for free
