.modal-header.bg-primary
  span(ng-bind='$ctrl.feedbackId === 5 ? "Mark as Complete" : "JD Rejection Reason"')
  span.fa.fa-times-circle.pull-right.pointer(style='font-size: 1.5em;' ng-click='$ctrl.$uibModalInstance.dismiss(false)')
.modal-body.bg-white-only
  form.r-2x.b-light-dker.wrapper-md.bg-white-only.clear(
    name="rejectForm"
    ng-submit='$ctrl.$uibModalInstance.close($ctrl.ok())'
  )
    .form-group
      label.col-xs-12.input-group.text-dark-dker
        | Please select the reason for which you are {{$ctrl.feedbackId === 5 ? "marking this JD complete" : "rejecting this JD"}}
      .checkbox(ng-repeat='option in $ctrl.data')
        label.i-checks
          input(
            type='checkbox'
            ng-model='option.checked'
          )
          i
          | {{option.name}}
        input.form-control.m-t-xs.text-no-glow(
          name='check_{{$index}}'
          ng-if='option.checked'
          ng-model='option.other'
          placeholder='Additional Comments {{option.name === "Others" || option.id === 20 ? "(Required)" : "(Optional)" }}'
          ng-required='option.name === "Others" || option.id === 20'
        )
        .wrapper-xs.text-danger(ng-if='(option.name === "Others" || option.id === 20) && rejectForm["check_" + $index].$invalid && rejectForm["check_" + $index].$dirty') Please specify a reason
    .clear
      hr
      .pull-right.wrapper-xs
        button.btn(
          type='submit'
          ng-disabled='!$ctrl.isOptionSelected() || rejectForm.$invalid'
          ng-bind='$ctrl.feedbackId === 5 ? "SUBMIT" : "REJECT"'
          ng-class='{ "btn-success" : $ctrl.feedbackId === 5, "btn-danger" : $ctrl.feedbackId !== 5 }'
        )
        a.btn.btn-default.m-l-xs(ng-click='$ctrl.$uibModalInstance.dismiss(false)') CANCEL
