.wrapper-xs
  .hbox
    .col.thumb-lg
      div.b-a.bg-light.text-center.m-l-md.m-t.b-primary(style='border-radius: 50%;width:40px;height: 40px;')
        a.m-t-lg.font-lg.text-u-c(
          style='color: #5585B9;font-size: 26px;'
          ng-click='$ctrl.isProfPopOpen = !$ctrl.isProfPopOpen'
          ng-bind='$ctrl.userInitial'
        )
    .col
      .w-full.m-t-xs.text-md.text-black.text-ellipsis(ng-click='$ctrl.isProfPopOpen = !$ctrl.isProfPopOpen' ng-bind='App.userinfo.name' title='{{App.userinfo.name}}')
      .w-full.m-t-xs.text-black.text-ellipsis(ng-click='$ctrl.isProfPopOpen = !$ctrl.isProfPopOpen' ng-bind='App.userinfo.email' title='{{App.userinfo.email}}')
  .hbox
    .col.w-full.m-t-xs
      .w-full(ng-controller='LogoutController as logout')
        span.pull-right.btn.btn-sm.bg-gray.b-a.b-gray(
          style='color: #333'
          ng-click='logout.$onInit();$ctrl.isProfPopOpen = !$ctrl.isProfPopOpen;'
        ) Logout
