div
  .hbox(before-bottom='$ctrl.loadShipments()' style="position:relative")

    div
      .m-t-xl.bg-white-only(style='position: absolute;width: 100%; height: 44px;padding-top: 4px;')
        ul.nav.nav-pills.nav-sm.m-t-xs
          li(ng-repeat='bucket in $ctrl.buckets' ui-sref-active="active")
            a(ui-sref='customer.shipments.index({jobId:$ctrl.job.id,bucket: bucket})' ng-bind="bucket")
          li.pull-right: a(ng-if='$ctrl.shipments.length') {{$ctrl.shipments.length}} of {{$ctrl.total}} Shipments(s)
          li.pull-right
            uib-dropdown
              button.btn.btn-sm.bg-white-only.b-gray(type='button', uib-dropdown-toggle='', aria-haspopup='true', aria-expanded='false')
                | {{ ($ctrl.sorts | filter:{ key: $ctrl.params.sort }: true)[0].name !== 'Default' ? ($ctrl.sorts | filter:{ key: $ctrl.params.sort }: true)[0].name+'&nbsp;&nbsp;' : '' }}
                span.fa.fa-sort-alpha-asc
              ul.dropdown-menu.pull-right(uib-dropdown-menu='')
                li(ng-repeat="sort in $ctrl.sorts")
                  a(href='#' ng-bind='sort.name' ng-click='$ctrl.sort(sort.key)')
    customer-header.bg-white-only.w-full.b-b(customer="$ctrl.customer" style='position: fixed;z-index: 6;height: 40px;')
    .bg-light(style='min-height: 200px;')
      //- Customer top cover container
      directive-header(
        options="$ctrl"
        page="{customerShipments:true}"
        buttons="{buckets:true,create:true,highlight:'upload'}"
        App="App"
      )
      .m-t-xxl.m-b-md(style='height: 1px;')
      .wrapper-md
        storage-limit(data='$ctrl.customer')
        .wrapper-md(ng-if='!$ctrl.shipments.length')
          .hbox
            .col: h1.m-t-lg.text-center.text-muted(ng-if='!$ctrl.ui.loading') No Shipments

        .m-t-sm.hbox(ng-repeat='shipment in $ctrl.shipments')
          .col.bg-white.b-a
            .col-xs-12.col-md-8.no-padder
              .tl-content.m-none.padder.w-full.w-auto-xs
                .m-b-sm
                  label.sm.m-b-none
                  .col-xs-4.text-ellipsis
                    i
                    a(ui-sref='shipment.show({ id: shipment.id})' target="_blank")
                      strong.text-primary-lt ShipmentID - {{shipment.id}}

                .panel-body.pull-in.b-t.wrapper-xs
                  .col-xs-4.text-ellipsis
                    i.fa.fa-cubes(style='margin:0 2px;')
                    | {{shipment.Packages.length || 0}}
                  .col-xs-4.text-ellipsis(ng-show='shipment.final_weight')
                    i.fa.fa-balance-scale
                    |  {{shipment.final_weight}} KG
                  .col-xs-4.text-ellipsis(ng-show='shipment.country_id')
                    i.fa.fa-map-marker
                    |  {{shipment.Country.name}}
                  .col-xs-4.text-ellipsis(ng-show='shipment.payment_gateway_id')
                    i.fa.fa-money
                    |  {{shipment.PaymentGateway.value}}
                  .col-xs-4.text-ellipsis(ng-show='shipment.final_amount')
                    i.fa.fa-inr
                    |  Rs. {{shipment.final_amount}}
                  .col-xs-4.text-ellipsis(ng-show='shipment.final_amount')
                    i.fa.fa-truck
                    a(href='{{shipment.tracking_url}}' target="_blank")
                      span.text-primary-lt &nbsp; {{shipment.tracking_code}} &nbsp; &nbsp;{{shipment.shipping_carrier}}
            .col-xs-12.col-md-2.no-padder
              .m-none.wrapper-lg.w-full.w-auto-xs
                .clearfix
                  span(ng-if='shipment.state_id === $ctrl.shipmentStateId.PAYMENT_REQUESTED', title="{{shipment.totalDays}} days" ng-class="shipment.totalDays > 7 ? 'text-danger' : 'text-success'")
                   .pull-right.padder.m-t-xxs  {{shipment.created_at | date:'MMM d, y'}} IST {{shipment.created_at | date:'h:mm a'}} &nbsp;
                  span.pull-right.m-b.m-t
                  span.text-success(ng-if='shipment.state_id !== $ctrl.shipmentStateId.PAYMENT_REQUESTED', title="{{shipment.totalDays}} days" )
                   .pull-right.padder.m-t-xxs  {{shipment.created_at | date:'MMM d, y'}} IST {{shipment.created_at | date:'h:mm a'}} &nbsp;
                  span.pull-right.m-b.m-t

            .col-xs-12.col-md-2.no-padder
              .m-none.wrapper-lg.w-full.w-auto-xs
                .clearfix
                  .btn-group.pull-right.m-t-n-xs(uib-dropdown='' uib-keyboard-nav='' dropdown-append-to-body)
                    button.w-full.btn(class='b-{{$ctrl.states[shipment.state_id].config.color}} text-{{$ctrl.states[shipment.state_id].config.color}} bg-white-only' uib-dropdown-toggle='' ng-disabled='!$ctrl.states[shipment.state_id].Actions.length' style='padding: 4px 8px;')
                      span(ng-bind='$ctrl.states[shipment.state_id].action')
                      span(ng-if='$ctrl.states[shipment.state_id].Actions.length>0').caret.m-l-xs
                    ul.dropdown-menu(uib-dropdown-menu='' role='menu' aria-labelledby='btn-append-to-body')
                      li(role='menuitem' ng-repeat='state in $ctrl.states[shipment.state_id].Actions')
                        a(href='' ng-click='$ctrl.ChangeShipmentState.open(shipment, state.state_id, $ctrl.$stateParams.id)' ng-bind='::$ctrl.states[state.state_id].action')
                    span.pull-right.no-padder(
                    ng-if='shipment.updated_at'
                    uib-tooltip = "{{shipment.updated_at | date:'MMM d, y'}} IST {{shipment.updated_at | date:'h:mm a'}}"
                    tooltip-placement='bottom-center'
                    tooltip-append-to-body='true'
                    )
                      i.fa(class='text-{{App.interviewUI[shipment.consignment_type].color}}-dker fa-{{App.interviewUI[shipment.interview_type].icon}}')
                      span(ng-bind='$ctrl.moment(shipment.updated_at).fromNow()')

      .col-xs-2.col-xs-offset-5
        button.pull-left.btn.active.m-t-md(ng-if="$ctrl.ui.loading")
          i.fa.fa-circle-o-notch.fa-spin
          strong &nbsp;Loading
        button.pull-left.btn.btn-primary.m-t-xs(ng-if="$ctrl.ui.lazyLoad" ng-click="$ctrl.loadShipments()")
          i.fa.fa-plus-circle
          strong &nbsp;Load More
