div
  .hbox(before-bottom='$ctrl.loadShipments()' style="position:relative")

    div.m-t-xl(style='position: fixed;right: 5px;z-index: 9;padding-top: 2px;')
      ul.nav.nav-pills.nav-sm.m-t-xs
        li.m-r-xs.pull-right: a(ng-if='$ctrl.shipments.length') {{$ctrl.shipments.length}} of {{$ctrl.total}} Shipments(s)
        li.m-r-xs.pull-right.pointer(title='Export' ng-click='$ctrl.ExcelDownload.download($ctrl.params, $ctrl.$stateParams.customerId);'): button.btn.btn-sm.bg-white-only.b-gray: span.fa.fa-file-excel-o
        li.m-r-xs.pull-right.pointer(title='Filter' ng-click='App.openCandidateFilter()'): button.btn.btn-sm.bg-white-only.b-gray: span.fa.fa-filter
        li.pull-right.col.pointer.m-r-xs
          uib-dropdown
            button.btn.btn-sm.bg-white-only.b-gray(type='button', uib-dropdown-toggle='', aria-haspopup='true', aria-expanded='false')
              | {{ ($ctrl.sorts | filter:{ key: $ctrl.params.sort }: true)[0].name !== 'Default' ? ($ctrl.sorts | filter:{ key: $ctrl.params.sort }: true)[0].name+'&nbsp;&nbsp;' : '' }}
              span.fa.fa-sort-alpha-asc
            ul.dropdown-menu.pull-right(uib-dropdown-menu='')
              li(ng-repeat="sort in $ctrl.sorts")
                a(href='#' ng-bind='sort.name' ng-click='$ctrl.sort(sort.key)')
    customer-header.bg-white-only.w-full.b-b(customer="$ctrl.customer" style='position: fixed;z-index: 6;height: 40px;')
    .bg-light(style='min-height: 200px;')
      //- Customer top cover container
      directive-header(
        options="$ctrl"
        page="{customerShipments:true}"
        buttons="{buckets:true,create:true,highlight:'upload'}"
        App="App"
      )
      .m-t-xxl.m-b-md(style='height: 1px;')
      .wrapper-md
        storage-limit(data='$ctrl.customer')
        .wrapper-md(ng-if='!$ctrl.shipments.length')
          .hbox
            .col: h1.m-t-lg.text-center.text-muted(ng-if='!$ctrl.ui.loading') No Shipments

        .m-t-sm.hbox(ng-repeat='shipment in $ctrl.shipments')
          .col.bg-white.b-a
            .col-xs-12.col-md-10.no-padder
              .tl-content.m-none.padder.w-full.w-auto-xs
                .m-b-sm
                  label.i-checks.i-checks-sm.m-b-none
                    input(type='checkbox' ng-model='shipment.checked')
                    i
                  a(ui-sref='shipment.show({ id: shipment.id})' target="_blank")
                    strong.text-primary-lt  {{shipment.Store.name}}

                  .btn-group.pull-right.m-t-n-xs(uib-dropdown='' uib-keyboard-nav='' dropdown-append-to-body)
                    button.w-full.btn(class='b-{{App.states[shipment.state_id].config.color}} text-{{App.states[shipment.state_id].config.color}} bg-white-only' uib-dropdown-toggle='' ng-disabled='!App.states[shipment.state_id].Actions.length || (shipment.state_id === 43 && !!$ctrl.prescreen) ' style='padding: 4px 8px;')
                      span(ng-bind='App.states[shipment.state_id].action')
                      span(ng-if='App.states[shipment.state_id].Actions.length>0').caret.m-l-xs
                    ul.dropdown-menu(uib-dropdown-menu='' role='menu' aria-labelledby='btn-append-to-body')
                      li(role='menuitem' ng-repeat='state in App.states[shipment.state_id].Actions')
                        a(href='' ng-click='$ctrl.ChangeShipmentState.open(shipment, state.state_id, $ctrl.$stateParams.id)' ng-bind='::App.states[state.state_id].action')

                  span.pull-right.padder(
                    ng-if='shipment.created_at'
                    uib-tooltip = "{{shipment.created_at | date:'MMM d, y'}} IST {{shipment.created_at | date:'h:mm a'}}"
                    tooltip-placement='right'
                    tooltip-append-to-body='true'
                  )
                    i.fa(class='text-{{App.interviewUI[shipment.consignment_type].color}}-dker fa-{{App.interviewUI[shipment.interview_type].icon}}')
                    span(ng-bind='$ctrl.moment(shipment.created_at).fromNow()')

                .panel-body.pull-in.b-t.wrapper-xs
                  .col-xs-4.text-ellipsis
                    i.fa.fa-cubes(style='margin:0 2px;')
                    | {{shipment.ShipmentItems.length || 0}}
                  .col-xs-4.text-ellipsis(ng-show='shipment.invoice_code')
                    i.fa.fa-barcode
                    span.m-l-sm {{shipment.invoice_code}}
                  .col-xs-4.text-ellipsis(ng-show='shipment.price_amount')
                    i.fa.fa-inr
                    |  Rs. {{shipment.price_amount}}
                  .col-xs-4.text-ellipsis(ng-show='shipment.weight')
                    i.fa.fa-balance-scale
                    |  {{shipment.weight}} KG
                  .col-xs-4.text-ellipsis(ng-show='shipment.content_type')
                    i.fa.fa-tint
                    |  {{shipment.content_type === 1 ? 'Normal' : 'Special'}}
                  .col-xs-4.text-ellipsis
                    i.fa(ng-class="shipment.is_doc ? 'fa-book' : 'fa-archive'")
                    |  {{shipment.is_doc ? 'Document' : 'Non Document'}}
            .col-xs-12.col-md-2.no-padder
              .m-none.wrapper-sm.w-full.w-auto-xs
                .clearfix
                  span.pull-right.padder.m-t-xxs  {{shipment.created_at | date: 'h:mm a'}} &nbsp;
                  span.pull-right.m-b.m-t

      .col-xs-2.col-xs-offset-5
        button.pull-left.btn.active.m-t-md(ng-if="$ctrl.ui.loading")
          i.fa.fa-circle-o-notch.fa-spin
          strong &nbsp;Loading
        button.pull-left.btn.btn-primary.m-t-xs(ng-if="$ctrl.ui.lazyLoad" ng-click="$ctrl.loadShipments()")
          i.fa.fa-plus-circle
          strong &nbsp;Load More
