.modal-header(ng-init="flag=false")
  .modal-title
    .h4.text-info(ng-show="flag") Are you sure ?
      .close(ng-click='$ctrl.$uibModalInstance.dismiss("close")') ×
    .h4.text-info(ng-hide="flag") Upload "{{$ctrl.applicant.name}}'s" CV for another Position
      .close(ng-click='$ctrl.$uibModalInstance.dismiss("close")') ×
.modal-body
  p.alert-danger(style='text-align: center;padding: 14px;' ng-if="$ctrl.error" ng-bind="$ctrl.error")
  form.form-horizontal(role='form' name="ReApplyForm" ng-submit='$ctrl.submit()')
    div(ng-show="flag")
      h4
        span.font-bold.col-md-4 Candidate Name
        | : {{$ctrl.applicant.name}}
      p
      h4
        span.font-bold.col-md-4 Client Name
        | : {{$ctrl.Clients.model}}
      p
      h4
        span.font-bold.col-md-4 Position
        | : {{$ctrl.Positions.model}}
      p
      h4(ng-if='$ctrl.Positions.is_drive')
          span.font-bold.col-md-4 Interview Date
          | :&nbsp;
          span(ng-bind="$ctrl.data.scheduled_on.toISOString() | date:'dd MMM yyyy'")
      button.m-l.btn.btn-primary.pull-right(ng-disabled='$ctrl.uploading') Submit
      .btn.btn-primary.pull-right(ng-click='flag = false') Back


    div(ng-hide="flag")
      .form-group
        label.col-sm-2.control-label  Client Name
        .col-sm-10
          input.form-control(
            type='text' required
            placeholder='Client Name'
            ng-model='$ctrl.Clients.model'
            uib-typeahead='industry.name for industry in $ctrl.Clients.get($viewValue)'
            typeahead-loading='$ctrl.Clients.loadingClients'
            typeahead-no-results='$ctrl.Clients.noResults'
            typeahead-on-select='$ctrl.Clients.select($item)'
          )
      .form-group
        label.col-sm-2.control-label Position
        .col-sm-10
          input.form-control(type='text' placeholder='Job'
          typeahead-focus
          ng-model='$ctrl.Positions.model'
          uib-typeahead='industry.name for industry in $ctrl.Positions.get($viewValue)'
          typeahead-loading='$ctrl.Positions.loadingClients'
          typeahead-no-results='$ctrl.Positions.noResults'
          typeahead-on-select='$ctrl.Positions.select($item,$model,$label,$event)' required
          )
      .form-group(ng-if='$ctrl.Positions.is_drive')
        label.col-sm-2.control-label Select Interview Date
        .col-sm-10
          .input-group
            input.form-control(
            type='text' uib-datepicker-popup='dd-MMMM-yyyy'
            ng-model='$ctrl.scheduled_on_date'
            ng-change='$ctrl.setScheduledOn()'
            is-open='$ctrl.ui.scheduledOn'
            close-text='Close'
            datepicker-options='$ctrl.dateOptions'
            ng-click='$ctrl.ui.scheduledOn = true'
            required='$ctrl.stateId !== 19'
            ng-model-options='{debounce: 300}'
            )
      .btn.btn-primary.pull-right(ng-click='flag = true' ng-disabled="ReApplyForm.$invalid" ) Continue
  //
  .clearfix
