.hbox.accounts#shipmentShow
  .col.bg-white-only.w-md.b-r
    .wrapper-xs.m-sm(style='width: 93%;')
      .pull-right
        a.col.v-middle(style='width: 2em;')
          i.m-t-sm.wrapper-xs.fa(
          name='bookmarked'
          title='Bookmark'
          style="color: darksalmon;"
          ng-class="$ctrl.data.is_bookmarked ? 'fa-star' : 'fa-star-o'"
          ng-click="$ctrl.toggleBookmark(!$ctrl.data.is_bookmarked)"
          )
        a.col.v-middle(
        ng-show='-1 !== $ctrl.deleteAllowedStates.indexOf($ctrl.data.state_id)'
        ng-click="$ctrl.deleteShipment($ctrl.$stateParams.id)"
        style='width: 2em;'
        ): i.m-t-sm.wrapper-xs.fa.fa-trash(title='Delete Shipments')
        a.col.v-middle(
        ng-show='-1 !== $ctrl.editAllowedStates.indexOf($ctrl.data.state_id)'
        ui-sref="customer.shipment.update({ id: $ctrl.data.Customer.id, shipmentId: $ctrl.data.id })"
        style='width: 2em;'
        ): i.m-t-sm.wrapper-xs.fa.fa-edit(title='Edit Shipment')
        .col.v-middle(uib-dropdown='')
          a(href='' style='width: 2em;' ): i.m-t-sm.wrapper-xs.fa.fa-ellipsis-v(uib-dropdown-toggle='')
          ul.m-r-xl.dropdown-menu(
          uib-dropdown-menu=''
          role='menu'
          aria-labelledby='single-button' style='right: -35px; left: auto;'
          )
            li(role='menuitem' title='Send shipment details to customer')
              a.col.v-middle(ng-click='$ctrl.sendNotificaton()' target='_blank') Send Notification
      .wrapper-xs.v-middle
        .h4.wrapper-xs.text-ellipsis.text-dark(title='{{$ctrl.data.Customer.name}}')
          i.fa.fa-check-circle-o.m-r-xs.text-success(
          name='shipment_confirm'
          title='Shipment Confirm' ng-if='1 || $ctrl.data.shipment_confirmed'
          )
          span(ng-bind='$ctrl.data.Customer.name')

      .m-l-sm
        .hbox(uib-dropdown='' uib-keyboard-nav='' dropdown-append-to-body)
          button.btn.btn-sm.padder.rounded(
          class='btn-{{App.shipmentStates[$ctrl.data.state_id].config.color}}'
          uib-dropdown-toggle=''
          ng-disabled='App.shipmentStates[$ctrl.data.state_id].Actions.length===0'
          )
            span.m-r-xs(ng-bind='App.shipmentStates[$ctrl.data.state_id].action')
            span(ng-if='App.shipmentStates[$ctrl.data.state_id].Actions.length>0').caret

          ul.dropdown-menu(uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav")
            li(role='menuitem' ng-repeat='state in App.shipmentStates[$ctrl.data.state_id].Actions' ng-if="App.shipmentStates[state.state_id].action")
              a(
              href=''
              ng-click='$ctrl.ChangeShipmentState.open($ctrl.data, state.state_id, $ctrl.data.Customer.id)' ng-bind='::App.shipmentStates[state.state_id].action')
      .m-l-sm.m-t-xs(title='Interview Time' ng-if='$ctrl.data._root_.is_drive && $ctrl.data.interview_time')
        i.fa.fa-calendar.m-r-sm
        span.text-md.text-primary(ng-bind="$ctrl.data.created_at | date : 'MMM d, yyyy'")
    .wrapper-xs.m-l-sm(ng-if='$ctrl.data.comments' ng-show='$ctrl.data.summary')
      .hbox(style="width: 97%")
        .row
          .wrapper-xs.sticky-note
            .wrapper-xs.sticky-heading(style="width: 97%")
              div(ng-bind='$ctrl.data.summary' ng-class='{ "show": !$ctrl.ui.show }')
              a.pull-right.wrapper-xs(
              ng-click='$ctrl.ui.show = !$ctrl.ui.show'
              ng-bind='$ctrl.ui.show ? "Show Less" : "Show More"'
              ng-show='$ctrl.data.summary.length > 100'
              )

    //- Shipment Employee Information
    .wrapper-xs.m-l-sm.m-t-sm.b-t
      uib-tabset(active='activeTab')
        uib-tab(index='0' heading='Info')
          .clear.wrapper-xs(ng-if='$ctrl.data.final_weight')
            a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
              i.fa.fa-balance-scale.text-muted.fa-lg
            div
              a.text-muted.font-thin Weight
              div(ng-bind='$ctrl.data.final_weight')

          .clear.wrapper-xs
            a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
              i.fa.fa-cubes.text-muted.fa-lg
            div
              a.text-muted.font-thin Package Count
              div(ng-bind='$ctrl.data.packages_count ||0')

          .clear.wrapper-xs(ng-if='$ctrl.data.address')
            a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
              i.fa.fa-map-signs.text-muted.fa-lg
            div
              a.text-muted.font-thin Destination Address
              div.text-center(ng-bind='$ctrl.data.address')

          .clear.wrapper-xs(ng-if='$ctrl.data.payment_gateway_id')
            a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
              i.fa.fa-money.text-muted.fa-lg
            div
              a.text-muted.font-thin Payment Mode
              div(ng-bind='$ctrl.data.PaymentGateway.value')

          .clear.wrapper-xs(ng-if='$ctrl.data.price_amount')
            a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
              i.fa.fa-inr.text-muted.fa-lg
            div
              a.text-muted.font-thin Price
              div
                span(ng-bind='$ctrl.data.price_amount')

          .clear.wrapper-xs(ng-if='$ctrl.data.ShipmentMetum.gift_note_text')
            a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
              i.fa.fa-gift.text-muted.fa-lg
            div.text-danger
              a.text-muted.font-thin Gift Note
              div
                span(ng-bind='$ctrl.data.ShipmentMetum.gift_note_text')

          .clear.wrapper-xs(
          uib-tooltip="{{$ctrl.data.created_at | date:'MMM d, y'}} IST {{$ctrl.data.created_at | date:'h:mm a'}}"
          tooltip-placement='right'
          tooltip-append-to-body='true'
          )
            a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
              i.fa.fa-clock-o.text-muted.fa-lg
            div
              a.text-muted.font-thin Date & Time of Receive
              div
                span(ng-bind='$ctrl.moment($ctrl.data.created_at).fromNow()')

          .clear.wrapper-xs(ng-if='$ctrl.data.ShipmentMetum.mark_personal_use')
            a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
              i.fa.fa-gift.text-muted.fa-lg
            div.text-danger.m-t
              a.text-danger.font-thin Items Are For Personal Use
          .clear.wrapper-xs(ng-if='$ctrl.data.ShipmentMetum.original')
            a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
              i.fa.fa-gift.text-muted.fa-lg
            div.text-danger.m-t
              a.text-danger.font-thin Keep in original box
          .clear.wrapper-xs(ng-if='$ctrl.data.ShipmentMetum.invoice_tax_id')
            a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
              i.fa.fa-gift.text-muted.fa-lg
            div.text-danger
              a.font-thin Tax ID
              div
                span(ng-bind='$ctrl.data.ShipmentMetum.invoice_tax_id')
          .clear.wrapper-xs(ng-if='$ctrl.data.final_amount')
            a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
              i.fa.fa-gift.text-muted.fa-lg
            div.text-danger
              a.font-thin Final Amount
              div
                span(ng-bind='$ctrl.data.final_amount')
          .clear.wrapper-xs(ng-if='$ctrl.data.payment_gateway_fee_amount')
            a.h4.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
              i.fa.fa-gift.text-muted.fa-lg
            div.text-danger
              a.font-thin Payment Gateway Fee
              div
                span(ng-bind='$ctrl.data.payment_gateway_fee_amount')
        uib-tab(index='1' heading='Charges(₹)')
          .clear.wrapper-xs
            div(ng-if='$ctrl.data.ShipmentMetum.repacking_charge_amount > 0')
              a.text-muted.font-thin Discard Shoe Options
              div
                span(ng-bind='"₹" + $ctrl.data.ShipmentMetum.repacking_charge_amount')
            div(ng-if='$ctrl.data.ShipmentMetum.extra_packing_charge_amount > 0')
              a.text-muted.font-thin Extra Packing Charge
              div
                span(ng-bind='"₹" + $ctrl.data.ShipmentMetum.extra_packing_charge_amount')
            div(ng-if='$ctrl.data.ShipmentMetum.sticker_charge_amount > 0')
              a.text-muted.font-thin Sticker Charge Amount
              div
                span(ng-bind='"₹" + $ctrl.data.ShipmentMetum.sticker_charge_amount')
            div(ng-if='$ctrl.data.ShipmentMetum.original')
              a.text-muted.font-thin Keep Original Box
              div
                span(ng-bind='"₹ 0"')
            div(ng-if='$ctrl.data.ShipmentMetum.consolidation_charge_amount > 0')
              a.text-muted.font-thin Consolidation Charge
              div
                span(ng-bind='"₹" + $ctrl.data.ShipmentMetum.consolidation_charge_amount')
            div(ng-if='$ctrl.data.ShipmentMetum.gift_wrap_charge_amount > 0')
              a.text-muted.font-thin Gift Wrap Amount
              div
                span(ng-bind='"₹" + $ctrl.data.ShipmentMetum.gift_wrap_charge_amount')
            div(ng-if='$ctrl.data.ShipmentMetum.gift_note_charge_amount > 0')
              a.text-muted.font-thin Gift Note Charge amount
              div
                span(ng-bind='"₹" + $ctrl.data.ShipmentMetum.gift_note_charge_amount')
            div(ng-if='$ctrl.data.ShipmentMetum.insurance_amount > 0')
              a.text-muted.font-thin Insurence Amount
              div
                span(ng-bind='"₹" + $ctrl.data.ShipmentMetum.insurance_amount')
            div(ng-if='$ctrl.data.ShipmentMetum.liquid_charge_amount > 0')
              a.text-muted.font-thin Lilquid Charge Amount
              div
                span(ng-bind='"₹" + $ctrl.data.ShipmentMetum.liquid_charge_amount')
            div(ng-if='$ctrl.data.ShipmentMetum.overweight_charge_amount > 0')
              a.text-muted.font-thin Over Weight Charge Amount
              div
                span(ng-bind='"₹" + $ctrl.data.ShipmentMetum.overweight_charge_amount')
            div(ng-if='$ctrl.data.pick_up_charge_amount')
              a.text-muted.font-thin Pick Up charge Amount
              div
                span(ng-bind='"₹" + $ctrl.data.pick_up_charge_amount')

        uib-tab(index='2', heading='Docs')
          .col-xs-12.wrapper-xs.no-padder-left(ng-if='$ctrl.document.length')
            .w-full.wrapper-xs.inline(ng-repeat='(key, file) in $ctrl.document')
              .m-b-xs.wrapper-xs.clear(ng-class="$last ?'':'b-b'")
                i.fa.fa-file.m-r-sm.pull-left.m-t-xs
                a.text-ellipsis.w.m-l-xs.inline(ng-bind='file.filename' ng-href="{{file.link}}" target='_blank')
                a.pull-right
                  i.fa.fa-close(ng-click='$ctrl.deleteDocument(file.id, key)')
          .col-xs-12.wrapper-xs
            label.text-center.m-t-sm.w-full.b-a.bg-light.wrapper-xs(for="uploadCV")
              .w-full(for="uploadCV")
                i.fa.fa-plus.m-r-sm
              label.m-b-none(for="uploadCV"): .pos-rlt(
              uib-tooltip='You can upload Documents'
              tooltip-placement='bottom'
              )
                span Add/Upload Document
                p.h6 Documents/Spreadsheets/Images/ZIP
              input.form.form-control.btn.w-lg.pos-abt(
              id="uploadCV"
              type='file'
              name='documentfile'
              maxsize='5000'
              ng-model='$ctrl.documentfile'
              style='display:none !important'
              accept=".pdf, .pdf, .doc, .docx, .rtf, .txt. xls, xlsx"
              ng-change='$ctrl.uploadFiles($ctrl.documentfile)'
              multiple base-sixty-four-input
              )

    //- Shipment Skills
    .wrapper-xs.m-l-sm.m-t-sm.b-t(ng-if="$ctrl.data.skills.length>0")
      .wrapper-xs.h4.text-muted Skills
      .wrapper-xs.h6.clear
        .wrapper-xs.pull-left.text-info-dker.r.m-t-xs.m-r-xs(
        ng-repeat='skill in $ctrl.data.skills' style='padding: 2px;' ng-if='$ctrl.data.showAllSkill || $index < 6'
        ) &nbsp;{{skill}}&nbsp;
        a.pull-left(ng-click='$ctrl.data.showAllSkill = !$ctrl.data.showAllSkill')
          span.wrapper-xs.pull-left.font-bold.h5(ng-if='$ctrl.data.showAllSkill'): span.text-info-dker – Less
          span.wrapper-xs.pull-left.font-bold.h5(ng-if='!$ctrl.data.showAllSkill'): span.text-info-dker + More
  .col
    div
      .hbox
        div
          .bg-white-only.b-b(style='position: fixed;width: 100%; height: 44px;')
            ul.nav.nav-pills.nav-sm.m-t-xs
              li(ng-repeat='bucket in $ctrl.buckets' ui-sref-active="active")
                a(ui-sref='shipments.index({jobId:$ctrl.job.id,bucket: bucket})' ng-bind="bucket" ng-hide="bucket == 'Bookmarked' && App.app.settings.isAdmin")
          .wrapper-xs.bg-light(style='position: fixed; right: 0;background: #fff; z-index: 3;width:30%;')
            .pull-right.col.m-r-xs.m-t-xs(ng-if='$ctrl.shipments.length') {{$ctrl.shipments.length}} of {{$ctrl.total}} Shipments(s)
            .pull-right.col.pointer.m-r-xs(ng-click='$ctrl.ExcelDownload.download($ctrl.params)')
              button.btn.btn-sm.btn-default
                span.fa.fa-file-excel-o
            .pull-right.col.pointer.m-r-xs(ng-click='$ctrl.openShipmentFilter()')
              button.btn.btn-sm.btn-default
                span.fa.fa-filter
            .pull-right.col.pointer.m-r-xs
              uib-dropdown
                button.btn.btn-sm.btn-default(type='button', uib-dropdown-toggle='', aria-haspopup='true', aria-expanded='false')
                  | {{ ($ctrl.sorts | filter:{ key: $ctrl.params.sort }: true)[0].name !== 'Default' ? ($ctrl.sorts | filter:{ key: $ctrl.params.sort }: true)[0].name+'&nbsp;&nbsp;' : '' }}
                  span.fa.fa-sort-alpha-asc
                ul.dropdown-menu.pull-right(uib-dropdown-menu='', role='menu', aria-labelledby='btn-append-to-body')
                  li(ng-repeat="sort in $ctrl.sorts")
                    a(href='#' ng-bind='sort.name' ng-click='$ctrl.sort(sort.key)')
          customer-header.bg-white-only.w-full.b-b(customer="$ctrl.customer" style='position: fixed;z-index: 6;height: 40px;')
          directive-header(
          options="$ctrl"
          page="{customerShipments:true}"
          buttons="{shipmentCreate: $ctrl.shipmentItemsAdditionAllowedStateIds.includes($ctrl.data.state_id)}"
          App="App"
          )
        .m-t-xl(style='padding-bottom: 4px;')
        .row
          .col-md-8.no-padder-right
            scrollable-table.no-padder.col-md-11(table-offset="110")
              table.table.m-b-none
                thead
                  tr
                    th.col-xs-3 Name
                    th.col-xs-3 Package Id
                    th.col-xs-3 Total Value
                    th.col-xs-3 Weight
              .col-xs-12(style='padding: 10px;')
                .col-xs-12(ng-show='$ctrl.data.Packages.length === 0 && !$ctrl.ui.loading')
                  td(colspan="5")
                    h1.text-center.text-muted No Items in Shipment
                .col-xs-12.no-padder.bg-white.b-a.m-b-sm(ng-repeat='packageItems in $ctrl.data.Packages')
                  .col-xs-3.wrapper-sm.text-ellipsis.m-t-xs
                    a(ui-sref='package.show({ id: packageItems.id })', target="_blank", ng-bind='packageItems.Store.name')
                  .col-xs-3.wrapper-sm.text-ellipsis.m-t-xs(title="{{packageItems.id}}" ng-bind="packageItems.id")
                  .col-xs-3.wrapper-sm.text-ellipsis.m-t-xs(ng-bind="'₹' + packageItems.price_amount" title="{{packageItems.price_amount}}")
                  .col-xs-3.wrapper-sm.text-ellipsis.m-t-xs(ng-bind="packageItems.weight" title="{{packageItems.weight}}")


                .col-xs-12.text-center
                  a.btn.active.m-t-xs(ng-if="$ctrl.ui.loading")
                    i.fa.fa-circle-o-notch.fa-spin
                    strong &nbsp;Loading
                  a.btn.btn-primary.m-t-xs(ng-if="$ctrl.ui.lazyLoad" ng-click="$ctrl.loadShipments()")
                    i.fa.fa-plus-circle
                    strong &nbsp;Load More
          .col-md-3
            .nav-comment.col-md-4.bg-white-only.no-padder
              span.bg-info(style="padding: 10px;z-index:1; position:absolute; right:0" title="{{$ctrl.chatHoverText()}}" ng-click="App.initiateChat($ctrl.data)")
                img(src="assets/images/chat.png" height="20px" width="20px")
              comments(id='{{$ctrl.$stateParams.id}}' data='$ctrl.data' type='"shipment"')
