.modal-header
  .modal-title
    .h4.text-info Share Job
      .close.text-dark(ng-click='$ctrl.$uibModalInstance.dismiss("cancel")') ×
.modal-body
  label.w-full.input-group
    .col-xs-12.no-padder
      .input-group
        input.col-sm-12.jobLink.form-control(type="text" ng-model="::$ctrl.jobLink")
        a.btn.btn-xs.bg-success.text-white.input-group-addon(
          ngclipboard
          data-clipboard-target='.jobLink'
        ) Copy Link
    .col-xs-12.no-padder.m-t-xs
      a.btn.btn-sm.pull-right.m-l-xs(
        ng-href='{{$ctrl.links.linkedIn}}'
        style='background: #0077b5;width: 38px;'
        target='_blank'
        title='Share on Linked In'
      )
        i.fa.fa-linkedin.text-white
      a.btn.btn-sm.pull-right.m-l-xs(
        ng-href='{{$ctrl.links.twitter}}'
        style='background: #1da1f2;width: 38px;'
        target='_blank'
        title='Share on Twitter'
      )
        i.fa.fa-twitter.fa-lg.text-white
      a.btn.btn-sm.pull-right.m-l-xs(
        ng-href='{{$ctrl.links.facebook}}'
        style='background: #3b5998;width: 38px;'
        target='_blank'
        title='Share on Facebook'
      )
        i.fa.fa-facebook.fa-lg.text-white
      a.btn.btn-sm.pull-right.m-l-xs(
        ng-href='{{$ctrl.links.google}}'
        style='background: #d34836;width: 38px;'
        target='_blank'
        title='Share on Google Plus'
      )
        i.fa.fa-google-plus.fa-lg.text-white
    .col-xs-12.no-padder.m-t-lg
      b Note:
      span &nbsp;You can share this URL with your candidates on your email / social profiles to receive more applications. The CV's received through this unique URL will be displayed in the CVs Received tab of this JD

.modal-footer
  a.btn.btn-danger(ng-click='$ctrl.$uibModalInstance.dismiss("cancel")') Close
