.container
  .hbox
    h1.text-center Shipping Calculator
    hr
    label.m-l
      | Select The Country
      span.text-danger *
      select.form.form-control(
      ng-model='$ctrl.data.countryCode'
      name='countryCode'
      ng-options='country.iso2 as country.name for country in $ctrl.countries'
      )
    label.m-l
      | Weight
      span.text-danger *
      input.form-control(type='text' name='weight' ng-model='$ctrl.data.weight')
    label.m-l
      | Select Type
      span.text-danger *
      select.form.form-control(
      ng-model='$ctrl.data.packageType'
      name='packageType'
      ng-options='carton.types as carton.types for carton in $ctrl.packageType'
      )

    input.m-l.btn.btn-success(type='button' value='Get Price' ng-click = '$ctrl.getPrice()')
    table.table.table-bordered.m-b-none.default.footable-loaded.footable.m-t(
    ui-jq='footable', data-filter='#filter', data-page-size='5')
      thead.bg-primary.text-white
        tr
          th.footable-visible.footable-sortable
            | Shipping Partner
          //th.footable-visible.footable-last-column.footable-sortable
          //  | Base Cost
            span.footable-sort-indicator
          th.footable-visible.footable-sortable
            | Base Cost From Upstream
            span.footable-sort-indicator
          th.footable-visible.footable-last-column.footable-sortable
            | Fuel Surcharge
            span.footable-sort-indicator
          th.footable-visible.footable-last-column.footable-sortable
            | Gst
            span.footable-sort-indicator
          th.footable-visible.footable-sortable
            | Final Cost
            span.footable-sort-indicator
          th.footable-visible.footable-sortable
            | Customer Rate
            span.footable-sort-indicator
      tbody(ng-repeat = 'price in $ctrl.prices')
        tr.odd(role='row' ng-if='price.final_cost> 0')
          td {{price.shippingPartner}}
          //td {{price.base_cost}}
          td {{price.base_cost_from_upstream}}
          td {{price.fuel_surcharge}}
          td {{price.gst}}
          td {{price.final_cost}}
          td {{price.customerRate}}



