div.m-t-xl.no-margin
  .hbox
    .wrapper-md.bg-white-only
      div
        .h1.m-l-md.font-thin.h3
          | Address Book
          ul.nav.nav-pills.nav-sm.pull-right
            li.m-r-xs.pull-right
              a.h5.font-bold.b-a.btn-addon.btn-success.text-white-only.b-success.imp(
                ui-sref='accounts.address-new'
                popover-trigger="'mouseenter'"
                popover-placement='bottom'
                popover-append-to-body='true'
              )
                span.fa.fa-plus.m-r-sm
                span Add New Shipping Address

      .col-xs-12(style='padding: 10px;')
        .col-xs-12(ng-show='$ctrl.addresses.length === 0 && !$ctrl.ui.loading')
          td(colspan="5")
            h1.text-center.text-muted Start Adding Addresses to your Address Book
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
      hr
      .well.m-t.m-l.bg-light.col-md-3.hover-wrap(ng-repeat='address in $ctrl.addresses' ng-class='address.is_default ? "dker": "lt"')
        .row
          .col-xs-12
            h4
              span.h4.font-thin(ng-bind='(address.city ? address.city.toUpperCase() : "") + " Address"')
              span.flag-icon.m-l-xs(
                ng-class='"flag-icon-"+ address.Country.iso2.toLowerCase()'
              )
              span.pull-right.font-thin.pointer.m-t.display-on-hover(ui-sref='accounts.address-edit({ id: address.id })')
                span.fa.fa-edit.m-l-xs
                | &nbsp;EDIT

            strong(ng-bind='address.first_name + " " + address.last_name')

            p
              small.block(ng-bind='address.line1')
              small.block(ng-bind='address.line2')
              small.block(ng-bind='address.city + ", " + address.state')
              small.block(ng-bind='address.Country.name + " - " + address.pincode')
              small.block(
                ng-if='address.phone'
                ng-bind='"+" + (address.phone_code ? address.phone_code + "-" : "") + address.phone'
              )
              span.label.pull-left.padding-5.m-t-xs.bg-primary(ng-if='address.is_default') DEFAULT SHIPPING ADDRESS
              button.pull-right.m-t-xxs.btn-xs.btn-info.display-on-hover(ng-click='$ctrl.destroy(address, $index)')
                i.fa.fa-trash-o

      .clearfix
