<table width="640" cellspacing="0" style="font:12px/16px Arial,sans-serif;color:rgb(51,51,51);background-color:rgb(255,255,255);margin:0 auto" id="m_-9202880356489529693container" cellpadding="0">
  <tbody>
  <tr>
    <td valign="top" style="padding:20px 0px 10px 20px;width:100px;border-collapse:collapse" id="m_-9202880356489529693topNav"> <a href="https://www.shoppre.in/gp/r.html?C=271LVDSQZTACD&amp;K=A3W282SE7PFLBQ&amp;R=J3TZIAJ2CHBF&amp;T=C&amp;U=https%3A%2F%2Fwww.shoppre.in%2Fref%3Dpe_1909141_77686011_tnp_emailg_i&amp;A=KYP6DY4B9WUSBZJ5I8BKYIYPH6CA&amp;H=GYYOWA9ATELXBEIAAFPVRNRAQL0A&amp;ref_=pe_1909141_77686011_tnp_emailg_i" title="Visit Shoppre.in" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.shoppre.in/gp/r.html?C%3D271LVDSQZTACD%26K%3DA3W282SE7PFLBQ%26R%3DJ3TZIAJ2CHBF%26T%3DC%26U%3Dhttps%253A%252F%252Fwww.shoppre.in%252Fref%253Dpe_1909141_77686011_tnp_emailg_i%26A%3DKYP6DY4B9WUSBZJ5I8BKYIYPH6CA%26H%3DGYYOWA9ATELXBEIAAFPVRNRAQL0A%26ref_%3Dpe_1909141_77686011_tnp_emailg_i&amp;source=gmail&amp;ust=1529168504886000&amp;usg=AFQjCNGkxMP-NjPmJ5s6z64okm20uaddoA">
      <img
        alt="Shoppre" border="0" height="31" id="m_-9202880356489529693shoppreLogo"
        src="https://myaccount.shoppre.com/img/logo.png"
        style="font-size:11px" width="108" class="CToWUd"></a>
    </td>
    <td style="text-align:right;padding:0px 20px">
      <table cellspacing="0" style="font:12px/16px Arial,sans-serif;color:rgb(51,51,51);margin:0 auto;border-collapse:collapse" id="m_-9202880356489529693marketingContent" cellpadding="0">
        <tbody>
        <tr>
          <td style="border-bottom:1px solid rgb(204,204,204);width:490px" class="m_-9202880356489529693topHeaderLinks">
            <table align="right" style="font:12px/16px Arial,sans-serif;color:rgb(51,51,51)">
              <tbody>
              <tr style="padding:5px 0px 5px 0px;white-space:nowrap;border-collapse:collapse;text-align:right;width:490px">
                <td> <a href="{{ENV.URLS_MEMBER}}/queue" style="text-decoration:none;color:rgb(0,102,153);font-family:Arial,san-serif" target="_blank">Your Shipment</a> </td>
                <td> <span style="text-decoration:none;color:#ccc;font:15px Arial,san-serif">&nbsp;|&nbsp;</span> </td>
                <td> <a href="{{ENV.URLS_WWW}}" style="text-decoration:none;color:rgb(0,102,153);font-family:Arial,san-serif" target="_blank"> <span class="il">ShoppRe</span>.com</a> </td>
              </tr>
              </tbody>
            </table> </td>
        </tr>
        <tr>
          <td style="padding:7px 0px 0px 20px;text-align:right;width:490px">
            <span style="font:20px Arial,san-serif">Shipment Request Created</span>
          </td>
        </tr>
        <tr>
          <td style="padding:0px 0px 5px 20px;text-align:right;width:120px">
            <span style="font-size:12px"> Shipment ID: </span> <span style="font-size:12px">
              <a
                href="{{ENV.URLS_MEMBER}}/queue"
                style="text-decoration:none;color:#006699" target="_blank" >{{shpmnt.id}}</a>
              <br> </span>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="width:640px">
      <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{customer.first_name}},</p> <br>
      <p style="margin:4px 20px 18px 20px;width:640px">
        Thank you for submitting your ship request. We look forward to preparing your shipment to the highest standards.
        <br>
        <br>
        <!--Your shipment is shipped by <span class="il">{{shpmnt.Store.name}}</span> and the reference ID is {{shpmnt.reference_code}}.-->
      </p> </td>
  </tr>
  <!--<tr>-->
    <!--<td colspan="2" style="padding:0 20px;width:640px">-->
      <!--<table cellspacing="0" style="border-top:3px solid #2d3741;width:640px" cellpadding="0">-->
        <!--<tbody>-->
        <!--<tr>-->
          <!--<td valign="top" style="font:14px Arial,san-serif;padding:11px 0 14px 18px;width:280px;background-color:#efefef">-->
            <!--<a href="{{ENV.URLS_MEMBER}}/queue" target="_blank" >-->
              <!--<img src="https://ci3.googleusercontent.com/proxy/DnwJ60uctkvDNpe9R-bEflUctIUxRMcrTKsWFudH2XSBhSnOpF7JEc22rWw5hUuZGPdDqwGe6Mx1OMHoZHdtZeItaq8qyiF9LxxPA655R3hx_6F_CgNRXF_gJ2V4W5ik9eZkeGQ3hoN8=s0-d-e1-ft#https://images-na.ssl-images-amazon.com/images/G/01/x-locale/cs/te/button-track.png"> </a>-->
          <!--</td>-->
          <!--<td-->
            <!--valign="top"-->
            <!--style="font:14px Arial,san-serif;padding:11px 0 14px 18px;width:280px;background-color:#efefef"-->
          <!-->-->
            <!--<p style="margin:2px 0;color: #363636;">-->

                <!--{{customer.name}}-->
                <!--<br>-->
              <!--<strong>{{customer.virtual_address_code}} </strong>, #181, 1st Floor,-->
                <!--<br> 2nd Cross Rd, 1st Block Koramangala <br>-->
            <!--<u></u>-->
            <!--BENGALURU, KARNATAKA 560034-->
            <!--<u></u> <br> India - +91 80 4094 4077 </p> </td>-->
        <!--</tr>-->
        <!--</tbody>-->
      <!--</table> </td>-->
  <!--</tr>-->
  <tr>
    <td colspan="2" style="width:640px"> <p style="font:18px Arial,sans-serif;color:#cc6600;border-bottom:1px solid #ccc;margin:10px 20px 3px 20px;padding:0 0 3px 0"> Package(s) Included in your Shipment: </p> </td>
  </tr>
  <tr>
    <td colspan="2" style="padding:16px 40px;width:640px">
      <table width="560" cellspacing="0" cellpadding="0" border="1">
        <thead>
          <tr>
            <th>Arrived</th>
            <th>From</th>
            <th>Weight(Kg)</th>
            <th>Tracking# </th>
          </tr>
        </thead>

        <tbody>
        {{#if packageItems}}
          {{#each packageItems}}
            <tr>
              <td align="center" style="color:#666;padding:10px 10px 0 10px;width:410px;height:50px">
                {{date_recieved_at}}
              </td>
              <td align="center" style="color:#666;padding:10px 10px 0 10px;width:410px;height:50px">
                {{store}}
                </td>
              <td align="center" style="color:#666;padding:10px 10px 0 10px;width:410px;height:50px">
                {{weight}}
                </td>
              <td align="center" style="color:#666;padding:10px 10px 0 10px;width:410px;height:50px">
                <a href="{{ENV.URLS_MEMBER}}/queue" target="_blank" >{{order_code}}
                </a>
                </td>
            </tr>
          {{/each}}
        {{else}}
          <tr>
            <td align="center" valign="top" style="width:150px;height:115px">
              <a href="{{ENV.URLS_MEMBER}}/packages/{{pkg.id}}" style="margin:0 20px 0 0" title="ItemImage" target="_blank" ><img src="https://www.activebarcode.com/images/pictos/barcode1d.png"> </a> </td>
            <td align="center" style="color:#666;padding:10px 10px 0 10px;width:410px;height:115px">
              <p style="margin:0 0 0 7px;padding:0">
                <a href="{{ENV.URLS_MEMBER}}/packages/{{pkg.id}}" style="font:14px Arial,sans-serif;text-decoration:none;color:#006699" target="_blank" >
                  Shoppre Shipping Team processing your package...
                </a>
              </p>
              <p> </p></td>
          </tr>
        {{/if}}

        </tbody>
      </table> </td>
  </tr>

  <tr>
    <td colspan="2" style="width:640px"> <p style="font:18px Arial,sans-serif;color:#cc6600;border-bottom:1px solid #ccc;margin:10px 20px 3px 20px;padding:0 0 3px 0"> Ship-to address: </p> </td>
  </tr>
  <tr>
    <td colspan="2" style="padding:16px 40px;width:640px">
      <table width="560" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <br align="center" valign="top" style="width:150px;height:115px">
          <b style=" font-size: 15px;"> Address:</b>  {{ship_to_address.line1}},  {{ship_to_address.line2}} </br>
          <b style=" font-size: 15px;">City:</b>  {{ship_to_address.city}}</br>
          <b style=" font-size: 15px;">State:</b>  {{ship_to_address.state}}</br>
          <b style=" font-size: 15px;"> Country:</b>  {{ship_to_address.country}}</br>
          <b style=" font-size: 15px;">  Pin Code: </b>  {{ship_to_address.pincode}}</br>
          <b style=" font-size: 15px;">Phone: </b>  {{ship_to_address.phone}}</br>
          </td>
        </tr>
        <tr>
          <td>
            </br>
            </br>
            <b> Kindly verify the address once again as wrong address can attract a very high penalty.</b>
          </td>
        </tr>
        </tbody>
      </table> </td>
  </tr>
  <tr>
    <td colspan="2" style="padding:0 20px;line-height:22px;width:640px">
      <p style="border-top:1px solid #ccc;padding:20px 0 0 0">
        Your
        <a href="{{ENV.URLS_MEMBER}}/accounts/profile" style="color:#006699;text-decoration:none" target="_blank" >profile details </a>. </p> </td>
  </tr>
  <tr>
    <td colspan="2" style="padding:0 20px 0 20px;line-height:22px;width:640px">
      <p style="margin:10px 0;padding:0 0 20px 0;border-bottom:1px solid #eaeaea">{{actingUser.first_name}} {{actingUser.last_name}}<br> <span style="font:14px Arial,san-serif">
      <strong><span class="il">ShoppRe</span>.com</strong> </span> </p>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="font-size:10px;color:#666;padding:0 20px 20px 20px;line-height:16px;width:640px"> <p>This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.</p> </td>
  </tr>
  </tbody>
</table>
