.modal-header
  .modal-title
    .h4.text-info Add Address
      .close(ng-click='$ctrl.$uibModalInstance.dismiss("close")') ×
div.m-t-xl.no-margin
  .hbox
    .wrapper-md.bg-white-only.no-padder
      form.form.form-validation.form-horizontal.wrapper-md(
      name="newAddressForm"
      novalidate
      ng-submit='$ctrl.create(newAddressForm)'
      autocomplete='off'
      )
        .row
          .col-md-12.col-sm-12.col-xs-12
            .row
              .col-md-2.col-sm-2.col-xs-12.right-pad-0
                label.input-group
                  | Salutation
                  span.text-danger *
                  select.form.form-control.no-padder(
                  ng-model='$ctrl.data.salutation'
                  name='salutation'
                  required
                  )
                    option(value='') Salutation
                    option Mr
                    option Ms
                    option Mrs
              span.wrapper-xs.text-xs.text-danger.salution-danger(ng-show='$ctrl.clickUpload && newAddressForm.salutation.$dirty && newAddressForm.salutation.$invalid') Enter Salutation
              .col-md-4.col-sm-5.col-xs-12.right-pad-0
                label.col-xs-12.input-group
                  | First Name
                  span.text-danger *
                  input.form.form-control(
                  type='text'
                  name='first_name'
                  placeholder='eg. Aditya'
                  ng-model='$ctrl.data.first_name'
                  autofocus
                  required
                  )
                  span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && newAddressForm.first_name.$dirty && newAddressForm.first_name.$invalid') Enter First Name
              .col-md-6.col-sm-5.col-xs-12
                label.col-xs-12.input-group
                  | Last Name
                  span.text-danger *
                  input.form.form-control(
                  type='text'
                  name='last_name'
                  placeholder='eg. Sharma'
                  ng-model='$ctrl.data.last_name'
                  required
                  )
                  span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && newAddressForm.last_name.$dirty && newAddressForm.last_name.$invalid') Please enter Last Name
            .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
            .row
              .col-md-6.col-sm-5.col-xs-12.right-pad-0
                label.col-xs-12.input-group
                  | Line 1
                  span.text-danger *
                  input.form.form-control(
                  type='text'
                  name='line1'
                  placeholder='eg. 131 W, 3rd Street'
                  ng-model='$ctrl.data.line1'
                  required
                  )
                  span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && newAddressForm.line1.$dirty && newAddressForm.line1.$invalid') Please enter Line 1
              .col-md-6.col-sm-5.col-xs-12
                label.col-xs-12.input-group
                  | Line 2
                  span.text-danger *
                  input.form.form-control(
                  type='text'
                  name='line2'
                  placeholder='eg. 5th Ave'
                  ng-model='$ctrl.data.line2'
                  required
                  )
                  span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && newAddressForm.line2.$dirty && newAddressForm.line2.$invalid') Please enter Line 2

            .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
            .row
              .col-md-6.col-sm-5.col-xs-12.right-pad-0
                label.col-xs-12.input-group
                  | City
                  span.text-danger *
                  input.form.form-control(
                  type='text'
                  name='city'
                  placeholder='eg. San Franscisco'
                  ng-model='$ctrl.data.city'
                  required
                  )
                  span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && newAddressForm.city.$dirty && newAddressForm.city.$invalid') Please enter City
              .col-md-6.col-sm-5.col-xs-12
                label.col-xs-12.input-group
                  | State/Province
                  span.text-danger *
                  input.form.form-control(
                  type='text'
                  name='state'
                  placeholder='eg. California'
                  ng-model='$ctrl.data.state'
                  required
                  )
                  span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && newAddressForm.state.$dirty && newAddressForm.state.$invalid') Please enter state
            .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
            .row
              .col-md-6.col-sm-5.col-xs-12.right-pad-0
                label.col-xs-12.input-group
                  | Pincode/Zip Code
                  span.text-danger *
                  input.form.form-control(
                  type='text'
                  name='pincode'
                  placeholder='eg. 94114'
                  ng-model='$ctrl.data.pincode'
                  required
                  )
                  span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && newAddressForm.pincode.$dirty && newAddressForm.pincode.$invalid') Please enter Pincode/Zip Code
              .col-md-6.col-sm-5.col-xs-12
                label.col-xs-12.input-group
                  | Country
                  span.text-danger *
                  input.form.form-control(
                  type='text'
                  name="country_id"
                  ng-model='$ctrl.Country.model'
                  placeholder='eg: United States of America'
                  uib-typeahead='country.name for country in $ctrl.Country.get($viewValue)'
                  typeahead-loading='$ctrl.Country.loadingCountry'
                  typeahead-no-results='$ctrl.Country.noResults'
                  typeahead-on-select='$ctrl.Country.select($item)'
                  ng-blur="$ctrl.Country.blur()"
                  typeahead-wait-ms="10"
                  autocomplete="off"
                  required
                  )
                  span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && newAddressForm.country_id.$dirty && newAddressForm.country_id.$invalid') Please select Country
                  i.fa.fa-refresh.fa-spin.m-l-xs(ng-show='$ctrl.Country.loadingCountry')
                  div(ng-show='$ctrl.Country.noResults')
                    i.fa.fa-remove
                    |  No Results Found
            .row
              .col-md-7.col-sm-7.col-xs-12
                label.col-xs-12.input-group
                  | Phone / Mobile Number
                  span.text-danger *
            .row
              .col-md-2.col-sm-2.col-xs-12
                label.col-xs-12.input-group
                  select.form.form-control.right-pad-0(
                  ng-model='$ctrl.data.phone_code'
                  name='phone_code'
                  required
                  )
                    option(value='') Code
                    option(value='91') +91
                    option(value='1') +1
                  span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && newAddressForm.phone_code.$dirty && newAddressForm.phone_code.$invalid') Please select Country Phone Code
              .col-md-4.col-sm-5.col-xs-12.no-padder
                label.col-xs-12.input-group
                  input.form.form-control(
                  type='text'
                  name='phone'
                  placeholder='eg. 9844717202'
                  ng-model='$ctrl.data.phone'
                  autofocus
                  required
                  )
                  span.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickUpload && newAddressForm.phone.$dirty && newAddressForm.phone.$invalid') Please enter Phone/Mobile Number
            .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
            .row
              .col-xs-12: ul.nav
                li: label.i-checks.i-checks-sm
                  input(
                  type="checkbox"
                  ng-model="$ctrl.data.is_default"
                  )
                  i
                  .hide
                  | Set this as Default Shipping Address.

            .row
              .col-md-6.col-xs-12
                h4(ng-bind="$ctrl.error.message" style="color:red;")
                button.btn.btn-success(type='submit' ng-disabled="$ctrl.submitting")
                  span.fa.fa-forward.m-r-sm
                  span.text-white(ng-if='!$ctrl.submitting') Save New Shipping Address
                  span(ng-if='$ctrl.submitting')
                    i.fa.fa-spin.fa-circle-o-notch
                    span.text-white &nbsp;&nbsp;Submitting...

