div(style='position: relative;')
  .w-md.bg-white-only.b-b.b-r(style='position: fixed; z-index: 3;')
    .wrapper-xs
      div: buttonb.font-bold.btn.m-l-xs.text-white.btn-danger(
        ui-sref='packages.index({ status: "ALL" })'
        style='width: 220px'
        ng-class='{"text-gray bg-light": $ctrl.DISABLE_MANAGE}'
        ng-disabled='$ctrl.DISABLE_MANAGE'
      )
        | Packages in Locker
        span.badge.bg-primary.pull-right 22

  br

  .w-md.nav-job.bg-light.b-r.bg-white-only(style='top: 7em;' ng-class='{"m-t-xl": $ctrl.isAdmin}')
    .w-md(
      style='position: relative;  overflow-y: auto; overflow-x: hidden; height: 100%; width: 249px;'
      when-scrolled='$ctrl.getList()'
    )
      //"orders":"text-warning-dk"
      .m-b-md: .m-t-sm(
        ng-repeat='(type, color) in {"active":"text-info-dker","dispatched":"text-info-dk","delivered":"text-danger"}')
        a: .m-l-xs(
          ng-class="{'{{color}}': !$ctrl.collapse[type], 'text-gray': $ctrl.collapse[type]}"
          ng-click='$ctrl.collapse[type] = !$ctrl.collapse[type]; !$ctrl.collapse["inactive"] && $ctrl.getList(false, true)'
        )
          i.fa.fa-plus-square(ng-if='$ctrl.collapse[type]')
          i.fa.fa-minus-square(ng-if='!$ctrl.collapse[type]')
          span.m-l-xs.text-u-c(ng-bind='type')
          span.pull-right.text-xs.text-gray.m-t-xs
        ul.m-t-xs.nav.w-md(uib-collapse='$ctrl.collapse[type]')
          li.text-center.text-muted(ng-if='!$ctrl.shipments[type].length') No Shipments
          li.b-l.b-3x(
            ng-repeat='shipment in $ctrl.shipments[type]'
            ng-class='{"text-primary b-primary": shipment.id == $ctrl.$state.params.id}'
            ng-mouseenter='shipment.showtoactive = (type === "passive")'
            ng-mouseleave='shipment.showtoactive = false'
          )


            //- error show for each failure on shift to active
            .bg-white(ng-if='shipment.error' style='padding-left:20px')
              span.text-sm.text-danger(ng-bind='shipment.error')

            a.text-ellipsis(
              ng-href='{{$ctrl.getLink(shipment.id)}}'
              style='padding:8px 10px 8px 20px'
              ng-class='{\
                "font-bold text-primary": shipment.id == $ctrl.$state.params.id,\
                "text-muted": shipment.id != $ctrl.$state.params.id}'
              uib-tooltip="{{shipment.tooltip}}"
              tooltip-placement='right'
              tooltip-append-to-body='true'
            )
              .text-sm
                span.flag-icon.m-l-xs(
                  ng-class='"flag-icon-"+ $ctrl.customer.Country.iso2.toLowerCase()'
                )
                span(ng-bind='shipment.Country.iso3')
                span(ng-bind='" - " + $ctrl.shipmentStates[shipment.state_id].name')
              div.text-sm.text-ellipsis(ng-bind='shipment.virtual_address_code' style='width: 100%;float: left;')
              small.pull-right.bg-white.text-gray.pos-abt.m-t-n-md(
                ng-bind='shipment.Packages.length'
                style='right:5px;padding:0 2px')
